@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }
  
  .round-box { @include border-radius(.2rem); }

  @mixin transition($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease; 
    transition: all $time ease;
  }
  
  .round-box { @include border-radius(.2rem); }
  .transition {@include transition(0.5s);}