@mixin analyticsTitle{
    font-size:$normal-text;
    font-weight:$font-reguler;
    color:$default-text;
    line-height:50px;
}
@mixin analyticsContentTitle{
    font-size:$normal-text;
    font-weight:$font-light;
    color:$defult-light-text;
    line-height:22px;
    
}
@mixin analyticsFilterYear{
    font-size:$heading;
    font-weight:$font-light;
    color:$defult-light-text;
    line-height:50px;
    text-decoration:none;
}
@mixin analyticsLargeNo{
    font-size:$font-text-50;
    font-weight:$font-semibold;
    color:$color-heading-text;
    line-height: 28px;
    @include bp(xs){
        font-size:$font-size-26;
    }

}
@mixin analyticsExapndText{
    font-size:$normal-text;
    font-weight:$font-light;
    color:$theme;
    line-height:28px;
}
@mixin analyticsOtherNo{
    font-size:$big-header;
    font-weight:$font-semibold;
    color:$color-heading-text;
    line-height:22px;
}
@mixin analyticsSideSmallNo{
      font-size:$normal-text;
      font-weight:$font-semibold;
      color:$color-heading-text;
      line-height:18px;
}
@mixin analyticsBorderBottom{
      border:1px solid $analytics-border;
}
@mixin  valueTitle {
    font-size:$font-size-17;
    font-weight:$font-reguler;
    color:$color-heading-text;
    line-height:21px;
}
@mixin  valueContent{
    font-size:$normal-text;
    font-weight:$font-light;
    color:$defult-light-text;
    line-height: 21px;
    overflow-y:auto;
    overflow-x: hidden;
}
@mixin valueSmallTitle{
    font-size:$normal-text;
    font-weight:$font-reguler;
    color:$color-heading-text;
    line-height:21px;
}
@mixin dashboardTitle{
    font-size:$normal-text;
    font-weight:$font-reguler;
    color:$default-text;
    line-height: 21px;
}
@mixin analyticsUserText{
    font-weight: $font-reguler;
    font-size:$heading;
    color:$color-heading-text;
    line-height: 20px;
}
@mixin analyticsActiveUserText{
    font-weight:$font-reguler;
    font-size:16px;
    color:$color-heading-text;
    line-height:20px;
}
@mixin Backbutton{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
    @include bp(xs) {
        margin-top:0;
      }
    a{
        font-size:$big-header;
        color:$color-heading-text;
        font-weight:$font-reguler;
        line-height:20px;
        text-decoration:none;
        i{
            position: relative;
            top:7px; 
        }
  }
}
@mixin analyticsActiveUserValue{
    font-weight:$font-reguler;
    font-size:$big-header;
    color:$theme;
    line-height: 20px;
}
@mixin comman-header-for-analytics{
    .title{
        @include analyticsTitle;
        float:left;
        text-transform: lowercase;        
        &:first-letter{
            text-transform: capitalize;
        }
        span{
            &.svg-icon{
                display: inline-block;
                vertical-align: -4px;
                cursor: pointer;
            }
            svg{
                width:18px;
                height:18px;
            }
            i{
                top:5px;
                position: relative;
                font-size:$button-text;
            }
        }
    }
    .filter-weekey-container{
        margin-right:43px;
        float:right;
        position: relative;
    .filter-container{
        
        span{
            display:inline-block;
        }
         a{
         @include analyticsFilterYear;
            display: inline-block;
            
            transition: all 0.6s ease-out 0s;
        margin-right:10px;
            &:last-child{
                margin-right:0;
            }
        }
       a:hover{
        color:$color-heading-text;
       }
        .active{    
            color:$color-heading-text;
            font-weight:$font-semibold;
        }
    span{
        i{
            top:6px;
            position: relative;
            font-size:$font_size_22;
        }
    }
  }
}
.expand-link{
        float:right;
         @include analyticsExapndText;
         color:$theme;
         text-decoration: none;
         line-height:48px;
        span{
            i{
                top: 6px;
                position: relative;
                font-size:$font_size_22;
                color:$theme;
            }
        }
    }
}
@mixin donetchartValue{
    font-size:$normal-text;
    font-weight:$font-semibold;
    line-height:19px;
    padding-top:5px
}

