// Activity
// 

.activity-wrap {
  float: left;
  clear: both;
  width: 100%;
  position: relative;
  
  @include bp(sm){
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 100px;
      bottom: 0;
      width: 4px;
      background: lighten($light,5%);
      border-radius: 2px;
    }
  }

  .activity {
    float: left;
    position: relative;
    clear: both;
    width: 100%;
    margin-bottom: 2rem;
    @include bp(sm){
      display: flex;
      flex-direction: row;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .activity-meta {
      display: flex;
      align-items: center;
      margin-bottom: .5rem;
      @include bp(sm){
        width: 100px;
        display: block;
      }
    }

    .activity-user {
      font-family: inherit;
      font-weight: 700;
     font-size: $heading; ;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: auto;
    }

    .activity-time {
      font-family: inherit;
      font-weight: 700;
      font-size: $date-text;
      color: lighten($default-text,15%);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .activity-msg {
      position: relative;
      padding: .5rem;
      background: lighten($light,5%);
    }
  }
}