#feed .render-post-feed .assetInnerWrapper  .type-image .imageloader{
    min-height:0;
}
.selected-asset:hover .select-asset-cross-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.92), transparent);
    z-index: 6;
}
#pop-up-tooltip-holder #pop-up-tooltip-wrapper .pop-up-tooltip.showtotop{
    margin-top : -224px;
}
.createPostMainContainer .heading-edit-post{
    display: none;
}
.assetDetailImage .heading-edit-post{
        display: none;
}
.asset-detail-popup #asset-detail .asset-content-wrapper .assetDetailImage .edit-post{
    display: none;
}
.scheduled-feeds .trending-xl-container{
  margin-top:76px;
}
#assets   .no-data-block{
     margin:15px auto;
}
#asset-detail  .inner_imgwrapper  .type-image .heading-edit-post  .download_Assets {
    display: none;
}

.asset-file .inner_imgwrapper  .type-video .heading-edit-post  .download_Assets,
.asset-file .inner_imgwrapper  .type-image .heading-edit-post  .download_Assets
{
    display: none;
}
.selected-asset  .type-image  .heading-edit-post  .download_Assets i,
.selected-asset  .type-video  .heading-edit-post  .download_Assets i
{
margin-top:28px;
margin-left:2px;
}
.assetsList * {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
.download_Assets{
i {
     color:$white;
     margin-top:10px;
     font-size:20px;
}
}
.feed #post-creation  .create-post-image-wrapper  .createPostTabContainer .foldername_assets .asset-count {
   display: block;
   color:$default-text;
   font-size:$date-text;
   font-weight: $font-light;
   top: 18px;
}
.feed #post-creation .create-post-image-wrapper .createPostTabContainer .file-details:hover .foldername_assets  .asset-count{
    color:$white;
}
.preview-wrapper {
   .edit-post-wrapper{
       position: absolute;
       top: 0;
       bottom: 0;
       right: 0;
       padding:10px;
       background:linear-gradient(rgba(0, 0, 0, 0.92), transparent);
       display: none;
       .edit-post i{
           color:$white;
           font-size:20px;
       }
   }
   &:hover{
       .edit-post-wrapper{
           display: block;
       }
   }
}
.header-right .dropdown-container{
   display: block ;
}
.header-right  .on-off-switch-main-container{
   display: block;
}

.header-right .dropdown-container{

}


#asset-detail .asset-content-wrapper .author-data{
    .post-time{
        margin-top:10px;
    }
}
#asset-detail .asset-content-wrapper .author-data{
   border-bottom: 1px solid $tab_border;
}
#asset-detail .asset-content-wrapper .tags{padding:10px 0;}
#asset-detail{
   .author-data{
       position: relative;
       padding-right:100px;
   }
   .post-time{position: absolute; right:0; top:0;}
}
.uploaded-assets .img-load-img{
  color:$hide_post_bg;
}
#assets .asset-detail-popup{
    width:auto;
}
.feed .asset-container .inner_imgwrapper .type-image img{
      width:100% !important;
     -webkit-user-drag : none;
}
body.overlay .assets{
   .main-container{
       filter: blur(2px);
   }
}
#feed .uploaded-assets .type-image .imageloader{
min-height:auto !important;
}
#feed .uploaded-assets .asset-file-container .imgwrapper .inner_imgwrapper .file-image .file-doc.pptx{
   background-color:rgba(143, 22, 205, 0.9) !important;
   display: block;
}
#feed .uploaded-assets .asset-file-container .imgwrapper .inner_imgwrapper .file-image .file-doc.docx{
   background-color:rgba(226, 124, 63, 0.9) !important;
   display: block;
}

#feed .uploaded-assets .asset-file-container .imgwrapper .inner_imgwrapper .file-image .file-doc.pdf{
   background-color:rgba(255, 89, 94, 0.9)!important;
   display: block;
}
.image-load-failed{
   text-align: center;
}
.archive-container .imgwrapper .no-img-found-icon{
     background-color: $footer-bg;
}
.no-img-found-icon{
   font-size:80px;
   color:$hide_post_bg;
   margin-top: 25px;
   background-color: $footer-bg;
}
.giphy-gif.iUmGPz .no-img-found-icon{
    margin-top: -4px;
}
.img-load-img{
   position: absolute;
   top: 50%;
   right: 50%;
   bottom: 0;
   font-size: 65px;
   margin-top: -33px;
   margin-right: -33px;
}
.type-image:hover .failed + .heading-edit-post,
.type-video:hover .failed + .heading-edit-post{
   display: none;
}
.type-image .loading + .heading-edit-post,
.type-video .loading + .heading-edit-post{
   display: none;
}
.asset-container .render-assets .archive-container .inner_imgwrapper .type-image  .edit-post,.uploaded-assets .archive-container .edit-post,.render-post-feed .inner_imgwrapper.assetInnerWrapper:hover .type-image + .heading-edit-post,.render-post-feed .inner_imgwrapper.assetInnerWrapper:hover .edit-post-asset-details ,#campaign-details .asset-container  .inner_imgwrapper.assetInnerWrapper:hover .type-image + .heading-edit-post,#campaign-details .asset-container  .inner_imgwrapper.assetInnerWrapper:hover  .heading-edit-post .edit-post-asset-details{
     display:  none ;
}
.asset-container .render-assets .archive-container  .inner_imgwrapper  .heading-edit-post,
.uploaded-assets .archive-container  .inner_imgwrapper  .heading-edit-post,
.selected-asset .asset-file   .heading-edit-post, .render-post-feed .assetInnerWrapper  .heading-edit-post ,#campaign-details .asset-container .inner_imgwrapper .heading-edit-post{
   position: absolute;
   top: 0;
   right: 0;
   border: 0;
   bottom: 0;
   z-index: 7;
   border-bottom: 0;
   padding:10px;
   width:40px;
   background: linear-gradient(rgba(0, 0, 0, 0.92), transparent);
   color:$white;
   display: none;
  }
.asset-container .render-assets .archive-container  .inner_imgwrapper:hover .heading-edit-post,
.uploaded-assets .archive-container  .inner_imgwrapper:hover  .heading-edit-post,.render-post-feed .inner_imgwrapper:hover   .heading-edit-post,#campaign-details .asset-container .inner_imgwrapper:hover .heading-edit-post{
    display: block;
    .download_Assets{
        display: block;
    }
   .edit-post{
       display: block;
       margin-bottom: 5px;
   }
             i{
                 right:0;
                 top:0;
                 font-size:20px;
                 margin-top:1px;
                 margin-right:2px;
                }
}
.asset-container .render-assets .archive-container .inner_imgwrapper .heading-edit-post .edit-post,
.uploaded-assets .archive-container .inner_imgwrapper .heading-edit-post .edit-post{
    cursor: pointer;
}
.asset-container .render-assets .archive-container  .inner_imgwrapper  .heading-edit-post,
.uploaded-assets .archive-container  .inner_imgwrapper   .heading-edit-post{
    .download_Assets i{
        margin-top: 10px;
    }
}
.archive-container .image-load-failed .no-img-found-icon {
       position: absolute;
       top: 50%;
       left: 50%;
       margin-top: -36px;
       margin-left: -41px;
   }
.asset-container  .image-load-failed
{
   margin-top:32px;
}
.type-image .edit-post-asset-details {
    display: none;
}
#assets  .side-popup-wrap  #side-popup-wrapper  .asset-detail-page #asset-detail .asset-content-wrapper .imgwrapper .inner_imgwrapper .heading-edit-post .edit-post-asset-details{
   display: none;
}

.asset-container .render-assets .asset-file-container .asset-file .inner_imgwrapper .edit-post-asset-details{
   display: none;
}

#asset-detail .asset-content-wrapper .inner_imgwrapper .type-image .edit-post,.inner_imgwrapper .type-image .edit-post,.assetsList .assetsList .archive-container  .inner_imgwrapper  .type-image .edit-post-asset-details{
   display: none;
}
.asset-detail-page #asset-detail .type-image:hover,.asset-detail-page .asset-content-wrapper .heading:hover{
   .edit-post{
      display: none;

   }
}
.feed .selected-imgwrapper  .inner_imgwrapper  .type-image:hover .edit-post{
   opacity: 0;
}
.trending-button-collpase:hover{
   text-decoration: none;
}
.uploaded-treanding-tag {
   .trending-xl-container{
       margin-top:142px;
       left: auto;
       right: 30px;
       margin-left: 0;
   }
}
.inner_imgwrapper .file-image .thumbWrap i {
   color: rgba(255, 255, 255, 0.7);
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -61px;
   margin-left: -18px;

}
.parent_assets, .myassets{
  padding-right:275px;
}

.heading{
   span{
       padding:0 6px;
    i{
         position: relative;
         top:4px;
         color:$theme;
    }
   }
}
@media all and (max-width:1260px)
{
   .parent_assets, .myassets{
       padding-right:0;
    }
}
.asset-trending-contaner{
       .trending-xl-container{
              margin-top:142px;
              left: auto;
              right: 30px;
               margin-left: 0;
           }
 }
.asset-container .trending-tag-container {
   max-height: calc(100vh - 175px)
}
.render-assets,.uploaded-assets{
   .archive-container .archive, .archive-container .imgwrapper{
        width:33.3%;
   }

   @media all and (max-width:979px)
   {
       .archive-container .archive, .archive-container .imgwrapper{
           width:50%;
           float: left;
       }
   }
   @media all and (max-width:767px)
   {
       .archive-container .archive, .archive-container .imgwrapper{
           width:100%;
       }
   }
}
@media screen and (max-width:768px) {
   .render-assets,.uploaded-assets{
      max-width:439px !important;
   }
   .archive-container .archive, .archive-container .imgwrapper{
       width:50%;
  }
}
@media screen and (max-width:1260px) {
   .render-assets,.uploaded-assets{
       margin: 0 auto;
   }
       .archive-container .archive, .archive-container .imgwrapper{
            width:33.3%;
       }

}
.render-trendng{
   float: right;
   width: 245px;
}
.asset-text-alignment {
   padding: 50px;
   text-align: center;
}

.context-menu li dd
{
margin-bottom:0;
 a{display: block;
   padding: .5em .75em;
   margin: 0;
   clear: both;
  font-size: $heading; ;
   font-weight: $font-reguler;
   line-height: 1.42857143;
   color: $white;
   text-transform: none;
   white-space: nowrap;}
}
.archive-container {
   margin: 0 -15px;
   .esc {
       background-color: $light;
   }
   a,
   a:hover,
   a:focus {
       text-decoration: none;
   }
   .type-image:hover,
   .type-video:hover {
       .thumbnail {
           filter: saturate(146%);
       }
   }
   .asset-file {
       .file-details {
           clear: left;
           font-size:$normal-text;
           span{
            font-size:$normal-text;  
           }
           .side,
           .title,
           i {
               pointer-events: none;
           }
       }
       .bg {
           display: block;
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background-color: $dark;
           background-position: center center;
           background-repeat: no-repeat;
           background-size: cover;
       }
       .vid-content {
           position: relative;
           background: $night;
           a.share {
               display: block;
               width: 24px;
               position: absolute;
               bottom: 10px;
               right: 10px;
               text-align: center;
               line-height: 24px;
               transition: all .15s ease;
               i {
                   line-height: inherit;
                   color: rgba($white, .75);
                   transition: all .15s ease;
               }
               &:hover {
                   i {
                       color: $white;
                   }
               }
           }
       }
   }
   .archive {
       float: left;
       position: relative;
       width: 25%;
       padding: 15px;
       @mixin file($color) {
           a {
               span.side {
                   background: $color;
                   color: lighten($color, 20%);
               }
               &:hover {
                   background: $color;
                   color: $white;
                   span.side {
                       background: darken($color, 5%);
                       color: $white;
                   }
               }
           }
       }
       &.archive-file {
           @include file($blue);
       }
       &.archive-file-text {
           @include file($blue);
       }
       &.archive-file-image {
           @include file($purple);
       }
       &.archive-file-pdf {
           @include file($red);
       }
       &.archive-file-video {
           @include file($orange);
       }
       &.archive-file-sheet {
           @include file($green);
       }
       &.archive-file-zip {
           @include file($yellow);
       }
   }

.asset-dir .file-details {
       display: flex;
       background: $white;
       transition: all .15s ease;
       box-shadow: 1px 1px 4px -2px #999;
       .folder_name_container{
           margin: 16px 10px;
       }
       .folder_name_container{
       .foldername_assets{
           color:$theme;
           text-overflow: ellipsis;
           overflow: hidden;
           white-space: nowrap;
           position: absolute;
           left: 0;
           right: 0;
           margin-left: 91px;
           margin-right: 37px;
           font-weight:$font-light;
           font-size:$normal-text;
     }
       .asset-count{
           display: block;
           color:$default-text;
           font-size:$date-text;
           font-weight: $font-light;
           position: relative !important;
           top:18px;
        
      }
   }
       span.side {
           float: left;
           background: lighten($light, 5%);
           color: darken($light, 15%);
           font-size:$font-title;
           padding: 1.3rem; //1rem
           transition: all .15s ease;
       }
       &:hover,
       &:focus {
           background-color: $theme;
           color:$white;
           .foldername_assets, .asset-count{
               color:$white;
           }
           span.side {
               background: darken($theme, 3%);
               color: $white;
           }
       }

   }
   .asset-dir.active .file-details{
       background-color: $theme;
       color:$white;
       .foldername_assets, .asset-count{
           color:$white;
       }
       span.side {
           background: darken($theme, 3%);
           color: $white;
       }
   }
   .asset-file,.imgwrapper {
       .file-details {
           display: flex;
           transition: all .15s ease;
           background-color: $white;
           padding:9px;
           min-height: 38px;
           .asset-title-icon
           {
               position:relative;
               top:0;
               color:$theme;
               font-size:$button-text;
               
           }
           span.title {
               padding-left:6px;
               font-size:$small-text;
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
               margin-top:1px;
               color:$color-heading-text !important;
               i{
                    color:$primary;
               }
           }
       }
   }
}
.side-popup .vid-content{position: relative;
   .thumbnail{margin-bottom:10px;}
}

.file-doc {
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   position: absolute;
   background: $theme;
   text-align: center;
   .extension {
       color: rgba($theme, 0.95);
       left: 50%;
       position: absolute;
       top: 50%;
       transform: translate(-50%, 50%);
   }
   .fa {
       color: rgba($white, 0.7);
       position: absolute;
       margin:-21px 0 0 -16px;
       top:50%;



   }
   &:hover {
       background: rgba($theme, 1);
       .fa {
           color: rgba($white, 0.9);
       }
   }
   &.pdf {
       background: rgba($red, 0.9);
       &:hover {
           background: rgba($red, 1);
       }
   }
   &.xlsx,
   &.xls {
       background: rgba($green, 0.9);
       &:hover {
           background: rgba($green, 1);
       }
   }
   &.docx,
   &.doc,
   &.txt {
       background: rgba($orange, 0.9);
       &:hover {
           background: rgba($orange, 1);
       }
   }
   &.ppt,
   &.pptx {
       background: rgba($purple, 0.9);
       &:hover {
           background: rgba($purple, 1);
       }
   }
}
.no-media-file-wrapper
{
   background: #d9d9d9 !important;
   cursor: default;
   .noMedia
   {
       color:$white;
   }
}
#feed .no-media-file-wrapper
{
    .noMedia{color:$white;}
}
.file-video,
.file-image {
   .thumbnail
   {
       background-position: center center;
       background-size: cover;
       bottom: 0;
       left: 0;
       position: absolute;
       right: 0;
       top: 0;
       z-index: 5;
       overflow: hidden;
       box-shadow: 1px 1px 4px -2px #999;
   }
   video {
       width: 100%;

           object-fit: cover;
           height: 100%;

   }

}
.asset-container {
    .file-video,
.file-image {
    .thumbnail
   {
       z-index: 0;
   }
}
}

.post .file-doc.thumbWrap{
   z-index: 5;
}

.myassets {
   .post {
       .row {
           padding: 15px;
       }
   }
}

textarea {
   font-family: "Montserrat", Helvetica, sans-serif;
   border: 1px solid #e1e0e0;
   -webkit-appearance: none;
}
.selectedAsset {
   .asset-video-icon{
        display: none;
    }
}

.play-btn-overlay {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   margin: 0;
   text-decoration: none;
   text-align: center;
   font-size: 48px;
   transition: all .15s ease;
   i {
       display: block;
       position: absolute;
       //color: rgba(255, 255, 255, 0.5);
       z-index: 8;
       top: 50%;
       left: 50%;
       margin-top: -18px;
       margin-left: -21px;
       transition: all .15s ease;
       font-size: 38px;
       color:$light
   }
}
.type-image .failed{
     background-color:$footer-bg;
}
.asset-detail-footer {
   @extend .tags-row;
}

#ta {
   #notie-confirm-yes,
   #notie-confirm-no,
   #notie-input-no,
   #notie-input-yes {
       font-weight: 400;
       font-size: 16px;
   }
   #notie-confirm-background,
   #notie-force-background,
   #notie-input-background,
   #notie-select-background,
   #notie-date-background {
       background-color: #222;
   }
   #notie-confirm-no,
   #notie-input-no {
       float: none;
       background-color: $red;
       font-weight: 400;
       font-size: 16px;
   }
   #notie-input-text {
       font-weight: 400;
   }
}

.submitAssetAction {
   .btn {
       position: fixed;
   }
}

.breadcrunb-wrapper {
   padding-bottom: 9px;
}

.breadcrunb-wrapper li {
   position: relative;
   list-style: none;
   float: left;
   padding-right: 25px;
   margin-right: 15px;
   a
   {
       text-decoration: none;
       font-weight:$font-light;
       font-size:$normal-text;
   }
}

.breadcrunb-wrapper li strong {
   color: $primary;
}

.breadcrunb-wrapper li:before {
   content: '>>';
   display: block;
   position: absolute;
   right: 0;
   top: 1px;
   font-weight: 400;
   color: $theme;
  font-size: $heading; ;
}

.breadcrunb-wrapper li:last-child {
   padding-right: 0;
   margin: 0;
   a
   {
       color:$primary;
   }
}

.breadcrunb-wrapper li:last-child:before {
   visibility: hidden;
}

#feed .post .approval-actions button {
   margin-right: 10px;
   margin-bottom: 10px;
   min-width: 145px;
}

#feed .post .approval-actions button:last-child {
   margin-right: 0;
}


.side-popup #asset-detail .asset-content-wrapper {
   position: relative;
}
.side-popup #asset-detail .asset-file
{
   .type-image, .type-video{
       height: auto;
   }
   video
   {
       height:auto;
       width:auto;
       max-width:100%;
       max-height:calc(100vh - 40px);
   }
}

//popup
#assets .asset-post-details-main .section  .left.col-20 ,
#campaigns .asset-post-details-main .section  .left.col-20{
   width:200px !important;
   max-width:100%;
}
//popup
#assets , #campaigns {
    #asset-detail .asset-content-wrapper {
    .videoimg-wrapper{
        background-color:$popup-background !important;
      }
    }
   .create-assest-thumb-warpper {
       margin-left: 0;
       position:relative;
       z-index:1;
   }
   .create-assest-inputs-wrapper {
       width: 100%;
       margin-left: -200px;
       padding-left: 220px;
   }
   .assetForms {
       .thumb {
           img,
           .doc {
               max-width:100%;
               width: 100%;
               border: 1px solid lighten(#999, 25%);
               border-radius: 5px;
               background: $footer-bg ;
           }
           .video,.doc_asset{
               position: absolute;
               top: 0;
               right: 0;
               margin: 0;
               width: auto;
               height: auto;
               float: none;
               left: 0;
               bottom: 0;
           }
           img {
               display: inline-block;
               object-fit: cover;
               height:160px;
           }
           .video-wrapper,.doc-wrapeer{
               width: 200px;
               background: $footer-bg ;
               height: 160px;
               text-align: center;
            }
           .doc {
               height: 69px;
               width: 69px;
               margin: 0 auto;
               .file-icon {
                   height: 42px;
                   margin: 12px auto 0 9px;
                   width: 36px;
               }
           }
       }

       >.section:nth-last-child(2) {
           border-bottom: 0;
       }
   }
.preview-wrapper .video
           {
                background: rgba(0,0,0,0.5);
                color: $white;
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                width: auto;
                height: auto;
                float: none;
                left: 0;
                bottom: 0;
               i
               {
                   font-size: 40px;
                   position: absolute;
                   top: 50%;
                   left: 50%;
                   margin: -20px;
               }

           }

   .heading {
       h3 {
           max-width: 90%;
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
       }
   }
   #asset-creation {
       .assetForms {
           .submitAssetAction {
               text-align: right; //border-top: 1px solid #ccc;
               .btn {
                   position: static;
                   margin-bottom: 0;
               }
           }
       }
       .assetFormDropzone {
           margin-right: 15px;
       }
   }
   .create-asset-page {
       padding-bottom: 20px;
   }
}
@media all and (max-width:979px) {
   #feed .post .col-three-of-four h4 {
       margin-bottom: 0;
   }
   #feed .post .approval-actions button {
       margin-right: 10px;
       margin-bottom: 10px;
       min-width: 105px;
       padding: 0 14px;
   }
}

@media all and (max-width:479px) {
   .archive-container .asset-file,
   .archive-container .archive {
       width: auto;
       float: none;
       margin-right: 0;
   }
   .myassets .row .col-one-of-four,
   .myassets .row .col-three-of-four,
   .myassets .row .col-three-of-four.last,
   .post .row .col-one-of-four,
   .post .row .col-three-of-four.last {
       float: none;
       width: auto;
       display: block;
   }
   .myassets .row .col-three-of-four h4,
   #feed .post .col-three-of-four h4 {
       padding-left: 0 !important;
   }

   #feed.myassets .post .post-header {
       padding-left: 0;
   }
   #feed .post .approval-actions .btn-danger{
       margin-right:0;
   }
   .side-popup #asset-detail {
       width: 100%;
   }
}
@media all and (max-width:979px) {
   .archive-container .asset-file,
   .archive-container .archive {
       width: 33.3%;
   }
}

@media all and (max-width:767px) {
   .archive-container .asset-file,
   .archive-container .archive {
       width: 50%;
       padding: 7px;
   }
}

@media all and (max-width:479px) {

   .archive-container
   {
       margin:0 -7px;
       .imgwrapper
       {
           padding:7px;
       }
       .archive-container .archive {
           width: 100%;
           padding: 7px 0;
       }
       .asset-file{
           width:100%;
       }
   }
   .dropdown-container .col-four-of-twelve {
       float: none;
       width: auto;
       margin-bottom: 15px;
       &:last-child{margin-bottom: 0;}
   }
   .dropdown-container .col-four-of-twelve .select-wrapper {
       max-width: none;
   }
   .dropdown-container form {
       margin-right: 0;
   }
}

.no-img {
   background-color: $theme;
   height: 104px;
   width: 130px;
   text-align: center;
   padding: 34px 0;
   p {
       color: rgb(92, 58, 58);
       font-size: 22px;
       font-weight: 300;
       color: white;
   }
}
.file-details-asset{
   padding: 0.7rem 0.2rem;
   font-size:$font-title;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   color: $theme;
}
#myasset{
.file-details {
       display: flex; // align-items: center;
       transition: all .15s ease;
       font-size:$normal-text;
       span.title {
           font-size:$small-text;
           overflow: hidden;
           white-space: nowrap;
           text-overflow: ellipsis;
           color: $theme;
       }
   }
}
.asset-file-action-title span #move-back-arrow:hover{
   background: none !important;
}
#edit-asset-loader{z-index:9999;}
.asset-detail-popup {
   #close-popup{top:10px;
   i {
        margin-top:4px;
   }}
   .author-tag-wrapper{
       max-width: 100%;
   }
   .tags{
       white-space:pre-wrap;
       padding-left:0;
   }
}

@media all and (max-width:767px)
{
   .preview-wrapper {
       .edit-post-wrapper{
           display: block;
       }
   }
}
#edit-asset .edit-asset-preview-wrapper  img{
   float:left !important;
   max-width:200px;
   height:160px;
   object-fit: cover;
}
#edit-asset .edit-asset-preview-wrapper  .uploaded-file-details{
  margin-left:220px;
}
@media only screen and (max-width: 768px) {
    #asset-creation  ul.dropzone-preview {
        li span{
            float:none;
        }
        img{
            margin:0 auto;
        }
    }
    #asset-creation .uploaded-file-details{
        margin-left:0 !important;
    }

  #assets  .archive-container  .foldername_assets{
        margin-left:82px !important;
    }
    .foldername_assets .asset-count{
        margin-left:8px !important;
    }
}
.searchbox-breacrumb-wrapper{
    padding-right:275px;
}
.assetSearchbox{
    float: right;
    position: relative;
    
    input:focus{
        border:1px solid $input-border
    }
    button{
        
        position: absolute;
        left: 0px;
        top: 7px;
        padding: 0;
        width: 35px;
        height: 37px;
        border-color: none !important;
       
        &.searchAssetBtn{background: transparent !important; color:$color-heading-text;}
        
        i{
            position: relative;
            top:6px;
        }
    }
}
.assetSearchbox button:before{
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 35px;
    height: 37px;
    border-right: 1px solid $input-border;
}
.assetSearchbox input{
    padding-left: 45px;
}
#assets .breadcrunb-wrapper{float: left;}
.table-anytlics-body .reactable-pagination{display: none;}
.collapsibleDropdown .dropdown-inner-wrapper{padding:15px;}
@media all and (max-width:1260px)
{
    .searchbox-breacrumb-wrapper{padding-right:0;}
}

@media all and (max-width:767px)
{
    .moderation-filter-wrapper{margin-right:0; margin-bottom:15px  }
    .assetSearchbox{
        float: none;
        margin-top:15px;
        display: none;
    }
    .onoffswitch{top:0;}
    #assets .breadcrunb-wrapper{float: none; padding-top:9px;}
    .header-noti{background: none;}
    .moderation .inner-select-checkbox-post{margin-top: -40px;}
}
@media all and (max-width:500px){
.dropdown-inner-wrapper{padding:15px;}
.moderation .container-button-checkbox .selectAllCheckboxForPost{margin-top:0;}
}
//Assets upload design in small screen
@media all and (max-width:500px){
    #assets .create-assest-inputs-wrapper{
        margin-left:0;
        padding-left:0;
     }
    #assets .assetForms .thumb img, #campaigns .assetForms .thumb img{
         margin-bottom: 10px;
         margin:0 auto 10px auto;
     }
     #assets .asset-post-details-main .section .left.col-20,
     #campaigns .asset-post-details-main .section .left.col-20
     {
         margin: 0 auto;
         float:none;
     }
    #asset-creation .asset-post-details-main  .edit-asset-preview-wrapper{
        img{
            float:none !important;
            margin: 0 auto 10px auto;
        }
        .uploaded-file-details{
            margin-left:0 !important;

        }
     }
}
@media screen and (max-width:767px) {
    #assets .assetAction-popup{
        #assetActions{
            margin-right: 95px;
            margin-top: -32px;
        } 
    }
}
@media screen and (max-width:767px) {
#assets .nd-sib .inner-nd-sib, #feed .nd-sib .inner-nd-sib{
    height: calc(100vh - 46px);
}
.feed .nd-sib .inner-nd-sib, #feed .nd-sib .inner-nd-sib{
    height: calc(100vh - 46px);
}
.autosuggestWrapper .close-button{
    top: 10px !important;
    right: 17px !important;
}
.enterSuggestion {
    margin-right: 30px !important;
}
}
