@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    transition: all $time ease;
}


/* contact page */
.exist-card-default-text,.payment-type-text{
    display: inline-block !important;
}
.billing-payments-cols  .existing-card-list .existing-card-item .bill-payment-form .checkbox label:before{
    content: " ";
    width: 16px;
    height: 16px;
    border-radius: calc(16px / 2);
    background: $white;
    box-shadow:inset 0 0 0 4px $theme;
    transition: all 0.15s ease-in-out;
}
.existing-card-item{
    .action-button{
        .button-dropdown .dropdown-toggle{
         height:23px;
        }
    }
    .dropdown-menu{
        margin-right:7px !important;
    }
}

.billing-page {
    background: $white;
    .billing-contact-col {
        float: left;
        width: 50%;
        padding: 0 15px;
        .billing-contact-content {
            p {
                margin-bottom: 29px;
                word-wrap: break-word;
                overflow: hidden;
                font-size:$normal-text;
                a {
                    color: $color-heading-text;
                    &:hover {
                        color: $primary;
                    }
                }
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
    .billin-contact-table-wrapper {
        .remove-btn {
            color: $primary;
            line-height: 29px;
            @include transition(0.5s);
            &:hover {
                text-decoration: none;
                color: $dark;
            }
        }
    }
    .billing-contact-form {
        .form-row {
            margin-bottom: 19px;
        }
        button {
            min-width: 158px;
        }
        .billing-contact-note {
            margin-bottom: 34px;
        }
    }
    .billing-left-col {
        width: 40%;
        .billing-contact-content {
            padding-bottom: 61px;
        }
    }
    .billing-right-col {
        width: 60%;
    }
    .add-new-contact-block {
        button {
            span {
                font-size: 28px;
                vertical-align: top;
                position: relative;
                left: -5px;
            }
        }
    }
    .billing-right-top-content {
        padding-bottom: 69px;
    }
    .add-new-contact-block {
        padding-bottom: 41px;
        input {
            border: 1px solid #ecebeb;
            -moz-box-shadow: inset 0 0 1px #e0e0e0;
            -webkit-box-shadow: inset 0 0 1px #e0e0e0;
            box-shadow: inset 0 0 1px #e0e0e0;
        }
    }
}

table {
    * {
        z-index: inherit;
    }
    .action-button {
        .dd-menu {
            li {
                .user_drop_toggle {
                    &:after {
                        content: "";
                    }
                }
                .user_dropAction {
                    min-width: 0;
                    width: 125px;
                }
            }
        }
        span.btn {
            margin-right: 2px;
            position: relative;
            font-size: .9em;
            font-weight: $font-reguler;
            cursor: pointer;
            background: transparent;
        }
    }
}
table tr.table-body-text:last-child .action-button .dd-menu li .user_dropAction{left:auto; right:0; top:auto; bottom:30px;}
.billing-footer {
    text-align: center;
    font-size: $normal-text;
    line-height: 22px;
    color: $color-heading-text;
    font-weight: 400;
    float: left;
    width: 100%;
    padding-bottom: 30px;
    a {
        color: $theme;
        &:hover {
            color: $dark;
        }
    }
}


/* custom responsive  */

@media all and (max-width:1260px) {
    .billing-page {
        .billing-right-top-content,
        .add-new-contact-block,
        .billin-contact-table-wrapper {
            left: 0;
        }
    }
}

@media all and (max-width:1024px) {
    .billing-page {
        .billing-contacts-cols {
            padding: 20px;
        }
        .billing-contact-col {
            float: none;
            width: auto;
            .billing-contact-content {
                padding-bottom: 20px;
            }
            .billing-right-top-content {
                padding-bottom: 0;
            }
        }
        .billing-right-top-content,
        .add-new-contact-block,
        .billin-contact-table-wrapper {
            max-width: none;
        }
        .add-new-contact-block {
            padding-bottom: 20px;
            .form-row {
                margin-bottom: 15px;
            }
        }
    }
}

@media all and (max-width:767px) {
    .billing-page {
        .billing-contacts-cols {
            padding: 10px 0px;
        }
        .billin-contact-table-wrapper {
            td {
                font-size: $date-text;
                line-height: 18px;
            }
            td.billing-image-col {
                width: 20px;
                min-width: 0;
            }
            .billing-email {
                font-size: $date-text;
                line-height: 18px;
            }
            .remove-btn {
               font-size: $heading; ;
                line-height: 20px;
            }
        }
    }
    .chargebeepopUp{
        left: 0 !important;
        right: 0;
        width: auto !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
}


@media all and (max-width:479px) {
    .billing-page {
        .billin-contact-table-wrapper {
            tr {
                display: block;
                border-bottom: 1px solid #dde8ed;
                position: relative;
                zoom: 1;
                padding-bottom: 5px;
                &:before,
                &:after {
                    content: '';
                    display: table;
                }
                &:after {
                    clear: both;
                }
                td {
                    display: block;
                    float: left;
                    width: 100%;
                    margin-left: -20px;
                    padding-left: 30px;
                    border-bottom: 0;
                    padding-bottom: 0;
                    padding-top: 5px;
                }
                .billing-image-col {
                    float: left;
                    margin-left: 0;
                    padding-left: 0;
                    padding-bottom: 10px;
                }
                .remove-btn-wrapper {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    padding: 0;
                    margin: 0;
                    width: auto;
                }
            }
            tr:last-child {
                border-bottom: 0;
            }
        }
    }
}


/* custom responsive  ends*/


/* contact page ends*/


/* payment method page */

.billing-page {
    padding-bottom: 30px;
    .billing-payments-cols {
        .bill-left-top-content {
            padding-bottom: 65px;
        }
        button {
            font-weight: $font-reguler;
            min-width: 131px;
            span {
                font-size: 36px;
                vertical-align: top;
                position: relative;
                left: -5px;
            }
        }
        .bill-card-holder-name {
            padding-right: 40px;
        }
        .billing-contact-note {
            padding-top: 9px;
        }
        .existing-card-item {
            position: relative;
            border-bottom: 1px solid #dde8ed;
            padding-bottom: 15px;
            margin-bottom: 15px;
            .action-button {
                position: absolute;
                right: 0;
                top: -6px;
            }
        }
        .bill-card-holder {
            color: $color-heading-text;
            font-weight: 400;
            margin-bottom: 7px;
        }
        .bill-card-detail {
            color: $default-text;
           font-size: $heading; ;
            line-height: 20px;
            font-weight: 400;
            margin-bottom: 8px;
        }
        .remove-cart-item {
            position: absolute;
            right: 10px;
            top: 10px;
            a {
                font-size: 23px;
                line-height: 29px;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease;
                &:hover {
                    text-decoration: none;
                    color: $dark;
                }
            }
        }
        .payment-type-text {
           font-size: $heading; ;
            line-height: 20px;
            color: $primary;
            font-weight: 400;
        } // .cvv-zip-wrapper{float: left; width: 100%;}
        .cvv-zip-wrapper {
            .form-row {
                width: 50%;
                padding: 10px 15px;
                clear: none;
            }
            >.clearfix {
                margin: 0 -15px;
            }
        }
    }
    .billing-payment-col {
        float: left;
        width: 50%;
        padding: 0 15px;
    }
    .payment-left-col {
        width: 53.5%;
    }
    .payment-right-col {
        width: 46.5%;
    }
    .bill-right-top-content {
        padding-bottom: 33px;
    }
    .billing-title {
        font-size:$normal-text;
        text-transform: uppercase;
        line-height: 24px;
        color: $color-heading-text;
        font-weight: 400;
    }
    .billing-title {
        margin-bottom: 3px;
        font-size:$normal-text;
    }
    .billing-content {
        p {
            margin-bottom: 29px;
            a {
                color: $color-heading-text;
                &:hover {
                    color: $primary;
                    text-decoration: none;
                }
            }
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}


/* custom responsive */

@media all and (max-width:1100px) {
    .billing-page {
        .billing-payments-cols {
            .cvv-zip-wrapper {
                .form-row {
                    width: 100%;
                }
            }
        }
        .billing-payments-cols {
            padding: 20px;
        }
    }
}

@media all and (max-width:979px) {
    .billing-page {
        .payment-left-col {
            width: auto;
            float: none;
        }
        .payment-right-col {
            width: auto;
            float: none;
        }
    }
}

@media all and (max-width:767px) {
    .billing-page {
        .billing-payments-cols {
            padding: 10px 0;
            .bill-left-top-content {
                padding-bottom: 20px;
            }
        }
    }
}


/* custom responsive  ends*/


/* payment method page ends*/


/* Team changes page */

.billing-page {
    .team-content-wrapper {
        .team-top-content {
            margin-bottom: 30px;
            p{
                font-size:$normal-text;
            }
        }
        .team-date-col {
            min-width: 158px;
        }
        .team-mem-name {
            color: $theme;
        }
    }
}


/* custom responsive */

@media all and (max-width:1100px) {
    .billing-page {
        .team-content-wrapper {
            padding: 20px;
        }
    }
}

@media all and (max-width:479px) {
    .billing-page {
        .team-content-wrapper {
            padding: 0;
            .team-top-content {
                padding: 15px;
                margin-bottom: 0;
            }
            thead {
                display: none;
            }
            tr {
                display: block;
                td {
                    display: block;
                    padding: 10px;
                }
                td[data-rwd-label]:before {
                    content: attr(data-rwd-label)": ";
                    font-size: $date-text;
                    color: $primary;
                    font-weight: $font-reguler;
                }
            }
        }
    }
}


/* custom responsive  ends*/


/* Team changes page ends*/


/* Overview page */

.billing-page {
    .overview-page {
        .inner-text-header {
            p {
                .biiling-bold {
                    font-weight: 300;
                    color: $color-heading-text;
                }
                .text-billing {
                    color: $theme;
                }
            }
            p:last-child {
                margin-bottom: 0;
            }
            p.text-billing {
                color: $theme;
            }
        }
    }
}


/* Overview page ends*/


/* custom responsive */

@media all and (max-width:767px) {
    .billing-page {
        .overview-page {
            padding: 0 15px;
            .inner-text-header {
                p {
                    margin-bottom: 15px;
                }
            }
        }
    }
}


/* custom responsive  ends*/


/* Invoice page */

.billing-page {
    .billing-item-in-invoice{
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 31px;
    }
    .no-invoice-found{
        text-align:center;
        font-size:14px;}
    .no-invoice-found:hover{
        background: none;
    }
    .invoice-table-wrapper {
         overflow-y: hidden;
         overflow: auto;
        .view-detail-col {
            min-width: 50px;
        }
        td[data-rwd-label='Charge'] {
            color: $theme;
        }
        .invoice-view-detail-link {
            display: block;
            width: 30px;
            height: 19px;
            background: url('/img/table-view-detail-bg.png') no-repeat;
        }
        .team-date-col {
            min-width: 158px;
        }
        .team-mem-name {
            color: $theme;
        }
        tbody {
            tr:first-child {
                td {
                    padding-top: 16px;
                }
            }
        }
    }
}


/* custom responsive */

@media all and (max-width:1100px) {
    .billing-page {
        .invoice-page {
            padding: 20px;
        }
    }
}

@media all and (max-width:767px) {
    .billing-page {
        .invoice-page {
            padding: 0;
        }
        .invoice-table-wrapper {
            thead {
                display: none;
            }
            tr {
                display: block;
                &::before,
                &::after {
                    content: '';
                    display: table;
                }
                &::after {
                    clear: both;
                }
                position: relative;
                td {
                    display: block;
                    float: left;
                    width: 33.3%;
                }
                .actiondiv {
                    position: absolute;
                    right: 10px;
                    top: 0;
                    width: auto;
                    padding: 0 !important;
                }
                @media all and (max-width:567px) {
                    td {
                        width: 50%;
                    }
                }
                @media all and (max-width:479px) {
                    td {
                        width: 100%;
                    }
                }
            }
        }
    }
}

//responsiv menu
// .responsive-menu{
//     opacity:0;
//     display: block !important;
//      .nav-side li
//     {
//         display: block !important;
//     }
// }
@media all and (max-width:767px) {
    .billng-menu {
        display: none !important
    }
    .mystyle_billing {
        display: none;
    }
    .btn-overview {
        display: block;
    }
    .responsive_menu {
        display: block !important;
    }
    .inner-text-header{
        margin-top:20px;
        p{
            word-break: break-word;
        }
    }
    .team-content-wrapper{
        padding:10px 0 0 !important;
    }
    .team-top-content{
        margin-bottom: 0 !important;
    }
}
.responsive_menu {
    display: none;
    li {
        width: 100%;
        list-style: none;
        border-bottom: 1px solid $border-in-page;
        padding: 6px;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        font-weight: 400;
        a {
            text-decoration: none;
            color: $color-heading-text;
            font-weight: 400;
            padding:10px 0;
        }
        a.active,
        a:active {
            color: $primary;
            border-bottom: 2px solid $primary;
            font-weight:$font-reguler;
            font-size:$normal-text
        }
        a:hover{
            color: $primary;
            border-bottom: 2px solid $primary;
            font-size:$normal-text;
        }
    }
    .responsive-billing-icon {
        position: absolute;
        top: 11px;
        right: 0;
        i {
            font-size: 30px;
            color: $color-heading-text;
        }
    }
}
.billing-footer{
    a{
         margin : 0 3px;
    }
}

/* custom responsive  ends*/


/* Invoice page ends*/