$campaignTabSidebarWidth : 265px;
$campaignTabSidebarpadding : 285px;
// in campaigns 3 dots ,if last child its display top side
#campaigns .CampaignList .reactable-data .table-body-text:last-child {
  .dd-menu li .dropdown-menu {
    margin-top: -126px;
  }
}

// in campaigns 3 dots ,if first child its display bottom side
#campaigns .CampaignList .reactable-data .table-body-text:first-child {
  .dd-menu li .dropdown-menu {
    margin-top: 0;
    top: 35px;
    margin-bottom: -90px;
  }
}

#campaign-posts .preloader-wrap {
  height: 300px;
}

@media all and (max-width:980px) {
  .CampaignList .table-white-container .table-wrapper table td {
    .tableOneLine {
      white-space: normal;
    }
  }
}

#campaign-table tr {
  cursor: pointer;
}

@media all and (min-width:979px) {

  #campaign-table th,
  #campaign-table td {
    min-width: 65px;
    max-width: 160px;
  }
}

#campaigns #campaign-details #campaign-creation .campaign-form .disabled textarea {
  height: 0;
  min-height: 25px;

}

#campaigns .social-checkbox {
  margin-right: 15px;
}

#campaign-creation {
  .social-checkbox {
    margin-right: 10px;
    margin-top: 17px;
    margin-bottom: -15px;
  }

  .social-checkboxes label i {
    margin-right: -4px !important;
  }
}

.campaign-table .socialAccountsListing {
  >a.social {
    cursor: pointer;
  }

}

.socialAccountsListing {
  >.social {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    cursor: default;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 25px;
    font-size: $heading;
    ;
    color: $white !important;
    @include border-radius(24px);
  }

  >.iw,
  .internal {
    color: $theme !important;
  }

  .twitter,
  .tw {
    background: $twitter !important;
  }

  .facebook,
  .fb {
    background: $facebook !important;
  }

  .linkedin,
  .linkedin {
    background: $linkedin !important;
  }

  .instagram {
    background: $instagram !important;
  }
}

.no-content {
  clear: both;
  width: 100%;
  padding: 20px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.list-avatar {
  background-size: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid $input-border;
  object-fit: cover;
  cursor: pointer;
}

.calendar-nav-btns {
  padding: 20px 20px;
}

.campaign_3dots {
  position: absolute;
  right: 52px;
  top: 4px;
  z-index: 3;

  li a i {
    top: 9px;
  }

  .dropdown-toggle {

    // After
    //
    &:after {
      content: "";
    }
  }
}

.date-row {
  margin: 0 -10px;
}

.date-row .col-md-6 {
  float: left;
  width: 50%;
  padding: 0 10px;
}

#campaigns {
  .side-popup-wrap {
    .side-popup {
      .post-list-wrapper {
        overflow: visible;
        height: auto;
      }

      .author-meta {
        padding-right: 25px;
      }
    }
  }
}

.user-permission {
  div {
    min-height: 0 !important;
  }
}

.table-white-container {
  background: $white;
}

.CampaignList .dropdown-container {
  overflow: visible;
}

@media all and (max-width: 979px) {
  #campaign-table td {
    float: left;
    width: 100%;

    &.actiondiv {
      width: auto;
      top: 17px;

      &:before {
        visibility: hidden;
        position: absolute;
      }
    }

    &.avatar {
      width: 100%;

      &:before {
        visibility: hidden;
        position: absolute;
      }
    }
  }

}

@media all and (max-width:500px) {
  #campaigns {

    .archive-container .imgwrapper,
    .create-post-gipghy-wrapper .imgwrapper {
      padding: 0;
      max-width: 100%;
      width: 175px !important;
      float: none;
      margin: 10px auto;
    }
  }
}

#campaign-details {
  .viewBtns {
    z-index: 2;
  }
}

//droupdown in mobile
@media all and (max-width: 965px) {
  #campaigns {
    .table-wrapper {
      overflow: unset;
      overflow-x: unset;
      overflow-y: unset;
    }
  }
}

@media all and (max-width:767px) {
  .viewBtns {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 43px;
    margin-top: -3px;
  }

  #campaign-posts .HeaderCalendarBtns {
    float: none;
  }

  #campaign-posts .scheduledPost .content {
    padding-right: 0px;
  }

  .CampaignList #campaign-table td .campaignTdDiv {
    display: inline-block;
    vertical-align: middle;
  }
}

#campaigns .side-popup-wrap.side-popup-Center {
  overflow: hidden;
  overflow-y: auto;
}

#campaigns .side-popup-wrap.side-popup-Center .side-popup.campaignPopup {
  position: relative;
  margin: 46px auto;

  @media all and (max-width:767px) {
    margin: 0;
    min-height: calc(100%);
  }
}

#campaigns .side-popup-wrap.side-popup-Center .close-slider-popup {
  position: absolute;
}

#campaigns .side-popup-wrap.side-popup-Center .popupDescSection {
  max-height: 100%;
}

#campaigns .side-popup-wrap.side-popup-Center.update-side-popup-Center {
  right: -17px;
}


.campaignDetailPage {
  padding-left: 280px;

  ~.header-main .header-right,
  ~.main-container {
    display: none;
  }
}

/* Camapaign Overview starts */
/* Campaign Detail starts*/
.campaignDetailBlock {
  background: $white;
}

.campaignListLink {
  background: $white;
  padding: 10px;
}

.detailCampaignHeader,
.campaignListLink {
  padding-left: 30px;

  @media all and (max-width:767px) {
    padding-left: 8px;
  }
}

.detailCampaignHeader {
  padding-right: 30px;

  @media all and (max-width:767px) {
    padding: 0 15px;
  }
}

.campaignDetailPage .header-right {
  display: none;
}

.detailCampaignTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .campaignTitleWrapper {
    border: 1px solid transparent;
    padding: 10px 10px 10px 0;
    display: inline-block;

    &.titleEditable {
      background: #fafafa;
      border-color: #e5e4e4;
      margin-right: 10px;
    }
  }

  .editCampaignBtn {
    display: inline-block;
    color: $color-heading-text;
    vertical-align: 5px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: #f1f2f5;
    }

    i {
      font-size: 14px;
      position: relative;
      top: 4px;
    }
  }
}

.campaignType {
  float: left;
  padding-right: 10px;
  padding-left: 10px;

  @media all and (max-width:767px) {
    float: none;
    padding-bottom: 10px;
  }
}

.campaignTypeIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.campaignMeta {
  align-items: center;
  margin-bottom: 20px;
}

.campaignLocation {
  float: left;
  margin-top: 3px;
}

.campaignLocation span {
  display: inline-block;
  border-left: 1px solid #dbdbdb;
  padding: 0 10px;

  @media all and (max-width:767px) {
    &:first-child {
      border-left: 0;
      padding-left: 0;
    }
  }
}

.camapignHdrRight {
  float: right;
  display: flex;
  align-items: center;
  margin-top: -9px;
  .userpopupWrapper{
    @media all and (min-width:768px){
      top: 40px !important;
      right: 0;
      left:auto;
    }
  }
  @media all and (max-width:920px) {
    display: block;
    float: none;
    text-align: right;
  }

  @media all and (max-width:767px) {
    text-align: left;
  }

  .assign-author {
    @media all and (max-width:920px) {
      position: relative;
      top: 10px;
    }
  }

  .commentToggleBtn {
    background: #f1f2f5;
    color: $color-heading-text;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;

    @media all and (max-width:767px) {
      background: none;
      position: absolute;
      right: 0;
      top: 60px;
    }

    i {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }

    .commentBtnText {
      @media all and (max-width:767px) {
        display: none;
      }
    }
  }
}

.campaignMetaLeft {
  .campaignDateWrapper {
    margin-right: 15px;
    padding-left: 0;
    float: right;
    padding-top: 3px;

    @media all and (max-width:767px) {
      float: none;
      
    }

    .campaignDateIcon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    .editCampaignBtn {
      color: $theme;
      display: inline-block;
      font-size: 14px;
      margin-left: 6px;
      position: relative;
      top: 2px;

      i {
        font-size: 18px;
      }
    }
  }

  @media all and (min-width:920px) {
    float: left;
  }

  @media all and (max-width:920px) {
    margin-bottom: 15px;
    float: left;
  }
  @media all and (max-width:767px) {
  float: none;
  }
}

.campaignDetailPage .listMenu {
  box-shadow: 0px 2px 4px -4px #000;
  margin: 0;
  padding: 0 10px;

  .nav-side li {
    padding-right: 59px;
  }
}
.camapignAssignAuthorWrapper.camapignHdrRight.post{
.assign-author {
  padding-right: 40px;
  padding-left: 10px;

  .author {
    display: inline-block;
    padding-right: 10px;
    font-size: 12px;
    color: $color-heading-text;
    line-height: 18px;
    position: relative;
    top: -10px;
    font-weight: 400;
    text-transform: capitalize;
  }
 .author-thumb{
    background: none !important;
  }
  .author-thumb.showtotop{
     background: none !important;
  }

  .profile {
    display: inline-block;
    border-radius: 30px;
    background-size: cover;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-position: center;
    margin: 0 auto;
    border: 1px solid $primary;
    object-fit: cover;
    cursor: pointer;
  }
}
}
.post.campaign-owner{
  margin-bottom: 0px;
  .author-thumb{
    background: none;
    width: auto;
    height: auto;
  }
  .assign-author {
    padding-right: 0;
    padding-left: 10px;
    margin-right:0;
    .author {
      display: inline-block;
      padding-right: 10px;
      font-size: 12px;
      color: $color-heading-text;
      line-height: 18px;
      position: relative;
      top: -10px;
      font-weight: 400;
      text-transform: capitalize;
    }
    .author-thumb.showtotop{
       background: none;
    }
  
    .profile {
      display: inline-block;
      border-radius: 30px;
      background-size: cover;
      border-radius: 50%;
      height: 32px;
      width: 32px;
      background-position: center;
      margin: 0 auto;
      border: 1px solid $primary;
      object-fit: cover;
      cursor: pointer;
      max-width: inherit;
    }
  }
}
.profile-wrapper.assignAuthorProfile.post{
   .author-thumb{
     width: auto;
     height: auto;
     margin-right: 0px;
   }
}
  .assign-author {
    padding-right: 40px;
    padding-left: 10px;
  
    .author {
      display: inline-block;
      padding-right: 10px;
      font-size: 12px;
      color: $color-heading-text;
      line-height: 18px;
      position: relative;
      top: -10px;
      font-weight: 400;
      text-transform: capitalize;
    }
   .author-thumb{
      background: none !important;
    }
    .author-thumb.showtotop{
       background: none !important;
    }
  
    .profile {
      display: inline-block;
      border-radius: 30px;
      background-size: cover;
      border-radius: 50%;
      height: 32px;
      width: 32px;
      background-position: center;
      margin: 0 auto;
      border: 1px solid $primary;
      object-fit: cover;
      cursor: pointer;
    }
  }
#campaign-details {
  background: $popup-background;
  display: flex;
  overflow: hidden;
  min-height: calc(100vh - 200px);
  height: 100%;
}

.campaignDetailLeftColumn {
  width: 100%;
  padding: 30px;
  position: relative;

  @media all and (max-width:1350px) {
    padding: 15px;
  }

  .dataRow {
    @media all and (max-width:767px) {
      display: block;
    }
  }

  .label {
    margin-left: 0;
    font-size: 13px;
    width:215px;
    @media all and (max-width:767px) {
      float: none;
      width: auto;
    }
  }

  .dataRow .value {
    margin-left: 0;
    padding-left: 0;
    float: none;
  }

  .campaign_3dots {
    right: 10px;
    top: 5px;
  }

  .camapaignBrifFieldWrapper textarea {
    height: 500px;
  }


}

.BriefBtnWrapper,
.notesBtnWrapper {
  text-align: right;

  button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
.campaign-form .social-checkbox {
  margin-right: 15px;
  margin-top: 22px;
  margin-bottom: -13px;
}

.create-asset-page .heading {
  display: block;
}
.create-asset-page .preloaderWrap .visibly-loader {
  margin: 0px;
  transform: translate(-50%, -50%);
}

.createSegmentSection~.CampaignSegmentationColumnWrapper {
  display: none;
}

.segmentTabSelected .campaignDetailLeftColumn .campaign_3dots {
  @media all and (min-width:980px) {
    right: 40px;
    top: 41px;
  }

  @media all and (max-width:1350px) {
    right: 10px;
    top: 10px;
  }

  @media all and (max-width:979px) {
    top: 15px;
  }
}

.campaignDetailRightColumn {
  width: 300px;
  min-width: 300px;
  background: $white;
  padding: 10px 10px 0 10px;
  min-height: calc(100vh - 204px);
  margin-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &.moveOut {
    margin-right: -300px;
  }

  @media all and (max-width:1350px) {
    position: fixed;
    right: 0;
    margin-right: -300px;
    top: 0;
    bottom: 0;
    z-index: 99;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;

    &.moveOut {
      margin-right: 0;
    }
  }

  #commentEndSection {
    margin-bottom: 0;
  }
}

.campaignListLink i {
  vertical-align: middle;
}

.messagesWrapper {
  background: #fff7f7;
  padding: 10px;
  margin-bottom: 10px;
  // max-height: calc(100vh - 422px);
  overflow: hidden;
  overflow-y: auto;
}

.messsageBox {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &.nested {
    background: #fdecec;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

.messageTitle {
  padding: 10px 0 20px;
  font-weight: 500;
  color: $color-heading-text;
  padding-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
  position: relative;

  @media all and (max-width:1350px) {
    text-align: left;
  }
}

.closeCommentsBtn {
  position: absolute;
  right: 5px;
  top: 0;

  @media all and (min-width:1351px) {
    display: none;
  }
}
.messageUserThumb {
  float: left;
  width: 50px;
}
.messageContentBox {
  float: left;
  width: 90%;
  margin-left: -50px;
  padding-left: 60px;
}
.messageCommentBtn {
  text-align: right;
}
.messageDesc {
  padding-bottom: 10px;
  strong{
    display: block;
    margin-bottom:5px;
  }
}
.messageTime,
.replyCommentLinkWrapper a {
  color: $defult-light-text;
  font-size: 12px;
  text-decoration: none;
}
.deleteCommentButton {
  float: left;

  i {
    font-size: 18px;
  }
}
.campaignDetailLeftColumn .social-checkboxes label {
  margin-bottom: 10px;
}

.campaignPostWrapper {
  position: relative;
}

.campaign-form {
  padding: 15px;
}

.createSegmentSection .campaign-form {
  padding: 0;
}

/* Campaign Detail ends*/
.campaignOverviewPopup .campaign-form {
  padding: 20px 15px;
}

.campaignOverviewPopup .register-page .heading {
  display: none;
}

.overview-parent-container-wrapper #asset-detail .asset-file a.type-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  min-height: 30px;
}

/* Camapaign Overview ends */

/* Camapaign Tasks starts */
.campaignTasksColumnWrapper {
  @media all and (min-width:1351px) {
    display: flex;
  }

  position: relative;
  margin-bottom:30px;

  .camapaignTaskLeftcoumn {
    background: $white;
    padding: 20px;
    @media all and (max-width:1350px) {
      position: absolute;
      width:$campaignTabSidebarWidth;
      left: 0;
      top: 56px;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 1;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        top: -15px;
        background: url(/img/white-popup-arrow.png) no-repeat;
        width: 27px;
        height: 15px;
      }
    }

    li {
      list-style: none;

      a {
        color: $color-heading-text;
        text-decoration: none;
        display: block;
        padding: 10px;
      }

      &:hover,
      &.active {
        background: #fff7f7;
      }
    }
  }

  @media all and (max-width:1350px) {
    &.leftSidebarShown .camapaignTaskLeftcoumn {
      display: block;
    }
  }

  
  @media all and (max-width:767px) {
    .dd-menu .button-dropdown {
      margin-bottom: 15px;
      display: block;
      margin-right: 0;
    }
  }

  .filterWrapper {
    @media all and (max-width:767px) {
      margin-bottom: 20px;
    }
  }
}
.camapaignTaskLeftcolumn {
  width: $campaignTabSidebarWidth;
  float: left;
  display: none;
  position: relative;
  z-index: 1;
}
.camapaignTaskRightcoumn{
  width:100%;
}
@media all and (min-width:1351px){
  .leftSidebarShownParent{
    .camapaignTaskLeftcolumn {
      display: block;
    }
  .camapaignTaskRightcoumn{
    float: left;
    margin-left:-$campaignTabSidebarWidth;
    padding-left:$campaignTabSidebarpadding;
  }  
  }
}
.filterCampaignsWrapper {
  .checkbok-menu-button {
    @media all and (min-width:768px) {
      display: flex;
      align-items: center;
    }

    .filter-label {
      margin-right: 10px;

      @media all and (max-width:767px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  .checkbok-menu-button .dropdown-toggle {
    border-color: #f1f1f1 !important;
    padding: 0 15px;

    @media all and (max-width:767px) {
      &:after {
        position: absolute;
        right: 10px;
      }
    }
  }

}

.campaigntaskTableWrapper tr {
  cursor: pointer;
}

.campaigntaskTableWrapper {
  table tr .assign-wrapper-in-table:hover {
    position: relative;
    z-index: 14;
  }
}

.campaigntaskTableWrapper,
.campaignSegmentationTableWrapper {
  table {
    width: 100%;

    tr {
      border: 1px solid #f1f1f1
    }

    th {
      text-align: left;
      padding: 10px 15px;
      background: $white;
    }

    td {
      background: $white;
      padding: 10px 15px;

      .taskAssignTo {
        .task-assign-avatar {
          padding-bottom: 6px;
        }

        .userThumb {
          display: inline-block;
        }

        .avatar-name {
          display: inline-block;
          vertical-align: middle;
        }
      }

      .userThumb {
        width: 32px;
        height:32px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;
        }
      }
    }

    .form-row {
      margin-bottom: 0;
    }
  }

  .checkbox-column {
    width: 50px;
  }

  .userThumColumn {
    width: 50px;
  }

  .tableControllers {
    padding-left: 15px;
    padding-right: 15px;
  }

  .dropdown-container {
    overflow: visible;
  }
}

.campaignSegmentationTableWrapper .checkbox {
  top: 3px;
}

.campaignOverviewPopup .heading {
  display: block;
  margin-bottom: 0px;
  border-bottom: 1px solid #e7e5e5;
  padding: 15px;
  position: relative;

  button {
    position: absolute;
    right: 7px;
    top: 13px;
    z-index: 50;
    background: transparent;
    padding: 0;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;

    &:hover {
      background: #efefef;
    }
  }
}

.task-create-popup {
  width: 480px;
  background: $white;

  .scroller {
    height: calc(100vh);
    overflow-y: auto;
  }

  .taskTimeFields {
    display: flex;
    align-items: center;

    label {
      display: none;
    }

    .taskDayField {
      width: 60%;
    }

    .taskMiddleText {
      padding: 0 15px;
    }

    .taskTimeField {
      width: 40%;
    }
  }

  form {
    padding: 20px 15px;
  }

  .heading {
    display: block;
    margin-bottom: 0px;
    border-bottom: 1px solid #e7e5e5;
    padding: 15px;
    position: relative;

    button {
      position: absolute;
      right: 7px;
      top: 6px;
      z-index: 50;
      background: transparent;
      padding: 0;
      height: 30px;
      width: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
    }
  }

  .popupBtnWrapper {
    text-align: right;
    background: #f5f4f5;
    border-top: 1px solid #e3e1e1;
    padding: 5px 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    button {
      margin-bottom: 0;
    }
  }
}

.campaigntaskTableWrapper {

  .taskDate,
  .taskAssignTo {
    white-space: nowrap;
  }
}

/* Camapaign Tasks ends */

/* Campaign segmentation starts */

.CampaignSegmentationWrapper {
  .select-wrapper {
    background: #f6f5f6;

    select {
      border: 0;
    }
  }

  .dd-menu>li {
    display: block;
  }

  td .dropdown-toggle:after {
    position: absolute;
  }

  .addMoreSegmentLinkWrapper {
    text-align: right;
    padding-bottom: 20px;

    i {
      vertical-align: middle;
    }
  }

  .SegmentColumnLabel {
    margin-bottom: 10px;
  }

  .campaignSegmentaionRow {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e4e4;
    margin-bottom: 2px;
    padding: 10px 15px 15px;

    .campaignSelectSegmentCheckbox {
      position: relative;
      top: 12px;

      .form-row {
        margin-bottom: 0;
      }
    }

    .campaignSegmentColumn {
      width: 33.3%;
      padding: 0 15px;
      position: relative;

      @media all and (max-width:1400px) {
        width: 50%;
      }

      .segmentAtText {
        position: absolute;
        right: -6px;
        top: 37px;
      }
    }
  }
}

.addSegementSection {
  .newSegmentText {
    margin-right: 20px;
    white-space: nowrap;
  }

  .dd-menu {
    width: 100%;
  }

  .dropdown-toggle {
    min-height: 36px;
    border: 1px solid #f1f1f1;
    background: $white;
    display: block;

    &:after {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -15px;
    }
  }
}

.addSegementSection .responsive-table .newSegmentColumnWrapper {
  .newSegmentColumn {
    padding: 15px;

    @media all and (max-width:979px) {
      padding: 5px 15px;
      padding-right: 15px !important;
    }

    &:first-child {
      padding-right: 0;

      .campaignSelectSegmentCheckbox {
        width: 5px;

      }
    }

    .multi-select-wrapper {
      input[type="text"] {
        height: 20px;
        width: 100%;
      }
    }

    .two-fields .form-row {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    &.valueColumn label {
      display: none;
    }
  }

  .numericDropdown {
    display: none;
  }

  .numericDropdown .show {
    display: block;
  }

  &.numeric-segment {
    .numericDropdown {
      display: block;
    }

    .isEqualToText {
      display: none;
    }

    .isEqualToText show {
      display: block;
    }
  }

  .newSegmentColumnInner {
    display: flex;
    align-items: center;
    @media all and (max-width:979px) {
      display: block;
    }
    .form-row {
      margin-bottom: 0;
    }

    .select-wrapper {
      width: 100%;
    }
  }

}

.addSegementSection {
  .responsive-table {
    td {
      div {
        .select-wrapper:before {
          z-index: 1;
        }
      }
    }

    @media all and (max-width:979px) {
      tr {
        padding: 5px 0 10px;

        td {
          width: 91%;

          &.action-col {
            position: absolute;
            right: 13px;
            top: 109px;
            width: auto;
          }
        }
      }
    }
    
  }

}

.newSegmentColumn .form-row {
  margin-bottom: 0;
}

.newSegmentRow {
  display: none;
}

.CampaignSegmentationWrapper .addSegementSection .addMoreSegmentLinkWrapper {
  padding: 0px 20px 10px;
}

.campaignSegmetationRightInner {
  background: $white;
}

.campaignSegmentaionRowWrapper {
  margin-bottom: 30px;
}

.campaignSegmentaionRow .addRemoveSegmentData {
  position: relative;
  top: 15px;
}

.addRemoveSegmentData {
  display: flex;
  align-items: center;
  min-width: 48px;

  .addSegmentBtn {
    display: none;
  }

  .addSegmentBtn,
  .removeSegmentBtn {
    border-radius: 24px;
    width: 24px;
    height: 24px;

    &:hover {
      background: #f6f5f6;

    }
  }
}

.newSegmentColumnWrapper:last-child .addRemoveSegmentData .addSegmentBtn {
  display: block;
}

.master-data-list .master-data-name {
  overflow: hidden;
}

.addSegementSectionInner {
  .campaignSelectSegmentCheckbox {
    position: relative;
    top: 3px;
  }
}

.selectAllSegmentCheckboxWrapper {
  // border-bottom: 1px solid #e5e4e4;
  padding: 15px 15px 20px 15px;

  .form-row {
    margin-bottom: 0;
  }

  i {
    color: #8d8d8d;
    font-size: 18px !important;
    cursor: pointer;
    position: relative;
    top: 2px;
  }
}
.selectAllSegmentBox-quick-user{
  border-bottom: 1px solid #e5e4e4;
}

.addMoreSegmentButtonWrapper {
  background: #f5f4f5;
  border-top: 1px solid #e3e1e1;
  padding: 15px;
  text-align: right;

  button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.addSegementSection .close-popup:hover {
  background: #f8f8f8;
}

.CampaignSegmentationColumnWrapper {
  position: relative;

  &.leftSidebarShown .campaignSegmetationLeft {
    display: block;
  }

  .campaignSegmetationLeft {
    float: left;
    width: $campaignTabSidebarWidth;
    background: $white;
    padding: 20px;
    position: relative;
    z-index: 1;

    @media all and (max-width:1350px) {
      position: absolute;
      left: 0;
      top: 56px;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 3;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        top: -15px;
        background: url(/img/white-popup-arrow.png) no-repeat;
        width: 27px;
        height: 15px;
      }
    }

    .campaignSegmetationSidebarTitle {
      color: $color-heading-text;
      text-decoration: none;
      display: block;
      padding: 10px;
      font-weight: 600;
    }

    li {
      list-style: none;

      a {
        color: $color-heading-text;
        text-decoration: none;
        display: block;
        padding: 10px;
      }

      &:hover,
      &.active {
        background: #fff7f7;
      }
    }

    @media all and (max-width:1350px) {
      .campaignSegmetationSidebarTitle {
        display: none;
      }
    }
  }
 .campaignSegmetationRight {
    float: left;
    width: 100%;
    padding-left: $campaignTabSidebarWidth+ 20px;
    margin-left: -$campaignTabSidebarWidth;

    @media all and (max-width:1350px) {
      padding-left: 0;
      margin-left: 0;
    }
  }
}
@media all and (min-width:1351px) {
  .leftsidebarToggleBtnWrapper {
    display: none;
  }
}
.MoreSegmentsWrapper {
  margin-bottom: 20px;

  @media all and (max-width:767px) {
    margin-bottom: 0;
  }
}
.newSegmentColumnWrapper {
  align-items: center;
  padding: 10px 15px 15px;
  border-bottom: 1px solid #e5e4e4;
}
.newSegmentHeading {
  color: $color-heading-text;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  font-weight: 600;
}
.addSegmentForm {
  .table {
    margin-bottom: 0;
  }
}
.segmentSaveButtonWrapper {
  text-align: right;
  @media all and (max-width:767px) {
    text-align: left;
  }
   padding: 15px;

  @media all and (max-width:350px) {
    margin-top: 51px;
  }

  .save-btn {
    margin-right: 10px;

    @media all and (max-width:350px) {
      width: 36%;
    }
  }

  .cancel-btn {
    background: #fff;
    color: $theme;

    @media all and (max-width:350px) {
      width: 48%;
    }

    &:hover {
      background: #f1f1f1;
    }
  }
}

.hideDots .campaign_3dots {
  display: none;
}

.campaignDetailPopupShowed .nd-sib {
  display: none;
}

.campaignDetailPage {
  padding-left: 57px;

  @media all and (max-width:767px) {
    padding-left: 0;
    padding-top: 61px;
  }
}

.quick-segment-wrapper {
  padding: 10px;
  position: relative;
  z-index: 2;

  .form-row {
    margin-bottom: 0;
  }

  &.user-tag-editor .viewper {
    float: none;
    width: auto;
  }

  &.user-tag-editor textarea {
    min-height: 42px !important;
  }
}

.defaultSegmentField {
  display: flex;
  align-items: center;
  padding: 0 15px 0px;

  @media all and (max-width:767px) {
    display: block;
  }

  .newSegmentText {
    margin-right: 10px;
  }

  .defaultSegmentDropdown {
    width: 100px;
    margin-right: 10px;

    @media all and (max-width:767px) {
      width: auto;
      margin: 10px 0;
    }
  }
}

.campaignSegmentWrapper .SegmentsSection {
  background: $white;
  @media all and (max-width:767px) {
    padding-top: 103px;
  }
}

.SegmentsSection.addSegementsFlag{
  padding-top: 68px;
}

.newSegmentsTitle {
  font-weight: 500;
  color: $color-heading-text;
  padding: 10px 15px;
}

.campaignDetailPage .main-popup-wrapper .listMenu {
  box-shadow: none;
  padding: 10px 15px 0;
  margin-bottom: 15px;
  background: #f6f6f6;
  border-bottom: 1px solid #e7e5e5;
  border-top: 1px solid #e7e5e5;
}

.addMoreSegmentsWrapper button {
  background: #f9fafc;
  color: $theme;
  margin-right: 10px;

  .addMoreButtonIcon {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 5px;
  }

  svg {
    fill: $theme
  }
}

.addMoreSegmentsWrapper {
  padding: 0 15px 15px;
  margin-top: -76px;

  @media all and (max-width:350px) {
    margin-top: -127px;
  }
}

.previewSegmentData {
  display: flex;
  background: #f5f4f5;
  padding: 25px 15px;

  .previewSegmentColumn {
    width: 25%;
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.quick-segment-wrapper .form-row-wrapper {
  width: 100%;
}

.segmentPreviewPopup .heading {
  display: block;
  margin-bottom: 0;
  padding: 15px;
  position: relative;

  .close-popup {
    position: absolute;
    right: 7px;
    top: 10px;
    padding: 0;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;

    &:hover {
      background: #efefef;
    }
  }
}

.segmentPreviewPopup .main-popup-wrapper {
  width: 1200px;
}

.campaignTaskDetails {
  padding: 15px;

  .label {
    margin-left: 0;
  }

  .action-button {
    position: absolute;
    top: 7px;
    right: 40px;
  }
}

.campaigntaskTableWrapper {
  .dropdown-toggle:after {
    display: none;
  }

  .action-button {
    .dropdown-menu {
      li a {
        color: $color-heading-text !important;
      }

      li a:hover {
        color: #256eff !important;
      }
    }
  }
}

.campaignTaskDetails .dropdown-toggle:after {
  position: absolute;
}

.messageCommentFormWraper {
  margin: 0px -10px 10px;
  background: #ebebeb;
  padding: 10px;
}

.leftsidebarToggleBtnWrapper {
  @media all and (max-width:767px){
    margin-bottom: 15px;
  }
}

.CampaignSegmentationWrapper .addMoreButtonIcon {
  position: relative;
  top: 6px;
}

.createSegmentSection {
  position: relative;
}

.CampaignSegmentationWrapper .MoreSegmentsWrapper {
  margin-top: -40px;

  @media all and (max-width:767px) {
    margin-top: 0;
  }
}
@media screen and (max-width:767px) {
  #campaigns .listMenu{
    margin-top: 36px;
  }
  .save-cancel-btn{
    text-align:center;
  }
  .campaignSegmentWrapper .createSegmentSection .SegmentsSection{
    padding-top: 0px;
    .selectAllSegmentCheckboxWrapper{
      padding:0px;
    }
  } 
  .campaignSegmentWrapper .createSegmentSection .SegmentsSection.addSegementsFlag {
    padding-top:68px !important;
    .selectAllSegmentCheckboxWrapper{
      padding: 15px 15px 20px 15px !important;
    }
  }
  .campaignSegmentWrapper .createSegmentSection .user-permission div{
    min-height: 60px !important;
  }
  }

.segmentPreviewPopup~.popup-center-wrapper {
  display: none;
}

.CampaignSegmentationWrapper .newSegmentsTitle {
  display: none;
}

.addSegementSectionInner .segmentNameWrapper {
  top: 15px;
  left: 15px;
  right: 15px;
  position: absolute;
  display: flex;
  align-items: center;

  @media all and (max-width:767px) {
    display: block;
  }

  label {
    margin-bottom: 0;
    margin-right: 10px;
    min-width: 105px;

    @media all and (max-width:767px) {
      margin-bottom: 10px;
    }
  }

  .form-row {
    margin-bottom: 0;
    width: 300px;

    @media all and (max-width:767px) {
      width: auto;
    }
  }
}

.addSegementSectionInner .quick-segment-wrapper {
  display: flex;

  @media all and (max-width:767px) {
    display: block;

    &.user-permission div {
      // min-height: 80px !important;
    }
  }

  label {
    min-width: 112px;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 10px;

    @media all and (max-width:767px) {
      margin-bottom: 10px;
    }
  }

  .form-row {
    margin-bottom: 0;
  }
}

.filterCampaignsWrapper .checkbok-menu-button .form-row.checkbox {
  margin-bottom: 0px;
}

.dropdownSelect .form-row.checkbox {
  display: inline-block;
  vertical-align: bottom;
}

.filterCampaignsWrapper {
  .form-row.select {
    select {
      padding: 7px 28px 7px 15px !important;
    }
  }
}

.filterCampaignsWrapper .checkbok-menu-button .form-row.checkbox select {
  height: auto;
  padding: 7px 12px;
  font-weight: 500;
  color: $color-heading-text;
  border-color: #f1f1f1;
}
.filterCampaignsWrapper .checkbok-menu-button .form-row.select {
  background: $white;
}
.filterCampaignsWrapper .checkbok-menu-button .form-row.select:before {
  color: grey;
  font-size: 14px;
}
.statusRadioButton .statusLabel {
  padding-right: 10px;
}
.statusRadioButton .form-row.radio {
  padding-top: 3px;
}
.statusRadioButton .statusLabel.customradio {
  padding-left: 17px;
}
// added to set the comment avatar size needs to change
.messageUserThumb img {
  height: 40px;
  width: 42px;
  object-fit: cover;
}
.scheduledPost .calendarNavTitleWrapper {
  margin-top: 0px;
}
.scheduledPost .widget {
  margin-top: 23px;
}
.scheduledPost .content {
  padding-left: 0px;
}
.scheduledPost #feed {
  margin-top: 40px;
}
.messageCommentBtn {
  margin-bottom: 20px;
}
.replyCommentLinkWrapper {
  float: left;
  margin-right: 15px;
}
.campaignSegmentWrapper .addMoreSegmentsWrapper {
  margin-top: 0px;
  float: left;
}

.assign-task-select select {
  padding: 7px 22px 7px 12px !important;
}

.campaignDetailRightColumn .pop-up-tooltip-not-data-found {
  margin-left: -141px;
  margin-top: 23px;
}

.campaignDetailRightColumn .pop-up-tooltip {
  margin-left: -350px;
  margin-top: 23px;
}

#commentEndSection .mention-input-wrapper__highlighter {
  min-height: 65px !important;
}

.campaignDetailRightColumn .departmentpopup .pop-up-tooltip {
  margin-left: -184px;
}

#timeFilter {
  padding: 7px 28px 7px 7px;
}

.CampaignSegmentationWrapper .tabel-view-userdata .reactable-pagination td {
  position: relative;
}

/* Campaign segmentation ends */

// campagin new overview design
// .campaignDetailLeftColumn > .campaign_3dots {
//   display: none;
// }
.heading-title-campaigns {
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-heading-text;
  position: relative;
  text-transform: uppercase;
}

.overview-parent-container-wrapper {
  .campaign-details-wrapper {
    padding: 10px 20px;
  }

  .leftPart-overview-wrapper {
    float: left;
    width: 40%;
    background: $white;
    position: relative;

    @media all and (max-width:920px) {
      float: none;
      width: 100%;
    }
  }

  .rightpart-overview-wrapper {
    float: right;
    width: 60%;
    padding-left: 30px;

    @media all and (max-width:920px) {
      float: none;
      width: 100%;
      padding-left: 0;
    }
  }

  .overview-brief-wrapper {
    .heading-title-campaigns {
      padding: 20px;
    }

    .campaign_3dots {
      top: 14px;
    }
  }
}

.campaigntaskTableWrapper,
.pendding-content-part-wrapper {
  .heading-title-campaigns {
    padding: 20px 0;
  }
}

.pendding-content-part-list {
  background: $white;
  padding: 0 15px;

  .vid.file-image.asset-file.imgwrapper {
    .file-details {
      border: none;
      padding: 9px 9px 0;
      min-height: 20px;

      .title {
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
      }
    }
  }

  .vid.file-image.asset-file.imgwrapper {
    .imageloader.loaded.thumbnail.loader-assets-image {
      img {
        height: 100%;
        max-height: 100%;
      }
    }
  }
}

//campaigns print design
.content-project-main-wrapper.content-project-main+.campaginContainerWraper {
  display: none;
}

.change-request-task-popup .content-project-main-wrapper.content-project-main+.campaginContainerWraper {
  display: block;
}

.select-wrapper.assignToField .css-dvua67-singleValue,
.css-151xaom-placeholder {
  line-height: 22px;
}

.select-wrapper.assignToField .css-1g6gooi {
  input {
    height: 3px;
  }
}

.select-wrapper.assignToField .css-bg1rzq-control .css-1g6gooi {
  margin: 0;
  padding: 0;
}

.content-project-main-wrapper {
  .campaignMetaLeft {
    .campaignDateWrapper {
      float: left;

      @media all and (max-width:767px) {
        float: none;
        margin-bottom: 10px;
      }
    }

    .campaingStatusWrapper {
      float: right;
      position: relative;
      z-index: 4;

      @media all and (max-width:767px) {
        float: none;
        padding-left: 10px;
      }

      .campaignStatusTitle {
        padding-right: 6px;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: $color-heading-text;
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 1px;
      }

      // .css-1hwfws3{
      //   min-width:94px;
      // }
      .campaignStatusValue {
        display: inline-block;
        width: 150px;
        top: -6px;

        //  font-size:14px;
        // line-height:22px;
        // color:$primary;
        // font-weight: 600;
        // text-transform: uppercase;

        //display: inline-block;

        input:focus {
          border: none;
        }

        .css-1wy0on6 {
          display: none;
        }

        .css-1hwfws3 {
          position: static;
        }

        .css-1hwfws3 {
          height: 36px;
        }

        .css-dvua67-singleValue {
          font-size: 14px;
          line-height: 20px;
        }

        .css-dvua67-singleValue {
          margin-top: 0;
        }

        .css-bg1rzq-control {
          color: $color-heading-text;
          border-color: #f1f1f1;
        }

        .css-1hwfws3 {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          color: $color-heading-text;
        }

        .css-bg1rzq-control {
          position: relative;
        }

        .css-dvua67-singleValue {
          line-height: 20px;
        }

        .css-bg1rzq-control:after {
          font-family: "sans-serif";
          content: "\25BE";
          margin-left: 6px;
          position: relative;
          top: -1px;
          margin-left: 8px;
          color: gray;
          right: 12px;
        }
      }
    }
  }

  .dateCampaign {
    position: relative;
    top: -4px;
  }

  .campaignTitleWrapper {
    i {
      margin-right:5px;
    }
  }
}

//popup
.print-date-wrapper {
  .start-date {
    padding-right: 15px;
  }
 .end-date {
    padding-left: 15px;
  }
  .start-date,
  .end-date, .end-date.email-date {
    float: left;
    width:33.3%;
   @media all and (max-width:767px) {
      float: none;
      width: 100%;
      padding: 0;
    }
  }
}
// three dot menu for project popup
.content-project-popup-wrapper {
  .shipping-icon {
    display: inline-block;
    padding-right: 10px;
    position: relative;
    top: 5px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .dd-menu {
    display: block;
    right: 37px;
    position: absolute;
    top: 6px;
    cursor: pointer;
    line-height: 3px;

    li>a>i {
      left: 5px;
    }

    .dropdown-toggle {
      width: 30px;
      height: 30px;
      border-radius: 19px;

      &:hover {
        background-color: #f8f8f8;
      }
    }
  }
}

// production design

.viewbtnWrapper {
  margin-bottom: 23px;
}

//template design
.campaignDetailLeftColumn {
  background: $popup-background;
}

.templateSectionWrapper {
  background: $white;
  padding: 30px;

  @media all and (max-width:767px) {
    padding: 15px;
  }

  .mainTitle {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: $color-heading-text;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e5e5;
    padding-bottom: 10px;
  }
  .templateBlockWrapper{
    margin:0 -15px;
  }
  .leftTemplatePart {
    // float: left;
    // width: 50%;
    // padding-right: 20px;
    margin-bottom:20px;

    @media all and (max-width:767px) {
      width: 100%;
      float: 100%;
      padding-right: 0;
      float: none;
    }
  }

  .recentTemplatePart {
    // float: left;
    // width: 50%;
    // padding-left: 20px;

    @media all and (max-width:767px) {
      width: 100%;
      float: 100%;
      float: none;
      padding-left: 0;
    }
  }

  //template
  .templateBlock {
    width: 25%;
    padding: 15px;
    float: left;
    cursor: pointer;

    @media all and (max-width:767px) {
      width: auto;
      float: none;
    }

    .innerTemplateBlock {
      position: relative;
      padding-bottom: 100%;

      .templateImageBlock {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .first-pdf-page {
          .pdf-wrapper .container {
            padding: 0;
          }
        }
      }

      .templateImageBlock:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }

      .eye-icon {
        position: absolute;
        right: 15px;
        top: 10px;
        z-index: 2;

        svg {
          fill: $white;

          @media all and (max-width:767px) {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .titleForTemplateBlock {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      color: $color-heading-text;
      padding: 13px 5px;
      text-align: center;
      word-break: break-all;
    }
  }

  .responsive-title {
    display: none;

    @media all and (max-width:767px) {
      display: block;
    }
  }
}

.createTemplateBtn {
  text-align: right;
  margin: 25px;
}

@media all and (max-width:767px) {
  .templateBlockWrapper {
    display: none;
  }

  .desktop-title {
    display: none;
  }

  .responsive-title {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #e7e5e5;

    .accordion-icon {
      position: absolute;
      right: 8px;
      top: 8px;
    }
  }

  .accordion-tab-campaign.show-tab {
    .accordion-icon {
      transform: rotate(270deg);
    }

    .templateBlockWrapper {
      display: block;
    }
  }

  .recentTemplatePart.accordion-tab-campaign {
    .responsive-title {
      border: none;
      margin-bottom: 0;
    }
  }

  .recentTemplatePart.accordion-tab-campaign.show-tab {
    .responsive-title {
      border-bottom: 1px solid #e7e5e5;
      margin-bottom: 10px;
    }
  }
}

//print loader
.template-loader {
  .innerTemplateBlock:before {
    background: none;
    display: none;
  }
}

//viewMore campaigns design css
.viewMoreDetailsInCampaigns {
  text-align: right;
}

.pendding-content-part-wrapper {
  .viewMoreDetailsInCampaigns {
    padding-top: 20px;
  }
}

//assingn icon
.assign-author {
  position: relative;

  @media all and (max-width:920px) {
    margin-bottom: 15px;
    display: inline-block;
  }
}

.multiple-assign,
.assign-popup {
  .profile-wrapper {
    display: inline-block;
    border-radius: 30px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    object-fit: cover;
    margin: 0 auto;
    border: 1px solid $primary;
    position: relative;
    margin-right: -8px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background: #dfe1e7;
    ;
  }

  .profile-wrapper:hover {

    // transform: translateY(-4px);
    //z-index: 999 !important;
    .cross-btn {
      display: block;
    }
  }

  .cross-btn {
    display: none;
    position: absolute;
    z-index: 1;
    width: 21px;
    height: 21px;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: $primary;
    cursor: pointer;
    text-align: center;
    box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
    transition: all 0.5s ease-in-out;

    i {
      color: $white;
      font-size: 14px;
      top: 2px;
      position: relative;
    }
  }

  span.author-image {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    background-size: contain;
  }

  .assignAuthorProfile {
    .author-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }

      .add-icon {
        opacity: 0;
      }
    }
  }
}


.multiple-assign {
  .profile-wrapper:nth-child(1) {
    z-index: 5;
  }

  .profile-wrapper:nth-child(2) {
    z-index: 4;
  }

  .profile-wrapper:nth-child(3) {
    z-index: 3;
  }

  .profile-wrapper:nth-child(4) {
    z-index: 2;
  }

  .profile-wrapper:nth-child(5) {
    z-index: 1;
  }
}
.detailCampaignHeader .multiple-assign .assignAuthorWrapper .author-image i{
  top:1px;
}
.multiple-assign .assignAuthorWrapper {
  background: #dfe1e6;
  color: $white;
  text-align: center;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
  transition: all 0.5s ease-in-out;
  border: none;
  color: $color-heading-text;
  .author-image {
     .noCount {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      font-size: 11px;
      text-align: center;
      transform: translate(-50%, -50%);
    }
     i {
      font-size: 12px;
      top:4px;
      position: relative;
    }
  }
}

.multiple-assign .assignAuthorWrapper:hover {
  //border:2px solid $theme;
  transform: translateY(0px);
}

.assign-popup {
  list-style: none;
  font-size: 16px;
  background: $popup-background;
  background-clip: padding-box;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 100;
  position: absolute;
  min-width: 160px;
  top: 45px;

  .assign-block {
    display: flex;
    padding: 5px 10px;
  }

  .assign-popup-block-wrapper {
    overflow: hidden;
    overflow-y: auto;
    max-height: 200px;
    border-top: 1px solid #e5e4e4;
    padding: 10px 0;
  }

  .assign-popup-block-wrapper .NovalueFound {
    .no-Value-chart-wrapper {
      padding: 10px;
      font-size: 14px;
      text-align: center;
    }
  }

  .profile-wrapper.assignAuthorProfile {
    margin: 0;
  }

  .profile-wrapper.assignAuthorProfile:hover {
    transform: translateY(0px);
  }

  .auhtor-name {
    display: inline-block;
    padding: .5em .75em;
    padding-left: 10px;
    margin: 0;
    clear: both;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    color: $default-text;
    text-transform: none;
    white-space: nowrap;
    padding-left: 20px;
  }

  .cross-btn i {
    top: 0;
  }

  .search-input {
    padding: 10px;

    input {
      display: block;
      width: 100%;
      height: 38px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      color: #454545;
      background-color: #fff;
      background-image: none;
      border: 1px solid #e5e4e4;
      border-radius: .2rem;
      transition: border ease-in-out .15s, box-shadow ease-in-out .15s;
    }
  }
}
// .profile-wrapper.assignAuthorProfile:hover{
//   z-index:7;
// }
.assign-block:hover {
  background: #f1f2f5;

  .auhtor-name {
    color: $theme;
  }

  .profile-wrapper.assignAuthorProfile:hover {
    .cross-btn {
      display: none;
    }
  }
}

.assign-block.active {
  .auhtor-name {
    color: $theme;
  }
}

.assign-block.active:hover {
  .profile-wrapper.assignAuthorProfile {
    .cross-btn {
      display: block;
    }
  }
}

.profile-wrapper.addassignAuthorWrapper {
  border-style: dashed;
  border-color: #e7e5e5;
  background: transparent;

  .author-image {
    text-align: center;

    svg {
      fill: $tab_border;
      top: 2px;
      position: relative;
      transition: all 0.5s ease-in-out;
    }

    .noCount {
      display: block;
      position: absolute;
      z-index: 1;
      width: 15px;
      height: 15px;
      bottom: 0px;
      right: -3px;
      border-radius: 50%;
      color: $white;
      background: #d8d8d8;
      cursor: pointer;
      text-align: center;
      box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
      transition: all 0.5s ease-in-out;

      i {
        color: $white;
        font-size: 14px;
        top: 1px;
        position: relative;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

.profile-wrapper.addassignAuthorWrapper:hover {
  border-color: $theme;

  .author-image {
    svg {
      fill: $theme;
    }

    .noCount {
      background: $theme;
    }
  }
}

//print popup design
.print-page-container {
  .quick-segment-wrapper {
    padding: 0;
  }
}

//camapgin header
.CampaignHeaderWrapper {
  .HeaderCalendarBtns {
    @media all and (max-width:1024px) {
      margin-bottom: 15px;
    }
  }

  .filterWrapper {
    padding-left: 20px;
    display: inline-block;

    @media all and (max-width:1024px) {
      float: none;
      padding-left: 0;
      display: inline-block;
    }

    @media all and (max-width:767px) {
      width: 100%;
    }
  }
}

.filterCampaignsWrapper {
  .dd-menu .button-dropdown {
    @media all and (max-width:767px) {
      margin-bottom: 15px;
      display: block;
      margin-right: 0;
    }
  }
}

#campaign-details .calender-nav-btns-wrapper {
  @media all and (max-width:420px) {
    margin-bottom: 15px;
  }
}

//planer
.camapaignTaskRightcoumn {
  .leftsidebarToggleBtnWrapper {
    float: left;
    padding-right: 10px;

    @media all and (max-width:767px) {
      float: none;
      width: 100%;
    }
  }

  .filterWrapper {
    float: left;

    @media all and (max-width:767px) {
      float: none;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
.css-bg1rzq-control, .css-1hwfws3{
  cursor: pointer !important;
}

//kanban css
.kanban-proocess-block-section:hover {
  text-decoration: none;

  h4 {
    text-decoration: none;
  }
}

.kanban-view-wrapper {
  overflow: hidden;
  overflow-x: auto;
  width: 100%;

  @media all and (max-width:980px) {
    padding-top: 50px;
  }
}

.kanban-view-wrapper>div {
  display: flex;
  padding: 0 !important;


  >div {
    padding: 0 !important;
    margin: 0 !important;
    width: 16.6% !important;
    padding: 0 10px !important;
    background: #fafafa !important;
    position: relative;

    @media all and (max-width:1350px) {
      min-width: 230px;
      width: 230px;
      margin: 0 auto;
    }
  }

  >div:after {
    content: '';
    border-right: 1px solid #dfdfdf !important;
    position: absolute;
    right: 0;
    width: 1px;
    top: 48px;
    background: #dfdfdf;
    height: 96%;
  }

  >div:last-child():after {
    display: none;
  }

  h4 {
    font-size: 15px;
    color: $theme;
    line-height: 19px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: left;
    background: transparent;
    padding: 10px 2px;
    margin: 0;
    margin-bottom: 16px;
    .kanban-project-length{
      float: right;
      font-size: 11px;
    }
  }

  .kanban-process-block {
    background: $white;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-style: solid;
    border-width: 3px 1px 1px 1px;
    width: 100%;
    border-color: $primary #ffffff #ffffff #ffffff;
    box-shadow: 0 0 5px 0px #ccc;

    @media all and (max-width:1350px) {
      // width: 200px;
    }

    .inner-kanban-process-block {
      cursor: pointer;
      .title {
        font-size: 14px;
        line-height: 19px;
        color:$theme;
        font-weight: 500;
        padding-left: 30px;
        position: relative;
        margin-bottom: 10px;
        text-align: left;
        overflow: hidden;
        white-space: pre;
        text-overflow: ellipsis;

        i {
          color: $theme;
          position: absolute;
          left: 0;
          top: -2px;
          font-size: 22px;
        }
      }

      .campaignDateWrapper, .countWrapper{
        position: relative;
        text-align: left;
        margin-bottom: 20px;
        float: left;
        padding-left:20px;
      }

      .campaignStartDate, .kanban-task-count {
        font-size: 13px;
        line-height: 19px;
        color: $color-heading-text;
        font-weight: 300;
        text-align: left;
      }

      .campaignDateIcon, .kanban-task-icon {
        color: $theme;
        position: absolute;
        left: 0;
        top: 1px;
        display: block;
        font-size: 14px;

        svg {
          width: 16px;
          height: 16px;
        }
      }

      .countWrapper{
        float: right;
      }

      .multiple-assign-author {
        top: 0;
        text-align: left;
        padding-left: 0;
      }
    }
  }

  .kanban-process-block:hover {
    z-index: 6;
    position: relative;
  }
}

//production css
.production-view-wrapper {
  .viewbtnWrapper {
    .viewBtns {
      float: none;
      margin-bottom: 20px;
    }

    .filterInCampaignsTask {
      margin-bottom: 20px;
    }
  }

  .leftsidebarToggleBtnWrapper {
    @media all and (max-width:767px) {
      padding-top: 53px;
    }
  }
}

.scheduledPost {
  .viewbtnWrapper {
    margin-bottom: 0;

    @media all and (max-width:767px) {
      margin-bottom: 20px;
    }

    div {
      float: left;
    }

    .viewBtns {
      float: none;
      margin-bottom: 20px;
    }
  }

  .filterWrapper.filterCampaignsWrapper {
    padding-left: 0;
  }

  .camapaignTaskRightcoumn.taskFilter {
    padding-left: 0
  }

  .filterInCampaignsTask {
    margin-bottom: 20px;
  }
}

.camapignAssignAuthorWrapper {
  .multiple-assign-author {
    top: 2px;

    @media all and (max-width:767px) {
      top: 13px;
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}

.campaignTasksTab .filterCampaignsWrapper {
  margin-bottom: 20px;
}

//calender css
.campaign-calender-icon {
  position: relative;

  .template-icon {
    position: absolute;
    top: 0;
    right: 3px;

    i {
      font-size: 17px;
    }
  }
}

.select-date-wrapper {
  .editCampaignBtn {
    display: inline-block;
  }

  .form-row.text {
    display: inline-block;
    margin: 0;

    label {
      display: none;
    }
  }
}

.content-project-main-wrapper.content-project-main {
  .campaignDateWrapper .select-date-wrapper {
    position: relative;
    top: -6px;
  }
}

//editor css
.gjs-editor-cont {

  .gjs-four-color-h:hover,
  .gjs-fonts:hover,
  .gjs-editor.gjs-one-bg.gjs-two-color .gjs-four-color {
    color: $theme;
  }
}

.print-btn-wrapper {
  margin-top: 20px;

  @media all and (max-width:420px) {
    text-align: left;
  }

  .left-btn {
    float: left;

    button {
      margin-right: 10px;
    }

    @media all and (max-width:767px) {
      float: none
    }
  }

  .right-btn {
    float: right;

    .save-as-tmp-btn {
      margin-right: 10px;
    }

    @media all and (max-width:767px) {
      float: none
    }
  }
}
@media all and (max-width:767px) {
#campaign-details .campaignDetailRightColumn .pop-up-tooltip{
  margin-left: 0px;
  margin-top: 0px;
}
.campaignSegmetationRight .header{
  z-index: 2;
}
.multiple-assign {
  .profile-wrapper.showUserPopupMobile:nth-child(1) {
    z-index: auto;
  }

  .profile-wrapper.showUserPopupMobile:nth-child(2) {
    z-index: auto;
  }

  .profile-wrapper.showUserPopupMobile:nth-child(3) {
    z-index: auto;
  }

  .profile-wrapper.showUserPopupMobile:nth-child(4) {
    z-index: auto;
  }

  .profile-wrapper.showUserPopupMobile:nth-child(5) {
    z-index: auto;
  }
}
}
//USERTAG POPUP
.kanban-view-wrapper {
  .author-image {
    .userpopupWrapper {
      display: none;
    }
  }

  .author-image:hover {
    .userpopupWrapper {
      display: block;
    }
  }
}

//kanban
.viewBtns {
  a {
    .kanban-icon {
      display: inline-block;
      padding-top: 5px;
    }
  }
}
@media screen and (min-width:768px) {
.kanban-view-wrapper {
  .kanban-process-block {
    .userpopupWrapper {
      left: -233px;
      top: 51px;
    }
  }
 }
}
.inner-pdf-wrapper {
  overflow: hidden;
  width: 100%;
  transform-origin: 0 0;
  padding:20px;
  .container {
    padding: 0;
    max-width: 100%;
  }
}
.emailTemplateBlockWrapper .inner-pdf-wrapper{
  overflow:unset;
  transform: scale(0.45);
  padding:0;
}
.post-pic-ranking-container {
  .img-item {
    .inner-pdf-wrapper {
      overflow: hidden;
      width: 100%;
      transform-origin: 0 0;
      padding: 10px;
      height: 200px;
      margin: 0 auto;
      margin-bottom: 10px;
      transform: scale(1);
    }
  }
}
.userpopupWrapper {
  .popup-arrow {
    display: none;
  }
}
@media screen and (min-width:768px) {
.kanban-process-block.left-kanban-block {
  .userpopupWrapper {
    left: 0px;
  }
}
.kanban-process-block.right-kanban-block {
  .userpopupWrapper {
    right: 0px;
    left: auto;
  }
}
.kanban-process-block.left-kanban-block.showtotop {
  .userpopupWrapper {
    top: -215px;
    left: 0;
  }
}
.kanban-process-block.right-kanban-block.showtotop {
  .userpopupWrapper {
    right: 0px;
    left: auto;
    top: -215px;
  }
}
.kanban-process-block.lastChildKanban{
    margin-bottom:200px !important;
}
}
.archive-container {
  .file-image.asset-file.imgwrapper.disable {
    .type-image {
      pointer-events: none;
    }
  }
}
.calendar-detail-popup .content-project-popup-wrapper .post-time {
  .eye-icon {
    display: inline-block;
    padding-left: 10px;
    position: relative;
    top: 5px;
    cursor: pointer;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
.assign-author.multiple-assign-author .multiple-assign .profile-wrapper.assignAuthorProfile .author-image.author-thumb {
  .userpopupWrapper {
    table tbody tr:nth-of-type(odd),
    table tbody td,
    table tbody tr {
    .campaign-brief-detail p{
      white-space: pre-wrap;
    }
  }
 }
}
.assign-author.multiple-assign-author  .multiple-assign .profile-wrapper.assignAuthorProfile  .author-image.author-thumb , .task-assignee-wrapper{
  .userpopupWrapper{
    table  tbody tr:nth-of-type(odd), table tbody td ,  table tbody tr{
      background: transparent !important;
    }
  }
}
@media screen and (min-width:768px) {
.campaignTasksTab .popup-post-wrapper {
  .innerpopup-post-wrapper .post-campaign {
    .post-list-wrapper .author-thumb .userpopupWrapper {
      left: 0;
    }
  }
.innerpopup-post-wrapper>.post-campaign {
    .post-list-wrapper .author-thumb .userpopupWrapper {
      top: 70px;
      left: 0;
    }
  }
 .innerpopup-post-wrapper .post-campaign:last-child() {
    .post-list-wrapper .author-thumb .userpopupWrapper {
      top: auto;
      bottom: 70px;
      left: 0;
    }
  }
}
#feed {
  #post-list-wrapper .post-item-feed .feed-post-item .author-thumb .userpopupWrapper {
    top: 70px;
    left: 0;
  }
 #post-list-wrapper .post-item-feed:last-child() .feed-post-item .author-thumb .userpopupWrapper {
    top: auto;
    bottom: 70px;
    left: 0;
  }
}
}
.feed  .customfeedMain .feedrowremoveicon.department-remove-icon{
    position: relative;
    top: 5px;
}
.feed  .customfeedMain .feedrowname.department-feedname{
    position: relative;
    top:7px;
}
.campaignDetailPage .main-popup-wrapper .listMenu{
    background: transparent;
    margin: 0;
    bordeR: 0;
}
.mailPopupContainerWrapper .editMailPopupWrapper{
  margin:0 -20px;
  padding: 20px 0;
  margin-bottom: 30px;
  border-top:1px solid #e7e5e5;
}
.mailPopupContainerWrapper .editMailPopupWrapper .innerEditMailPopup{
  padding:0 20px;
}
#campaign-posts .dropdown-menu.checkboxDropdown.show,.production-view-wrapper .dropdown-menu.checkboxDropdown.show,#campaign-details .dropdown-menu.checkboxDropdown.show{
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}
#campaign-details .schedulePostPopupColumnWrapper .author-thumb .userpopupWrapper{
  left:0;
}
.taskAssignTo.task-assignee-wrapper .userThumb{
  position: relative;
}
.mention-input-wrapper__suggestions{
  // left:91px;
  left:0;
  top:26px !important;
}
.campaignCommentsSection .mention-input-wrapper__suggestions{
  top: 30px !important;
}
.messageCommentBtn{
  .submit-btn-cmt{
    margin-right:10px;
  }
}
.end-date.contentMailcheck.disabledInput{
  cursor: not-allowed;
}
.email-checkbox{
  margin-bottom:10px;
  .checkbox{
    display: inline-block;
    position: relative;
    top: 2px;
    margin-bottom: 0;
  }
  label{
    display: inline-block;
  }
}
.content-project-main-wrapper.content-project-main.email-content-project-main{
   .detailCampaignHeader .detailCampaignTitle .campaignTitleWrapper{
     i{
       top: 2px;
     }
   }
}
.right-btn .save-btn.email-btn-add-user{
  margin-right:10px
}
#emailWrapper{
  .inner-pdf-wrapper{
    padding:0;
    transform: scale(1);
    transform-origin: 0 0;
  }
  table{
    width:100% !important;
  }
}
.content-project-main-wrapper.content-project-main.email-content-project-main{
  .campaignMeta.clearfix ,.campaignMetaLeft.clearfix{
      overflow: visible;
  }
  .memberfeed{
     padding-bottom:90px;
     .guest-email-validation{
      position: relative;
      top: -12px;
     }
     .user-tag-editor .viewper{
      font-weight: 300 !important;
      font-size: 13px !important;
     }
  }
 .createCustomfeedpopup  .multiple_emails-email span{
  display: inline-block;
  padding: 2px;
  margin: 0 !important;
  }
  .side-popup .feedDetailCover #close-popup, .popup-center-wrapper .feedDetailCover #close-popup{
    top:6px;
  }
}
.mailPopupContainerWrapper .hideBottomBorder{
  border-bottom:0 ;
  padding: 0;
}
//segmentation
.userListSegmentation ,.campaignSegmetationRightInner{
  .header{
    padding:15px;
    border-bottom: 1px solid #e2e1e1;
    position: relative;
      .title{
          font-size:12px;
          font-weight: 400;
          color:#1c1c1c;
          text-transform:uppercase;
      }
      .action-button{
        position: absolute;
        right:14px;
        top: 0;
        margin-top:6px;
        i{
           color:$theme;
         }
      }
   }
}
.userListSegmentation{
   margin-bottom:50px;
   background:$white;
}
.heatMap.segment-list.author-thumb{
  position: relative;
  margin-right: 10px;
  .userpopupWrapper{
    left: 0;
    top: 0;
    margin-top:50px;
    @media all and (max-width:767px) {
     margin-top: 0px;
    }
  }
}
.selectize-input {
  option {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.focus {
    option{
      display: -moz-inline-stack;
      display: inline-block;
    }
  }
}
.CampaignSegmentationColumnWrapper{
  .campaignSegmentstitle{
    padding:15px 0;
    border-bottom: 1px solid #e2e1e1;
    margin-bottom: 10px;
    span{
        font-size:12px;
        font-weight: 400;
        color:#1c1c1c;
        text-transform:uppercase;
    }
  }
.campaignSegmetationSidebarList{
   ul li{
     padding:12px;
     cursor: pointer;
     position: relative;
     .recent-segments-title{
      font-size:14px;
      font-weight:300;
      color:$primary;
      line-height: 20px;
      display: block;
      padding-right: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
     }
     .date{
      font-size:10px;
      font-weight:300;
      color:$default-text;
      line-height: 16px;
      display:block;
     }
     .addIcon{
      position: absolute;
      right: 8px;
      top: 50%;
      margin-top: -18px;
      i{
        color:$primary;
        font-weight: 300;
      }
     }
   }
 }
}
.CampaignSegmentationWrapper{
  .campaignSegmetationLeft{
    padding:20px;
    .inner-campaign-Segmetation-Left{
      border:1px solid #e2e1e1;
      padding:15px;
    }
    .campaignSegmetationSidebarList{
      overflow: hidden;
      max-height:250px;
      overflow-y: auto;
    }
    ul li{
      padding:5px 0;
    }
  }
}
.details-mail{
  .email-form-subject, .email-form-email_preview{
    font-size:14px;
    font-weight:300;
    line-height: 20px;
    color:$color-heading-text;
    display: block;
  }
  .value-text,.email-from_email{
    font-size:14px;
    font-weight:300;
    line-height: 20px;
    color:$primary;
  }

}
.user-email-cmp{
  text-transform: lowercase;
  color:$primary;
  font-weight: 300;
  font-size:14px;
}
.campaignDetailPage .main-popup-wrapper .listMenu{
  background: #f6f6f6;
  margin-bottom: 10px;
}
.campaignSegmetationSidebarList .recent-segments-no-post{
  font-size:14px;
}
.campaignCommentsSection .messsageBox .messageDesc{
  white-space: pre-line;
  word-break: break-all;
}
.segment-list-wrapper{
  .segmentDataRemove{
    padding:8.4px;
 }
}

.popup-center-wrapper .createSegmentSection .SegmentsSection  .listMenu .nav-side li a{
   padding: 10px 0;
}
.overview-parent-container-wrapper .inner-pdf-wrapper table{
      transform: scale(0.1) !important;
    transform-origin: 0 0 !important;
}
.segment-list-wrapper{ 
  .post{
  margin-bottom: 0px;
}
.post .author-thumb{
width:auto;
height:auto;
background: none;
}
}
.campaign-count svg{
  display: unset;
  fill:$white;
}
.camapign-event-wrapper{
  position: relative;
  display: inline-block;
  .dropdown-toggle:after{
    position: absolute;
    top: 10px;
    right: 16px;
  }
  #campEventType{
    padding: 0px 30px 0px 16px;
    color: #1c1c1c !important;
    font-weight: 500;
    &:focus{
      border-color: none;
    }
  }
}
.info-svg, .event-svg{
  fill: $white;
}
.eventIcon svg{
    width: 18px !important;
    position: absolute;
    right: -28px !important;
    top: 3px !important;
}
.calendar-event-wrapper .calendar-event-title{
  font-size: 10px;
    position: relative;
    padding-right: 0px;
    display: inline-flex;
    overflow: initial;
    max-width: initial;
    .infoIcon{
      width: 15px;
    position: absolute;
    right: -27px;
    top: -3px;
    }
  svg{
    width:15px;
  }
}
.calender-social-icon .material-icons{
  font-size: 18px;
  line-height: 24px;
  color: $theme;
  padding-left: 4px;
} 
.camapign-calender-popup {
  .campaign-count-wrapper{
  color: $color-heading-text;
  position: inherit;
  padding-left: 0px;
}
.campaign-count{
  color: $color-heading-text;
  margin-right: 10px;
  svg{
    fill:$color-heading-text;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    padding-right: 5px;
  }
  i {
    font-size: 20px;
    line-height: 16px;
    vertical-align: -4px;
    padding-right: 5px;
    cursor: default;
}
}
.seeMoreSection{
  padding:10px 0px;
  padding-top: 20px;
  padding-bottom: 0px;
}
}
#campaign-table td .campaignTdDiv {
  padding: 20px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media all and (max-width:1100px) {
  #campaigns .CampaignList .tableFilterDropdown{
  float: none;
  margin-bottom: 20px;
}
#campaigns .CampaignList .tableFilterDropdown:nth-child(1){
  float: none;
  margin-bottom: -15px;
}
}
@media (max-width: 767px)
{
#campaigns .viewBtns {
    position: absolute;
    left: 84px;
    top: -14px;
    margin-left: 15px;
    margin-top: 15px;
}
.calendar-dropdown.campaignDropdown .campaignCalBtns .calendarNavTitleWrapper{
  margin-top: 0px !important;
}
.calendar-dropdown.campaignDropdown .calender-nav-btns-wrapper{
  margin-bottom: 17px;
}
.bigCalendar-calendarview.campaignList .rbc-btn-group{
  display: none;
}
}

// campign calender view button css
.calendar-dropdown.campaignDropdown{
  position: initial;
  margin-bottom: 20px;
  margin-top: 15px;
}
.rbc-event.campaign-event{
  background: $grey-button;
}
.rbc-event.campaign-event:hover{
  background: $defult-light-text;
}