// Content
//
$lableWidth:200px;

// Header
//
.header {

 

  .dd-menu {
    margin-left: auto;

  }
  .header-right-inner{
    padding:5px 30px;
    border-bottom: 1px solid #f1f1f1;
    min-height: 47px;
    background: $white;
    h1{float: left;}
  }
  @media all and (max-width:767px)
  {
    .header-right-inner{
      padding:0 15px;
      background: none;
      border-bottom:0;
      height:40px;
    }
  }
  .header-inner {
    color:$color-heading-text;
    position: relative;
    .heading-right{
      p{
        color:white;
        font-size: 20px;
        font-weight: $font-reguler;
        width:20%;
        float:left;
        margin:5px;
      }
    }

    .dd-menu {
      float: right;
    }
    .device_support_dropdown i{
      margin-top: 4px;
      font-size: 23px;
    }
    .context-menu {
      margin-right: 6px;
      margin-top:3px;

      li a {

        &:after {
          content: "";
        }
        .fa {
          font-size: 20px;
        }
      }

      >li{
        > a{
          background: transparent;
         
          > i{
            top: 1px;
            position: relative;
            right: -5px;
          }
          &.dropdown-toggle
          {
            @include border-radius(30px);
            width: 30px;
            height: 30px;
          }
          &.dropdown-toggle.active,&.dropdown-toggle:hover
          {
            color:$theme;
            background-color:$dots-hover;
          }
        }

      }

    }
  }

  // Mobile Nav Link
  //
  a.mobile-nav {
    float: left;
    margin-right: 2rem;
    color: $white;
    @include bp(sm){
      display: none;
    }
  }
  // Heading
  //
  h1 {
    i {
      font-size: 28px;
      margin-right: .5rem;
    }
    .breadcrumb {
      a {
        color: inherit;
        transition: all 0.1s ease;
        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
  // widget Heading
  //

  // Buttons
  //
  a.btn,
  .btn,
  input[type="submit"],
  button {
    margin-bottom: 0;
    background-color: $theme;
    background: #F4F5F7;
    color:$color-heading-text;
     &:hover{
      background: #EBECF0;
  }
  }


  // Buttons Groups
  //
  .btn-group {
    margin-right: 1rem;
  }
}

#content {
  padding: 0;
  width: 100%;
  outline: 0;
  display: block;
  z-index:1;
  transition: all 0s ease;
  @include bp(sm){
    padding: 0 0 0 280px;
  }
  .page {
    > .content {
      position: relative;
    }
    .content {

      @media all and (max-width:767px)
      {
        padding:15px;
      }

      // Widget
      .widget {

        // box-shadow: 0 1px 3px darken($light,10%);
        // Section
        //
        .section {
          padding: 20px 20px 10px;
          border-bottom: 1px solid darken($light,3%);
          &:last-child {
            border-bottom: none;
          }

          // Horizontal Rules
          //
          hr {
            border-color: lighten($border-color,5%);
            width: calc(100% + 40px);
            margin: 10px -20px 30px;
          }

          // Labels
          //
          span.label {
            float: left;
            margin: 0 5px 5px 0;
          }

          // List Menu
          //
          ul.list-menu {
            float: left;
            clear: both;
            width: 100%;
            margin-bottom: 10px;
            list-style-type: none;

            li {
              float: left;
              height: 30px;
              clear: both;
              width: 100%;
              cursor: grab;
              margin-bottom: 0;
              display: flex;
              align-items: center;
              transition: all .15s ease-in-out;

              &.sub {
                width: calc(100% - 20px);
                margin: 0 0 0 20px;
              }

              i.fa {
                color: darken($light,15%);
                flex: 0 0 auto;
                margin-right: 1rem;
                text-align: center;
                width: 20px;
                transition: all .05s ease-in-out;
              }

              &:hover {

                background: lighten($light,5%);
              }

              &:active {
                color: $white;
                background: lighten($theme,0%);
                transition: all .05s ease-in-out;

                i.fa {
                  color: inherit;
                }
              }
            }
          }
        }
        // Heading
        //

      }

      // Main Conent
      //
      main {
        @include span(12 of 12);
        // Has Default Sidebar (Left)
        &.has-aside {
          @include span(12 of 12);
          @include bp(md){
            @include span(8 of 12);
          }
        }
        &.has-aside-right {
          @include span(12 of 12);
          @include bp(md){
            @include span(8 of 12 last);
          }
          + aside {
            @include span(12 of 12);
            @include bp(md){
              @include span(4 of 12);
            }
          }
        }
      }

      // Sidebar
      //
      aside {
        @include span(12 of 12);
        @include bp(md){
          @include span(4 of 12 last);
        }
        &.third {
          @include bp(sm){
            @include span(4 of 12);
            &.third--last {
              @include span(4 of 12 last);
            }
          }
        }
        // Widget
        .widget {
          background: lighten($light,6%);

          // No Theme
          //
          &.no-theme {
            background: transparent;
            box-shadow: none;
          }

          // Inline Labels (Badges)
          //
          span.label {
            // Preview
            &.preview {
              padding-right: .5em;
              background: darken($light,10%);
            }
          }

          // Forms
          //
          .form-row.checkbox {
            display: flex;
            // Icons
            a.icon {
              margin-left: auto;
              font-size: 18px;
            }
          }

          // Form Labels
          //
          label {
            display: flex;
            // Link
            a.link {
              flex: 1 0 auto;
              font-weight: 400;
              text-align: right;
            }
          }
        }
      }
    }
  }

}



.widget{margin-bottom: 30px;
  padding: 20px;
  background: $white;
  border: 1px solid #e3e3e3;
  @media all and (max-width:767px)
  {
    margin-bottom:15px;
  }
}

.content {padding:30px;}

  .heading {
    margin-bottom: 15px;
    padding-bottom:15px;
    border-bottom: 1px solid darken($light,3%);
    // Headings
    h1, h2, h3, h4, h5 {
      font-size:$font-title;
      font-weight: 400;
      color: $color-heading-text;
      text-transform: uppercase;
      margin: 0;
    }
    .heading-left {
      display: inline-block;
      float: left;
    }
    .heading-right {
      display: inline-block;
      float: right;
      font-weight: 300;
      text-align: right;
      font-style: 16px;
    }
    // Heading Link
    a.link {
      font-weight: 400;
      flex: 0 0 auto;
    }
  }





.basic-layout {
  #content {
    padding-left: 0;
    .page {
      .header {
        left: 0;
      }
    }
  }
  .esc {
    &.narrow {
      max-width: 770px;
    }
  }
}
//404 page
.four0four{
  background:$white;
  height: 100vh;
  max-height: 100%;
  .girls-banner-image{
    position: absolute;
    top:50%;
    left:0;
    margin-top:-73px;
  }
  .page-404{
      padding:0 20px;
      padding-top:170px;
      background-color:$white;
      position: relative;
  }
  .content-page-404{
     text-align: center;
    .Error-404-msg{
      font-weight:$font-medium;
      font-size:$font-size-28;
      color:$primary;
      line-height:33px;
      margin-bottom: 50px;
    }
  }
  .page-not-found-image{
    width: 458px;
    max-width: 100%;
    margin: 0 auto;
    img{
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .go-to-feed-button{
    margin-top:50px;
    a{
      display: block;
      height: 58px;
      line-height: 56px;
      font-size: $button-text;
      text-transform: capitalize;
      background:$primary;
      border: 1px solid $primary;;
      text-align: center;
      margin-bottom: 8px;
      position: relative;
      color:$white;
      max-width:254px;
      margin:0 auto;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -o-border-radius: 2px;
      -ms-border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
      cursor: pointer;
      font-weight: 500;
      text-decoration: none;
    }
  }
}
@media all and (max-width:1200px){
  .four0four{
    .girls-banner-image{display: none;}
  }
}

@media all and (max-width:767px){
  .four0four{
    .page-404{
      padding-top:65px;
      .content-page-404{
        .Error-404-msg{
          font-size:$font-size-19;
        }
        .page-not-found-image{
          width:328px;
        }
      }
     }
  }
}
.load-more {
  top: -40px;
  position: relative;
  clear: left;
  text-align: center;
  padding-bottom: 45px;
  &-btn {
    border: 2px solid $theme;
    border-radius: 50%;
    height: 50px;
    text-align: center;
    width: 50px;
    color: $theme;
    //font-weight: 300;
    position: relative;
    margin-top: 25px;
    background: transparent;
    &:before {
      content: "...";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      line-height: 38px;
      font-size: 18px;
      //font-weight: 300;
    }
    &:hover {
      background-color: $theme;
      color: $white;
     //font-weight: 300;
      /* &:before {
        content: "...";
      } */
    }
  }
}

.dataRow{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
    &.top{
      align-items: normal;
    }
  .label{
    float: left;
    width: $lableWidth;
    margin-bottom: 0;
  }
  .value{
    float: left;
    width:100%;
    margin-left:-$lableWidth;
    padding-left:$lableWidth+20;
    white-space: pre-wrap;
  }
  .social-checkboxes{
    display: flex;
  }
}
