.create_post_heading{background:$primary;padding: 4px 10px; }
.create_post_heading h2{margin-bottom:0;color:$white;font-size:13px;line-height:20px;font-weight:$font-medium;text-transform: uppercase;    white-space: nowrap; text-overflow: ellipsis;max-width: 300px;overflow: hidden;}
.write_post{position:relative; cursor: default; z-index:1;}
.write_post_inner{background: $white;position: relative;z-index: 1;padding: 9px 14px 7px;}
.write_post:before{content:'';display:block;position:absolute;left: 10px;top: 9px;right: 10px;bottom:0;box-shadow:0 0 5px 1px $user-dots-hover; -webkit-box-shadow: 0 0 26px -2px rgba(0, 0, 0, 0.63);-o-box-shadow:0 0 5px 1px $user-dots-hover ; -moz-box-shadow:0 0 5px 1px $user-dots-hover; z-index: 1;}
.write_post textarea{
    resize: none;
    border: 0;
    border-radius: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
    height: 29px;
    overflow: hidden;
    background: none;
}
.createPostUserThumbnail{
    background-size: cover;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-position: center;
    float:left;
    position: relative;
    z-index: 1;
    border: 1px solid $input-border
    }
.createPostTextareaWrapper{float: left;width: 100%;margin-left:-32px;padding-left: 42px !important;font-size:13px;font-weight:$font-light; padding-top:5px;}

// #post-creation{position: absolute;left:50%;top: 90px;margin-left: -458px;z-index: 81;width: 640px;background: $white;}
.post-creation-wrapper .heading{padding: 14px 10px 13px;margin-bottom: 5px;}
.post-creation-wrapper .heading:before, .post-creation-wrapper .heading:after{content:''; display:table;}
.post-creation-wrapper .heading:after{clear:both; zoom:1;}
.post-creation-wrapper .heading h3{float:left;line-height: 21px; font-size:$heading ; font-weight:$font-reguler;}
.post-creation-wrapper .heading button{float:right;height: 30px;margin-bottom: 0;margin-top: -8px;padding: 0;width: 30px;margin-right: 10px;border-radius: 30px;-webkit-border-radius: 30px;-o-border-radius: 30px;-ms-border-radius: 30px;-moz-border-radius: 30px;}
.post-creation-wrapper .channel-type-label-wrapper{float:left;margin-right:10px;margin-top: 10px;}
.post-creation-wrapper .social-checkbox-wrapper{margin:0;}
.post-creation-wrapper .bottom-left-buttons .btn{
    vertical-align: middle;
}
.post-creation-wrapper .bottom-left-buttons .btn i{vertical-align: middle;margin-right: 5px;}
.createPostTextareaButtonWrapper{position: absolute;right: 20px;bottom: 10px;}
.createPostTextareaButtonWrapper .emojiBtn{color:$grey-button;}
.createPostTextareaButtonWrapper .utmlinkBtn{color:$grey-button;}
.createPostPopupOverlay{position: fixed;top:0;bottom:0;left:0;right:0;background: rgba(0,0,0,0.5);z-index: 80;}
.post-creation-wrapper #post-creation .post-details-main{height:auto;margin-bottom: 0;}

.popup-close-btn{
    float: right;
    height: 30px;
    margin-bottom: 0;
    margin-top: 9px;
    padding: 0;
    width: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
    -moz-border-radius: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}
.heading .popup-close-btn{margin-top: -5px;margin-right: 0;}
.popup-close-btn i{
    margin-top: 3px;
}
.popup-close-btn:hover{
    background: #f8f8f8;
}

.selectAssetTabWrapper{border-bottom:1px solid $tab_border}

.selectAssetTabs{float:left;}
.selectAssetTabs a{font-size:$normal-text;line-height: 20px;color:$color-heading-text;font-weight: $font-reguler;text-transform: unset;width: 160px;display: block;float: left;line-height: 50px;text-align: center;text-transform: uppercase;position:relative;text-decoration: none !important;}
.selectAssetTabs a:before{content:''; position:absolute; left:0; right:0; bottom:-1px; height:1px;}
.selectAssetTabs a.active{background:$white;font-weight: $font-reguler;}
.selectAssetTabs a.upload-assets-tab{border-right:1px solid #e7e5e5}
.selectAssetTabs a.active:before{background:$white;}
.createPostAssetRadios{border-bottom: 1px solid $tab_border; margin-bottom: 0;padding-bottom: 16px;}
.createPostAssetRadios li{float:left;margin-right: 15px;}
.createPostAssetRadios li:last-child{margin-right:0;}
.createPostAssetRadios li a{font-size:14px;line-height:20px;color:$color-heading-text;font-weight:500;text-transform:uppercase;display:block;padding-left:20px;text-decoration: none;position: relative;}
.createPostAssetRadios li a.active{
    color: $primary;
    font-size:$normal-text;
    font-weight:$font-reguler;
 }
.selectAssetTabWrapper{
    .asset-lib.active{
        border-right: 1px solid #e6e5e5;
    }
    .uploded-assets.active{
        border-left: 1px solid #e6e5e5;
    }
}

.radioCircle{
    position: absolute;
    top: 4px;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: $white;
    border: 1px solid #ccc;
    border-radius: 50%;
    }
.radioCircle:before{
    content:'';
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $primary;
    opacity: 0;
    position: absolute;
}
.createPostAssetRadios li a.active .radioCircle{border-color:$primary}
.createPostAssetRadios li a.active .radioCircle:before{opacity: 1;}

.postsMediaUI .createPostAssetTabContainer .archive-container .imgwrapper, .postsMediaUI .createPostAssetTabContainer .archive-container .asset-dir{width:33.3%}
.postsMediaUI .action-buttons{position: relative;z-index: 1;}
.uploadAssetWrapper .postsMediaUI .action-buttons{display: none;}
.postsMediaUI .createPostAssetTabContainer{height: auto;padding-top: 10px;}
// .postsMediaUI .createPostTabContainer{margin:10px 0;max-height: calc(100vh - 242px);overflow-y: auto;position: relative;z-index: 1;}
.uploadAssetWrapper .postsMediaUI .createPostTabContainer{max-height:none;}
.postsMediaUI .createPostUploadAssetSection{height:auto;}
.postsMediaUI .dropzoneUpload:last-child, .postsMediaUI form{margin-bottom: 0;}

.giphy-popup{position: absolute;width: 285px;left:262px; top: 11px;margin-left: -154px; background: $white;z-index:6;margin-bottom: 50px;}
.create-post-gipghy-wrapper{background:$white;border-radius: 5px;box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);}
.giphy-popup .create-post-gipghy-wrapper .imgwrapper{width:50%;padding: 5px;}
.giphy-popup .RTdSn .bzojac .ciFBQa{
    max-height: 180px;
}
.create-post-gipghy-wrapper:before{content:'';display:block;position:absolute;left: 50px;top: -11px;border-bottom: 11px solid #dddddd;border-left:9px solid transparent;border-right:9px solid transparent;}
.giphy-popup .popupDescSection{padding: 10px;}
.giphy-popup .giphy_button{padding-top:10px;}
.giphy-popup .RTdSn .bzojac .ciFBQa{margin: 0 -5px;}
.rc-time-picker-panel .rc-time-picker-panel-inner .rc-time-picker-panel-combobox .rc-time-picker-panel-select{
    max-height: 200px;
    overflow: auto;
}
.schedule-popup{position: absolute;left:234px;padding-bottom: 20px;top:11px;z-index:6;}
.schedule-popup .post-details-scheduler{float:none;width:auto;background: $white;border-radius: 5px;box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);padding: 10px;max-width: 285px;}
.schedule-popup .post-details-scheduler:before{    content: '';
    display: block;
    position: absolute;
    left: 50px;
    top: -11px;
    border-bottom: 11px solid #dddddd;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;}
.emojiPopup{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -76px;
    z-index: 99;
    margin-right: -12px;
}
.emojiPopup .emojiPicker{
    position: relative;
    top:0;
}
.emojiPopup .emojiPicker:before{left:auto;right: 21px;}
/* Responsive starts */
@media all and (max-width:1024px){
    .createPostMainContainer .giphy-popup{
         left:152px;
    }
    .createPostMainContainer  .schedule-popup{
        left:43px;
     }
     .value-popup-in-feed{
         width:241px;
     }
}

@media all and (max-width:767px){
    .createPostMainContainer .Create-post-wrap-container .bottom-left-buttons i{margin-top:6px;}
    .createPostMainContainer .Create-post-wrap-container .bottom-left-buttons .gif-button i{margin-top:0;}
}
@media all and (max-width:479px){
.postsMediaUI .createPostAssetTabContainer .archive-container .imgwrapper, .postsMediaUI .createPostAssetTabContainer .archive-container .asset-dir{width:auto}
.selectAssetTabs a{font-size: $date-text; width: 130px;}
.createPostMainContainer  .schedule-popup{left:-14px;}
.schedule-popup .post-details-scheduler:before{left:107px}
}
/* Responsive ends */


//add by kinjal
.createPostMainContainer .Create-post-wrap{
    overflow: hidden;
    overflow-y: auto;
}
.overlayForFeedPopup{
    overflow: hidden;
    .overlay-feed{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        z-index: 79;
    }
}

@media all and (max-width:767px){
    .popup-container{
        height: 100%;
    }
}
.createPostMainContainer{
    .Create-post-wrap-container{
        width: 665px;
        max-width: 100%;
        margin: 75px auto;
        position: relative;
        @media all and (max-width:767px){
            width: 100%;
            margin:0;
            height:auto;
        }
     }
    .post-details-main {
        height:auto;
        max-height:auto;
    }
    .emojiBtn{
        position: absolute;
        right: 0;
        bottom: -10px;
        background: none !important;
        margin-right: -8px;
        z-index:1;

    }
    .utmlinkBtn{
        position: absolute;
        right: 0;
        bottom: -10px;
        background: none !important;
        margin-right: -8px;
        z-index:1;
    }

    .btn.emojiBtn.btn-primary{
      color:$primary;
    }
    .btn.emojiBtn.btn-theme{
        color:$grey-button;
    }

    .btn.utmlinkBtn.btn-primary{
        color:$primary;
      }
      .btn.utmlinkBtn.btn-theme{
          color:$grey-button;
      }
    .uploded-assets{
        border-right: 1px solid $tab_border
    }
   .createPostWrapper .selected-assets{
        margin-right:15px !important;
        margin-bottom: 10px;
    }
.uploadedAssets{
        .selected-assets{
           margin-bottom:0;
        }
    }
    #twiter_limit_count{
        position: absolute;
        right: 0;
        z-index: 1;
        margin-right: 78px;
        bottom: 0;
        margin-bottom: 8px;
    }
}
.create_post{
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
}
.popup-container{
    position: relative;
}



.createPostWrapper{
    .popupDescSection{
        padding:15px 20px 0;
        max-height:none;
    }
    .mention-input-wrapper__highlighter textarea{
         -webkit-appearance: none;
         appearance: none;
         -moz-appearance: none;

    }
    textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus {
        outline:0px !important;
    }
    .mention-input-wrapper textarea:focus{
        border-color:transparent !important;
    }
}
//selecte assets
.createPostMainContainer .selectAssetPopup,{
   .section,form{
    display: none;
    }
} 
.GoogleDrive .createPostWrapper form ,{
    display: none;
}
.createPostMainContainer .uploadedAssets ,.GoogleDrive{
   form .popupDescSection,.heading{
       display: none;
   }
}
.side-popup.stickyfeed{
    position: fixed !important;
    top: 70px;
    margin-left: -317px;
}
@media all and (max-width:1260px) and (min-width:1089px){
    .side-popup.stickyfeed{
        margin-left:-234px;
    }
}
@media all and (max-width:1088px) and (min-width:769px){
    .side-popup.stickyfeed{
        margin-left:-176px;
    }
}
@media all and (max-width:768px){
    .side-popup.stickyfeed{
        margin-left: -461px ;
        top:60px;
        margin-right: -3px;
    }
}

@media all and (min-width:768px){
.Create-post-popup-main-container.sticky {
    position: fixed ;
    top: 47px;
    right: -15px;
    left: -10px;
    z-index: 2;
    padding: 10px 0;
    box-shadow: 5 -7px -7px 6px $default-text;

    width: 640px;
    margin: auto;
    .write_post_inner{
        border-bottom: 1px solid #f3f2f2;
        box-shadow: 0px 0px 0px rgba(136,136,136,0.6392156862745098);
     }
}
}
@media all and (max-width:1260px) and (min-width:1089px){
    .Create-post-popup-main-container.sticky  {
        right: 0;
        left: 283px;
        z-index: 2;
        padding: 10px 2px;
        width: 754px;
        margin: auto;

    }
}
@media all and (max-width:1088px) and (min-width:769px){
    .Create-post-popup-main-container.sticky {
    width:auto;
    right: 30px;
    left: 310px;
  }
}
.render-post-feed  .create_post .esc-sm .content{
    padding:30px  30px 0px 30px;
}



@media all and (max-width:767px){
    .Create-post-popup-main-container{left:15px; right:15px; width:auto;margin-top:3px;}
}

//textArea overlay css
.twitter-emoji-container{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 27px;
    margin-bottom: 4px;
    margin-right: 7px;
    background: rgba(288,288,288,0.7)
}
.twiter-emoji-overlay{
  width:60px;
}