#campaign-creation {
	.finishedCreatingCampaign {
		left: 50%;
	    position: absolute;
	    top: 40px;
	    transform: translate(-50%, 0px);
	}

	.btn.btn-selected{
		border:1px solid;
	}

}


#campaign-details{
	.tag{
	    padding: 1px;
	}
	//content class added by disha
	.content{
		// position: relative;
		// top: 10px;
	}
}
.campaign-container{
	

	.campaign-table {
		//.reactable-filterer{display: none;}
	}
}
//add -disha
.finishedUploadingCampaign{
	margin-top: 40px;
}

	#campaign-creation{
    .content{
		.disable-overlay{
			form{
				.section{
					float: none;
					width: 85%;
				}
			}	
		}
    }
  }

 tbody{
	 .__react_component_tooltip.type-warning{
					background:$secondary;
					font-weight: $font-reguler;
                }
 }

#campaign-table th, #campaign-table td{
	line-height: 1.5;
    word-spacing: normal;
}
#campaign-table td{
	padding:0;
	&.avatar{
		.campaignTdDiv{
			padding:5px 10px;		
			.tooltipsharepopup{
				padding:0 5px !important;
			}
			}		
	}
.campaignTdDiv{
padding:20px 10px;		
}
}
@media all and (max-width:979px){
	#campaign-table td .campaignTdDiv{ 
		padding:10px;
	}
	#campaign-table td.channels .campaignTdDiv{
		vertical-align: 1px;
	}
}
.internal_label{
	padding-right: 20px;
}
.social-checkbox.internal{
	padding-right: 28px;
	padding-left: 10px;
}