#asset-creation {
	.step1, .step2 {
		opacity: 0;
		position: relative;
		top: 0;
	}
	.step1 {
		left: -120%;
		right: 120%;
		
	}
  
	.step2 {
		left: 120%;
		right: -120%;
	}
	.step1.active, .step2.active {
		opacity: 1;
		left: 0;
		right: 0;
		z-index: 10;
		position: relative;
		transition: 0.4s ease all;
	}
     
	// .finishedUploadingAsset {
	// 	left: 50%;
	//     position: absolute;
	//     top: 0px;
	//     transform: translate(-50%, 0px) scale(0.65);
	//     z-index: 2;
	//     h4 {
	// 			font-size: 24px;
	// 	    font-weight: $font-reguler;
	// 	    margin-top: 44px;
	//     }
	// }
	.finishedUploadingAsset {
		left: 50%;
		position: absolute;
		transform: translate(-50%, 0px) scale(0.65);
		z-index: 2;
		width: 125%;
		height: auto;
		top: 25%;
		h4 {
				font-size: 22px;
				font-weight: $font-reguler;

			}
	}

	.Select-menu-outer {
		position: relative;
	}

	.assetFormDropzone {
		overflow: hidden;
		max-height: 600px;
		opacity: 1;
		transition: 1s ease all;
	}

	.assetForms {
		img, .doc {
			margin-right: 10px;
		}
		.created {
			opacity: 0.2; 	//modify -disha
			pointer-events: none;
			filter: blur(2px);
			.col-80 {
				//opacity: 0;
			}
		}
	}

	.file-icon {
		border-color: #eaeef2 #eaeef2 rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.35);
	}
	.col-80 {
		width: 80%;
	}

	.col-20 {
		width: 15%;
		.thumb {
			img {
				float: left;
	    		margin: 0 auto 0;
			}
		}

	}
}
.side-popup .imageloader.loaded img{
	background-color: $popup-background
}
#asset-detail {
	.asset-file {
		a.type-doc, a.type-image, a.type-video {
			cursor: default;
    		border-radius: 6px;
    		overflow: hidden;
		}
		a.type-doc {
			display: block;
		    height: 200px;
		    position: relative;
		    width: 100%;
		}
		a.type-image, a.type-video {
			display: block;
			justify-content: center;
			align-items: center;
		    height: 300px;
			min-height: 150px;
			position: relative;
			width: 100%;

		.imageloader.loaded
		{
			display: block;
			.no-img
			{
				width: auto;
				height:auto;
				position: absolute;
				left:0; right:0; top:0; bottom:0;
				p{
					position: absolute;
					left:0; 
					right:0;
					top:50%;
					margin-top:-10px;
					text-align: center;
					text-transform: uppercase;
				}
			}
		}
		}
		
		.thumbnail {
			bottom: 0;
		    left: 0;
		    position: absolute;
		    right: 0;
		    top: 0;
		    background-repeat: no-repeat;
		    background-position: center center;
				background-size: cover;
		   background-position: center;
		}

		video {
			width: 100%;
			height: 100%;
			display: block;
			margin:0 auto;
		}
	}
}
.asset-detail-page
{
	.imageloader.loaded 
	{
		img
		{
			max-height:calc(100vh - 116px); 
			max-width:100%;
			height: auto;
			width:auto;
		}
	}
	.image-load-failed
	{
			text-align: center;
			margin-top: 70px;
			min-width: 300px;
	}
}
.asset-detail-popup #asset-detail .asset-file .thumbnail {
	position: relative;
}
#assetMoveSubActions .disabled,#asset-file-action-popup .disabled{
	pointer-events: none;
	opacity:0.6;         
}