
#vectorcharts-canvas {
  position: relative;
}

.vectorcharts-inner {
  position: relative;
}

.vectorcharts-legend-series {
  cursor: pointer;
}

.vectorcharts-series-collapsed {
  opacity: 0;
}

.inactive-legend {
  opacity: 0.45;
}

.legend-mouseover-active {
  filter: saturate(120%);
}

.legend-mouseover-inactive {
  opacity: 0.25;
}

.vectorcharts-gridline {
  pointer-events: none;
}

.vectorcharts-tooltip {
  background: rgba(255,255,255,0.96);

  border: 1px solid #bbb;
  border-radius: 5px;
  box-shadow: 2px 2px 6px -4px #555;
  cursor: default;
  left: 62px;
  opacity: 0;
  padding: 5px;
  pointer-events: none;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}
.vectorcharts-tooltip .vectorcharts-point, .vectorcharts-area-series .vectorcharts-area, .vectorcharts-line {
  pointer-events: none;
}

.vectorcharts-tooltip.active {
  opacity: 1;
}
.vectorcharts-tooltip-title {
  font-style: italic;
  border-bottom: 1px solid #ddd;
  margin-bottom: 4px;
  padding-bottom: 4px;
  color: #777;
}
.vectorcharts-tooltip-text-value {
  font-weight: 700;
}

/*.vectorcharts-tooltip-series-group {
  opacity: 0;
}
.vectorcharts-tooltip-series-group.active {
  opacity: 1;
}*/
.vectorcharts-xaxistooltip {
  opacity: 0;
  pointer-events: none;
}
.vectorcharts-xaxistooltip.active {
  opacity: 1;
}

#vectorcharts-xcrosshairs {
  pointer-events: none;
  opacity: 0;
}

#vectorcharts-xcrosshairs.active {
  opacity: 1;
}

svg.zoomable #vectorcharts-hoverrect {
  cursor: crosshair
}

.vectorcharts-xaxis, .vectorcharts-yaxis {
  cursor: default;
}

.vectorcharts-zoom-reset-icon {
  stroke: #ddd;
}
.vectorcharts-zoom-reset-icon.active {
  stroke: #8a8a8a; 
}
.vectorcharts-zoom-reset-icon-background {
  stroke: #ccc;
}
.vectorcharts-zoom-reset-icon-background.active {
  stroke: #8a8a8a;
}
.vectorcharts-zoom-reset-group.active {
  cursor: pointer;
}
.vectorcharts-zoom-selection {
  opacity: 0.4;
}

.vectorcharts-pie-label, .vectorcharts-datalabel {
  cursor: default;
  pointer-events: none;
}
.vectorcharts-pie-label-delay {
  opacity: 0;
  animation-name: opaque;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.vectorcharts-showAfterDelay {
  opacity: 0;
  animation-name: opaque;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.vectorcharts-hide .vectorcharts-series-points {
  opacity: 0;
}
.vectorcharts-series-points .vectorcharts-point {
  pointer-events: none;
}

/* points */
.vectorcharts-point {
  opacity: 0.8;
}
.vectorcharts-point-fa {
  position: relative;
}
.vectorcharts-point.animate-point {
  animation: pulseStroke 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite ;
}


@keyframes pulseStroke {
  0%, 100% { stroke-width: 1px;  }
  50% { stroke-width: 6px; }
}


@keyframes opaque {
  0% { opacity:0; }
  100% { opacity:1; }
}
