#custom-feed-popup-user-tag{
    .createPostDescritionWrapper{
        overflow-x: hidden;
        overflow-y: auto;
        background-color: white;
        border: 1px solid $input-border;
        -webkit-border-radius: 0.2rem;
        -moz-border-radius: 0.2rem;
        -ms-border-radius: 0.2rem;
         border-radius: 0.2rem;
    }
    .mention-input-wrapper__control{
       position:relative;
    }
    .form-row ,.mention-input-wrapper{
       position:static !important;
    }
    .mention-input-wrapper__suggestions{
        top: 64% !important;
        margin-left: 28px !important;
        left:0 !important;
    }
   .mention-input-wrapper textarea:focus{
        border-color: transparent;
    }
    .mention-input-wrapper__highlighter{
        min-height:0 !important;
    }
    .mention-input-wrapper__input{
        min-height:0
    }
    .mention-input-wrapper__control{
        border:none !important;
    }
}
.createCustomfeedpopup .heading {
    margin-bottom:0px;
    border-bottom: 1px solid $tab_border;
    padding: 15px;
}
.createCustomfeedpopup.createFeedPopup .nav-side  li a{
   font-size:15px;
}
.createCustomfeedpopup.createFeedPopup .nav-side  li{
    padding-right:71px;
 }
.createFeedPopup{
    width:auto;
    position: relative;
}
.createCustomfeedpopup .heading  h3{
    float: left;
}
.radio{
    float: left;
    margin-top: 0px;
}
.feedname span{
    margin-bottom: 12px;
    font-size: $heading; ;
    line-height: 20px;
    font-weight: 400;
    display: inline-block;
    }
.createCustomfeedpopup .heading button {
    position: absolute;
    right: 7px;
    top: 13px;
    z-index: 50;
    background: transparent;
    padding: 0;
    height: 30px;
    width: 30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    border-radius:30px;
}
.feedUpdatePopupOverlay{position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.feednameEmail label, .label {
   font-size: $heading; ;
    line-height: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 24px;
    color: $color-heading-text;
    display: inline-block;
    transition: color .2s ease-in-out;
}
.sendbtn{
    display: block;
}
.guestEmail span, .usersbox span.users-tag-mention-area-label{
    margin-bottom: 12px;
    font-size: $heading;
    line-height: 20px;
    font-weight: 400;
    display: inline-block;
    color: $color-heading-text;
}
.mention-input-wrapper__suggestions:before {
    content: '';
    display: block;
    position: absolute;
    left: 10px;
    top: -10px;
    border-bottom: 10px solid #ddd;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.settingfeedname span, .radiobtnFeed .radiobtnFeed-label{
    display: flex;
    margin-bottom: 12px;
    font-size: $heading; ;
    line-height: 20px;
    font-weight: 400;
    color: $color-heading-text;
    margin-top: 20px;
}
.radiobtnFeed .radiobtnFeed-label{display: block;
    float: left;
    margin-top: 14px;
}
#setting_walkthrough .feedDetailCover{
    background: none;
}
.editFeedForm .settingfeedname .settingfeednameLabel{margin-top:20px;}
.radiobtnFeed span{margin-right:10px;}
.inviteGuest{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: $normal-text;
    text-transform: uppercase;
}
.inviteGuest h3{font-size: $normal-text;}
.guestEmail .useremailid{
    float: left;
    font-size: $normal-text;
    margin-bottom: 0px;
}
.user-email{
    border: 1px solid $input-border;
    background-color: #f8f8f8;
    display: inline-block;
    margin-right: 5px;
}
.guestEmail .userclear{
    float: left;
    margin-bottom: 0px;
}
.userclear .material-icons{
    font-size:$font-title;
    margin-left: 5px;
    cursor: pointer;
}
.header h1 i {
    font-size: 21px;
    margin-right: .5rem;
}
.add-circle-btn {
    position: absolute;
    top: -3px;
    right: 0;
    padding-right: 24px;
    padding-top: 8px;
    cursor: pointer;
    background: none;
}
.header h1{
    position: relative;
}
.mention-input-wrapper textarea::-webkit-input-placeholder {
    color: #7b7b7b !important;
    }
  .settingfeedname input{
    outline: none;
    display: block;
    font-size: $heading; ;
    font-weight: 300;
    color: $dark-gray;
    margin-bottom: 20px;
    border: 1px solid $input-border;
    padding: 10px 5px;
    border-radius: .2rem;
}
.feedimage img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
}
.feedimage{
    float: left;
    width: 40px !important;
    height: 40px !important;
    display: block !important;
    border-radius: 44px;
    box-shadow: 0 0 0 2px #e5e4e4 !important;

}
.feednameEmail span{

   font-size: $heading; ;
    padding-left: 32px;
    font-family: "Montserrat", Helvetica, sans-serif !important;
    outline: none;
}
.feednameEmail{
    float: left;
}
.feedrow {
    padding-bottom: 12px;
    table{
        width: 100%;
    }
}
.feedDetail{
    margin-top: 20px;
    max-height: 300px;


}

.feedDetailCover{
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    border-bottom: 1px solid $tab_border;
}
.feedDetailCover{
    max-height: calc(100vh - 57px);
    margin: 0 -20px;
    padding: 0 20px 20px;
    background: #f6f6f6;
    border-bottom: 1px solid #e7e5e5;
    border-top: 1px solid #e7e5e5;
}
.inviteGuest span{
   font-size: $heading; ;
}
.sendbtn button{
    display: block;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
   font-size: $heading; ;
    border-radius: .2rem;
    padding: 0 1rem;
    height: 36px;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    color: $white;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background-color: $primary;
    float: right;
}
.updatefeedoverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.5);
}
.feedUpdatePopupOverlay {
    z-index: 79;
}
.planUpdatePopupOverlay{
    z-index: 79;
}

/* media query */
@media screen and (max-width: 1199px) {
   .feedrowname {
        width: 172px !important;
    }
    .feedrowemail {
        width: 266px !important;
   }

}
  @media screen and (max-width: 1090px){
        //    .createFeedPopup {
        //    width: auto;
        //     right: 32px;
        //     left: 311px;
        //    margin-left: 0px;
        //    }
        }
@media screen and (max-width: 767px) {
    .storageAmountMain{
        display: block;
        .storageAmountParent{
            width:auto;
        }
    }
    ::placeholder{
       font-size: $heading;
    }
   .customfeedMain {
       max-width: 100%;
   }
  .add-circle-btn {
       padding-right: 0px;
        padding-top: 15px;
     }
    .createFeedPopup {
       width: auto;
       right:0;
       left: 0;
       margin-left: 0px;
       top:0;
       }
     .feednameEmail label, .label {
         font-size: $normal-text;
     }
    .feednameEmail label, .label {
        font-size: $normal-text;
    }
    .feednameEmail span {
        font-size: $normal-text;
    }
    .heading h1, .heading h2, .heading h3, .heading h4, .heading h5 {
       font-size: $normal-text;
    }
    .listMenu .nav-side li a {
       font-size: $heading; ;
}
.guestEmail textarea {

    font-size: $normal-text;
}
.guestEmail span {
    display: flex;
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: $normal-text;
}
.feedtext span {
    font-size: 13px !important;
}
.header-main {

    z-index: 12;
}
}
@media screen and (max-width: 373px) {
    .feednameEmail label, .label {

        margin-left: 13px;
}
}
.feednameEmail span {
   font-size: $heading; ;
    padding-left: 6px;
}

.feedtext span{
   font-size: $heading; ;
    line-height: 24px;
}
input[type="radio"]{
    position: absolute;
}
input[type="radio"]:checked + label:before {
    background: $white;
    box-shadow: inset 0 0 0 5px $primary
}
input[type="radio"]:checked label:before{
       display: block;
       background: $white;
       box-shadow: inset 0 0 0 5px $primary
}


.radiobtnFeed .customradio:nth-child(2)  .form-row.radio{
    padding-left: 20px;
}

.radiobtnFeed label{
    margin-bottom: 0px;
}
.customradio {

    position: relative;
    padding-left: 0px;

    cursor: pointer;
   font-size: $heading; ;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    margin-top: 19px;
    margin-right: 0px;
    line-height:14px;
}
.form-row.radio label:before, .form_row.radio label:before {

    margin-right: 0.5em;
}

/* Hide the browser's default radio button */
.customradio input {
    cursor: pointer;
}
.form-row.radio label, .form_row.radio label {
    line-height: 0px;
    margin-right: 0px;
}


/* Create a custom radio button */
.customradio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: $white;
    border: 1px solid #ccc;
    border-radius: 50%;
    opacity:1;
    cursor: pointer;
}

/* On mouse-over, add a grey background color */
.customradio:hover input ~ .checkmark {
    background-color: $white;
}

/* When the radio button is checked, add a blue background */
.customradio input:checked ~ .checkmark {

    background-color: white;
    border: 1px solid $primary
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;

}

/* Show the indicator (dot/circle) when checked */
.customradio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.customradio .checkmark:after {
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $primary

}
.feedname{
    width: 100%;
    float: left;
}
.usersbox{
    width: 100%;
    float: left;
}


.deletebtn button{
    display: block;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
   font-size: $heading; ;
    border-radius: .2rem;
    padding: 0 1rem;
    height: 36px;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    color: $white;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background-color: $primary;
    float: left;
}
.deletebtn .material-icons{
    font-size: 17px;
    float: left;
}
.delete-btn{
    color: #ff595e !important;
    float: none !important;
    padding-left: 10px;
}

.guest-email-validation{
    display: none;
    position: relative;
    float: left;
    font-style: normal;
   font-size: $heading; ;
    font-weight: 400;
    width: 50%;
    line-height: 20px;
    color: #ff6503;
}

.feedrowremoveicon button{
    top: 5px;
        z-index: 50;
        background: transparent;
        padding: 0;
        height: 30px;
        width: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px;
    }
    .feedrowremoveicon .material-icons {
    font-size:18px;
    }
    .feedrowimage img{
    width: 100%;
        border-radius: 50%;
        object-fit: cover;
        height: 100%;
        }
        .feedrowimage{
        float: left;
        width: 40px !important;
        height: 40px !important;
        display: block !important;
        border-radius: 44px;
        box-shadow: 0 0 0 2px #e5e4e4 !important;
        }
        .feedrowname{font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 10px;
        color: $color-heading-text;
        display: inline-block;
        transition: color .2s ease-in-out;
        }
        .feedrowemail {
        font-size: $heading; ;
        padding-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        .feedrowmember{
            padding-left: 5px;
            color: $color-heading-text;
        }
        .createCustomfeedpopup .listMenu{
            margin-bottom:0px;
            border-bottom:0;
        }
       

    .update-btn .sendbtn button{
        margin-top:6px;
        }
        .heading .material-icons{
        vertical-align: text-bottom;

        }
        .guestEmail textarea{
            height: 50px;
            resize: none;
        }
        .feedrow td{
            white-space: nowrap;
            padding-bottom: 12px;
            vertical-align: middle;
        }
        .inviteGuest h3{
            font-weight: 400;
        }
        .heading a {
            color: #ff595e !important;
            float: none !important;
            padding-left: 10px;
        }
       .usersbox textarea{
           min-height: 0px !important;
       }
       .viewper{
        color: #ff6503;
        font-size: $normal-text;
        line-height: 13px;
        display: none;
       }
       .user-tag-editor .viewper{
       position: relative;
    float: left;
    font-style: normal;
   font-size: $heading; ;
    font-weight: 400;
    width: 50%;
    color: #ff6503;
    line-height: 20px;
     
}
.createCustomfeedpopup{
    position: relative;
}

