/* General css starts=====*/
#ta{
    position: relative;
}
.guest-user-overlay{
    overflow: hidden;
    height:100vh;
  #content{
      filter: blur(3px)
  }
  .feed   #navdraw{
    z-index:12;
 }
}
#dashborard-popup-wrapper .details-tool-tip-pop-up .scoial-img-popup img{
    cursor: default;
}
.guestUserOverlayText{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -137px;
    width: 300px;
    text-align: center;
    h1,p,button{
        color: $white
    }
}
.overlay-page{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index:4;
    background: rgba(0, 0, 0, 0.6);
}
/* General css ends=====*/


/* Welcome section css stars=====*/
#firstdiv {
    background-color: $white;
    .full-container{
        padding:0 30px;
    }
}
    .welcome-div {
        position: relative;
        h3 {
            font-weight:$font-bold;
            color: $color-heading-text;
            font-size:$font_size_22;
            line-height: 42px;
            margin-bottom:0;
            position: relative;
            text-shadow:3px 5px rgba(239, 239, 239, 0.9);
            @media all and (min-width:921px){
                padding-right: 145px;
            }
            @media all and (max-width:767px) {
                font-size:$big-header;
                line-height: 22px;
                margin-bottom: 5px;
            }

            
        }
        .current-date{
            font-weight:$font-bold;
            color: $color-heading-text;
            font-size:$font_size_22;
            line-height: 42px;
            @media all and (min-width:921px){
                position: absolute;
                right: 0;
                top: 0;
            }
            @media all and (max-width:767px) {
                font-size:$big-header;
                line-height: 22px;
            }
        }
        .username {
            font-size:$font-size-30;
            line-height:48px;
            color: $color-heading-text;
            font-weight:$font-bold;
            text-transform: capitalize;
            text-shadow:3px 5px rgba(239, 239, 239, 0.9);
            @media all and (max-width:920px) {
                font-size:$font-size-44;
            }
        }
        @media all and (max-width:767px) {
            .welcome-div-inner {
                padding: 0;
            }
            
            .username {
                font-size:$font-size-24;
                line-height: 30px;
                margin-bottom: 10px;
            }
        }
        @media all and (max-width:1100px) {
            margin-right: 0;
            padding-right: 0;
            float: none;
            width: auto;
            margin-bottom:0;
        }
    }
/* Welcome section css ends=====*/

/* Culture section starts=====*/
//dashboard analytics design 
#dashboard .culture-dashboard-design-wrapper .culture-score-main-wrapper{
    padding:0;
  }
  @media all and (max-width:1400px) {
  #dashboard{
  .culture-dashboard-design-wrapper{
              .culture-score-main-wrapper,.participation-main-wrapper{
              float:none;
              width:100%;
              max-width:100%;
              margin-bottom: 30px;
              padding:0;
              }
        } 
    }
  }
  @media all and (max-width:767px) {
      
      .culture-participation-mainbox {
          padding: 30px;
      }
     
  }
  @media all and (min-width:861px) and  (max-width:900px) {
      #dashboard   .culture-score-number{
          span{
           font-size:$font-size-92;
          }
      }
   }
/* Culture section ends=====*/

/* Value section starts=====*/
.value-containe-in-dashboard{
    .inner-value-containe-in-dashboard{
      border-bottom:1px solid #e6e7e6;
    }
    .value-details-description{
    }
    .overview-value-details-description{
        max-width: 700px;
        margin-bottom:30px;
        .value-title{
             @include valueContent;
             padding-left:34px;
             position: relative;
            .bold-title{
              @include valueTitle;
            }
            .value-icon{
               position: absolute;
               left:0;
               top:0;
               i{
                   color:$primary;
                   font-size:$font-size-24;
               }
            }
        }
    }
}
.value-details-description{
    padding-bottom: 30px;
    .see-all-text-value{  
        text-align: center;
        margin: 20px;
        text-align: center;
       @media all and (max-width:767px){
            margin-top:0;
        }
        a{
            @include valueContent;
            color:$theme;
            text-decoration: none;
        }
     }
    .value-column{
        @media all and (min-width:768px){
            float: left;
            width: 50%;
            padding:0 24px;
        }

    }
    .list-value1{
        padding-bottom: 20px;
     }
     .value-item-inner{
        border:1px solid #e9e9e9;
        position: relative;
        padding-left:48px;         
     }
    .stroke-img{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height:auto;
        z-index: 1;
        img{
            width:100%;
            height:16px;
        }
    }
    .value-list-container{
         padding:10px;
        .value-list-title{
            @include valueSmallTitle;
            cursor: pointer;
            &.active .ValueListArrow{
                transform: rotate(180deg);
            }
        }
        .value-list-description{
            @include valueContent;
            margin-top: 5px;
            // display: none;
        }
        .ValueListArrow{
            position: absolute;
            right: 10px;
            transform: rotate(0deg);
            transition: all 0.5s ease;
            color:$placeHolder-color;
            text-decoration: none;
            i{
                display: block;
            }
        }
    }
    
    .icon-container{
        width:48px;
        position: relative;
        position: absolute;
        overflow: hidden;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background:$primary;
    
        .icon-of-value{
            position: absolute;
            top: 7px;
            left: 50%;
            color:$white;
            margin-left: -16px;
            width:32px;
            height:32px;
            img{
                width:100%;
                height:100%;
                object-fit: contain;
            }
        }

    }
}
@media all and (max-width:1200px){
   .value-containe-in-dashboard{
       margin-bottom:20px;
       .overview-value-details-description{
           margin-bottom: 30px;
       }
       .overview-value-details-description,.value-details-description{
         float:none;
         width:100%;
        }
    }
}
/* Value section ends=====*/

#dashboard{
    .imageloader.loaded img{
        border:none;
        border-bottom:1px solid #eeeeee;
    }
}
#close-popup:hover{
  background:#f8f8f8;
}
.dashboard-page #navdraw{
     padding-top:0;
}
.center-wrapper-body-container .dashboard-page #navdraw{
    z-index: 2;
}
.storage-device{
     display: none;   //comment by disha
}
.socialShareItem  a i {
     font-size:$button-text;
}
.socialShareItem .fb i,.socialShareItem .li i,.socialShareItem .tw i{
     font-size:$small-text; 
}  
.headerdiv {
    width: 100%; // height: auto;
    min-height: 295px;
    // background: $white;
    .headercolordiv {
        border:1px solid #e3e3e3;
        text-align: center; // background: $primary;
        background-repeat: no-repeat;
        .inner-header {
            // background-color: pink;
            height: 157px;
            overflow: hidden;
            background-image: url("/img/Dashboard-Panels-Final.png");
            background-repeat: no-repeat;
            background-size: cover;
        }
        .post-header-block {
            position: relative;
        }
        .userimage {
            background-image: url("/img/logo.jpg");
            background-color:$white;
            width: 58px;
            height: 58px;
            border-radius: 50%;
            border: 3px solid $white;
            display: inline-flex;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: absolute;
            bottom: -31px;
            left: 50%;
            margin-left: -30px;
            background-position: center center;
            img {
                max-width: 100%;
                height: auto;
                border-radius: 60px;
                -webkit-border-radius: 60px;
                -o-border-radius: 60px;
                -ms-border-radius: 60px;
                -moz-border-radius: 60px;
            }
        }
        .userimage1 {
            background-image: url("/img/logo.jpg");
            background:$white;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 3px solid $white;
            display: inline-flex;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: 24%;
            margin-left: -40px;
        }
        .post-description {
            height: 62px;
            overflow: hidden;
            margin-bottom:15px;
            font-size:$normal-text;
            font-weight:$font-light;
            color:$default-text;
            p{
                font-size:$normal-text;
                font-weight:$font-light;
                color:$default-text; 
            }
        }
        .content,
        .post-content {
            min-height:163px;
            padding: 35px 15px 0;
            background: $white;
            text-align: left;
            p {
                margin: 0;
                a {
                    color: $theme;
                    font-weight:$font-reguler;
                }
                i {
                    font-size:$button-text;
                    position: relative;
                    top: 4px;
                    padding-left: 4px;
                }
            }
        }
        .socialLogo {
            .author-data {
                &.star {
                    .socialIcons {
                        a
                        {
                            &.internal-icon i
                            {
                                font-size:$button-text;
                                line-height: 24px;
                            }
                        }

                    }
                }
            }
        }
        &.internalpost,
        &.internaltoppost {
            background: $dark;
        }
    }
    b {
        text-align: center;
       font-size: $heading; ;
        color: $color-heading-text;
        padding-bottom: 10px;
        display: block;
        padding-top: 35px;
        min-height: 83px;
        font-weight:$font-reguler;
    }
    .headerdiv {
        .headercolordiv {
            text-align: center; // background: $primary;
            background-repeat: no-repeat;
            .inner-header {
                // background-color: pink;
                height: 149px;
                overflow: hidden;
                background-image: url("/img/Dashboard-Panels-Final.png");
                background-repeat: no-repeat;
                background-size: cover;
            }
            .post-header-block {
                position: relative;
            }
            .userimage {
                background-image: url("/img/logo.jpg");
                width: 59px;
                height: 59px;
                border-radius: 50%; // position: relative;
                border: 3px solid $white;
                display: inline-flex;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                position: absolute;
                bottom: -31px;
                left: 50%;
                margin-left: -30px;
            }
            .author-data {
                padding-bottom: 10px;
                background: $white;
                min-height: 54px;
            }
            .userimage1 {
                background-image: url("/img/logo.jpg");
                background:$white;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 3px solid $white;
                display: inline-flex;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                position: absolute;
                top: 24%;
                margin-left: -40px;
            }
            .content {
                min-height: 160px;
                padding: 35px 15px 0;
                background: $white;
                text-align: left;
                p {
                    margin: 0;
                    min-height: 79px;
                    a {
                        color: $theme;
                        font-weight:$font-reguler;
                    }
                    i {
                        font-size:$button-text;
                        position: relative;
                        top: 4px;
                        padding-left: 4px;
                    }
                }
            }
            .socialLogo {
                text-align: center;
                background: $white;
                .author-data {
                    display: inline-flex;
                    .author-meta {
                        min-height: 23px;

                    }

                    &.star {
                        .socialIcons {
                            a {
                                i {
                                    font-size:$font-size-30;
                                }
                                &.internal-icon i
                                {
                                    font-size:$font_size_20;
                                }
                            }

                        }
                    }
                }
            }
            &.internalpost,
            &.internaltoppost {
                background: $dark;
            }
        }
        b {
            text-align: center;
            font-size:$big-header;
            color: $color-heading-text;
            padding-bottom: 10px;
            display: block;
            padding-top: 35px;
        }
    }
}
.post-item {
    float: left;
    width:50%;
    padding: 0 15px;
    @media all and (max-width: 1100px) {
        width: 50%;
    }
    @media all and (max-width:479px) {
        float: none;
        width: auto;
    }
    .post-title {
        color: $color-heading-text;
        font-size: $heading ;
        line-height: 18px;
        font-weight:$font-medium;
        text-align: center;
        margin-bottom: 10px;
    }
    .channel-title {
        font-size:$font-size-10;
        color: $color-heading-text;
        font-weight:$font-reguler;
        position: relative;
        text-align: center;
        max-width: 187px;
        padding-bottom: 11px;
        margin: 0 auto;
    }
    .inner-header1 {
        padding-bottom: 59%;
        height: 0;
        overflow: hidden;
        position: relative;
        .inner-header-img {
            width: 100%;
            min-height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }
        .block-loader {
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        .show-loader+.block-loader {
            opacity: 1;
            visibility: visible;
        }
    }
    .author-data {
        padding-bottom: 10px;
        background: $white;
        min-height: 54px;
    }
    .channel-title:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        height: 1px;
        background: $tab_border;
        margin-top: -6px;
    }
    .channel-title span {
        background: $white;
        position: relative;
        padding: 0 10px;
    }
    .footerdiv {
        background: #e3e3e3;
        min-height: 45px;
        background-repeat: no-repeat;
        padding-top: 16px;
        text-align: center;
        .socialLogo {
            position: relative;
            bottom: 5px;
            width: 100%;
            .post-meta {
                width: 33.3%;
                text-align: center;
                display: inline-block;
            }
        }
        a {
            color: $color-heading-text;
            text-decoration: none;
            i {
                font-size: large;
                top: 5px;
                position: relative;
                color:$defult-light-text;
            }
            span {
                margin-left: 10%;
            }
        }
        &.internalpost {
            background: $primary;
        }
        &.internaltoppost {
            background: $footer-bg;
        }
    }
}

#hot-div-internal-post .post-item {
    padding: 0 4px;
}

.full-container {
    padding: 30px;
    @media all and (max-width: 767px) {
        padding: 0 15px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 15px;
}

.block-loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.block-loader img {
    width: 92px;
    height: 92px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -46px 0 0 -46px;
}

.dashboardlinechart {
    position: relative;
    overflow-x:auto;
    overflow-y: hidden;
}

.dashboardlinechart .chart-wrapper {
    background: $white;
    position: relative;
    z-index: 1;
    padding-top:65px;
}
// @media all and (max-width:767px)
// {
//     .dashboardlinechart .chart-wrapper {
//         padding-bottom:280px;
//         svg{
//             left:-40px;
//             position: relative;
//         }
//     }
// }
.chart-wrapper canvas {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    height: 100% !important;
}
.card-detail p{
    font-size:$normal-text;
}
.dashboard-bottom-title {
    font-size:$normal-text;
    line-height: 20px;
    padding-top: 20px;
    color: $color-heading-text;
    font-weight:$font-reguler;
    text-align: center;
}

.inner-form-row {
    margin-bottom: 20px;
}
.value-details-description.expand-value-list{
    .value-list{
       max-height:100%;
    }
    .see-all-text-value{
        margin-top:0;
    }
}
#dashboard {
    padding: 24px 0 0;
    background-color: $white;
    .welcome-enjoy-text
    {
       font-size: $heading; ;
        line-height: 20px;
    }
    .divlatestPosts {
        width: 100%;
        border: 1px solid rgba(12, 11, 11, 0.15);
        height: 300px;
        float: left;
        margin-right: 5%;
        overflow: scroll;
    }
    .linkright {
        float: right;
    }
    .dashdata h3 {
        margin-top: 5%;
    }
    .dashdata {
        float: left;
        width: 45%;
        margin-top: 2%;
        margin-right: 2%;
    }
    .tableHeader {
        white-space: nowrap;
    }
    .socialIcon {
        width: 80px;
    }
    
    .full-container>.title {
        font-size:$normal-text;
        line-height: 21px;
        color:$normal-font;
       font-weight:$font-reguler;
        padding:15px 30px;
    }

    .chartTitleTabWrapper{
        padding-bottom:30px;
    }
    #reportHighlight {

        position: relative;
        float: right;
        .title {
            font-size:$normal-text;
            line-height: 21px;
            color: $color-heading-text;
           font-weight:$font-reguler;
            margin-bottom: 25px;
            margin-top: 21px;
            @media all and (max-width: 1100px) {
                margin-top: 10px;
                text-align: center;
            }
            @media all and (max-width:1100px) {
                margin-bottom: 0;
            }
        }
        .filters {
            float: right;
        }
        @media all and (max-width:479px) {
            .filters {
                float: none;
                text-align: left;
            }
        }
        .recent-assets-posts-wrapper .clearfix{
            position: relative;
        }
        .col-one-of-four {
            a {
                color: $dark;
                margin-left: 10px;
                text-decoration: none;
               font-weight:$font-reguler;
                padding: 12px 30px 11px;
                display: inline-block;
                border-radius: 2px;
                font-size:$normal-text;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease;
                &.active,
                &:hover {
                    background-color: #F4F5F7;
                }
            }
            @media all and (max-width:767px) {
                a {
                    padding: 12px 10px;
                    margin-right: 5px;
                }
            }
            @media all and (max-width:479px) {
                a {
                    padding: 12px 10px;
                    margin-left:0;
                }
            }
            .title {
                font-weight: initial;
                color: $dark;
                line-height: 4em;
            }
        }
        .reportContent {
            background: none;
            margin: 0 -7px;
            .reportSocial-col {
                width: 20%;
                padding: 7px;
                float: left;
            }
            @media all and (max-width:1100px) {
                .reportSocial-col {
                    width: 50%;
                }
            }
            @media all and (max-width:479px) {
                .reportSocial-col {
                    width: auto;
                    float: none;
                }
            }
            .reportSocial {
                background-repeat: no-repeat; 
                min-height: 230px;
                position: relative;
                overflow: hidden;
                @media all and(max-width: 1100px) {
                    min-height: 0;
                }
                .likediv {
                    border-bottom: 1px solid #dde8ed;
                    width: 100%;
                    height: 47px;
                    background-color: $white;
                    &:last-child {
                        height: 51px;
                    }
                    .likecount {
                        width: 60%;
                        float: left;
                        text-align: center;
                        position: relative;
                        left: 20%;
                        top: 13px;
                        font-size: 20px;
                    }
                    .likelogo {
                        width: 40%;
                        float: left;
                        a {
                            color: #3b5998; 
                            margin-left: 20%;
                            i {
                                font-size: x-large;
                                position: relative;
                                top: 13px;
                            }
                        }
                    }
                }
                &.tw {
                    //  border-bottom: 18px solid $twitter
                    &:before {
                        background: $twitter; //bottom: 65%;
                    }
                    .divBottomcolor {
                        background: $twitter;
                        width: 100%;
                        height: 12px;
                        position: relative; // top: 3px;
                    }
                    b {
                        color: $color-heading-text;
                        text-align: center;
                       font-weight:$font-reguler;
                       font-size: $heading; ;
                        line-height: 20px;
                        display: block;
                        padding-top: 12px;
                    }
                    a {
                        position: absolute;
                        color: $white;
                        i {
                            font-size: 35px;
                            position: relative;
                            top: 4px;
                            left: -5px;
                        }
                    }
                    .likelogo {
                        a {
                            color: $twitter;
                            margin-left: 20%;
                        }
                    }
                }
                &.link {
                    // border-bottom: 18px solid $linkln
                    &:before {
                        background: $lightblue;
                    }
                    .divBottomcolor {
                        background: $lightblue;
                        width: 100%;
                        height: 12px;
                    }
                    a {
                        position: absolute;
                        color: $white;
                        i {
                            font-size: 22px;
                            position: relative;
                            top: 6px;
                        }
                    }
                    .likelogo {
                        a {
                            color: $lightblue;
                            margin-left: 20%;
                        }
                    }
                }
                .divBottomcolor {
                    background: #3b5998;
                    width: 100%;
                    height: 12px;
                }
                a {
                    position: absolute;
                    color: $white;
                }
                a {
                    margin-left: 5%;
                    margin-top: 1%;
                    i {
                        font-size: 32px;
                        position: relative;
                        top: 6px;
                    }
                }
            }
            .reportSocial::before {
                position: absolute;
                content: "";
                width: 170.47px;
                height: 170px;
                border-radius: 50%;
                shape-outside: circle(50% at 0 0) margin-box;
                left: -101px;
                top: -100px;
                background: #3b5998;
            }
            .reportPost-Assetdetail {
                .reportPost-Assetinner {
                    text-align: center;
                    height: 144px;
                    background-color: $white;
                    position: relative;
                    .report-links-wrapper {
                        text-align: center;
                    }
                    h2 {
                        text-align: center;
                        font-size: 50px;
                        font-weight: inherit;
                        color: $dark;
                        line-height: 56px;
                        min-height: 28px;
                        position: relative;
                        margin: 0;
                        padding: 28px 0 17px;
                    } // img{
                    // }
                    a {
                        i {
                            font-size: 30px;
                            color: $green;
                            font-weight: 700;
                            position: relative;
                            top: -2px;
                        }
                    }
                    a.filter-icon {
                        i {
                            font-size: 22px;
                            color: $dark-gray;
                           font-weight:$font-reguler;
                            position: relative;
                            top: -7px;
                            left: -4px;
                        }
                    }
                }
                b {
                    color: $color-heading-text;
                    text-align: center;
                   font-weight:$font-reguler;
                   font-size: $heading; ;
                    line-height: 20px;
                    display: block;
                    padding-top: 12px;
                }
                .divBottomcolor {
                    height: 12px;
                    background: $green;
                }
            }
        }
        @media all and (max-width:479px) {
            float: none;
        }
    }
    .chartdiv {
        background-color: $white;
        .chartinnerdiv {
            position: relative;
            .header-analytics-wrapper{
                 padding:0 0 0 5px;
            }
        }
    }
    .hotdiv {
        @media all and (max-width: 1100px) {
            padding-bottom: 20px;
        }
        .hotinnerdiv {
            min-height: 480px;
            padding-bottom:30px;
            padding-top:0;
            @media all and (max-width: 767px) {
                padding-bottom:0;
            }
            .colHotdiv {
                margin: 0;
                padding: 4px;
                height: auto;
                width: 25%;
                float: left;
                .post-title {
                    color: $color-heading-text;
                    font-size: $date-text;
                    line-height: 18px;
                   font-weight:$font-reguler;
                    text-align: center;
                    margin-bottom: 10px;
                }
                .channel-title {
                    font-size: 10px;
                    color: $date-time-text;
                   font-weight:$font-reguler;
                    position: relative;
                    text-align: center;
                    max-width: 187px;
                    margin: 0 auto;
                }
                .channel-title:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    right: 0;
                    height: 1px;
                    background:$tab_border;
                    margin-top: -1px;
                }
                .channel-title span {
                    background: $white;
                    position: relative;
                    padding: 0 10px;
                }
                .footerdiv {
                    background: $dark;
                    min-height: 45px;
                    background-repeat: no-repeat;
                    padding-top: 16px;
                    .socialLogo {
                        display: flex;
                        position: relative;
                        bottom: 5px;
                        width: 100%;
                        .post-meta {
                            width: 33.3%;
                            text-align: center;
                        }
                    }
                    a {
                        color: $white;
                        i {
                            font-size: large;
                            top: 5px;
                            position: relative;
                        }
                        span {
                            margin-left: 10%;
                        }
                    }
                    &.internalpost {
                        background: $primary;
                    }
                    &.internaltoppost {
                        background: $footer-bg;
                    }
                }
            }
        }
    }
    .contributdiv {
        .inner-contribut.full-container{
            padding-top:0;
        }
        @media all and (max-width: 767px) {
            padding:0;
            margin-bottom: 0;

        }
        .inner-header1 {
            padding-bottom: 0;
            height: 156px;
        }
        .post-item .author-data {
            min-height: 44px;
        }
        .inner-contribut {
            .title {
                 padding:15px 5px;
                @media all and (max-width: 767px) {
                    margin-bottom: 10px;
                }
            }
            .livemap {
                height: 561px;
            }
            @media all and (max-width:767px) {
                .livemap {
                    height: 280px;
                }
            }
            .livemap-wrapper {
                background: $white;
                padding: 25px 40px 31px;
            }
            @media all and (max-width:767px) {
                .title {
                    margin-bottom: 10px;
                }
            }
            .myRecentAssetInner{
                position: absolute;
                top: 50%;
                text-align: center;
                left: 10px;
                right: 10px;
                margin-top: -22px;
            }
            .col-one-of-two {
                width:100%;
                float:none;
                padding:0;
                text-align: center;
                @media all and (max-width:1260px){
                    float: none; width: auto; padding-bottom:15px;
                }
                .Approved-div-asset-block{
                    cursor: pointer;
                    float:left;
                    width:50%;
                    padding:0 15px;
                }
                .approvediv {
                    border:1px solid #e3e3e3;
                    margin-bottom: 11px;
                    position: relative;
                    min-height: 130px;
                    display: flex;
                    
                    @media all and (max-width: 479px) {
                        display: block;
                        margin-bottom: 30px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .file {
                        min-height: 89px;
                        width: 181px;
                        position: relative;
                        z-index: 1;
                        float: left;
                        .fa{
                            bottom:auto;
                            top:50%;
                            margin:-21px 0 0 -18px;
                        }
                    }
                    .file-video {
                        width: 30%;
                        min-height: 70px;
                    }
                    .thumbWrap {
                        float: left;
                        width: 181px;
                        position: relative;
                        //min-height: 150px;
                        &.file-doc {
                            box-shadow: 1px 1px 4px -2px #999;
                        }
                        &.noMedia {
                            img {
                                max-width: 100%;
                                height: auto;
                                display: block;
                            }
                        }
                    }
                    .type-image {
                        position: relative; // min-height: 150px;
                        .thumbnail {
                            background-position: center center;
                            background-size: cover;
                            bottom: 0;
                            left: 0;
                            position: absolute;
                            right: 0;
                            top: 0;
                            z-index: 5;
                            overflow: hidden;
                        }
                    }
                    .assetimage {
                        cursor:pointer;
                        background-image: url("/img/Visibly-dashboard-Final.png");
                        background-color: $primary;
                        background-repeat: no-repeat;
                        background-size: cover;
                        min-height: 89px;
                        width: 181px;
                        position: relative;
                        z-index: 1;
                        float: left;
                        border-right:1px solid #e3e3e3;
                        &.undecide {
                            background-image: url("/img/staff.png");
                        }
                        &.unapprove {
                            background-image: url("/img/1.png");
                        }
                    }
                    .approve-tick {
                        background: $green;
                        width: 120px;
                        min-height: 105px;
                        position: relative;
                        float: left;
                        a {
                            font-size: x-large;
                            color: $white;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            width: 30px;
                            margin: -15px;
                            cursor: pointer;
                            &.ic_remove_circle_outline,
                            &.ic_highlight_off,
                            &.ic_add_circle_outline {
                                i {
                                    text-indent: -80px;
                                    width: 30px;
                                }
                            }
                            i {
                                font-size: 28px;
                            }
                        }
                        &.undecide {
                            background: $secondary;
                            a i {
                                right: -5px;
                            }
                        }
                        &.unapprove {
                            background: $primary;
                        }
                        &.pending {
                            background: $theme;
                        }
                    }

                    .asset-detail {
                        position: relative; //top: 50%;
                        width: 100%; //transform: translateY(-50%);
                        margin: 0 -120px 0 -180px;
                        padding: 0 140px 0 200px;
                        background: $white;
                        float: left;
                        i {
                            position: relative;
                            top:50%;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                            display: block;
                            font-size:$normal-text;
                            line-height: 20px;
                            color:$default-text;
                            font-style: normal;
                            text-align: left;
                            padding-left: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    @media all and (max-width:1300px) {
                        .assetimage, .thumbWrap, .file {
                            width: 130px;
                            background-size: auto 100%;
                            background-position: center;
                        }
                        .asset-detail {
                            margin-left: -130px;
                            padding-left: 140px;
                            padding-right: 110px;
                            word-wrap: break-word;
                            margin-right:-100px;
                        }
                        .approve-tick{
                            width:100px;
                        }
                        @media all and (max-width:479px) {
                            .approve-tick {
                                width: auto;
                                min-height: 45px;
                                float: none;
                            }
                        }
                    }
                    @media all and (max-width:479px) {
                        .assetimage, .thumbWrap, .file {
                            float: none;
                            margin: 0;
                            width: auto;
                            background-size: cover;
                            min-height: 250px;
                        }
                        .asset-detail {
                            margin-left: 0;
                            text-align: center;
                            padding: 10px 10px;
                            float: none;
                            i {
                                text-align: center;
                                top: 0;
                                padding-left: 0;
                                transform: translateY(0);
                            }
                        }
                    }
                }
                b {
                   font-size: $heading; ;
                    line-height: 20px;
                   font-weight:$font-reguler;
                    color: $color-heading-text;
                    display: block;
                    margin-top: 47px;
                }
                @media all and (max-width:767px) {
                    b {
                        margin-top: 10px;
                        margin-bottom: 20px;
                    }
                    &.last b {
                        margin-bottom: 0;
                    }
                }

                .first_content_nodata{
                       min-height:130px !important;
                }
                .second_content_nodata{
                       min-height: 270px !important;
                }

                .text-no-data{
                    padding-top:53px;
                      p{
                        position: relative !important;
                        width: 173px;
                        margin: 0 auto;
                        font-size: $heading !important;
                        padding:0;
                        line-height: 1.5;
                        color:$default-text;
                        font-weight: 300 !important;
                        transform: none !important;
                      }
                      i{
                        font-size:$button-text;
                        position: relative;
                        top: 4px;
                        padding-left: 4px;
                      }
                      .create-assets{
                           color:$theme;
                           position: relative;
                      }
                }
                .text-bg-data{
                      position: absolute;
                      top:50%;
                      padding-top:0;
                }
                .second-text-content{
                       padding-top:25%;
                }

                 .content_nodata {
                    position: relative;
                    min-height: 412px;
                    border: 1px solid #e6e7e6;
                    p {
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        display: block;
                        text-align: center;
                        right: 0;
                        left: 0;
                        font-size:$font_size_22;
                       font-weight:$font-reguler;
                    }
                }
                .sadfacediv {
                    width: 30%;
                    float: left;
                    min-height: 357px;
                    background: $primary;
                    i {
                        font-size:$font-size-40;
                        top: 43%;
                        position: absolute;
                        color: $white;
                        -webkit-transform: translateY(-43%);
                        -ms-transform: translateY(-43%);
                        transform: translateY(-43%);
                        right: 48px;
                    }
                }
            }
            .col-one-of-two.last {
                .post-item {
                    padding: 0 15px;
                    width: 50%;
                    float: left;
                    .hotinnerdiv {
                        position: relative;
                        min-height: 320px;
                        padding-top: 0;
                        .colHotdiv {
                            height: auto;
                            width: 100%;
                        }
                    }
                }
                .single-item {
                    float: none;
                    width: auto;
                }
                @media all and (max-width:479px) {
                    .post-item {
                        width: auto;
                        float: none;
                        margin-bottom:15px;
                    }
                }
            }
        }
    }
    .mapdiv {
         margin-bottom:60px;
        .map-innerdiv .full-container{
            padding:10px 30px;
        }
        // padding: 30px 0;
        @media all and (max-width: 767px) {
            padding-top: 20px;
        }
        .map-innerdiv {
            .title {
                @media all and (max-width: 767px) {
                    margin-bottom: 10px;
                }
            }
            .livemap {
                height: 561px;
            }
            @media all and (max-width:767px) {
                .livemap {
                    height: 280px;
                }
            }
        }
    }
    .storage-device {

        background: $light;
        background: $light;
        padding: 60px 40px 50px 40px;
        @media all and (max-width: 767px) {
            padding: 8px 5px;
        }
        .storage-deviceinner {
            margin: 0 -5px;
            .col-one-of-two {
                text-align: center;
                width: 50%;
                float: left;
                padding: 0 8px;
                margin: 0;
                @media all and (max-width: 979px) {
                    width: auto;
                    float: none;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .storage-inner {
                    text-align: center;
                    background: $white;
                    border-right: 10px solid $primary;
                    min-height: 196px;
                    margin-bottom: 16px;
                    .logo-storage {
                        width: 30%;
                        float: left;
                        height: 98px;
                        padding-top: 83px;
                        a {
                            i {
                                font-size:$font-size-30;
                                line-height: 36px;
                            }
                            &.fb {
                                background: $theme;
                                width: 39px;
                                height: 39px;
                            }
                        }
                    }
                    .storage-bar {
                        display: block;
                        line-height: normal;
                        padding-top: 74px;
                        width: 70%;
                        float: left;
                        padding-left: 12px;
                        padding-right: 12px;
                        em {
                           font-weight:$font-reguler;
                            font-style: normal;
                            font-size:$big-header;
                            display: block;
                            margin-bottom: 9px;
                        }
                    }
                }
                b {
                    color: $dark;
                    font-size:$big-header;
                    line-height: 22px;
                    font-weight: $font-reguler;
                }
            }
            .storage-wrapper {
                .storage-inner {
                    padding-bottom: 0;
                }
            }
            .col-one-of-two.last {
                text-align: center;
                .storage-inner {
                    text-align: center;
                    .circle-chart-wrapper {
                        position: relative;
                        padding-left: 40px;
                    }
                    .circle-chart {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 90px;
                        bottom: 0;
                        >div {
                            left: 50%;
                            margin-left: -47px;
                            position: absolute !important;
                            top: 50%;
                            margin-top: -54px;
                        }
                        @media all and (max-width:1250px) {
                            >div {
                                margin-top: -72px
                            }
                        }
                    }
                    @media all and (max-width:1250px) {
                        .circle-label {
                            display: block;
                            text-align: left;
                            padding-left: 90px;
                        }
                    }
                    .deskdiv,
                    .mobilediv {
                        width: 50%;
                        float: left;
                        height: inherit;
                        @media all and (max-width: 1250px) {
                            width: auto;
                            float: none;
                        }
                        .device-type {
                            min-height: 196px;
                            position: relative;
                            padding-left: 97px;
                            padding-top: 95px;
                            @media all and (max-width: 1250px) {
                                padding: 45px 0 0 0px;
                                min-height: 90px;
                            }
                            .circle-label {
                                font-size:$big-header;
                                line-height: 22px;
                                font-weight:$font-reguler;
                                color: $theme;
                                text-transform: uppercase;
                            }
                            &:after {}
                            &.desktop {
                                .circle-label {
                                    color: $green;
                                }
                                &:after {
                                    //   content: "Desktop";
                                    line-height: 20px;
                                    display: block;
                                }
                            }
                            &.mobile {
                                &:after {
                                    //   content: "Mobile";
                                    line-height: 20px;
                                    display: block;
                                }
                            }
                            i {
                                width: 30%;
                                float: right;
                                color: $green;
                                font-style: initial;
                                font-weight: $font-reguler;
                            }
                            .circletag {
                                width: 30%;
                                margin-top: 10%;
                                margin-left: 20%;
                            }
                            &.mobile {
                                i {
                                    color: $theme;
                                }
                            }
                        }
                    }
                }
                b {
                    color: $dark;
                }
            }
        }
    }
    /** Map widget */
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    .gm-style-iw {
        left: 26px !important;

        & + div{
            right: 6px !important;
            top: 5px !important;
            width: 20px !important;
            height: 20px !important;
            img{
                top: -333px !important;
                left: 1px !important;
            }
        }

        .mainContainer {
            width:300px;
            padding: 17px 0 7px;
        }
        #cn {
            text-align: right;
            padding-right: 10px;
        }
        #banner img {
            height: auto;
            width: 100%;
            margin-bottom: 10px;
        }
        #text-header {
            font-family: Montserrat;
            font-size: 9pt;
            border-radius: 4px;

        }
        #text {
            line-height: 1.2;
            font-size: $date-text;
            color: $color-heading-text;
            word-wrap:break-word;
            margin-bottom: 10px;
        }
        #footer {
            text-align: center;
        }
        #footer_textheader {
            text-align: center;
        }
        .logo {
            color: #353854;
            list-style-position: inside;
            font-size: 1em;
            line-height: 1.4em;
            font-family: inherit;
            padding: 0;
            margin: 0 10px 0 0;
            float: none;
            list-style-type: none;
            display: inline-block;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.map-channels{
    li.channel{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin:0 5px 10px;
    border: 1px solid $input-border;
    -webkit-border-radius: 44px;
    -o-border-radius: 44px;
    -ms-border-radius: 44px;
    -moz-border-radius: 44px;
    background: url(/img/default-avatar.png) no-repeat center center;
    background-size: cover;
    &:last-child{
        margin-right: 0;
    }
        a{
            height: 44px;
            width: 44px;
            display: block;
            padding: 0;
        }
        .mapChannelMainImage{
            width: 100%;
            height: 100%;
            border-radius: 44px !important;
            -webkit-border-radius: 44px !important;
            -o-border-radius: 44px;
            -ms-border-radius: 44px;
            -moz-border-radius: 44px;
        }
        .mapSocialIcon{
            bottom: 1px !important;
            right: -2px !important;
            position: absolute;
            width: 15px;
            height: 15px;
            z-index: 1;
        }
        .mapSocialIconWhiteRound{
            width:12px;
            height:12px;
            background: $white;
            @include border-radius(12px);
            position: absolute;
            right: 0px;
            bottom: 3px;

        }

    }

}
.mapChannelTitle{
    font-size:$font-size-10;
    color: $color-heading-text;
    font-weight:$font-reguler;
    position: relative;
    text-align: center;
    max-width: 187px;
    padding-bottom: 11px;
    margin: 0 auto;
    span{
    background: $white;
    position: relative;
    padding: 0 10px;
}
&:before{
content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    height: 1px;
    background: $tab_border;
    margin-top: -6px;
}
}
.postVideoIconWrapper{
    position: absolute; left:0; top:0; right:0; bottom:0; background: rgba(0,0,0,0.5); text-align: center;cursor: default;
    i{display: block;
        position: absolute;
        z-index: 8;
        top: 50%;
        left: 50%;
        margin-top: -18px;
        margin-left: -21px;
        transition: all .15s ease;
        font-size: $font-size-38;
        color: $light}
}
#dashboard .fb{
    cursor: default;
}
#dashboard .li{
    cursor: default;
}
#dashboard .post-meta a{
    cursor: default;
}

#dashboard .socialShareItem a{
    cursor: default;
}
#dashboard .culture-analytics-exapnd .row-container-of-the-chart-analytics.row-container-of-the-chart-analytics-loader-totalpost{
    #expandTotalPost .recharts-legend-wrapper ul{
        max-width:500px;
    }
}
#dashboard .culture-dashboard-design-wrapper , #culture-dashboard .culture-participation-wrapper{
    .csClmWpr{
        width:65%;
        float:left;
        @media all and (max-width:900px){
            width:100%;
            float:none;
        }
        .csClm{
            width:33.3%;
            @media all and (max-width:767px){
              width:100%;
              float:none;
            }
            .detractors-content{
                max-width: 100%;
                display: inline-block;
                overflow: hidden;
            }
            
        }
    }
}
@media all and (max-width:1260px){
    .innerpost-wrapper .col-one-of-four{width:50%; padding-bottom:15px;
        .headerdiv b{padding-top: 10px;
            padding-bottom: 10px;
            min-height: 58px;
        }

    }
}
.welcome-description p{
     font-size:$normal-text;
}
@media all and (max-width:979px) {
    #content .page .full-container>.content {
        padding: 0;
    }
}
@media all and (min-width:1500px) {
    #dashboard .culture-dashboard-design-wrapper .recharts-legend-wrapper{
        left: -239px !important;
    }
}
@media all and (max-width:767px) {
.dashboard-page #navdraw {
    padding-top: 50px;
}

}
@media all and (max-width:479px) {
    .innerpost-wrapper .col-one-of-four {
        width: auto;
        float: none;
    }
}
.storageMainDiv .storageMainSubDiv{
   max-width: 700px;
    margin:30px;
    background: #f9f9f9;
    padding: 20px;
}   
.storageAmountMain{
    display: flex;
    margin:20px auto;
}
.storageAmountParent{
    width: 25%;
    padding: 10px;
}
.storageMainDiv .storageTitle{
    text-align: center;
    color: $color-heading-text;
    font-weight:$font-reguler;
}
.storageAmountSub .storage-text-amount-icon{
    margin:5px 0;
}
.storageAmountIcon,.storageAmountText{
    text-overflow: ellipsis;
    overflow: hidden;
}
.storageAmountParent .storageAmountSub{
    background: #eeeced;
    text-align: center;
    padding: 20px;
    min-height: 100%;
    color:$color-heading-text;
    font-weight:$font-light;
    cursor:pointer;
}
.storageAmountParent .main-title-storage-amount-sub{
   background:$primary;
   color:$white;
   cursor:default;
   font-weight: $font-reguler;
}
.chart-wrapper.dashboard-analytics-level1-container .recharts-tooltip-wrapper{
    margin: 0px;
    background-color:$white;
    box-shadow: 1px 1px 8px $analytics-box-shadow-color;
    white-space: nowrap;
    .custom-tooltip .label{
      margin-left:0;
    }
}
.dashboard-page .dashboardlinechart , .culture-analytics-exapnd {
   
   .recharts-legend-wrapper{
        width:100% !important;
        left:0 !important;
        right:0 !important;
        margin-top:-35px !important; 
        ul{
            margin: 0 auto;
            max-width:500px; 
            li{
                width: 25%;
                float: left;
                                text-align: center;
                padding-right:0;
        
            }
        }
    }
    .recharts-wrapper{
        margin:0 auto;
        max-width:100%;
    }
} 
.comparison-section .recharts-legend-wrapper ul{
    max-width: none;
    li{
        text-align: left;
    }
 }
@media all and (max-width:767px) {
    .dashboard-page  .dashboardlinechart {
        .recharts-legend-wrapper{
             ul{
                     li{
                         padding-right:0;
                         padding-left:15px;
                         span{
                             left:5px !important;
                         }
                     }
             }
         }
      
     } 
}
@media all and (max-width:1400px) {
    .dashboard-page  .dashboardlinechart {
        .recharts-legend-wrapper{
             ul{
                  li  .rounder-dot{
                     top:8px;
                    }
                } 
      }
   }
}

//hot div
.hotdiv{
.company-post-wrapper,.my-top-post-wrapper{
    float:left;
    width:50%;
}
.company-post-wrapper,.my-top-post-wrapper{
    .title{
        @include dashboardTitle;
        padding:15px 20px;
    }
  }
}
@media all and (max-width:1200px){
 .hotdiv  .hotinnerdiv.full-container .row.innerpost-wrapper .company-post-wrapper, .hotdiv  .hotinnerdiv.full-container .row.innerpost-wrapper .my-top-post-wrapper{
      float:none;
      width:100%;
      .col-one-of-two.post-item{
         width:50%;
         float:left;
      }
    }
}
@media all and (max-width:767px){
    .hotdiv  .hotinnerdiv.full-container .row.innerpost-wrapper .company-post-wrapper, .hotdiv  .hotinnerdiv.full-container .row.innerpost-wrapper .my-top-post-wrapper{
        .col-one-of-two.post-item{
           width:100%;
           float:none;
           margin-bottom: 20px;
        }
      }
    
  } 
#dashboard {
    .header-analytics-wrapper{
        padding:0 30px;
        .filter-weekey-container{
            margin-right:0;
        }
    }
  }
@media all and (max-width:1200px){
    #dashboard .contributdiv .inner-contribut .col-one-of-two .Approved-div-asset-block{
        width:100%;
        float:none;
        padding-bottom:15px;
    }
}
#dashboard {
    .header-analytics-wrapper{
        padding:0;
    }
}