.modaration-dropudown {
    // background-color: white;
    margin-bottom: 15px;

    .filterDropdown {
        width: 100%;
        border: none;
        color: $primary;
        background: none;
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        padding-left: 0;
    }

    .dropdown-wrapper {
        position: relative;
        width: 130px;

        border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .dropdown-wrapper:before {
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        background: $white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        -moz-border-radius: 5px;
        background: url(/img/red-down.png) 0 7px no-repeat;
        background-size: 14px auto;
        width: 22px;
        height: 23px;
        margin-top: -11px;
    }

}



//dropu-down in asset ,camping

.select-wrapper {
    position: relative;

    select {
        position: relative;
        border: 1px solid $input-border;
        z-index: 1;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none !important;
        height:38px !important;
    }
}

select {
    font-size: $heading;
    ;
    background: none;
    -webkit-appearance: none;
    margin: 0;
    cursor: pointer;

}

#dropdown-asset-container {
    .dropdown-container {
        .col-four-of-twelve {
            .select-wrapper {
                left: 0;
                max-width: 260px;
                margin-left: 0;
            }

            .select-wrapper1 {
                max-width: 190px;
            }

            .context-menu {
                .button-dropdown {
                    text-align: left;
                    width: 260px;
                    background-color: white;
                    position: relative;
                    color: $color-heading-text;
                    padding-left: 10px;
                    border: 2px solid $input-border;
                    height: 40px;

                    .dropdown-toggle {
                        color: $dark-gray;
                        font-size: $heading;
                        ;
                        text-decoration: none;
                        padding-top: 3px;

                        i {
                            position: absolute;
                            right: 0;
                            top: 7px;
                            color: $theme;
                        }
                    }

                    .dropdown-menu {
                        width: 257px;
                    }
                }
            }
        }

        form {
            position: relative;
        }

        button {
            position: absolute;
            top: 8px;
            right: 5px;
            background-color: $white !important;
            padding: 0;
            margin-right: 2px;
            height: 24px;

            i {
                color: $theme;
            }
        }
    }
}

.top-shadow {
    background: $white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}

.top-shadow-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    box-shadow: 5px 15px 31px -2px rgb(241, 239, 239);
}

@media all and (min-width:1100px) {
    .collapsible .top-shadow-wrapper {
        display: block;
    }

    .top-shadow-wrapper {
        display: none;
    }

    .dropdown-container .dropdown-container-inner {
        background: none;
        box-shadow: none;
    }


}

@media all and (min-width:1100px) {

    .listViewDropdown {
        top: 0;
        z-index: 79;
        right: 140px;

        .dropdown-container-inner {
            background: none;
            box-shadow: none;
        }

        .top-shadow-wrapper {
            display: none;
        }
    }
}

@media all and (max-width:1099px) {
    .calendar-dropdown {
        .dropdown-container-inner {
            padding: 15px 10px 10px 35px;
        }

        .dropdown-inner-wrapper {
            padding: 10px;
        }

        .viewBtns {
            margin-bottom: 0;
        }
    }
}

@media all and (max-width:767px) {
    .calendar-dropdown {
        padding-left: 5px;
        background-color: none;

        .dropdown-container-inner {
            padding-left: 15px;
        }
    }
}

.FeedPage {
    .calendar-dropdown {
        position:initial;
        padding-left: 0px;
        .dropdown-container-inner {
            padding: 15px 10px 10px 35px;
        }

        .dropdown-inner-wrapper {
            padding: 10px;
        }

        .viewBtns {
            margin-bottom: 0;
        }

        .HeaderCalendarBtns {
            float: none;
        }
        .dropdown-container-inner{
            padding-left: 19px;
        }

    }
  
}

.calendar-dropdown {
    .dropdown-container {
        overflow: visible;
    }
}

#campaigns .dropdown-inner-wrapper,
#calendar .dropdown-inner-wrapper,
.feed .dropdown-inner-wrapper {
    padding: 0;
}

.dropdown-inner-wrapper {
    position: relative;
    z-index: 1;
    padding: 0 15px;
}

.dropdown-container-inner {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    // position: relative;
    // left:-5px;
    // margin-right:-5px;
    z-index: 2;

    label {
        color: $color-heading-text;
    }
}

@media all and (max-width:767px) {
    .fixedDropdown {
        left: 0 !important;
        margin-top: 24px;
    }
}

.fixedDropdown {
    position: fixed;
    top: -500px;
    left: 280px;
    right: 0;
    z-index: 10;
}

.active .fixedDropdown {
    top: 47px;
}

.dropdown-container {
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.collapsible {
        height: 0;

        .dropdown-container-inner {
            background: $white;
            // background: rgba(28, 28, 28, 0.3);
        }
    }
}
