.dotted-tags {
  span {
    display: inline-block;
    margin-right: 11px;
    position: relative;
    + span {
      &:after {
        color: #c5d2e3;
        content: "•";
        font-size: 18px;
        left: -8px;
        position: absolute;
      }
    }

  }
}
.google-doc-viewer {
  iframe {
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    outline: 1px solid #ccc;
    width: 100%;
    height: 400px;
  }
}

a.offsetAnchor {
	display: block;
  position: relative;
  top: -74px;
  visibility: hidden;
}
#post-AOJQp{
    // border:1px solid $dark-bg;
    background-color: $pop_up_bg
}

.slideUp {
  opacity: 0;
  max-height: 0 !important;
  transition: all 0.5s ease 0s;
  overflow: hidden;
}
.social-checkbox{
  img{
      opacity: 0.7 ;
      filter: grayscale(100%);
  }
.material-icons{
  background: #e7e7e7 none repeat scroll 0 0;
  font-size: 10px !important;
  width: 16px;
  height: 16px;
  padding: 0px 0;
  border-radius: 30px;
  color:$white !important;
  
}
}
//hover the social icon

.social-checkboxes {
  .facebook:hover  + label i,.twitter:hover + label i,.linkedin:hover + label i, .internal:hover + label i
	{
    background: #878787;
  }
}


//checked soical icon
.social-checkboxes {
   .facebook:checked + label img,.twitter:checked + label img,.linkedin:checked + label img,.internal:checked + label img{
    filter: none;
    opacity:1;
  }

  .facebook:checked + label i
	{
    background: $facebook;
  }
  .twitter:checked + label i{
    background: $twitter;
  }
  .linkedin:checked  + label i{
    background: $linkedin;
  }
  .internal:checked + label i{
    background: $primary;
  }
}
.channel .fa{
  padding-left:1px;
}
.social-checkbox-wrapper{
  margin:9px 3px;
}
.social-checkbox.internal{
  padding-right:15px !important;
  padding-left:0 !important;
}
.social-checkboxes {
  input[type=checkbox] + label
	{
    height:40px;
    width:40px;
    display:inline-block;
    padding: 0 0 0 0px;
	}
	input[type=checkbox]:checked + label
	{
    height:40px;
    width:40px;
    display:inline-block;
    padding: 0 0 0 0px;
	}
	.social-checkbox{
		float: left;
		label:hover {
			filter: contrast(10%);
		}
	}
  .fa {
    background: #e7e7e7 none repeat scroll 0 0;
    border-radius: 50%;
    color: $white;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    margin-right: 7px;
    pointer-events: none;
    text-align: center;
    width: 30px;
  }
  .disabled {
    label, input {
      pointer-events: none;
    }
  }
}
.btn-edit-photo{
  margin-top: 24px;
}
.btn-remove-photo,.btn-edit-photo {
  height: 20px;
  line-height: 18px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 20px;
  cursor: pointer;
  color: $white;
 font-size: $heading; ;
  -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; transition: all 0.2s ease;
  opacity: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  &:hover
  {
    background: #000;
  }

  i{

  }
}
.img-wrap:hover .btn-remove-photo {
  opacity: 1;
}
.img-wrap:hover .btn-edit-photo {
  opacity: 1;
}
.disable-overlay {

  &.disabled {
    position: relative;
    z-index: 100;
    &:after {
      background: transparent;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}