#event {
    .page {
        padding-top: 59px;
    }
    .event-container {
        table thead {
            background: white;
        }
    }
    .list-avatar-event {
        height: 60px;
        width: 60px;
        border-radius: 34px;
        border: 1px solid $input-border
    }
    .header-menu {
        border: 1px solid $border-in-page;
        margin: 35px 0;
    }
    .event-edit-form-container {
        textarea {
            resize: none;
        }
        .read_form {
            label {
                float: left;
                margin-right: 13px;
                width: 153px;
                max-width: 100%;
            }
            p {
                width: 100%;
                word-wrap: break-word;
                margin-left: -167px;
                float: left;
                padding-left: 187px;
            }
        }
    }
    .header .dd-menu li a {
        padding-right: 17px !important;
    }
}

.event-form-date {
    float: left;
    width: 50%;
    padding: 0 15px;
}

.ReactTags__tags {
    border: 1px solid #e1e0e0;
    height: 146px;
    background: white;
    padding-left: 0;
    .ReactTags__selected {
        //padding-top:9px;
        margin-left: 11px;
    }
    .ReactTags__tag {
        margin-right: 6px;
        background-color: $dark-bg;
        color: $color-heading-text;
        word-break: break-all;
        font-weight: 400;
        font-size: $normal-text;
        padding: 4px;
        position: relative;
        top: 3px;
        line-height: 1.7;
        .ReactTags__remove {
            color: $color-heading-text;
            font-size: 17px;
            position: relative;
            top: 2px;
            left: 1px;
        }
    }
    .ReactTags__tagInput {
        border: none;
        input {
            background: transparent;
            border: transparent;
            padding: 0;
        }
    }
}

.ReactTags__tag:hover {
    background-color: $theme;
    color: white;
    text-decoration: none;
    .ReactTags__remove {
        background-color: $theme;
        color: white;
        text-decoration: none;
    }
}

.main-event-container {
    padding: 30px;
}

@media screen and (max-width: 768px) {
    #event {
        .row {
            margin: 0;
            .event-form-date {
                float: none;
                width: 100%;
                padding: 0;
            }
        } 
    }
    .list-avatar-event {
        float: left
    }
}

.read_form,
.event-edit-form-container {
    height: calc(100vh - 170px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 25px;
    position: relative;
}