// Feed
//renderGiphyUI
@media only screen and (max-width:1026px) {
	.value-popup-in-feed {
		left: 80px !important;
	}
}
//for the goto top css
.openPopupOnScroll{
    position: fixed;
	top: -56px; 
	margin: 0 auto;
    text-align: center;
	z-index: 3;
	left:50%;
	transition: all 0.3s ease-in;
}
@media all and (min-width:767px) {
  .openPopupOnScroll{
	margin-left: 88px;
	}
	.ShowCollapsibleForNavigation{
		.openPopupOnScroll{
			margin-left:-30px;
		}
	}
}
@media all and (max-width:767px) {
	.openPopupOnScroll{
	margin-left: -60px;
  }
}
@media all and (min-width:1261px) {
	.openPopupOnScroll{
	margin-left: -43px;
}
.ShowCollapsibleForNavigation{
	.openPopupOnScroll{
		margin-left: -149px;
	} 
  }
}
.goToTopForOpenPopup{
	position: relative;
    background:$theme;
    font-size: 12px;
    font-weight:$font-light;
	z-index: 3;
	text-decoration: none;
	color:$white;
	display: inline-block;
    border-radius: 20px;
    line-height:20px;
	padding: 3px 13px 3px 30px;
	span{
	display: inline-block;
    position: absolute;
    left: 0;
    top:6px;
    margin-left:11px;
	color:$white;
	text-decoration: none;
  }
}

.openPopupOnScroll.scroll-up{
	top:-61px;
}
.openPopupOnScroll.scroll-down{
	top:68px;
	@media all and (max-width:767px) {
		top:81px;
	}
}
.goToTopForOpenPopup:hover{
	background:$theme;
	text-decoration: none;
}
//
.bgVideoBlur{
	width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
	box-shadow: 7px 3px 27px 4px #000;
}
.asset-file-container .asset-file.imgwrapper .type-image .imageloader.thumbnail{
	align-items: normal;
}
.feed-post-item .post-pic .imageloader.loaded img{
	border:0;
	border-top: 1px solid $google-drive-background;
}
.post-meta-link span,
.count {
	.socialIcons .internal-icon-analytics i {
		font-size:$button-text;
	}
	font-size:$heading;
	color:$default-text;
}
#navdraw.has-sib .nd-sib .nav-side ul li>a.active span,
#navdraw.has-open-sib .nd-sib .nav-side ul li>a.active span {
	font-weight: $font-reguler;
}

.count {
	font-size: $heading !important;
	color: $default-text !important;
}

.custom-feed-toggle {
	font-weight: $font-light;
}

.author-meta {
	color: $color-heading-text;
	b {
		font-size: $heading;
		line-height: 22px;
	}
}
.overlay #hubspot-messages-iframe-container{display: none !important;}
#createMainContainerPopup .Create-post-wrap-container .uploadedAssets .createPostWrapper>form {
	display: none;
}
.rc-time-picker{
	border:1px solid $input-border;
	border-radius: .2rem;
	height:40px;
	&:focus{
		border:1px solid $theme;
	}
	input{
		border: 0;
		background: none;
	}
}
.edit-post-icon {
	height: 44px;
	width: 44px;
	padding: 0;
	background: $primary;
	border-radius: 44px;
	display: block;
	text-align: center;
	color: white;
	border: 2px solid $input-border;
	cursor: pointer;
	i {
		line-height: 2;
		font-size:$font_size_20;
	}
}

.feed .createFeedPopup .createCustomfeedpopup .user-tag-editor .mention-input-wrapper__suggestions {
	z-index: 2 !important;
}
.CreateFeedPopupWrapperForFeed{
	position:relative;
}
.CreateFeedPopupWrapper .createCustomfeedpopup{
	padding-bottom:30px;
}
//if no any use data is available
.pop-up-tooltip-not-data-found {
	background-color: white;
	position: absolute;
	margin-left: -384px;
	display: none;
	margin-top: -56px;
	z-index: 13;
	width: 200px;
	box-shadow: 0px 20px 40px -5px rgba(0, 0, 0, 0.27);
	-webkit-box-shadow: 0px 20px 40px -5px rgba(0, 0, 0, 0.27);
	-o-box-shadow: 0px 20px 40px -5px rgba(0, 0, 0, 0.27);
	-moz-box-shadow: 0px 20px 40px -5px rgba(0, 0, 0, 0.27);
	border-top: 6px solid $secondary;
	p {
		margin: 0;
		padding: 8px;
		margin-left: 22px;
		font-weight:$font-reguler;
	}
}

.disabled {
	pointer-events: none;
}

.feed,
#Rss,
#jobs {
	.nav-side .rc-collapse ul.nav-feed {
		width: 88% !important;
		margin: 0 auto;
	}
}

#navdraw .nav-side ul.nav-feed li>a {
	padding: 0 15px
}

.rc-collapse-item {
	border-top: none !important;
}

.nav-side .rc-collapse .rc-collapse-header {
	text-transform: uppercase;
	font-size: $normal-text;
	font-weight: $font-reguler;
}

.nav-side .rc-collapse .rc-collapse-content-box {
	text-transform: capitalize
}

.feed-post-link {
	color: $primary;
	text-decoration: none;
}

.feed-post-link:hover {
	text-decoration: none;
}

.uploadAssetBtn {
	a {
		margin-top: 17px;
	}
}

.postScheduleFields .schedule .scheduleDateColumn input {
	padding: 6px 9px;
}

.selected-giphy .gif-clear-btn {
	display: none;
}

.selected-giphy:hover .gif-clear-btn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	border-bottom: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.92), transparent);
	width: 40px;
	display: block;
}

.feed .clear-in-add-media {
	position: absolute;
	right: 7px;
	top: 5px;
	z-index: 50;
	background: transparent;
	padding: 0;
	color: $theme;
	cursor: pointer;
}

.post-detail-feed-text {
	p {
		white-space: pre-wrap;
	}
} //modration css
#feed .render-post-feed .imageloader.loaded img {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}

.feed .side-popup .selected-imgwrapper .selected_inner_imgwrapper .imageloader.loaded img {
	width: 100%;
	height: 100%;
}

.side-popup-wrap .asset-file .file-details {
	display: none;
}

.side-popup-wrap .asset-detail-popup .author-meta {
	margin-bottom: 6px;
	margin-left: 3px;
	span {
		i {
			position: relative;
			top: 6px;
			color: $theme;
			left: -2px;
		}
	}
}

.nav-side-share-popup {
	background-color: $light
}

.campaign_3dots .button-dropdown .dropdown-toggle {
	i {
		top: 1px;
		right: -5px;
	}
}

.seeMoreLinkWrapper {
	padding-top: 10px;
	display: none;
	text-align: right;
	.seeMoreLink {
		color: $theme;
		font-size: $heading;
		;
		display: inline-block;
		text-transform: capitalize;
		text-decoration: none;
		i {
			font-size:$button-text;
			line-height: 20px;
			vertical-align: -1px;
		}
		&:hover {
			color: $color-heading-text;
		}
	}
}

#post-list-wrapper.dd-menu,
.campaign_3dots {
	.button-dropdown {
		.dropdown-toggle {
			width: 30px;
			height: 30px;
			border-radius: 19px;
		}
		.dropdown-toggle:hover,
		.dropdown-toggle:active {
			background-color: $cross-hover;
			text-decoration: none;
		}
	}
}

.reactable-data .user_3dots .dropdown-toggle {
	width: 30px;
	height: 30px;
	border-radius: 19px;
	text-align: center;
	i {
		top: 1px;
	}
}

.reactable-data .user_3dots .dropdown-toggle:hover {
	background-color: $cross-hover;
}

.schedule-popup-post {
	#date-offsetAnchor {
		background-color: $pop_up_bg;
		height: 30px; //   border-bottom: 5px solid $white;
		color: $theme;
		position: relative; //  margin-left:-19px;
		font-size: 19px;
		font-weight:$font-medium !important;
	}
	.schedule-post-header {
		background-color: $white !important;
	}
	.schedule-post-title {
		background-color: $white !important;
	}
}

.text-feed-internal {
	text-align: center;
	height: 100%;
	background-color:$white;
	clear: both;
	width: 100%;
	padding: 30px;
	margin-bottom: 1.5rem;
	text-align: center;
}

.moderation {
	//for post
	.container-button-checkbox {
		.selectAllCheckboxForPost {
			float: right;
			color: black;
			margin-top: 11px;
		}
		.button-disable-moderation {
			float: right;
		}
	}
	#feed .post {
		position: relative;
		.select-checkbox {
			margin-top: 12px;
			margin-right: 0px;
		}
		.moderationAssetDetail {
			.select-checkbox {
				margin-top: 3px;
				margin-right: -10px;
			}
		}
	}
	.author-data {
		word-break: break-word;
		white-space: pre-wrap;
		margin-right: 70px;
	}
	.select-checkbox {
		position: absolute;
		left: 20px;
		z-index: 3;
	}
	.post-header {
		position: relative;
	}
	.checkbox input+span:before {
		clear: both;
		font-family: "FontAwesome";
		font-size: $date-text;
		text-align: center;
		content: "\F00C";
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 4px;
		color: $white;
		background: $white;
		border: 1px solid #ddd;
		transition: all 0.15s ease-in-out;
	}
	.checkbox input:checked+span:before {
		background: $theme;
	}
}

.author-data {
	color: $color-heading-text;
	font-size: $font-title;
	.author-meta {
		overflow: hidden;
		text-overflow: ellipsis;
		span {
			color: $light-text;
		}
		span.hidden-xs {
			display: none;
			@include bp(sm) {
				display: inline;
			}
		} // Social Links
		//
	} // Timestamp
	//
	.post-time {
		font-family: inherit;
		font-weight: 100;
		font-size: $date-text;
		color: $light-text;
		.timeFromNow {
			color: $light-text;
			font-size: $date-text;
		}
	}
}

.share-popup1 {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2%;
	/* left: -3%; */
	right: 1%;
	background-color: transparent !important;
	i {
		font-size: 20px;
	}
}

.popup.sharePopup {
	.nav-side {
		position: relative;
		z-index: 2;
		.channels {
			padding-bottom: 10px;
			.__react_component_tooltip.type-warning {
				background: $secondary;
				font-weight: $font-reguler;
			}
		}
		li {
			// padding-left:10px;
			a {
				height: 44px;
				width: 44px;
				display: block;
				padding: 0;
				i {
					bottom: 1px !important;
					right: -12px !important;
					position: absolute;
					width: 15px;
					height: 15px;
					font-size: 10px;
					line-height: 17px;
					border-radius: 15px;
					-webkit-border-radius: 15px;
					-o-border-radius: 15px;
					-ms-border-radius: 15px;
					-moz-border-radius: 15px;
					color: $white;
				}
				.fa-facebook {
					background-color: $fb;
				}
				.fa-twitter {
					background-color: $twitter;
				}
				.fa-linkedin {
					background-color: $linkln;
				}
				.fa-internal {
					background-color: $primary;
				}
				&:hover {
					i {
						color: $white !important;
					}
				}
			}
			.internal-icon.rss-job-internal{
				i{
					background-color: $primary;
				}
			}
		}
		i.notConnected {
			height: 40px;
			width: 40px;
			line-height: 15px;
			padding: .75rem;
			color: #999 !important;
		}
		li.noAccounts {
			background: none !important;
			border: none !important;
			text-align: left;
			text-align: center;
			span {
				// color: #555;
				color: $default-text;
			}
			p{
				margin-bottom: 0;
			}
			a {
				width: 100px !important;
				padding-top: 0;
				display: inline-block;
				margin: 0 auto !important;
				line-height:20px;
				padding:5px 0;
				height: auto;
				transition: none !important;
				&.noAccountsSettingLink{
					color:$primary;
					height:auto;
					svg{
						fill: $primary;
					}
					.nav-icon-path{
						fill: $primary;
					}
				}
				svg{
					vertical-align: middle;

				}
				i {
					color: grey;
				}
			}
		}
	}
}

.shareoverlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.overlay #intercom-container {
	display: none;
}

#post-creation {
	.createPostDescritionWrapper {
		overflow-x: hidden;
		overflow-y: auto;
		background-color: rgb(255, 255, 255);
		border: 1px solid rgb(229, 228, 228);
		padding-bottom:30px;
		@include border-radius(.2rem);
		.form-row {
			position: static;
		}
		.mention-input-wrapper {
			position: static !important;
			.mention-input-wrapper__highlighter {
				font-size: $heading;
				;
			}
		}
		.mention-input-wrapper__suggestions {
			top: 100% !important;
			left: 0 !important;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 10px;
				top: -10px;
				border-bottom: 10px solid #ddd;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
			}
		}
		.mention-input-wrapper__control {
			border-color: transparent !important;
			position: relative;
		}
	}
	.limitover {
		color: $primary;
	}
	.bottom-buttons-wrapper {
		margin-bottom: 0 !important;
	}
	.form-row {
		position: relative;
		z-index: 2;
		width: auto;
		float: none;
	}
	.user-tag-editor {
		z-index: 11;
	}
	.twitterMsg {
		margin-bottom: 15px;
	}
	.gif-button {
		i {
			font-size: 36px;
		}
	}
	.bottom-left-buttons {
		float: left;
	}
}

.bottom-right-buttons {
	float: right;
	.btn {
		min-width: 135px;
		text-align: center;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
	.schdule-btn {
		margin-right: 23px;
	}
}

.twiter_limits_count_display {
	display: block !important;
	float: left;
}

.cnt {
	padding-top: 10px;
	text-align: center;
	font-size: 16px;
	margin-right: 15px;
	display: none;
}

.top-count-wrapper {
	.cnt {
		float: left;
		padding-top: 0;
	}
}

.bottom-left-buttons {
	.btn-theme {
		margin-right: 10px;
	}
	.btn {
		margin-right: 10px;
		min-width: 135px;
		text-align: center;
	}
}

.post-details-scheduler {
	max-width: 265px;
	float: left;
	width: 100%;
	.scheduleTitleWrapper {
		position: relative;
		.closeBtn {
			top: -5px
		}
		.label {
			border-bottom: 1px solid $tab_border;
			padding-bottom: 10px;
			display: block;
		}
	}
}

.scheduleDateColumn {
	width: 100px;
	float: left;
	margin-right: 15px;
}

.scheduleTimeColumn {
	width: 70px;
	float: left;
	margin-right: 10px;
}

.scheduleActionColumn {
	float: left;
}

.schedule {
	z-index: 1;
	label {
		display: none;
	}
	.addRemoveSchdule {
		margin-top: 4px;
		a {
			display: block;
			float: left;
			margin-right: 5px;
			height: 30px;
			width: 30px;
			@include border-radius(30px);
			text-align: center;
			i {
				margin-top: 3px;
			}
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				background: $cross-hover;
			}
		}
    }
	&:first-child {
		.addRemoveSchdule a.deleteSchedule {
			display: none;
		}
	}
	&:last-child {
		.addRemoveSchdule a.addScheduleBtn {
			display: block;
		}
	}
}

.top-count-wrapper {
	.cnt {
		float: right;
		padding-top: 0;
	}
}

.imageEditor {
	img {
		position: relative;
	}
}

.post-details-main {
	opacity: 1;
	.giphy {
		margin-top: 28px;
		position: absolute;
	}
}

.postsMediaUI {
	.disabled {
		filter: grayscale(75%);
		pointer-events: none;
	}
}

.selected-asset .btn-remove-photo {
	background: none;
	background-color: none;
	font-size: 22px;
	z-index: 1000;
	opacity: 0;
	padding-top: 8px;
	right: 10px;
}

.selected-asset:hover .btn-remove-photo {
	opacity: 1;
}

.selected-giphy {
	.showgiphy {
		width: 200px;
		height: 200px;
	}
	.btn-remove-photo {
		position: absolute;
		right: 0;
		top: 0;
		color: $white;
		opacity: 1;
		font-size: 22px;
		margin-top: 11px;
		margin-right: 11px;
		background: none;
	}
}

.asset-selected-display,
.giphy-selected-display {
	.thumbnail {
		cursor: default;
	}
}

.asset-selected-display {
	padding-bottom: 0;
}

.side-popup .action-buttons {
	.btn {
		min-width: 104px;
		text-align: center;
		i {
			vertical-align: middle;
			margin-right: 5px;
			top: 0;
			right: 0;
			font-size:$font_size_20;
			margin-top: -2px;
		}
		&.upload-next-btn i {
			top: -1px;
			position: relative;
			margin-right: 0;
			margin-left: -5px;
		}
		&.upload-back-btn i {
			margin-right: -2px;
		}
	}
	.right {
		margin-right: 0;
	}
	&.disabled {
		button {
			pointer-events: none;
		}
	}
}

.assetsList .selectedAsset {
	.thumbnail,
	.file {
		&:after {
			background: rgba($theme, 0.7) none repeat scroll 0 0;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
		&:before {
			bottom: 0;
			color: $white;
			content: "\f058";
			display: block;
			font-family: FontAwesome;
			font-size:$font-size-30;
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 50%;
			transform: translate(0px, -50%);
			z-index: 10;
			line-height: 30px;
			height: 30px;
		}
	}
}

.react-datepicker__input-container {
	display: block;
}

.RTdSn {
	.bzojac {
		background: none;
		border: 0;
		height: auto;
		overflow: visible;
		width: auto;
		margin-top: 0;
		padding-top: 0;
		box-shadow: none;
		.search_giphy {
			margin-bottom: 15px;
		}
		.ciFBQa {
			margin: 0 -15px;
			padding-top: 11px;
			max-height: calc(100vh - 193px);
			border-top: 1px solid #e8e5e5;
			&:before,
			&:after {
				content: '';
				display: table;
			}
			&:after {
				clear: both;
			}
		}
		.pickerwrapper:after {
			background: rgba($theme, 0.7) none repeat scroll 0 0;
			bottom: 0;
			content: "";
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			color: black;
		}
		.pickerwrapper:before {
			bottom: 0;
			color: $white;
			content: "\F058";
			display: block;
			font-family: FontAwesome;
			font-size: 30px;
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 50%;
			/* transform: translate(0px, -50%); */
			z-index: 10;
			margin-top: -16px;
		}
	}
}

#text_wrapper {
	img {
		display: inline;
		width: 22px;
		height: auto;
	}
	#text {
		border: 1px solid $tab_border;
		min-height: 100px;
	}
}

.imgwrapper.selectedAsset .thumbnail {
	&:after {
		background: rgba($theme, 0.7) none repeat scroll 0 0;
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	&:before {
		bottom: 0;
		color: $white;
		content: "\f058";
		display: block;
		font-family: FontAwesome;
		font-size:$font-size-30;
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		transform: translate(0px, -50%);
		z-index: 10;
		line-height: 30px;
		height: 30px;
	}
}

.ciFBQa,
.post-details-main,
.createPostAssetTabContainer,
.createPostUploadAssetSection {
	max-height: calc(100vh - 57px);
	overflow-x: hidden;
	overflow-y: auto;
	&.gifWrapper {
		overflow: visible;
		>.popupDescSection {
			padding: 0;
		}
	}
}

.post-details-main,
.createPostAssetTabContainer,
.createPostUploadAssetSection {
	max-height: none;
	height: calc(100vh - 125px);
}

.download_Assets {
	display: block;
}

.create-post-selected-elements {
	float: left;
	margin-right: 100px;
	width: 100%;
	max-width: 240px;
	.archive-container {
		margin: 0;
		.imgwrapper {
			width: auto;
			float: none;
			padding: 0;
		}
	}
	.asset-file .vid-content {
		position: static;
	}
	.selected-imgwrapper {
		.selected_inner_imgwrapper {
			position: relative;
		}
		@media all and (max-width:767px) {
			float: none;
			width: auto;
		}
	}
}

// @media all and (max-width:767px) {
// 	.create-post-image-wrapper {
// 		height: calc(100vh - 160px);
// 	}
// }

.archive-container,
.create-post-gipghy-wrapper {
	.imgwrapper {
		width: 25%;
		float: left;
		padding: 15px;
		.imgwrapper {
			width: 100%;
			padding: 0;
		}
		@media all and (max-width: 979px) {
			width: 33.3%;
		}
	}
	.inner_imgwrapper {
		height: 0;
		position: relative;
		overflow: hidden;
		padding-bottom: 60%;
		background: $light img {
			width: 100%;
			height: 100%;
			padding: 0;
			border: 0;
			position: absolute;
			left: 0;
			top: 0;
			-o-object-fit: cover;
			object-fit: cover;
		}
		.type-image {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}
}

.createPostWrapper .archive-container {
	@media all and (max-width: 767px) {
		.asset-file {
			float: none;
			width: auto;
			padding: 0;
		}
	}
}

.ciFBQa .preloader-wrap {
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
}

#post-creation .form-row.feed-campaign-dropdown {
	position: absolute;
	left: -9999em;
}

.feed {
	.render-post-feed {
		width: 700px;
		max-width: 100%;
		float: left;
	}
	.remove_arrow {
		// After
		&:after {
			content: unset;
		}
	}
	.internal ul,
	.external .external-live>ul {
		position: relative; //z-index: 2;
	}
	ul+.preloader-wrap-page {
		display: none;
	}
}
.feed-post-sharing{
 .preloaderWrap{
position: fixed;
z-index: 106;
}
.visibly-loader{
	transform: translate(-50%, -50%);
    margin: 0px;
}
}

.emojiPicker {
	position: absolute;
	top: 100%;
	margin: 20px 0;
	left: 0;
	.closeBtn {
		top: -10px;
		right: -10px;
		background: $white;
		border: 1px solid #ddd;
		width: 20px;
		height: 20px;
		i {
			font-size: 16px;
			margin-top: 1px;
		}
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 10px;
		top: -11px;
		border-bottom: 10px solid #ddd;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
}

.emoji-dialog {
	height: 320px !important;
	.ReactVirtualized__Grid .ReactVirtualized__List {
		top: 35px;
	}
	.emoji-search-wrapper+.emoji-categories-wrapper {
		top: 110px !important;
	}
	.emoji {
		//padding: 0px 20px 0px 10px;
		width: initial !important;
		.emojione {
			height: 22px;
			width: 22px;
			float: left;
		}
	}
}

.emoji-dialog {
	.emoji-row {
		.emoji[aria-label="clown face"],
		.emoji[aria-label="lying face"],
		.emoji[aria-label="nauseated face"],
		.emoji[aria-label="sneezing face"],
		.emoji[aria-label="prince"],
		.emoji[aria-label="mother christmas"],
		.emoji[aria-label="man in tuxedo"],
		.emoji[aria-label="pregnant woman"],
		.emoji[aria-label="face palm"],
		.emoji[aria-label="shrug"],
		.emoji[aria-label="man dancing"],
		.emoji[aria-label="call me hand"],
		.emoji[aria-label="left-facing fist"],
		.emoji[aria-label="fisted hand sign"],
		.emoji[aria-label="right-facing fist"],
		.emoji[aria-label="handshake"],
		.emoji[aria-label="fox face"],
		.emoji[aria-label="deer"],
		.emoji[aria-label="rhinoceros"],
		.emoji[aria-label=" bat"],
		.emoji[aria-label=" eagle"],
		.emoji[aria-label="duck"],
		.emoji[aria-label="owl"],
		.emoji[aria-label="lizard"],
		.emoji[aria-label="shark"],
		.emoji[aria-label="butterfly"],
		.emoji[aria-label="squid"],
		.emoji[aria-label="wilted flower"],
		.emoji[aria-label="kiwifruit"],
		.emoji[aria-label="tumbler glass"],
		.emoji[aria-label="clinking glasses"],
		.emoji[aria-label="spoon"],
		.emoji[aria-label="glass of milk"],
		.emoji[aria-label="green salad"],
		.emoji[aria-label="stuffed flatbread"],
		.emoji[aria-label="aubergine"],
		.emoji[aria-label="shallow pan of food"],
		.emoji[aria-label="potato"],
		.emoji[aria-label="carrot"],
		.emoji[aria-label="fencer"],
		.emoji[aria-label="person doing cartwheel"],
		.emoji[aria-label="water polo"],
		.emoji[aria-label="handball"],
		.emoji[aria-label="juggling"],
		.emoji[aria-label="first place medal"],
		.emoji[aria-label="martial arts uniform"],
		.emoji[aria-label="goal net"],
		.emoji[aria-label="drum with drumsticks"],
		.emoji[aria-label="motor scooter"],
		.emoji[aria-label="scooter"],
		.emoji[aria-label="shopping trolley"],
		.emoji[aria-label="octagonal sign"],
		.emoji[aria-label="black heart"],
		.emoji[aria-label="rolling on the floor laughing"] {
			visibility: visible;
		}
	}
}

.tag-avtar-wrapper {
	float: left;
	width: 45px;
	height: 45px;
}

.tag-avtar-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 45px;
	-webkit-border-radius: 45px;
	-o-border-radius: 45px;
	-ms-border-radius: 45px;
	-moz-border-radius: 45px;
	object-fit: cover;
}

.tag-user-data {
	float: left;
	width: 100%;
	margin-left: -45px;
	padding-left: 55px;
}

.tag-user-name,
.tag-in-user-text {
	font-size: $font-title;
	line-height: 21px;
	color: $color-heading-text;
	font-weight: 400;
}

.tag-in-user-text {
	color: $theme;
}

.tag-users-email {
	font-size: $font-title;
	font-weight: 300;
	color: $default-text;
}

.tag-avtar-wrapper i {
	color: $folder_color;
	font-size: 44px;
	line-height: 44px;
	position: relative;
	left: -4px;
}

.read-more-button {
	text-align: right;
	color: $theme;
	margin-top: 10px;
	cursor: pointer;
}

#feed {
	.author-thumb {
		.__react_component_tooltip.type-warning {
			background: rgba(255, 191, 0, 0.5);
			font-weight: $font-reguler;
		}
	}
	ul li {
		list-style: none;
	}
	.dropdown-menu {
		li {
			list-style: none;
			a:hover {
				background-color: #0051f1;
			}
		}
	}
	#welcome_inputbox,
	#tour_final_popup,
	#feed-popup {
		position: fixed;
		top: 50%;
		left: 50%;
		margin: -190px 0 0 0px;
	}
	@media all and (max-width:1024px) {
		#welcome_inputbox {
			margin-left: -151px;
		}
	}
	#feed-popup {
		margin: 0 0 0 -240px;
		top: 120px;
		@media all and (max-width: 1120px) {
			margin-left:0;
			left: 320px;
		}
	}
	#tour_final_popup {
		margin-top: -110px;
		@media all and (max-width: 1024px) {
			margin-left:-151px;
		}
	}
	.imageloader {
		min-height: 200px;
		&.failed {
			line-height: 180px;
			text-align: center;
		}
	}
	.thumbWrap {
		padding-bottom: 100%;
		overflow: hidden;
		position: relative;
		&.file-doc {
			box-shadow: 1px 1px 4px -2px #999;
		}
		&.noMedia {
			img {
				position: absolute;
				left: 0;
				top: 0;
				max-width: 100%;
				height: auto;
				display: block;
			}
		}
	}
	.feed-asset-page {
		.thumbWrap {
			padding-bottom: 60%;
		}
	}
	.noMedia {
		font-size: 22px;
		text-align: center;
		color: $white;
		line-height: 28px;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -11px;
		text-transform: uppercase;
	}
	.thmb_wrap_file {
		position: relative;
	}
	.type-image {
		.thumbnail {
			background-position: center center;
			background-size: cover !important;
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 5;
			overflow: hidden;
		}
	}
	.title-post-date {
		color: $color-heading-text;
		position: relative;
		font-size: 19px;
	} // Post
	//
	.post {
		background-color: $white;
		font-family: inherit;
		color: $light-text;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		.post-title {
			position: relative;
			font-size: $font-title;
			padding: 0 10px 10px;
			white-space: pre-wrap;
			word-wrap: break-word;
			a {
				position: relative;
			}
			img {
				display: initial;
				position: relative;
				margin-left: 5px;
			}
		}
		// Author Thumbnail
		//
		.post-detail {
			position: relative;
			font-size: $font-title;
			padding: 0 10px 10px;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
		.author-thumb {
			margin-right: 10px;
			width: 44px;
			height: 44px;
			background: $light; // Image
			//
			img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
				margin: 0;
			}
			.thumbnail {
				width: 100%;
				height: 100%;
				background-size: cover;
				border: 1px solid $border-color;
				background-position: center;
			}
		} // Post Header
		//
		.post-header {
			display: flex;
			padding: 10px;
			flex-direction: row;
			position: relative;
			.socialChannels {
				display: inline-block;
				margin-left: 4px;
			}
		}
		.rc-collapse {
			overflow: auto;
			background: $white;
			&-content {
				overflow: visible;
				;
			}
			&-header {
				text-indent: 0;
			}
			.post-header {
				width: 100%;
				float: right;
				padding: 0px;
			}
			.author-meta {
				line-height: 14px;
			}
			.author-data {
				width: 90%;
				.author-name {
					display: inline-block;
					overflow: hidden;
					position: relative;
					text-overflow: ellipsis;
					top: 2px;
					white-space: nowrap;
					max-width: 120px;
				}
			}
			.arrow {
				display: none;
				margin-left: 25px;
				margin-top: 13px;
			}
		}
		.col-one-of-four {
			.post-thumb {
				padding: 15px;
				cursor: pointer;
			}
			.file {
				.file-icon {
					margin-top: 50px;
				}
			}
		}
		h4,
		.post-detail-feed-text {
			margin-bottom: 17px;
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: 300;
			white-space: pre-wrap;
			font-size: $normal-text;
			color: $default-text;
		} // Post Content
		//
		.post-detail-feed-text {
			overflow: visible;
		}
		.post-content {
			float: left;
			clear: both;
			width: 100%;
			background: $white;
			padding: 10px;
			color: #222;
			font-family: sans-serif;
			font-size: $font-title; // Paragraphs
			//
			p {
				font-family: inherit;
				font-weight: inherit;
				font-size: inherit;
			}
		} // Post Pic
		//
		.post-pic {
			overflow: hidden;
			video {
				width: 100%;
				-o-object-fit:contain;
				object-fit:contain;
				height: auto;
				display: block;
				border: 0 solid #eeeeee
			}
			@include bp(sm) {
				width: 100%;
				margin: 0;
			} // Link
			//
			a {
				display: block;
				margin: 0;
				padding: 0;
				border: none;
				outline: none;
				text-decoration: none;
			} // Image
			//
			img {
				width: 100%;
				height: auto;
				margin: 0;
				padding: 0;
			}
			.file {
				display: inline-block;
				padding-bottom: 4px;
				padding-left: 11px;
				padding-top: 0;
				text-align: center;
			}
		}
		// Post Meta
		//
		.post-meta.post-approve-wrapper,
		.post-meta.post-approve-wrapper .status.approved {
			font-size: $normal-text;
			font-weight: $font-reguler;
		}
		.post-meta {
			padding: 15px 10px;
			background: $white;
			border-top: 1px solid lighten($light, 2%);
			display: flex;
			flex-direction: row;
			align-items: center;
			@media all and (max-width: 479px) {
				display: block;
				text-align: center;
			}
			&:empty {
				padding: 0;
				border: 0;
			}
			+.post-meta {
				border-top: 0;
			}
			.likesNumber,
			.commentsNumber {
				display: inline-block;
				margin-right: 3px;
			} // Contents
			//
			.status,
			.share,
			.like,
			.comments,
			.count {
				flex: 1;
				font-weight: 400;
				font-size: $heading;
				margin-left: 5px; //added by disha
				a.post-meta-link {
					font-family: inherit;
					color: $light-text;
					&.btn {
						color: $white;
					} //i added by disha
					>i {
						font-size: inherit;
						top: 3px;
						right: 4px;
						position: relative;
					}
				}
			}
			.like {
				float: left;
				margin-right: 10px;
			}
			.share {
				float: left;
			}
			@media all and (max-width:479px) {
				.count {
					margin-right: 0;
				}
			}
			.likers {
				overflow: hidden;
				font-size: $font-title;
				list-style: none;
				.like-thumb {
					float: left;
					width: 38px;
					height: 38px;
					border-radius: 50%;
				}
				.like-meta {
					float: left;
				}
				.like-author {
					color: #555;
					font-size: $heading;
					;
					font-weight: $font-reguler;
				}
				.like-date {
					color: $light-text;
					font-size: $normal-text;
					font-weight: $font-reguler;
				}
			}
			.count {
				text-align: right;
				span {
					color: $light-text;
					display: inline-block;
					position: relative;
					&:before {
						content: "•";
						font-size: 18px;
						left: -8px;
						position: absolute;
						color: lighten($light-text, 14%);
					}
					+span {
						margin-left: 11px;
					}
					&:first-of-type {
						&:before {
							content: "";
							display: none;
							margin: 0;
						}
					}
				}
			}
			.liked {
				color: $theme;
				a {
					color: inherit;
				}
			}
			.liked a.post-meta-link {
				color: $theme;
			} // Status
			//
			.status {
				text-align: left; // Icon
				//
				i {
					vertical-align: -7px;
					margin-right: 5px;
				}
				i.fa {
					font-size: 20px;
					float: left;
					position: relative;
					margin-right: 5px;
					top: -2px;
				} // Themes
				//
				&.approved {
					color: $green; //i added by disha
					i {
						position: relative; // top: 8px;
						// right: 2px;
					}
				}
				&.unapproved {
					color: $red;
				}
				&.pending-approval {
					color: $secondary;
				}
			} // Share
			//
			.share {
				text-align: center;
			} // Comments
			//
			.comments {
				text-align: right;
			}
		} // Post Comments
		//
		.post-comments {
			clear: both;
			border-top: 1px solid #f3f2f2;
			padding: 0;
			background: lighten($light, 8%);
			ul.comments:empty {
				padding: 0;
			}
			.comment-author {
				font-weight: bold;
			}
			.comment-form {
				margin-bottom: 15px;
				.form-row {
					//padding: 0 15px 0 52px;
					margin-bottom: 5px;
				}
			}
			.comment-response {
				float: left;
				clear: both;
				width: 100%;
				margin-top: 10px;
				background: $white;
				border: 1px solid darken($light, 2%); // Reset Inputs
				//
				input[type="text"],
				textarea {
					border: none;
					background: $white;
					box-shadow: none;
					outline: none;
					font-family: inherit;
					font-weight: $font-reguler;
					font-size: $normal-text;
					resize: vertical;
				}
			} // Comments
			ul.comments {
				margin: 0;
				padding: 10px;
				font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Roboto", Helvetica Neue, sans-serif;
				font-weight: $font-reguler;
				font-size: $normal-text; // List Item
				background: #fff7f7;
				li {
					list-style-type: none;
					margin: 0;
					padding: 6px 0;
					position: relative;
					text-align: left;
					width: 100%;
					&:last-child {
						margin-bottom: 0;
					}
					.comment-action-delete {
						position: absolute;
						right: 7px;
						top: 3px;
						color: $light-text;
						height: 24px;
						width: 24px;
						text-align: center;
						@include border-radius(24px);
						i {
							font-size: 18px;
							line-height: 24px;
						}
						&:hover {
							background: $cross-hover
						}
					} // Sub Comments
					//
					ul {
						float: left;
						clear: both;
						width: 100%;
						margin-top: 10px;
						li {
							margin-bottom: 0;
							margin-left: 20px;
							width: calc(100% - 40px);
							padding: 0 5px 10px 12px;
							border-left: 2px solid lighten($light-text, 5%);
							&:last-child {
								padding-bottom: 0;
							}
						}
					}
					a.reply {
						display: inline;
						@include bp(md) {
							display: none;
						}
					}
					>.comment:hover>.comment-text p.meta a.reply {
						display: inline;
						@include bp(md) {
							display: inline;
							border: 2px solid $blue;
						}
					} // Thumb
					//
					.comment-thumb {
						float: left;
						clear: both;
						width: 30px;
						height: 30px;
						margin-right: 10px; // Image
						//
						img {
							width: auto;
							height: auto;
							max-width: 100%;
						}
					} // Comment Content / Text
					//
					.comment-text {
						padding-left: 40px;
						.comment-author {
							color: $color-heading-text;
						}
						img {
							display: initial;
							position: absolute;
							margin-left: 5px;
						}
						p {
							font-family: inherit;
							margin: 0;
							width: 90%; //add width -disha
							color: $dark-gray;
							font-weight: initial;
							white-space: pre-wrap;
							&.meta {
								font-family: inherit;
								font-size: inherit;
								line-height: 1;
								margin: 0;
								color: $dark;
							}
						}
					}
				}
			}
		}
		.comment-author {
			color: $dark;
			font-size: 110%;
		}
		.comment-action {
			form {
				padding-left: 40px;
			}
		} // Post Footer
		//
		.post-footer {
			@extend .tags-row;
			i {
				font-size: $heading;
				;
				position: relative;
				top: 3px;
				right: 2px;
				margin-right: 4px;
			}
		}
		.approval-actions {
			padding: 10px;
			background: $white;
			border-top: 1px solid #f3f2f2;
			border-bottom: 1px solid #f3f2f2;
			font-size: $normal-text;
			button {
				min-width: 0;
			}
			i {
				right: 6px;
			}
		}
	}
	.side-popup-wrap {
		.side-popup {
			.react-scrollbar-default {
				position: relative; // background: $white;
				min-height: 608px;
				min-width: 100%;
				.scroller {
					padding: 30px;
					.dept-creation-page {
						#domain {
							pointer-events: none;
							border: none;
						}
					}
				}
			}
		}
	}
	&.department {
		.side-popup-wrap {
			.side-popup {
				padding: 30px;
			}
		}
	}
	.post-header {
		.socialChannels.internal-icon-wrapper {
			vertical-align: -3px;
		}
	}
}

.post {
	background-color: $white;
	font-family: inherit;
	color: $light-text;
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
	.post-title {
		position: relative;
		font-size: $font-title;
		padding: 0 10px 10px;
		white-space: pre-wrap;
		word-wrap: break-word;
		a {
			position: relative;
		}
		img {
			display: initial;
			position: relative;
			margin-left: 5px;
		}
	} // Author Thumbnail
	//
	.author-thumb {
		margin-right: 10px;
		width: 44px;
		height: 44px;
		background: $light; // Image
		cursor: pointer;
		//
		img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			margin: 0;
		}
		.thumbnail {
			width: 100%;
			height: 100%;
			background-size: cover;
			border: 1px solid $border-color;
			background-position: center;
		}
	} // Post Header
	//
	.post-header {
		display: flex;
		padding: 10px;
		flex-direction: row;
		position: relative;
		.socialChannels {
			display: inline-block;
			margin-left: 4px;
		}
	}
	.rc-collapse {
		overflow: auto;
		background: $white;
		&-content {
			overflow: visible;
			;
		}
		&-header {
			text-indent: 0;
		}
		.post-header {
			width: 100%;
			float: right;
			padding: 0px;
		}
		.author-meta {
			line-height: 14px;
		}
		.author-data {
			width: 90%;
			.author-name {
				display: inline-block;
				overflow: hidden;
				position: relative;
				text-overflow: ellipsis;
				top: 2px;
				white-space: nowrap;
				max-width: 120px;
			}
		}
		.arrow {
			display: none;
			margin-left: 25px;
			margin-top: 13px;
		}
	}
	.col-one-of-four {
		.post-thumb {
			padding: 15px;
			cursor: pointer;
		}
		.file {
			.file-icon {
				margin-top: 50px;
			}
		}
	}
	h4,
	.post-detail-feed-text {
		margin-bottom: 17px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 300;
		white-space: pre-wrap;
	} // Post Content
	//
	.post-content {
		float: left;
		clear: both;
		width: 100%;
		background: $white;
		padding: 10px;
		color: #222;
		font-family: sans-serif;
		font-size: $font-title; // Paragraphs
		//
		p {
			font-family: inherit;
			font-weight: inherit;
			font-size: inherit;
		}
	} // Post Pic
	.post-pic {
		video {
			width: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			height: auto;
			display: block;
			border: 1px solid #eeeeee;
			max-height: calc(100vh - 80px);
		}
		@include bp(sm) {
			width: 100%;
			margin: 0;
		} // Link
		//
		a {
			display: block;
			margin: 0;
			padding: 0;
			border: none;
			outline: none;
			text-decoration: none;
		} // Image
		//
		img {
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
			max-height: calc(100vh - 80px);
			object-fit: cover;
		}
		.file {
			display: inline-block;
			padding-bottom: 4px;
			padding-left: 11px;
			padding-top: 0;
			text-align: center;
		}
	} // Post Meta
	//
	.post-meta {
		padding: 15px 10px;
		background: $white;
		border-top: 1px solid lighten($light, 2%);
		display: flex;
		flex-direction: row;
		align-items: center;
		@media all and (max-width: 479px) {
			display: block;
			text-align: center;
		}
		&:empty {
			padding: 0;
			border: 0;
		}
		+.post-meta {
			border-top: 0;
		}
		.likesNumber,
		.commentsNumber {
			display: inline-block;
			margin-right: 3px;
		} // Contents
		//
		.status,
		.share,
		.like,
		.comments,
		.count {
			flex: 1;
			font-weight: 400;
			font-size: $font-title;
			margin-left: 5px; //added by disha
			a.post-meta-link {
				font-family: inherit;
				color: $light-text;
				&.btn {
					color: $white;
				} //i added by disha
				>i {
					font-size: inherit;
					top: 3px;
					right: 4px;
					position: relative;
				}
			}
		}
		.like {
			float: left;
			margin-right: 10px;
		}
		.share {
			float: left;
		}
		@media all and (max-width:479px) {
			.count {
				margin-right: 0;
			}
		}
		.likers {
			overflow: hidden;
			font-size: $font-title;
			list-style: none;
			.like-thumb {
				float: left;
				width: 38px;
				height: 38px;
				border-radius: 50%;
			}
			.like-meta {
				float: left;
			}
			.like-author {
				color: #555;
				font-size: $heading;
				;
				font-weight: $font-reguler;
			}
			.like-date {
				color: $light-text;
				font-size: $normal-text;
				font-weight: $font-reguler;
			}
		}
		.count {
			text-align: right;
			span {
				color: $light-text;
				display: inline-block;
				position: relative;
				&:before {
					content: "•";
					font-size: 18px;
					left: -8px;
					position: absolute;
					color: lighten($light-text, 14%);
				}
				+span {
					margin-left: 11px;
				}
				&:first-of-type {
					&:before {
						content: "";
						display: none;
						margin: 0;
					}
				}
			}
		}
		.liked {
			color: $theme;
			a {
				color: inherit;
			}
		}
		.liked a.post-meta-link ,.liked a.post-meta-link span {
			color: $theme;
		} // Status
		//
		.status {
			text-align: left; // Icon
			//
			i {
				vertical-align: -7px;
				margin-right: 5px;
			}
			i.fa {
				font-size: 20px;
				float: left;
				position: relative;
				margin-right: 5px;
				top: -2px;
			} // Themes
			//
			&.approved {
				color: $green; //i added by disha
				i {
					position: relative; // top: 8px;
					// right: 2px;
				}
			}
			&.unapproved {
				color: $red;
			}
			&.pending-approval {
				color: $secondary;
			}
		} // Share
		//
		.share {
			text-align: center;
		} // Comments
		//
		.comments {
			text-align: right;
		}
	} // Post Comments
	//
	.post-comments {
		clear: both;
		padding: 0;
		background: lighten($light, 8%);
		ul.comments:empty {
			padding: 0;
		}
		.comment-author {
			font-weight: bold;
		}
		.comment-form {
			margin-bottom: 15px;
			.form-row {
				//padding: 0 15px 0 52px;
				margin-bottom: 5px;
			}
		}
		.comment-response {
			float: left;
			clear: both;
			width: 100%;
			margin-top: 10px;
			background: $white;
			border: 1px solid darken($light, 2%); // Reset Inputs
			//
			input[type="text"],
			textarea {
				border: none;
				background: $white;
				box-shadow: none;
				outline: none;
				font-family: inherit;
				font-weight: $font-reguler;
				font-size: $normal-text;
				resize: vertical;
			}
		} // Comments
		ul.comments {
			margin: 0;
			padding: 10px;
			font-family: "-apple-system", "BlinkMacSystemFont", "San Francisco", "Roboto", Helvetica Neue, sans-serif;
			font-weight: $font-reguler;
			font-size: $normal-text; // List Item
			background: #fff7f7;
			li {
				list-style-type: none;
				margin: 0;
				padding: 6px 0;
				position: relative;
				text-align: left;
				width: 100%;
				&:last-child {
					margin-bottom: 0;
				}
				.comment-action-delete {
					position: absolute;
					right: 7px;
					top: 3px;
					color: $light-text;
					height: 24px;
					width: 24px;
					text-align: center;
					@include border-radius(24px);
					i {
						font-size: 18px;
						line-height: 24px;
					}
					&:hover {
						background: $cross-hover
					}
				} // Sub Comments
				//
				ul {
					float: left;
					clear: both;
					width: 100%;
					margin-top: 10px;
					li {
						margin-bottom: 0;
						margin-left: 20px;
						width: calc(100% - 40px);
						padding: 0 5px 10px 12px;
						border-left: 2px solid lighten($light-text, 5%);
						&:last-child {
							padding-bottom: 0;
						}
					}
				}
				a.reply {
					display: inline;
					@include bp(md) {
						display: none;
					}
				}
				>.comment:hover>.comment-text p.meta a.reply {
					display: inline;
					@include bp(md) {
						display: inline;
						border: 2px solid $blue;
					}
				} // Thumb
				//
				.comment-thumb {
					float: left;
					clear: both;
					width: 30px;
					height: 30px;
					margin-right: 10px; // Image
					//
					img {
						width: auto;
						height: auto;
						max-width: 100%;
					}
				} // Comment Content / Text
				//
				.comment-text {
					padding-left: 40px;
					.comment-author {
						color: $color-heading-text;
					}
					img {
						display: initial;
						position: absolute;
						margin-left: 5px;
					}
					p {
						font-family: inherit;
						margin: 0;
						width: 90%; //add width -disha
						color: $dark-gray;
						font-weight: initial;
						white-space: pre-wrap;
						&.meta {
							font-family: inherit;
							font-size: inherit;
							line-height: 1;
							margin: 0;
							color: $dark;
						}
					}
				}
			}
		}
	}
	.comment-author {
		color: $dark;
		font-size: 110%;
	}
	.comment-action {
		form {
			padding-left: 40px;
		}
	} // Post Footer
	//
	.post-footer {
		@extend .tags-row;
		i {
			font-size: $heading;
			;
			position: relative;
			top: 3px;
			right: 2px;
			margin-right: 4px;
		}
	}
	.approval-actions {
		padding: 10px;
		background: $white;
		border-top: 1px solid #f3f2f2;
		border-bottom: 1px solid #f3f2f2;
		font-size: $normal-text;
		button {
			min-width: 0;
		}
		i {
			right: 0;
		}
	}
}

.pinned-text-wrapper {
	background: #e2e1e1ab; //    background: #f6f7f9;
	// background: $dark-bg;
	//background: #e2e1e199;
	padding: 5px 5px 5px 15px;
	.pin-icon-wrapper {
		width: 24px;
		height: 24px;
		float: left;
		background: $theme;
		@include border-radius(24px);
		color: $white;
		margin-right: 20px;
		text-align: center;
		margin-top: 7px;
		i {
			font-size: 18px;
			line-height: 24px;
		}
	}
	.admin-pin-statement {
		color:$theme;
		display:inline-block;
		margin-right:15px;
		vertical-align:middle;
		width:100%;
		font-weight: $font-light;
		max-width:450px;
		min-height:38px;
		line-height:38px;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
		@media all and (max-width:767px) {
			max-width: 150px;
		}
		input {
			min-width: 200px;
			padding: 0 5px;
		}
	}
}

@media all and (max-width:979px) {
	#feed .noMedia {
		font-size: $date-text;
	}
}

@media all and (max-width:767px) {
	.author-data,
	#feed .post .post-title {
		font-size: $date-text;
	}
	.create-post-selected-elements {
		margin-right: 0;
		margin-bottom: 15px;
		.archive-container {
			padding: 0 8px;
		}
	}
	.createPostWrapper .bottom-right-buttons {
		.createPostBtn,
		.schdulePostBtn {
			min-width: 85px;
		}
	}
	.text-feed-internal {
		font-size: $heading;
		;
		line-height: 20px;
	}
	.text-feed-internal a {
		display: block;
		width: 100%;
		max-width: 300px;
		margin: 10px auto 0;
	}
	#feed .noMedia {
		font-size: 16px;
	}
	@media all and (max-width:767px) {
		#feed #feed-popup {
			left: 50%;
			margin-left: 160px;
		}
	}
}

.feed-comment {
	margin-top: 10px;
}

.post-comments .comment-form-main {
	padding: 10px 10px 0;
}

.add-new-popup {
	div.hopscotch-bubble .hopscotch-bubble-container {
		background-color: #f4f5f7;
		color: $color-heading-text;
		border-radius: 4px;
		padding: 15px;
		z-index: 1;
	}
	.hopscotch-bubble {
		border-radius: 4px;
		position: static
	}
	.hopscotch-content {
		color: $white;
	}
	.hopscotch-title {
		color: $color-heading-text; // margin-top:17px;
	}
	.hopscotch-bubble-arrow {
		border-left: 17px solid $secondary;
	}
	button {
		position: absolute;
		top: 2px;
		right: 2px;
		background-color: transparent;
		/* margin-right: -8px; */
		/* margin-top: -5px; */
		padding: 0;
		height: 20px;
		width: 20px;
		line-height: 24px;
		@include border-radius(24px);
		i {
			color: $color-heading-text;
			left: 5%;
			font-size: $font-title;
			right: 0;
		}
	}
	button:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	#triangle-up {
		width: 0;
		height: 0;
		border-left: 17px solid transparent;
		border-right: 19px solid transparent;
		border-bottom: 18px solid #f4f5f7;
		position: absolute;
		top: -15px;
		right: 15px;
	}
	div.hopscotch-bubble h3 {
		margin: 0;
		text-transform: none;
	}
}


/* Curation section starts*/

#jobs #close-popup {
	top: 10px;
}

.new-btn {
	position: absolute;
	top: 0;
	right: 0;
	background: $theme;
	height: 27px;
	width: 60px;
	color: $white;
	z-index: 2;
	font-size: $heading;
	;
	font-weight: $font-reguler;
	text-transform: uppercase;
	text-align: center;
	border-radius: 15px;
	padding-top: 4px;
	margin-top: -9px;
}

#jobs .curated-page .feed-jobs-wrapper :nth-child(2n) {
	.feed-job-item-inner {
		border-top: 10px solid $secondary;
	}
}

#jobs .curated-page .feed-jobs-wrapper .feed-job-item-inner {
	border-top: 10px solid $primary;
}

.job-details-container .read-only-data .form-row label {
	min-width: 30px;
	margin-right: -4px
}

.job-details-container .description {
	margin-bottom: 20px;
	.title {
		width: 100px; //width: 170px;
		float: left;
		margin-right: 10px;
		color: $color-heading-text;
		font-weight: 400;
	}
	.job-description {
		line-height: 1.5;
	}
}

.job-details-container .job-date {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 58px;
	margin-top: 15px;
	font-size: $heading;
	;
}

.feed-job-item-inner .job-title {
	p {
		height: 24px;
		overflow: hidden;
	}
}

.job-details-container .job-title {
	border-bottom: 1px solid $tab_border;
	position: relative;
	padding: 10px 0 10px 17px;
	h2 {
		font-size: $normal-text;
		font-weight: 400;
		margin-top: 2px;
		line-height: 22px;
	}
}

.feed-job-item {
	position: relative;
	z-index: 1;
}

.feed-job-item-inner {
	background: $white;
	padding: 15px 15px 15px;
	position: relative;
}

.salary-mainbox .value {
	font-size: 14px;
	font-weight: 400;
}

.feed-job-item-inner {
	text-align: center;
	.job-date {
		p {
			font-size: $date-text;
			text-transform: uppercase;
			font-weight: 400;
		}
	}
	.job-title {
		text-align: center;
		p {
			font-size: $font-title;
			text-transform: capitalize;
			color: $theme;
			font-weight: 400;
		}
	}
	.job-location {
		position: relative;
		display: flex;
		justify-content: center;
		p {
			margin: 0;
			color: $color-heading-text;
			text-transform: uppercase;
			font-weight: 400;
			position: relative;
			height: 20px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		i {
			color: $color-heading-text;
			left: 8px;
		}
	}
	.job-descripation {
		margin-top: 15px;
		padding: 0 13px;
		p {
			font-size: $heading;
			;
			text-align: left;
			font-weight: 300;
			height: 84px;
			overflow: hidden;
			margin: 0 0 15px;
		}
	}
}

.feed-job-points {
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: center;
	i {
		color: #ff585e;
		font-size: 40px;
	}
}

.feed-job-title {
	margin-bottom: 15px;
	a {
		font-size: $heading;
		;
		font-weight: 400;
		text-decoration: none;
	}
}

.feed-job-data {
	i {
		color: $color-heading-text;
		font-size: 24px;
		vertical-align: middle;
		padding-right: 10px;
	}
}

.feed-jobs-wrapper {
	padding: 30px 45px;
}

.feed-job-share-links-wrapper {
	text-align: center;
	white-space: nowrap;
	max-width: 220px;
	margin: 0 auto;
	a {
		text-decoration: none;
		i {
			display: inline-block;
			width: 24px;
			height: 24px;
			line-height: 24px;
			font-size: $heading;
			;
			background: $fb;
			color: $white;
			border-radius: 50%;
		}
		span {
			display: block;
			font-size: $date-text;
			line-height: 18px;
			color: $default-text;
		}
	}
	.twitter-link {
		i {
			background: $twitter;
		}
	}
	.linkedin-link {
		i {
			background: $linkln;
		}
	}
	.feed-job-share-item {
		display: inline-block;
		min-width: 33.3%;
		text-align: center;
	}
}

.feed-job-share-block-title {
	font-size: 10px;
	color: $color-heading-text;
	font-weight: 400;
	position: relative;
	text-align: center;
	max-width: 244px;
	padding-bottom: 10px;
	margin: 0 auto;
	text-transform: uppercase;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		right: 0;
		height: 1px;
		background: $tab_border;
		margin-top: -6px;
	}
	span {
		background: $white;
		position: relative;
		padding: 0 10px;
	}
}

.text-header-job {
	height: 83px;
	overflow: hidden;
	margin-bottom: 15px;
}

@media all and (max-width:767px) {
	.feed-jobs-wrapper {
		padding: 15px;
	}
}


/* Curation section ends*/

.hide-label {
	opacity: 0;
}

.job-details-container .feed-job-share-links-wrapper {
	max-width: 300px;
	margin: 0 auto;
}

.form-row label i,
.job-location i {
	font-size: 20px;
}

.job-details {
	// height: calc(100vh - 90px);
	// overflow-x: hidden;
	// overflow-y: auto;
	// padding-right: 25px;
	// position: relative;
	.job-form {
		label {
			width: 100%;
		}
		input {
			width: 100%;
		}
	}
	.form-row .job-description {
		line-height: 1.5 !important;
	}
	.form-row>.value {
		color: $color-heading-text;
		font-weight: 400;
		line-height: 1.5;
		margin-top: 4px;
		font-size: $heading;
		;
	}
	.form-row textarea {
		resize: none
	}
}

.thumbnai_popup {
	position: absolute;
	top: 28px;
}

#feed {
	.button-dropdown .dropdown-toggle {
		height: 30px;
		width: 30px;
	}
	.button-dropdown .dropdown-toggle:hover {
		text-decoration: none !important;
		background: $cross-hover;
		border-radius: 19px;
	}
	.dd-menu {
		position: absolute;
		right: 0;
		width: 36px;
		top: 5px;
	}
	.dropdown-toggle {
		i {
			position: relative;
			top: 1px !important;
			right: 0 !important;
			font-size: 21px;
			margin-left: 5px;
		}
	}
	.dropdown-toggle:after {
		content: "" !important;
		margin-left: 0;
		top: 0;
	}
	.feed-pin-top {
		position: absolute;
		top: 8px;
		right: 28px;
		svg {
			height: 22px;
			width: 22px;
			margin-top: -1px;
		}
	}
	.pin-top-post {
		display: block !important;
	}
	.pin-content-wrapper {
		position: relative;
		float: left;
		width: 100%;
		margin-left: -46px;
		padding-left: 36px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 20px;
	}
	.pinActionBtns {
		position: absolute;
		right: 0;
		top: 7px;
		a {
			width: 30px;
			height: 30px;
			text-align: center;
			margin-right: 10px;
			display: block;
			float: left;
			@include border-radius(26px);
			&:hover {
				background: #efefef
			}
			&:last-child {
				margin-right: 0;
			}
			i {
				font-size: 24px;
				line-height: 28px;
				margin-left: 1px;
				margin-top: 1px;
			}
		}
	}
	.remove-pin-edit-textbox {
		top: 10px;
	}
	.pin-content-wrapper {
		.save-pin-statement {
			position: absolute;
			top: 8px;
			left: 50%;
			margin-left: -18%;
		}
	}
	.edit-textbox-pin-icon {
		margin-top: 7px;
	}
}

.post-approve-wrapper {
	padding: 15px 10px;
	border-top: 1px solid #f3f2f2;
	display: flex;
	flex-direction: row;
	align-items: center;
	.approved {
		color: $green;
		i {
			vertical-align: -7px;
			margin-right: 5px;
		}
	}

	.feedback-post-unapprove{
		position: absolute;
		right: 5px;
		cursor: pointer;
	}
	.analytics-tooltip-title span{
		color:$red !important;
	}
}

.empojis_button {
	.right {
		margin-right: 56px;
	}
	.btn-default {
		margin-left: 3px;
	}
}

#post-creation .post-details-main {
	opacity: 1;
} //In post uploaded
.feed-btn {
	margin-right: 10px;
}

#calendar .pop-up-tooltip {
	margin: 90px 0 0 -291px;
	z-index: 102;
	.popup-arrow {
		left: auto;
		margin-left: 0;
		right: 175px;
	}
}

.calendar-filter-wrapper {
	float: left;
	margin-right: 10px;
	margin-top: 9px;
}

.calendar-filter-wrapper .calendar-filter-checkbox {
	float: left;
	margin-right: 10px;
}

.calendar-filter-wrapper .calendar-filter-checkbox:last-child {
	margin-right: 0;
}

.calendar-filter-wrapper .calendar-filter-checkbox label:before {
	font-family: "FontAwesome";
	font-size: $date-text;
	text-align: center;
	content: "\F00C";
	display: inline-block;
	margin-right: .8em;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	color: $white;
	background: $white;
	box-shadow: inset 0 0 0 2px #ddd;
	transition: all 0.15s ease-in-out;
	line-height: 16px;
	vertical-align: 1px;
}

.on-off-switch-main-container .onoffswitch input[type="checkbox"]:checked+label {
	color: $color-heading-text;
}

@media all and (max-width:768px) {
	#feed {
		.pin-content-wrapper {
			input {
				width: 100%;
			}
		}
		.edit-pin-statement,
		.save-pin-statement {
			right: 0;
			left: 84% !important;
			margin-left: 0;
		}
	}
}

#feed .render-post-feed .no-data-block {
	margin: 30px auto;
}

.feed-jobs-wrapper .feed-job-item {
	padding-bottom: 30px;
}

.postAddAssetTab {
	height: 0;
	overflow: hidden;
	&.active {
		height: auto;
	}
}

.createPostAssetTabContainer {
	.archive-container {
		@include clearfix();
		margin: 0 -5px 20px;
		.imgwrapper,
		.asset-dir {
			padding: 5px;
			width: 20%;
			@media all and (max-width: 979px) {
				width:33.3%;
			}
			@media all and (max-width:767px) {
				width: 50%;
				float: left;
			}
			@media all and (max-width:479px) {
				width: auto;
				float: none;
			}
		}
		.asset-dir {
			&.folder .file-details {
				span.side i {}
				.foldername_assets {}
			}
			.file-details {
				span.side {
					padding: 5px;
					i {
						position: relative;
						top: 2px;
					}
				}
				.foldername_assets {
					margin: 5px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					line-height: 26px;
					color: $theme;
					font-weight: $font-light;
					font-size: $normal-text;
					.asset-count {
						line-height: 16px;
						color: $default-text;
						font-size: $date-text;
						font-weight: $font-light;
					}
				}
			}
			.file-details:hover {
				.foldername_assets {
					color: $white;
				}
			}
		}
	}
}

.visit-source-link {
	margin-right: 4px;
}

.post-detail-feed-text {
	font-size: $normal-text;
	line-height: 20px;
	color: $default-text;
}

@media all and (max-width:1450px) {
	.feed-jobs-wrapper .feed-job-item {
		width: 33.3%;
	}
}

@media all and (max-width:1200px) {
	.feed-jobs-wrapper .feed-job-item {
		width: 50%;
	}
}

@media all and (max-width:1024px) {
	#post-creation .bottom-left-buttons i {
		margin-right: 0;
	}
	.bottom-left-buttons .buttonText {
		display: none;
	}
	.createPostWrapper .bottom-left-buttons .btn {
		&.active,
		&.active:hover, &.btn-primary {
			color: $primary;
			box-shadow: none;
		}
	}
	.createPostWrapper .bottom-left-buttons .btn {
		min-width: 30px;
		padding: 0;
		&,
		&:hover {
			background: none;
			color: $theme;
		}
	}
}
@media all and (max-width:420px) {
	.createPostWrapper .bottom-left-buttons .btn{
		min-width: 25px;
	}
.createPostWrapper .popup-container	.value-popup-in-feed{
		left: 34px !important;
	}
.value-popup-in-feed .create-post-gipghy-wrapper:before{
		left: 86px;
	}
}
@media all and (max-width:979px) {
	.feed-jobs-wrapper .feed-job-item {
		width: 100%;
		padding-bottom: 15px;
	}
	.curated-filter-wrapper .col-one-of-four {
		width: 50%;
	}
	.approval-actions .btnText {
		display: none;
	}
}

@media all and (max-width:767px) {
	.hopscotch-bubble {
		display: none;
	}
	.likeText,
	.shareText {
		display: none;
	}
	.bottom-right-buttons .uploadAssetBtns .btn {
		min-width: 90px;
	}
	.postAddAssetTabInner .listMenu {
		.nav-side {
			padding-bottom: 0;
			overflow: visible;
			.parent li a:before {
				visibility: visible;
			}
		}
	}
} //post css
.feed-post-item .post-header .author-data .author-meta .socialIcons span {
	margin-left: 5px;
} //
#post-creation .selectAssetPopup .heading {
	display: none;
}

@media all and (max-width:479px) {
	.curated-filter-wrapper .col-one-of-four {
		width: 100%;
	}
	#feed .post .post-header {
		display: block;
	}
	#feed .post .author-thumb {
		float: left;
	}
	#feed .author-meta .socialIcons a {
		margin-top: 5px;
	}
	#feed .author-data {
	
		.socialIconWrapper {
			
			text-align: left;
		}
		.post-time {
			float: left;
			width: 100%;
			margin-top: 10px;
		}
	}
}

.feed-job-item-inner .feed-job-share-block-0 {
	padding: 0 15px;
}

.createPostUploadAssetSection .filename {
	padding-left: 0 !important;
}

.postVideo {
	position: relative;
}

.schedulePostPopupColumnWrapper {
	position: relative;
	.PostDetailColumn {
		float: left;
		width: 100%;
		margin-right: -350px;
		padding-right: 370px;
		.feed-post-item {
			margin-bottom: 0;
		}
		.post {
			.dd-menu,
			.post-meta {
				display: none;
			}
		}
		#asset-detail {
			.heading {
				padding: 0;
				border-bottom: 0;
			}
			.popupDescSection {
				padding-left: 0;
				padding-right: 0;
				max-height: none;
			}
			.author-meta {
				margin-bottom: 6px;
				span i {
					position: relative;
					top: 6px;
					color: $theme
				}
			}
			.asset-popup-button-download {
				display: none;
			}
		}
	}
	.postScheduleData {
		width: 350px;
		background: $white;
		min-height: calc(100vh - 90px);
		float: left;
	}
	.scheduleTitleWrapper {
		border-bottom: 1px solid #e9ebee;
		padding: 10px;
		.label {
			margin-bottom: 0;
		}
		.closeBtn {
			top: 5px;
			right: 5px;
		}
	}
	.post-details-schedulerInner {
		padding: 15px;
	}
}

@media all and (max-width:1024px) {
	.schedulePostPopupColumnWrapper {
		.PostDetailColumn {
			float: none;
			width: auto;
			margin-right: 0;
			padding-right: 0;
			padding-bottom: 15px;
		}
		.postScheduleData {
			float: none;
			width: auto;
			min-height: 0;
		}
	}
	.analyticPostDataWrapper {
		padding: 5px 0;
		table td {
			padding: 10px 5px;
			strong {
				font-size: $heading;
				;
				line-height: 20px;
			}
		}
	}
}

.social-checkbox {
	label {
		display: block !important;
		border-radius: 44px;
		box-shadow: 0 0 0 2px #e5e4e4 !important;
		position: relative;
	}
	.internal:checked + label .internalIconWrapper{
		background: $primary;
	}
	.facebook:checked + label .facebookIconWrapper{
		background: $facebook;
	}
	.linkedin:checked + label .linkedinIconWrapper{
		background: $linkedin;
	}
	.twitter:checked + label .twitterIconWrapper{
		background: $twitter;
	}
	.channelIconWrapper{
		background: $background-scoial-icon;
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		right: 0 !important;
		margin-right: -4px !important;
		bottom: 0 !important;
		margin-bottom: -1px;
		line-height: 20px !important;
		border-radius: 44px;
		i{
			margin-right: 0 !important;
			background: none !important;
		}
	}
	.facebookIconWrapper i{
		margin-right: -1px !important;
    font-size: 10px !important;
    margin-bottom: 0px !important;
	}
	.internalIconWrapper{
		i{
			margin-bottom: 2px;
			margin-right:-1px !important;
		}
	}
	.linkedinIconWrapper{
		i
		{
			font-size: 10px !important;
			margin-right:-1px !important;
			margin-bottom:0;
		}
	}
	.twitterIconWrapper i{
		margin-right: -1px !important;
		margin-bottom: 0px !important;
		font-size: 10px !important;
	}
}

.show {
	display: block !important;
}

.linkNotAvailable {
	background: #e7e7e7 !important
}
@media all and (min-width:767px) {
	.feed-post-item:hover{z-index: 1}
}
//for moderation
.button-disable-moderation {
	margin-bottom: 10px;
	button {
		float: right;
		margin-left: 10px;
	}
}

.feed #feed .dropdown-menu {
	position: absolute;
	z-index: 2;
}

@media all and (max-width:768px) {
	// #show-pop-moderation {
	// 	margin-top: 127px;
	// }
}

@media all and (max-width:500px) {
	#feed .create-post-gipghy-wrapper .imgwrapper {
		padding: 5px;
	}
	#feed #show-pop-moderation .count-fd {
		margin-top: 10px;
	}
}

@media all and (max-width:420px) {
	#feed .create-post-gipghy-wrapper .imgwrapper {
		float: none;
		margin: 0 auto;
		width: 190px;
	}
}

//create post in mobile screen css
@media all and (max-width:500px) {
	#post-creation .createPostUploadAssetSection .dropzone-preview {
		.preview-wrapper {
			margin: 10px auto;
		}
		svg {
			float: none;
		}
	}
}

@media all and (max-width:768px) {
	//search css
	#globalSearchid {
		width: 100%;
		position: fixed;
		left: 0;
		right: 0;
	}
}

//dropudown css
.feed .live-feeds .dropdown-inner-wrapper {
	padding: 15px;
}

.feed .scheduled-feeds .dropdown-inner-wrapper {
	padding: 15px;
}

.feed .nav-side .rc-collapse .search-icon i {
	font-size: 21px;
}

//for celender video
.bigCalendar-calendarview .postVideo,
.feed .postVideo,
.moderation .post-pic .postVideo, .analyticDetailPopup .postVideo, .livemap-wrapper #banner {
	.playIconOverlay.overlay{
		background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		i {
			position: absolute;
			color: $white;
			font-size: 51px;
			top: 50%;
			left: 50%;
			margin: -25px 0 0 -25px;
			cursor: pointer;
		}
	}
}
.livemap-wrapper #banner{
	position: relative;
}

.transparent-textarea-for-createpost {
	position: absolute;
	bottom: 3px;
	right: 2px;
	background: rgba(255, 255, 255, 0.6);
	width: 82px;
	height: 38px;
}

.Create-post-popup-main-container-wrapper {
	min-height: 74px;
}

.Create-post-popup-main-container {
	background: $white;
}

.job-wrapper-box a:hover {
	text-decoration: none;
}

.job-box .job-icon-content .configure-jobs {
	background-color: $pop_up_bg;
	position: absolute;
	border-radius: 50px;
	padding: 5px 14px;
	color: $color-heading-text;
	font-weight: $font-reguler;
	font-size: $heading;
	;
	right: 0;
	top: 0;
	margin-top: 23px;
	margin-right: 12px;
	text-decoration: none;
}


.post-rating-main {
	width: 100%
}

.post-rating-main {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.post-rating-main-sub {
	position: relative;
	padding-left: 125px;
}

.post-rating-main .post-rating-voting-text-part-wrapper {
	display: flex;
	.post-rating-value-lable {
		max-width: 180px;
		width: 100%;
		z-index: 2;
		padding: 11px;
		background: $primary;
		color: $white;
		font-size: $date-text;
		font-weight: $font-reguler;
		line-height: 18px;
		position: relative;
	}
	.value-ranking-container-for-text {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -49px;
		margin-top: -10px;
	}
	.value-container-ranking {
		padding-left: 25px;
		max-width: 100%;
		position: relative;
		i {
			position: absolute;
			font-size: 16px;
			left: 3px;
			top: 0;
			margin-top: 1px;
		}
		span {
			word-break: break-word;
			font-size:14px;
		}
	}
	.valueDescriptionPopup{

		.valueDescriptionPopupInner{
			background: $white;
			color: $color-heading-text;
			padding: 10px;
			border-radius: 2px;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
			display: inline-block;
		}
		top: 100%;
		margin-top:15px;
		position: absolute;
		left: 5px;
		z-index: 1;
		width: 300px;
		opacity: 0;
		visibility: hidden; 
		-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
	&:before{
			content: '';
			position: absolute;
			left: 30px;
			top: -10px;
			border-bottom:10px solid $light;
			border-left:10px solid transparent;
			border-right:10px solid transparent;
		}
	}
	.post-rating-value-lable:hover .valueDescriptionPopup{
		opacity: 1;
		visibility: visible;
	}
	.post-rating-desc-part {
		padding: 11px;
		background: rgba(0, 0, 0, 0.4);
		color: $white;
		font-weight: $font-reguler;
		font-size: $date-text;
		line-height: 18px;
		width: 100%;
	}
}
.post-rating-main .post-rating-voting-vote-part-wrapper .post-rating-value {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	max-width: 125px;
	width: 100%;
	z-index: 1;
	padding: 11px;
	background: $primary;
	color: $white;
	padding-left: 32px;
	font-size: $date-text;
	font-weight: $font-reguler;
	line-height: 18px;
	.value-container-ranking {
		position: absolute;
		top: 50%;
		margin-top: -14px;
		left: 50%;
		margin-left: -47px;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 106px;
	}
	i {
		position: absolute;
		font-size: $button-text;
		top: 5px;
		left: 0;
		margin-left: -1px;
	}
	span {
		padding-left: 23px;
		line-height: 27px;
	}
}

.post-rating-main .post-rating-points-ul .post-rating-points-li {
	float: left;
	width: 9.09%;
	text-align: center;
	cursor: pointer;
}

.post-rating-main .post-rating-points-ul {
	.post-rating-points-li:active,
	.post-rating-points-li:focus,
	.post-rating-points-li:hover {
		background: $primary;
		color: $white;
	}
}

.value-popup-in-feed {
	position: absolute;
	width: 285px;
	left: 365px;
	top: 11px;
	background: $white;
	z-index: 6;
	margin-bottom:50px;
}

#postdetail+.post-pic-ranking-container .post-pic+.renderRatings-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.post-pic-ranking-container {
	position: relative;
}

.post-rating-main-sub.voting-ranking-container {
	.voting-ranking-lable {
		background: rgba(255, 255, 255, 0.97);
		color: $primary;
		font-size: $date-text;
		line-height: 18px;
		overflow: hidden;
	}
	.voting-rating-value {
		background: rgba(255, 255, 255, 0.8);
		color: $primary;
		font-size: $date-text;
		line-height: 18px;
		padding: 0;
		overflow: hidden;
		.voting-rating-value-inner {
			white-space: nowrap;
			position: relative;
			left: 0;
			width: 100%;
			&.ratingSuccess {
				left: -100%;
				-webkit-transition: left 0.3s ease;
			}
		}
		ul {
			li {
				font-size: $date-text;
				line-height: 40px;
				color: $primary;
				font-weight: $font-semibold;
			}
		}
		ul,
		.ratingSuccessMessage {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
		}
		.ratingSuccessMessage {
			line-height: 40px;
			white-space: normal;
			word-break: break-word;
			text-align: center;
		}
	}
}

@media all and (max-width:767px) {
	.post-rating-main-sub.voting-ranking-container .voting-rating-value ul {
		padding-left: 0;
	}
	.ratingSuccessMessage {
		line-height: 13px !important;
		padding: 20px;
	}
	.post-rating-main-sub{
		padding-left: 102px;
	}
	.post-rating-main .post-rating-voting-vote-part-wrapper .post-rating-value{
		max-width: 107px;
	}
}

.post-pic,
.post-pic-ranking-container {
	position: relative;
}
.post-pic-ranking-container{
	z-index: 1;
	@media all and (max-width:767px) {
		z-index:0;
	}
}
.post .post-detail-pic-wrapper #postdetail+.post-pic-ranking-container .post-pic+.culture-value-name {
	position: absolute;
	top: 10px;
	left: 10px;
}

.post-rating-main .post-rating-points-ul .post-rating-points-li.ratingActive {
	background: $primary;
	color:$white;
}

#postdetail+.post-pic-ranking-container .render-ranking-only-text-container .post-rating-main {
	margin-top: 0;
}

.post .post-detail-pic-wrapper .culture-value-name {
	position: relative;
	i {
		position: relative;
		top: 5px;
		left: -6px;
		font-size: $font_size_20;
	}
}

.disableUl {
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5);
	}
	li {
		pointer-events: none;
	}
}
.multiple-email-container{
	border:1px solid $input-border; 
	border-radius: 1px; 
	padding:0; margin: 0; cursor:text; width:100%;
	margin-bottom: 20px; 
}
.multiple-email-container input{
	width:100%; 
	border:0; 
	outline: none; 
	padding-left: 5px;
	border: 0 !important;
	padding: 10px;
	color: #454545;
	font-weight: 300;
}

.multiple-email-container .multiple_emails-ul {	
	list-style-type:none; 
	padding-left: 0; 
	margin-bottom: 8px;
}
.multiple_emails-email { 
	margin: 3px 5px 3px 5px;
    padding: 0px 8px 0px 16px;
    border: 1px solid $input-border;
    border-radius: 50px;
    display: inline-block;
    list-style: none;
}
.multiple_emails-close { 
	float:right; 
}
.multiple_emails-ul #close-popup{
	background: transparent;
    padding: 0;
    height: 25px;
    width: 25px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
	border-radius: 30px;
	margin-left: 5px;
	margin-top: 4px;
}
.multiple_emails-ul #close-popup:hover {
    background: #f8f8f8;
}
.multiple_emails-ul .material-icons{
	font-size: 17px;
    vertical-align: 1px;
    text-align: center;
	margin-left: 4px;
	color: $theme;
	cursor: pointer;

}
.multiple_emails-email span{
	margin-bottom: 3px !important;
    margin-top: 6px;

}



// ------responsive-------//
//-------------- 767------------//
@media only screen and (max-width: 767px) {
	
.multiple_emails-ul span{
    display:inline-block !important;
    margin-top: 6px !important;
}
}

/* quick survey section starts */
.quick-survey-post .post-rating-main .post-rating-voting-text-part-wrapper .post-rating-value-lable{
	max-width: 145px ;
	background: $theme;
	.value-container-ranking{
		max-width:100%;
		margin-top: -10px;
		font-weight: 500;
		position: absolute;
		top: 50%;
	}
}
.quick-survey-post {
	.value-container-ranking{
		svg{
			fill: white;
			position: absolute;
			font-size: 16px;
			left: 4px;
			top: 1px;
		}
	}

}
.qick-survey-admin-thumbnail{
	background-image: url("https://visibly-cloud.s3.eu-west-2.amazonaws.com/pirates_com/1/JackySdmdmdmparrow_1548735291059-992bae4f-7923-6f9d-1f5e-e5461f36a2f5.jpeg");
}
.quick-survey-post .post-rating-main .post-rating-voting-text-part-wrapper .post-rating-desc-part{
	background: #adc8f8;
	color:#002d78;
	font-weight:500;
	font-size:13px;
}

.quick-suvery-content{
		 background: #d0e1fe;
		 overflow: hidden;
		 position: relative;
		 &.please-wait:after{
			content:'Please wait';
			position: absolute;
			left: 50%;
			top:50%;
			background: $white;
			margin:-20px 0 0 -20px;
			padding:10px;
		}
		  .inner-quick-suvery-content{
			position: relative;
			left: 0;
			width:200%;
			z-index:1;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		  }
		 .quick-suvery-content-wrapper{
			padding:20px;
			width:50%;
			vertical-align: top;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;

			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;

			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;

			-webkit-box-direction: reverse;
			-webkit-flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
		 }
		 .success-msg-quick-suvery-content{
			display: inline-block;
			width:50%;
			position: relative;
			height:355px;
		
			.success-text 	.smile-face-quick-suvery{
				font-size:38px;
				top:4px;
				position: relative;
			}
		 }
		 .Success-quick-survery{
			 left:-100%;
			-webkit-transition: left 0.5s ease;
			 animation-delay:20s;
			 transition: left 0.5s ease;
		    //  transition:  0.95s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0.15s
		  }
		 .success-text{
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: -20px;
			margin-left: -97px;
			p{
			    line-height: 36px;
				color:$theme;
				font-size: 30px;
				font-weight: 500;
				margin: 0;
			}
		 }
		.quick-survey-illustration{
			float: left;
			padding: 69px 40px 29px 20px;
			width: 66%;
		.inner-quick-survey-illustration{
			width: 422px;
			max-width: 100%;
			margin: 0 auto;
			img{
				width:100%;
				object-fit: contain;
			}
		}
	
		}
		
		.quick-survery-options{
		
			
			float:right;
			width:34%;
			ul{
				li{
					background: $white;
					color:$theme;
					padding: 7px;
					margin-bottom: 10px;
					font-size: 15px;
					font-weight: 500;
					line-height: 22px;
					text-align: center;
					cursor: pointer;
					-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
					list-style: none;
					&:hover{
						background: $theme;
						color:$white;
					}
				}
				li.active{
					background: $theme;
					color:$white;
				}
			}
			ul li:last-child{
              margin:0;
			}
		}
	}
	.please-wait .quick-survery-options li{
		pointer-events: none;
	}
	
	.poll-main-container {
		position: relative;
		.loader{
			position: absolute;
    left: 0;
    top: 58px;
    right: 0;
    bottom: 0;
    z-index: 10;
		background: rgba(35, 111, 255,0.5);
		display: none;
		@media all and (max-width:767px){
			top:40px;
		}
			img{
				max-width: 50px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
			}
		}
		&.please-wait .loader{
			display: block;
		}
		@media all and (max-width:767px){
			height:calc(100vh);
			background: #cfe0fe;
		}
	}
	.quick-survey-post .main-popup-wrapper{
		position: relative;
	}
.quick-survey-post .close-popup{
	position: absolute;
    right: -15px;
    background: none;
    border-radius: 0;
    padding: 0;
    height: 30px;
    color: $theme;
    z-index: 2;
    width: 30px;
    top: -18px;
    background: $white;
    padding-top: 1px;
		border-radius: 30px;
		&:hover{
			background: #f3f3f3;
		}
		i{
			font-size: 18px;
		}
		@media all and (max-width:767px){
			right: 10px;
			top: 4px;
			background: none;
			color: $white;
		}
}

	@media only screen and (max-width: 900px) {
		.quick-suvery-content{
			.success-msg-quick-suvery-content{
				height:320px;
			}
			.quick-survey-illustration{
				margin-bottom: 20px;
			}
		  .quick-survey-illustration,.quick-survery-options{
			   float:none;
			   width:100%;
		
		   }
		   .quick-survery-options{
			   ul  li{
				   width:100%;
				   background: rgba(255,255,255,0.95);
			   }
		   }
		}
		 .quick-suvery-content-wrapper{
			 position: relative;
		 }
		.quick-survey-illustration{
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -130px;
			margin-left: -160px;
			max-width:325px;
			z-index:-1;
		}
		.quick-suvery-content{
			position: relative;
		}
	
	}
	@media all and (max-width:767px){
		.quick-survey-post {
			.post-rating-main .post-rating-voting-text-part-wrapper{
				display: block;
			}
			.post-rating-main .post-rating-voting-text-part-wrapper .post-rating-value-lable{
				max-width: none;
				padding:20px 10px;
			}
		}
		.quick-suvery-content {
			 .quick-survey-illustration{
					top:70px;
					margin-top:0;
				}
				.quick-survery-options { 
					position: relative;
					z-index: 2;
					ul { 
						li{
							width: auto;
							float: left;
							margin-right: 10px;
							box-shadow: 0px 2px 4px -2px #236fff;
					}
			}
			}
		}
	
		}

.smile-face-quick-suvery{
	font-size:38px;
	top:4px;
	position: relative;
}
.updateFeedPopup {
	.createCustomfeedpopup .update-btn{
		padding-top: 45px;
	}
	.sendbtn{
		position: absolute;
		right: 20px;
    bottom: 20px;
	}
}
.createCustomfeedpopup .feedtext{margin-bottom: 15px;}
.feedRadioWrapper{margin: 0 -20px;
	padding: 0 20px 20px;
	background: #f6f6f6;
	border-bottom: 1px solid #e7e5e5;
    border-top: 1px solid #e7e5e5;
}
.createFeedDetails, .updateFeedPopup {
	.update-btn .sendbtn button{
		margin-top:0;
	}
	 .sendbtn{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: #f6f5f6;
			padding: 10px 10px 5px 10px;
			border-top: 1px solid #e7e5e5;
	}
}
/* quick survey section ends */
// comments loader in feed page
.commentLoader-feed-page{
	margin: 0;
    padding: 10px;
}

/* AI value section starts */
.aiValueBlock{
	padding:37px 46px 40px 46px;
	background: $white;
	border:1px solid $input-border;
	@media all and (max-width:767px){
		padding:10px;
		text-align: center;
	}
	&.no-value-selected{
		font-size: 22px;
		line-height: 32px;
		color: $placeHolder-color;
		text-align: center;
	}
}
.aiValueIconWrapper{
	max-width: 78px;
	img{
		max-width: 100%;
		height:auto;
	}
	@media all and (max-width:767px){
		margin:0 auto;
	}
}
.loader .aiValueSuggestionBlock:before{
	visibility: hidden;
}
.loader-grey-line{
	&.selectValueMainBlock{
		min-height: 111px;
		margin-bottom:50px;
	}
	&.selectValueBlock{
		min-height: 100px;
	}
}
.aiValueIconCol{
	@media all and (min-width:768px){
		float: left;
		width: 78px;	
		position: relative;
		z-index: 1;
	}
	img{
		margin-left:0; // Remove auto from general css
	}
	@media all and (max-width:767px){
		margin-bottom: 15px;
	}
}
.aiValueIconTitle{
	font-size: 14px;
	line-height: 20px;
	color:$primary;
	font-weight: 700;
	margin-bottom:15px;
}
.aiValueTitle{
	margin-bottom:11px;
}
.aiValueContentCol{
	@media all and (min-width:768px){
		float: left;
		margin-left: -78px;
		padding-left: 108px;
		width: 100%;
		padding-top: 13px;
	}
	h2{
		font-size: 12px;
		color: $color-heading-text;
		font-weight: 700;
		line-height: 1.909;
		margin-bottom:4px;
	}	
}
.aiValueBlock
{
	margin-bottom:30px;
}
.createPostWrapper  .popupDescSection .aiValueSection .popupDescSection{
	padding:0;
}
.aiValueSuggestionBlockWrapper{
	margin:-15px -15px 30px;
	@media all and (max-width:767px){
		margin:0 -5px 30px;
	}
	.slick-arrow{
		width: 30px;
    	height: 30px;
		background: rgba(0,0,0,0.5);
		border-radius: 30px;
		margin-top:0;
		@media all and (max-width:767px){
			margin-top:-12px;
		}
	
		&:before{
			background-position: 1px 1px;
    		background-size: 30px 30px;
		}
	}
}
.aiValueSection .popupDescSection{
	max-height: none;
}
.aiValueSuggestionBlock{
	float: left;
	width: 33.3%;
	padding:15px;
	position: relative;
	@media all and (max-width:767px){
		float: none;
		width: auto;
		padding:5px;
	}
	&:before{
		content:'';
		display: block;
		position: absolute;
		top:15px;
		bottom:15px;
		right:0;
		width:1px;
		background: $google-drive-background;
		@media all and (max-width:767px){
			top:5px;
			bottom:5px;
		}
	}
	&:nth-child(3n){
		&:before{
			visibility: hidden;
		}
	}
	&:last-child{
		&:before{
			visibility: hidden;
		}
	}
	.aiValueSuggestionBlockInner{
		padding:10px 5px;
		cursor: pointer;
		border-radius: 5px;
		-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
		display: flex;
		align-items: center;
	}
	&.active, &:hover { 
		.aiValueSuggestionBlockInner{
			background: $google-drive-background;
			.aiValueSuggestionBlockImage{ 
				img{
					filter: none;
				}
			}
		}
	}
	.aiValueSuggestionBlockImage{
		width: 40px;
		float: left;
		img{
			max-width: 100%;
			height: auto;
			filter: grayscale(1);
			-webkit-transition: all 0.5s ease; 
			-moz-transition: all 0.5s ease; 
			transition: all 0.5s ease;
			width: 32px;
			height: 32px;
			object-fit: contain;
		}
		@media all and (max-width:767px){
			width: 30px;
		}
	}
	.aiValueSuggestionBlockTitle{
		margin-left:-40px;
		padding-left:55px;
		float: left;
		width: 100%;
		word-wrap: break-word;
		@media all and (max-width:767px){
			margin-left:-30px;
			padding-left:45px;
		}
	}
}
.FeedPage{
	#notie-confirm-inner, #notie-force-inner, #notie-input-inner, #notie-select-inner {
		display: none;
	}
}
/* AI value section ends */