// Flex Table
// 

.flex-table {
  float: left;
  clear: both;
  width: 100%;

  // Structure
  .ft-head,
  .ft-body {
    float: left;
    clear: both;
    width: 100%;
    // Row
    // 
    .ft-row {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $table-border-color;
      // Last Item
      &:last-child {
        border-bottom: none;
      }
    }
    a.ft-row {
      &:hover {
        background: #f5f5f5;
        text-decoration: none;
        border-bottom: 1px solid darken($table-border-color,5%);
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  // Header
  // 
  .ft-head {
    .ft-row {
      background: $theme;
      font-family: inherit;
      font-weight: 600;
      color: $white;
    }
  }

  .fh,
  .fd {
    flex: 1;
    padding: 1em;
  }
}