//serach-desing-for-feed
.autosuggestWrapper .close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin-top:6px;
    background-color: none;
    margin-right:50px;
    background: none;
    width:30px;
    height:30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
   svg{
        width:20px;
        height:20px;
        fill: rgb(204, 204, 204);
    }
}
.autosuggestWrapper .close-button:hover{
    background: transparent;
    svg{
        fill: rgb(153, 153, 153); 
    }
}
.autosuggestInner  input{
    padding-right:90px;
}
.parent-container-for-seach-feed{
    position: relative;
    .user-avatar ,.user-details , .post-details{
      float:left;
      text-transform: capitalize;
    }
    .remove-padding-user-details{
        padding-right:0 !important;
        .inner-div-for-user-details{
            max-width:400px !important;
        }
    }
    .start-end-date-search{
       display: inline-block !important;
       max-width: 100%;
       width: 57px;
    }
  .no-of-global-search {
      display: inline-block !important;
      font-weight: 700 !important;
      color: $primary !important;
    }
  .pink-font-in-global-search{
      color:$primary !important;
  }
    .user-details{
        .inner-div-for-user-details{
          max-width: 207px;
        }
    }

   .role-user-container{
     .role-user {
         float:left;
         color:$color-heading-text;
         font-size:10px;
         font-weight: 400;
         line-height: 16px;
         height: 15px;
         text-overflow: ellipsis;
     }
     .title-role{
         color:$primary;
         margin-right:2px;
     }
   }
    .socialIconWrapper{
        position: absolute;
        right: 50%;
        top: 50%;
        margin-right: -142px;
        margin-top: -21px;
       a{
           display: inline-block;
           width: 24px;
           height: 24px;
           text-align: center;
           line-height: 24px;
           font-size: 14px;
           background: #256eff;
           color: #fff;
           border-radius: 50%;
           margin: 0 2px;
       }
       a.fb{
            background-color: #38569d;
            width: 18px;
            height: 18px;
            font-size: 11px;
            line-height: 18px;
       }
       a.tw{
           background-color: #5caee7;
           width: 18px;
           height: 18px;
           font-size: 11px;
           line-height: 18px;
       }
       a.li{
           background-color: #0079bc;
           width: 18px;
           height: 18px;
           font-size: 11px;
           line-height: 18px;
       }
   }
   .userName ,.post-time,.post-decription{
       text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
   }

    .user-avatar{
        width: 43px;
        background-image: url(/img/default-avatar.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 43px;
        border:1px solid $input-border;
        border-radius: 45px;
        -webkit-border-radius: 45px;
        -o-border-radius: 45px;
        -ms-border-radius: 45px;
        -moz-border-radius: 45px;
        position: relative;
        background-position: center;

        margin-left: -3px;
        margin-top: 3px;

        img{
            height:100%;
            width:100%;
            border-radius: 45px;
            -webkit-border-radius: 45px;
            -o-border-radius: 45px;
            -ms-border-radius: 45px;
            -moz-border-radius: 45px;
            object-fit: cover;
        }
    }
.user-details{
     float: left;
     width: 100%;
     margin-left: -50px;
     padding-left: 60px;
     color:#1c1c1c;
     padding-right:100px;
     position: relative;

     span{
         color:#1c1c1c;
         font-size:10px;
         font-weight: 400;
         line-height: 16px;
         height: 15px;
        text-overflow: ellipsis;
        }
    .post-decription{
         color:#ff595e;
    }
    span{
         display: block;
     }
    }
    .post-time{
        position: relative;
 }
    .post-details{
        position: absolute;
        top:0;
        right:0;
        width:51px;
        height:53px;
        margin-top: -2px;
    margin-right: -3px;
      img{
          width:100%;
          height:100%;
          object-fit: cover;

      }
    }
}
.autosuggestWrapper{
    .react-autosuggest__section-title{
        strong{
            text-transform: uppercase;
        }
    }
}

//global search auto sugeestion
.globalSearchForm{
    position: fixed;
    top: 0px;
    left: 280px;
    right: 0px;
    z-index: 99;
    display: none;
    background: #fff;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.2);
    &.show{
        display: block;
    }
    .closeGlobalSearch{
        position: absolute;
        right: 30px;
        top: 17px;
        color: $default-text;
    }
    input{
    height: 60px;
    border: 0;
    padding-left: 30px;
    font-size: 16px;
    }
    .form-row{
        margin-bottom:0;
    }
}
.gSearchHandle{
    float: right;
    color: $white;
    margin-right: 10px;
    margin-top: 7px;
}
.react-autosuggest__suggestions-container{    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: $light;
    z-index: 1;
    display: none;
    max-height: 300px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    margin-top:13px;
}
.react-autosuggest__suggestions-container--open
{
    display:block;
}

.react-autosuggest__section-container{
    background: $white;
 }
.react-autosuggest__section-title strong{
    background: $primary;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    padding: 1px 13px;
    display: block;
}
.react-autosuggest__suggestions-list{
    list-style: none;
    li{
        cursor: pointer; padding:13px; border-bottom:1px solid #f3f2f2;
        &:hover, &.react-autosuggest__suggestion--highlighted{
            background: $row_hover_color;
        }
        &:last-child{border-bottom:0;}
        .socialIconWrapper i{
            color:$white;
        }
    }
}
.gsHandle{color:$white; float: right;
    margin-top: 8px;
    margin-right: 10px;}
.autosuggestWrapper{
     float: left;
     width: 448px;
     max-width: 100%;
   
    }
.serach-for-responsive{
    display: none;
}
@media all and (max-width:954px) {
    .autosuggestWrapper{
         width:324px;
         margin-left:0;
    }
}
@media all and (max-width:795px) {
    .autosuggestWrapper{
         width:270px;
    }
}

@media all and (max-width:500px) {
   .parent-container-for-seach-feed .user-details  .inner-div-for-user-details{
    max-width:146px !important;
}
}

@media all and (max-width:1040px) {
    .autosuggestWrapper{
      margin-left:0
    }
}
@media all and (max-width:1024px) {
    .parent-container-for-seach-feed .socialIconWrapper{
       right:0;
       margin-right:0;
  }
    .autosuggestInner{
        display: none;
    }
    .autosuggestInner.show{
       display: block;
    }
    .autosuggestWrapper .close-button{
      display: block;
    }
    .autosuggestWrapper{
        margin-left:0;
    }
    .serach-for-responsive{
        display: block !important;
        background-color:transparent !important;
        top: 8px;
        right: -20px;
        background: transparent;
        background-color: transparent;
        border:none;

    }
    .serach-for-responsive:hover , .serach-for-responsive:active ,.close-button:hover ,.close-button:active  {
        background: transparent !important;
        background-color: transparent !important;
        border:none;
        box-shadow: none !important;
    }
    .enterSuggestion{
        background-color:#ffffff !important;
        margin-top:10px;
        margin-right:45px;
        i{
            color:#ff595e;
        }
     }
    .autosuggestWrapper{
        width: 100%;
        float: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        position: fixed;
        z-index: 99;
        background: #fff;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
       
        input{
            height: 60px;
            border: 0;
            padding-left: 30px;
            font-size: 16px;
        }
    }
}
.autosuggestWrapper input:focus{border:1px solid $input-border;}
.autosuggestWrapper .enterSuggestion{position: absolute;
    right: 0px;
    top: 0px;
    width: 38px;
    height: 38px;
    padding: 0;
    border-radius: 0 .2rem .2rem 0;}
    .autosuggestWrapper .enterSuggestion i{position: relative; top:6px;}
.autosuggestInner{position: relative;}

.react-autosuggest__suggestions-container:before{content: '';
    display: block;
    position: absolute;
    background: url(/img/global-search-leader.gif) no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    visibility: hidden;}
    .loading .react-autosuggest__suggestions-container{height:300px; display: block;}
.loading .react-autosuggest__suggestions-container:before{visibility: visible;}
@media screen and (max-width: 767px) {
    .loading .react-autosuggest__suggestions-container{height:242px;}
  }


//auto suggestion search
//for assets
.Asset-search-desing-for-auto-sugesstion{
    .application-doc{
          height:53px;
          width:51px;
          text-align: center;
          margin-top:-2px;
          i{
              color:#ffffff;
              font-size: 22px;
                margin-top: 15px;
                margin-left: 2px;
          }
    }
    .application-doc.ppt-file{
      background-color: rgba(226, 124, 63, 0.9);
    }
    .application-doc.doc-file{
        background-color: #256eff;
     }
     .application-doc.pdf-file{
       background-color:  rgba(255, 89, 94, 0.9)
     }


    }
//for user
.user-search-desing-for-auto-sugesstion{
    .department{
        float: left;
        width: 41px;
        height: 43px;
        color:$default-text;
        i{
            color:$default-text;
            font-size: 33px;
            margin-top: 1px;
            margin-left: -4px;
        }

    }
}
.see-all-text{
    float: right;
    cursor: pointer;
    font-weight: 400;
}

.parent-of-search .user-details .autosuggestion-internal a{
    background: transparent;
    i{
        color: $theme;
        font-size: 18px;

    }
}

.no-suggestion-wrapper {
    background: #fff;
    text-align: center;
    display: block;
    padding: 10px;
    overflow:hidden;
}

// office-location design in popup for department -tejal
.inner-div-for-user-details .global-office-location{
    i {
        position: relative;
        top: 4px;
        margin-right: 2px;
        font-size: 14px;
    }
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block !important;
    .office-name-popup{
        display: inline-block !important; 
        font-size: 10px;
    }
}