#dashboard-notification-popup .avtar-tool-tip-pop-up .avtar-detail{
    line-height: 1.5;
}
.notification-userpopup{
    .nav-narrow{
        overflow: visible !important;
    }
    .header-left{
        z-index:79;
    }
}
// user popup

.details-tool-tip-pop-up{

    .scoial-img-popup{
        position: relative;
        width:none;
        height:none;
        .fb{
          background-color: $fb;
        }
        .tw{
            background-color: $twitter;
        }
        .ln{
           background-color: $linkln;
        }
        .dis{
           // background-color: $background-scoial-icon !important;
        }
        img{
            height: 44px;
            width: 44px;
            border-radius: 50px;
            border: 1px solid $input-border
        }

        i{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 15px;
            height: 15px;
            border-radius: 15px;
        }
        .fa{
            //background:$background-scoial-icon;
            font-size: 10px !important;
            color: $white;
        }
        }
     }
//      .triangle-img-for-avtar-notification::before{
//         content: '';
//         background: $dark
//      }
//    .triangle-img-for-avtar-notification{
//         position: absolute;
//         left: 0;
//         bottom: 0;
//         top:0;
//         z-index: 554;
//         margin-left:-19px;
//     }
//    .triangle-img-for-avtar-notification::after{
//         content: '';
//         background: $dark
//         position: absolute;
//         left: 0;
//         right: 0;
//         display: block;
//         top: 0;
//         bottom: 0;
//         z-index: 1;
//         margin-top: 35px;
//     }

.popup-wrapper-for-avtar {
      display: block;
      margin-left:0 !important;
      margin-top:0 !important;
      min-height:auto !important;
      min-width:auto !important;

      #dashboard-notification-popup{
        margin-top: -46px;
        margin-left: 76px;
      }
      .avtar-tool-tip-pop-up{
        position: relative;
        left: 0px;

      }
      .avtar-detail{
          padding:15px !important;

          .userDetailData{
              color:$color-heading-text;
          }
          h4{
              margin-bottom: 0 !important;
          }
      }
      .primary-color{
       color: $primary !important;
      }
      .avtar-background-img > div{
        padding-top: 27px !important;
      }
 }
 #popup-wrapper-for-click-avtar{
    .inner-tool-tip{
        display:block !important;
    }
    .inner-dashboard-notification{
      max-height:413px;
      width:295px;
  }
  .avtar-tool-tip-pop-up ,.avtar-background-img,.details-tool-tip-pop-up{
      width:auto
  }
  .avtar-background-img{
      height:186px;
      position: relative;
      overflow: hidden;
  }
 }

 .pop-up-tooltip {
    display: none;
 }
.pop-up-tooltip, .popup-wrapper-for-avtar {
    width: auto;
    background-color: white;
    position: absolute;
    margin-left: -527px;
    margin-top: -220px;
    z-index: 13;
    min-height: 185px;
    min-width: 323px;
    width:auto;
    box-shadow: 0px 20px 40px -5px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 0px 20px 40px -5px rgba(0, 0, 0, 0.27);
    -o-box-shadow: 0px 20px 40px -5px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 20px 40px -5px rgba(0, 0, 0, 0.27);
    .inner-tool-tip {
        display: flex;
        .avtar-tool-tip-pop-up {
            width:156px;
            position: relative;
            .avtar-background-img {
                background-image: url("/img/1copy.png");
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top:0;
                right:0;
                bottom: 0;
                left:0;
                .blur-bg
                {
                    position: absolute;
                    top:0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-size: cover;
                    opacity: 0.8;
                    background-position: center;
                }
                >div {
                    text-align: center;
                    padding-top: 35px;
                    img {
                        width: 75px;
                        height: 75px;
                        border-radius: 38px;
                        border: 1px solid $primary;
                    }
                    .avtar-detail{
                        text-align: center;
                        font-size: 16px;
                        padding: 10px 10px 20px;
                        max-width: 100%;
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: rgba(210, 255, 82, 0);
                        background: -moz-linear-gradient(top, rgba(210, 255, 82, 0) 0%, rgba(0, 0, 0, 0.69) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210, 255, 82, 0)), color-stop(100%, rgba(0, 0, 0, 0.69)));
                        background: -webkit-linear-gradient(top, rgba(210, 255, 82, 0) 0%, rgba(0, 0, 0, 0.69) 100%);
                        background: -o-linear-gradient(top, rgba(210, 255, 82, 0) 0%, rgba(0, 0, 0, 0.69) 100%);
                        background: -ms-linear-gradient(top, rgba(210, 255, 82, 0) 0%, rgba(0, 0, 0, 0.69) 100%);
                        background: linear-gradient(to bottom, rgba(210, 255, 82, 0) 0%, rgba(0, 0, 0, 0.69) 100%);

                        h4, .username {
                            color: $white;
                            width: 100%;
                            white-space:nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin-bottom: 5px;
                            font-size: 16px;
                        }
                        .userDetailData{
                            color: $white;
                            text-overflow: ellipsis;
                           font-size: $heading; ;
                            white-space:nowrap;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .details-tool-tip-pop-up {
            width: 267px;
            background-color: $white;

            .FeedUserLocationDetailWrapper {
                padding: 15px;
                min-height: 76px;
                .FeedUserLocationDetail{
                    position: relative;
                    padding:0 0 10px 30px;
                    min-height: 28px;
                    &:last-child{
                        padding-bottom:0;
                    }
                }
                .FeedUserLocationDetailText{
                        position: relative;
                        font-size: $heading; ;
                        font-weight: 400;
                        color: $dark;
                        white-space: nowrap;
                        overflow: hidden;
                        display: block;
                        text-transform: capitalize;
                        text-overflow: ellipsis;
                        text-align:left;
                        .comma{
                            margin-left:-3px;
                        }
                }
                i {
                    position: absolute;
                    top:-4px;
                    left: 0;
                    color: $default-text;
                }
            }
            ul {
                //margin-top:50px;
                text-align: center;
                li {
                    list-style-type: none;
                    display: inline-block;
                    a {
                        display: inline-block;
                        border-radius: 50%;
                        margin: 0 9px;
                        // text-align: center;
                        // line-height: 25px;
                        //font-size: $heading; ;
                        // background: $theme
                        // color: $white;

                        //
                        i {
                            font-size: 10px;
                            width:15px;
                            height:15px;
                            line-height: 17px;
                            padding-right:1px;
                          &.fa-twitter:before{
                                position: relative;
                                top:0;
                                left:1px;
                            }
                            &.fa-linkedin:before{
                                position: relative;
                                top:0;
                                left:1px;
                            }
                        }
                        .fa.fa-linkedin.ln{
                            line-height: 15px;
                            padding-right:1px;
                        }
                    }
                    .tw {
                        background-color: $twitter;
                    }
                    .fb {
                        background-color: $fb;
                        // .dis {
                        //     background-color: gray;
                        // }
                    }
                    .ln {
                        background-color: $lightblue;
                        // .dis {
                        //     background-color: gray;
                        // }
                    }
                    .dis {
                        background-color: gray;
                    }
                }
            }
        }
    }
}
.FeedUserPopupSocialList li a, .FeedUserPopupSocialList li a.scoial-img-popup{width:44px; height:44px;}
#pop-up-tooltip-holder .pop-up-tooltip{margin-top:35px;}
#pop-up-tooltip-holder.showtotop .departmentpopup .pop-up-tooltip{margin-top:-180px;}
#pop-up-tooltip-holder.showtotop .pop-up-tooltip{margin-top:-215px;}
.postUserPopupTable{
    background-color: $primary;
    table {
        width: 100%;
        tr {

            width: 100%;
            td {
                color: $white;
                width: 33.3%;
                padding: 10px 0;
                >div {
                    text-align: center;
                    .count-tool-tip {
                        color: $white;
                        font-weight: $font-reguler;
                        font-size: 16px;
                        line-height: 22px;
                        margin-bottom: 0px;
                        overflow: hidden;
                        word-break: break-all;
                        max-height: 26px;
                    }
                    .label-tool-tip {
                        margin-bottom: 0;
                        font-size: $date-text;
                        color: $white;
                        //color: rgba(0, 0, 0, 0.3);
                        font-weight: $font-reguler;

                    }
                }
            }
        }
    }
}
.background-feed-popup{
    width: 75px;
    height: 75px;
    border-radius: 38px;
    border: 2px solid $primary;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0 auto;
    position: relative;
    z-index: 1;
    box-shadow:0 8px 2px -5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0 8px 2px -5px rgba(0, 0, 0, 0.1);
    -o-box-shadow:0 8px 2px -5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 8px 2px -5px rgba(0, 0, 0, 0.1);
}
#assets #pop-up-tooltip-holder .pop-up-tooltip,.moderation .pop-up-tooltip,
#campaigns #pop-up-tooltip-holder .pop-up-tooltip{
    z-index: 1001; margin-left: -245px;
}
#campaigns .asset-container #pop-up-tooltip-holder .pop-up-tooltip{
    margin-left: -299px;
    margin-top: -442px !important;
}
.pop-up-tooltip .preloader-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -46px 0 0 -46px;
    width: 93px;
    height: 93px;
}
#pop-up-tooltip-holder{
    #pop-up-tooltip-wrapper.bottom{
         .pop-up-tooltip-not-data-found{
             top:238px !important;
             .popup-arrow{
                 border-bottom: 14px solid $secondary;
                 top:-16px !important;
             }
         }
    }
}

.departmentpopup .pop-up-tooltip {
    margin-left: -443px;
    min-width: 256px;
    min-height: 0;
}
.departmentpopup .popup-arrow {
    border-top-color: #1a2b3d !important;
    border-bottom-color: #273d4e !important;
}
#pop-up-tooltip-wrapper.hide .pop-up-tooltip {
    display: none !important;
}
.popup-arrow {
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid $primary;
    position: absolute;
    left: 50%;
    margin-left:21px;
    top: -13px;
}
.showtotop {
    .pop-up-tooltip {
        margin-top: 30px;
    }
    .popup-arrow {
        border-top: 14px solid $white;
        border-bottom: 0;
        top:auto;
        bottom: -13px;
    }
}

.popup-right .pop-up-tooltip {
    left: auto !important;
    right: 15px;
}


@media only screen and (max-width:470px){
    .pop-up-tooltip{
      width:auto
    }
}
@media only screen and (max-width:768px) {
    .details-tool-tip-pop-up {
        ul {
            margin-bottom: 14px;
        }
    }
}
#tag-popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 77;
    display: none;
}

#tag-popup-overlay.show {
    display: block;
}

//end user-popup
#department-popup {
    .department-icon-wrapper{
       margin-bottom:0px;  
    }
    .department-office-wrapper{
        span{
            display: block
        }
    }
    .avtar-background-img {
        >div {
            p {
                color: white;
                font-size: 16px;
                font-weight: $font-reguler;
                i {
                    color: white;
                    font-size: 71px;
                }
            }
        }
    }
    .details-tool-tip-pop-up {
        width: 102px;
        background-color: $primary;
        display: flex;
        .border {
            border-bottom: 1px solid #fd787c;
        }
        .dpt-details {
            text-align: center;
            color: white;
            width: 102px;
            word-break: break-all;
            padding: 13px 0;
            p {
                color: white;
                font-weight: $font-reguler;
            }
            .count-tool-tip {
                font-size: 18px;
            }
            .label-tool-tip {
                font-size:$font-title;
                margin-bottom: 0;
            }
        }
    }
}

.closeUserPopup{position: absolute; right: 5px; top: 5px;  display: none;
    z-index: 999;
    color: $white;
    background: rgba(0, 0, 0, 0.18);
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    i{margin-top:2px;}
}
@media only screen and (max-width:767px) {
   #pop-up-tooltip-holder .pop-up-tooltip {
        margin-left: 0;
        margin-left:-245px;
        left:50% !important;
        .popup-arrow {
            display: none;
        }
    }
    .moderation .pop-up-tooltip{z-index: 1;}
    .bottom {
        .popup-arrow {
            border-bottom-color: #6d7457
        }
    }
    .details-tool-tip-pop-up {
        width: 256px;
    }
    .dpt-details {
        padding: 21px 35px !important;
        text-align: center;
        color: white;
        float: left;
        width: 124px !important;
    }
    .departmentpopup .pop-up-tooltip {
        margin-left: 0;

    }
}

@media all and (max-width:500px) {
   #pop-up-tooltip-holder .pop-up-tooltip,
    .popup-right .pop-up-tooltip {
        left: 15px !important;
        right: 15px;
    }
    .pop-up-tooltip {
        margin-top: -430px;
    }
    .bottom .pop-up-tooltip {
        margin-top: 27px;
        margin-left:-10px;
    }
    .departmentpopup .pop-up-tooltip .inner-tool-tip .avtar-tool-tip-pop-up {
        width: 40%;
    }
    .pop-up-tooltip .inner-tool-tip .avtar-tool-tip-pop-up .avtar-background-img {
        width: 100%;
    }
    #department-popup .details-tool-tip-pop-up {
        width: 60%;
        display: block;
    }
    #department-popup .details-tool-tip-pop-up .dpt-details {
        width: 100% !important;
    }
    .departmentpopup .inner-tool-tip {
        flex-direction: row;
    }
}

@media all and (max-width:479px) {
    .inner-tool-tip {
        flex-direction: column;
    }
    .pop-up-tooltip .inner-tool-tip .avtar-tool-tip-pop-up,
    .pop-up-tooltip .inner-tool-tip .avtar-tool-tip-pop-up .avtar-background-img,
    .pop-up-tooltip .inner-tool-tip .details-tool-tip-pop-up {
        width: auto
    }
    .avtar-background-img {
        text-align: center;
    }
    .departmentpopup .pop-up-tooltip {
        margin-top: -220px
    }
}
.userpopup-notification  {
    display: none ;
}
.avatar .user-avtar{
    background-size: cover;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-position: center;
    margin:0 auto;
    border: 1px solid $primary;
}
@media all and (max-width:768px) {
.dashboard-notification{
    margin-left: 116px;
    margin-top: 12px;
  }
}
@media all and (max-width:420px) {
    .dashboard-notification{
        left: 0;
        margin-left: 13px;
        margin-top: 75px;
    
    }
    .dashboard-notification .inner-dashboard-notification{
        max-height:394px;
    }
    .dashboard-notification .inner-dashboard-notification .triangle-left:before{
        visibility:hidden;
    }
    #dashboard-notification-popup .inner-dashboard-notification .main-notification-body{
        height: 353px;
    }
  
}

// department pop-up

// Author @sadikali
// Set popup for top position
.author-thumb.showtotop .userpopupWrapper{
    top:auto;
    bottom:70px;
}
.postTextLinkWrapper {
    position: relative;
    .userpopupWrapper{left:50%; top:37px; left:50%; margin-left:-241px }
    &:hover .userpopupWrapper{opacity: 1; visibility: visible;}
}

@media all and (max-width:767px){
    .popup-wrapper-for-avtar #dashboard-notification-popup{margin-top: 0;
        margin-left: 60px;
        margin-bottom: 0;}

}