.IntegrationIndex{
    .page{
      padding-top:60px;
    }
}
.intergration-main-container {
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
   .intergration-container {
        .int-inner-container {
            background-color: $white;
        }
    }
}
.int-heading {
    padding: 24px 10px;
    border-bottom: 1px solid $light
    h3 {
        font-size:$font-title;
        font-weight: 400;
        color: $color-heading-text;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
    }
}
.int-heading{
     h3 {
         font-size:$big-header;
         text-transform: uppercase;
        }
}

.integration-body {
    
    .integration-blog{
        border-bottom:1px solid $light;
    }
    .int-block {
        position: relative;
        padding: 24px 7px;
        background: $tab-background;
        .avtar {
            float: left;
        }
    }
    .integration-blog.active .int-block{background: $tab-active-background;}
    .google-drive-avtar{
        img{
            margin-left:10px;
            width:41px !important;
            margin-top:5px;
        }
    }
    .drive-btn{
        margin-top:8px;
    }
    .workable-avtar{
        img{
             margin-top:-4px;
        }
    }
    .avtar {
        padding:0 18px 0 5px;
        img {
            width:40px;
            height: auto;
        }
    }
    .avtar-details {
        float: left;
        width: 100%;
        margin-left: -71px;
        padding-left: 71px;
        .name-text-int {
            font-weight: $font-reguler;
            font-size:$heading ;
            color: $color-heading-text;
        }
        .text-integration {
            font-size:$normal-text;
        }
        p {
            overflow: hidden;
            height: 22px;
            text-overflow: ellipsis;
            margin: 0;
            padding-top: 2px;
        }
    }
    .google-drive-connect-btn{
        text-align: right;
        margin:20px;
    }
    .dropdown-arow {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 29px;
        margin-right: 10px;
    }
    .show-intigration-block {
        border-top: 1px solid $border-color;
        padding:20px 79px;
        .form-row:last-child{
             margin-bottom: 0;
        }
        .intigration-fm {
            .text {
                max-width: 100%;
            }
        }
    }
    .btn-integration {
        margin-right: 12px;
        &:last-child{margin-right:0;}
    }
    .int-field {
        font-size: 28px;
        vertical-align: top;
        position: relative;
        left: -5px;
    }
    .btn-int {
        text-align: right;
     }
    .right-aroow-int {
        margin-top: 11px;
        font-size:$font-title;
        margin-right: 5px;
    }
    .down-aroow-int {
        margin-top: 8px;
    }
}

.integrationRow{
    position: relative; 
    padding:20px 0; 
    border-bottom: 1px solid $light;
    &:first-child{padding-top: 0;}
    &:last-child{border-bottom:0; padding-bottom: 0;}
}
.integrationContentColumn{padding-right:134px;}
.integrationNotificationRow .integrationContentColumn{padding-right:70px;}
.integrationChannelRow .integrationContentColumn{padding-right:255px;}
.integrationTitle{
    font-size: 17px; 
    line-height:23px; 
    font-weight: 500;
    color: $color-heading-text;
    padding-bottom:5px;
    .refreshButton{
        float: right;
        color: #ff636a;
        font-weight: 400;
    }
}
.integtrationDescription{
    font-size: 13px;
    line-height: 24px;
    }

.integtrationDescriptionWrapper .integtrationDescription{
    max-width: 211px;
}
.integrationChannelRow  .integrationContentColumn .integrationDropdown .refreshButton{
    background: #f3f1f1;
    i{
        color: #f55b5c;
        position: relative;
        top: 6px;
    }
}
.integrationChannelRow .integrationDropdown{
    margin-top: -6px;
}
.integrationConnectBtn, .integrationSwitchBtn, .integrationDropdown{position: absolute; right:10px; top:50%; margin-top:-15px;}
.integrationSwitchBtn{margin-top:-10px;}
.integrationDropdown .select{float: left; width:167px; margin-right:12px;}
.integrationDropdown .btn-integration{float: left;}
.slackIntegrationBlock{padding:0 40px;}

/* Responsive starts */
@media only screen and (max-width:1132px){
    .integration-body {
        .text {
            width:100% !important;
            margin-left: 0 !important;
        }
    }
}



@media only screen and (max-width:1023px){
    .integration-body .show-intigration-block{padding:20px 0;}
}

@media only screen and (max-width:767px){
.integrationConnectBtn, .integrationSwitchBtn, .integrationDropdown{position: static; margin-top:0;}
.integrationContentColumn{padding-right:0;}
.integtrationDescription{margin-bottom: 15px;}
.integrationNotificationRow .integrationContentColumn{padding-right:0;}
.integrationChannelRow .integrationContentColumn{padding-right:0;}
.integrationSwitchBtn .switch{margin-left: 0;}
}
/* Responsive ends */

//content interest css
.IntegrationIndex{
    .content{
        width: 100%;
        max-width: 100%;
    }
    .content-left-block, .content-right-block{
        float:left;
        width:50%;
        padding:10px;
    }
    .content-left-block{
       padding-right:20px;
       .user-tag-editor{
            label{
                 font-size:$normal-text;
                 text-transform: uppercase;
            }
       }
    }
    .content-right-block{
        padding-left:20px;
    }
}
.slack-avatar{
    margin-top:8px;
}
.IntegrationIndex .trending-tag-container{
 border:none;
}
.rss-setting-button,.content-interest-container{
    margin-bottom: 0;
}
 .IntegrationIndex .rss-links-list{
     min-height:19px;
 }
@media only screen and (max-width:920px) {
    .IntegrationIndex .content-left-block, .IntegrationIndex .content-right-block{
        float:none !important;
        width:100%;
        padding:0;
    }
}

//google drive design

.createPostAssetDriveSection  .popupDescSection{
     padding:20px 20px 0px !important
}
.google-drive-container{
   .inner-google-container{
        width:548px;
        max-width:100%;
        margin:0 auto; 
        padding:53px 0 57px 0; 
        text-align: center;
     }
     //google img part
     .main-container-of-img-block{
        width:115px;
        margin:0 auto;
       .google-drive-img{
           width:110px;
           height:110px;
           border-radius: 100px;
           background:$google-drive-background;
           padding:20px;
           img{
                 width:100%;
                 height:100%;
                 object-fit:contain;
           }
       }
     }
     //text-part
     .text-part-of-google-drive{
         padding:35px 0;
         .main-title-of-google-drive{
            font-size:22px;
            font-weight: 400;
            color:$color-heading-text;
            line-height:28px;
       }
       .content-title-gDrive{
          text-align: center;
           p{
                margin:0;
                font-size:13px;
                font-weight: 300;
                color:$content-text;
                line-height: 19px;
           }
       }
     }
     //button 
     .google-drive-button{
          padding:32px 0;
         .GDrive-btn{
             line-height:56px;
             display:inline-block;
             height: 58px;
             font-size: 18px;
             padding:0 40px;
             text-transform: capitalize;
             text-align: center;
             position: relative;
             color: $white;
             border-radius: 2px;
             -webkit-border-radius: 2px;
             -o-border-radius: 2px;
             -ms-border-radius: 2px;
             -moz-border-radius: 2px;
             -webkit-transition: all 0.5s ease;
             -moz-transition: all 0.5s ease;
             transition: all 0.5s ease;
             cursor: pointer;
             font-weight: 500;

         }
    }
}
@media only screen and (max-width:767px){
    .google-drive-container{
        padding:10px;
    }
    .google-drive-container .google-drive-button .GDrive-btn{
        padding:0 10px;
        font-size:14px;
    }
    .google-drive-container .text-part-of-google-drive{
        padding:10px  0 0 0 !important;
    }
    .google-drive-container .inner-google-container{
         padding:20px !important;
    }
    
    .google-drive-container .text-part-of-google-drive .main-title-of-google-drive{
        font-size:18px;
    }
   
    #assets .selectAssetTabWrapper ,#campaigns .selectAssetTabWrapper{
        margin-bottom: 20px !important;
    }
   
}


//design of the assets
#assets .selectAssetTabWrapper , #campaigns .selectAssetTabWrapper{
 border-bottom: 1px solid $tab_border;
 margin-bottom: 50px
}
#campaigns .listMenu{
    padding-top:0;
}
#campaigns .createPostTabContainer{
    padding-top:15px;
}
#assets .selectAssetTabs a, #campaigns .selectAssetTabs a{
    position: relative;
    background: transparent;
    width:160px;
    display: inline-block;
}
#assets  .selectAssetTabs a.active, #campaigns  .selectAssetTabs a.active{
     background: transparent !important;
}
#assets  .selectAssetTabs a.active:before, #campaigns  .selectAssetTabs a.active:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 100%;
    height: 3px;
    background: $primary !important;
    width:100%;
}
.createPostMainContainer #google-drive-btn.active{
  border-right:1px solid $tab_border;
}
.upload-or-text{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    &:before{
        content:'';
        display: block;
        position: absolute;
        left:50%;
        top:50%;
        width:150px;
        height:1px;
        background: #e5e4e4;
        margin-left: -75px;
    }
    span{
        position: relative; 
        background: $white;
        z-index: 1;
        padding:0 10px;
    }
}
.integration-body .show-intigration-block .ssoIntegrationRow label
{
width:300px;
}
.ssoIntegrationBlock{
    .integtrationDescription{
        margin-bottom:20px;
    }
    .upload-file-name{
        background: #f7f6f7;
        padding: 10px;
        border-radius: .2rem;
        position: relative;
    }
    .remove-file-icon{
            position: absolute;
            right:10px;
            top:12px;
    }
    .upload-file-icon{
        display: inline-block;
        vertical-align: middle;
        margin-right:5px;
        svg{
            fill:$defult-light-text;
        }
    }
    .dropzoneUpload {
        .fileuploaded{
            
        }
        .dropzone-area{
            border-radius: .2rem;
            text-align: center;
            padding-top:34px !important;
        }
    }
}

@media only screen and (max-width:767px){
 #post-creation .postsMediaUI  .selectAssetTabWrapper  .selectAssetTabs a{
    font-size: 12px;
    width: auto;
    padding: 0 8px;
    }
}
@media only screen and (max-width:1280px){
    .google-drive-container  .inner-google-container{
        padding:10px 0;
    }
    .google-drive-container .text-part-of-google-drive{
          padding-bottom: 0; 
    }
}