.leaderboard{
    .page{
        padding-top:61px;
    }
}
.zero-level-no{
    top:11px !important;
}
#leaderboard {
    padding: 0;
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    .container {
        width: 100%;
        color: $color-heading-text;
    }
    .innerdiv {
        background-color: white;
        height: 143px;
        max-height: 143px;
    }
    .text-part {
        padding: 0;
        float: left;
        width: 100%;
        margin-left: -61px;
        background: $white;

        .pg-donet {
            i.material-icons {
                top: -7px;
                position: relative
            }
        }
    }
    .current-user {
        background-color: white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.61);
        z-index: 57;
        position: relative;

    }
    .current {
        background-color: white;
    }
    .text {
        font-size: 34.7px;
        font-weight: bold;
        color: $light;
    }
    .inner-text-part-container {
        padding: 5px 5px 5px 62px;
        cursor: default;
    }
    .flex-item-text-part {
        width: 50%;
        margin: 1px 3px 3px;
        color: $color-heading-text;
    }
    .leaderboard-name-col{    width: 230px;

        float: left;}
    .leaderboard-number-col{width: 146px;
        float: left;

        margin-right: 0;}
    .img {
        float: left;
        height: 30px;
        width: 30px;
        background-size: cover;
        background-position: center;
    }
    .text-header {
        padding: 0;
        float: left;
        width: 100%;
        margin-left: -54px;
        padding-left: 70px;
        padding-top: 30px;
    }
    .name {

        color: $color-heading-text;
        font-size: $date-text;
        font-weight: $font-reguler;
    }
    .name2 {
        margin-top: 3px;
        font-size: $date-text;
        color: $color-heading-text;
    }
    .edit {
        float: left;
        margin-top: 12px;
        width: 65px;
        font-size: 14.86px;
        font-weight: $font-reguler;
        span {
            font-size: 10px;
            color: black;
            font-weight: 100;
        }
    }
    .fav {
        width: 75px;
        float: left;
        margin-top: 13px;
        font-size: 14.86px;
        font-weight: $font-reguler;
        span {
            font-size: 10px;
            color: black;
            font-weight: 100;
        }
    }
    .down-aero {
        float: left;
        margin-top: 9%;
        font-size: 17.86px;
        color: $primary;
        font-weight: 400;
        padding-left: 39px;
        padding-left: 20px;
    }
    .up-aero {
        float: left;
        font-size: 17.86px;
        color: #2ebe70;
        font-weight: bold;
        width: 143px;
        min-height:100px;
        text-align: right;
        padding-top:20px;
        i {
            font-size: 20px;
            left: 2px;
            position: relative;
        }
        &.positive {
            color: $theme;
        }
        &.negative {
            color: $primary;
        }
    }
    .fa-pencil-square-o {
        padding-left: 5px;
        color: $primary;
        font-size: 20px;
    }
    .fa-star {
        padding-left: 5px;
        color: $secondary;
    }
    .fa-arrow-up {
        padding-right: 5px;
        color: $primary;
    } //second div
    .innerdiv-main {
        width: 100%;

        -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; margin-bottom:20px;
        border-bottom: 1px solid $light
    }
    .index-property {
        float: left;
        height: 62px;
        width: 61px;
        text-align: center;
        position: relative;
        z-index: 1;
        padding: 15px 0; // box-shadow:    0 8px 16px 0 #ff595e, 0 6px 20px 0 rgba(0,0,0,0.19)
    }
    .innerdiv-main {
        .index-property {
            // background-color: $theme; // background-color: $default-text;
    
        }
        &:nth-child(1) {
            .index-property {
                background-position: center; // .number-id {

            }
        }
    }

    .number-id {
        text-align: center;
        font-size: 35px;
        font-weight: $font-reguler;
        line-height: 29px;
        padding-top: 20px;
        color:$color-heading-text;
    }
    .number {
        text-align: center;
        font-size: 17.86px;
        font-weight: $font-reguler;
        position: relative;
        top: 0px;
        max-width: 100px;
        display: inline-block;
       }
    .fa-arrow-up {
        color: $green;
        font-size: 20px;
    }
    .circle {
        height: 70px;
        width: 70px;
    }
    .progress {
        height: 13px;
        width: 100%;

    }
    .circleProperty {
        padding-left: 20px;
    }
    .progressbar {
        display: none;
        .pg-donet {
            float: left;

            width: 126px;
            .donet {
                float: left;
                padding-top: 33px;
                padding-right: 10px;
                color: $theme
            }
        }
        .pg-prog {
            width: 194px;
            padding-top: 14px;
            padding-bottom: 10px;
            P {
                font-size: $date-text;
                padding-top: 4px;
                margin:0  0 3px 0!important;
            }
            span {
                font-size: 20px;
                padding-left: 13px;
            }
        }
        .donet-tx {

            .tx-ld {

                font-weight: $font-reguler;
                font-size: 17px;
                line-height: 0;
                color: $color-heading-text;
                @media screen and (max-width: 767px) {
                    font-size: 14px;
                }
            }
            .tx-ld1 {
                line-height: 0px;
                font-weight: 100px;
                font-size: 10px;

                padding-top: 0px;
                color: $color-heading-text;
            }
        }
    }
    .donet-color-primary {
        color: $primary;
    }
    .donet-color-theme {
        color: $theme;
        font-weight: 600;
        padding-right: 7px;
    }
    .donet-color-green {
        color: $green;
    }
    .donet-color-night {
        color: $night;
    }
    .donet-color-color-heading-text {
        color: $color-heading-text;
    }

    @media screen and (max-width: 717px) {
        .container {
            width: auto;
        }
        .innerdiv-main {
            width: 100%;
            height: 100%;
        }
        .inner-text-part-container {
            flex-direction: column;
            width: 100%;
            height: 50%;
        }
        .flex-item-text-part {
            width: 100%;
            height: auto;
        }
        .circle {
            height: 40px;
            width: 40px;
        }
        .progress {
            height: 9px;
            width: 50%;
        }
    }
    .revealed {
        .progressbar {
            opacity: 1;
            display: block;
            background-color: white;

        }

        .index-property {
            height: 62px;
            animation-name: puffIn;
        }

    }
}



#leaderboard .current-user-wrapper {
 position: relative;z-index: 1;box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

.progressbar {
    opacity: 1;
    display: block;
    background-color: white;

    height:auto;


}
}
#leaderboard .innerdiv-main .index-property {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#leaderboard .progressbar
{width:150px;float:left;height: auto;display: block !important;-webkit-transition: height 0.5s ease;-moz-transition: height 0.5s ease;transition: height 0.5s ease;}
#leaderboard .progressbar .pg-donet {
    float: left;

    width: 70px;
}

#leaderboard .revealed .progressbar {
    opacity: 1;
    display: block;
    background-color: white;
    border-top: 1px solid rgba(128, 128, 128, 0.15);
    height: 70px;

}
@media all and (max-width:1023px)
{

    #leaderboard .progressbar .pg-prog{width:66.6% !important;}
    #leaderboard .revealed .progressbar{height:140px;}

}
@media all and (max-width:979px)
{
    #leaderboard .innerdiv-main{margin-bottom:10px;}
    #leaderboard .inner-text-part-container{
        padding: 5px 0px 0px 66px;
    }
    #leaderboard .leaderboard-name-col{padding-right: 0;
        float: none;
        width: auto;
        margin-bottom: 0;
        margin-right: 0;
        min-height: 55px;}
    #leaderboard .leaderboard-number-col{width: auto;
        width: auto;

        margin-bottom: 0;
        }

}
@media all and (max-width:767px)
{
#leaderboard .name{font-size: 14px; line-height: 20px;}
}

@media all and (max-width:479px)
{
.leaderboard #content .page .content{padding:0;}
#leaderboard .progressbar .pg-donet{width:50%;}
#leaderboard .progressbar .pg-prog{width:100% !important;}
#leaderboard .revealed .progressbar{height:210px;}
}
@media all and (max-width:767px){
#leaderboard .other-employees .leaderboard-number-col {
    width: 100% !important;
    padding-left: 16px;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    margin: 0px;
}
#leaderboard h2{
    margin-bottom: 0px;
}
}

//top emplyess new css//
.leaderboard-text{

    font-size: 35px;
    font-weight: $font-reguler;
    line-height: 29px;
    padding-top: 20px;
    float: left;
}
.top-employes-first-box .top-employees-profile img{
    background-image: url("https://visibly-staging.s3.eu-west-2.amazonaws.com/pirates_com/1/Collaborate-ee64198c-d445-9a18-0e2f-634420b36bd0.jpg");

}
.top-employes-first-box .top-employees-profile{
    width: 100%;
    float: left;
}
.top-employes-first-box{
    width: 235px;
    float: left;

}
.top-employees-profile .text-header{
    padding: 0;
    float: left;
    width: 100%;
    padding-top: 10px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    cursor: pointer;
}
.top-employees-profile{
    text-align: center;
}
.top-employes-first-box .img{
    text-align: center;
    margin: 0 auto;
    float: none !important;
    cursor: pointer;
}
 .leaderboard-border::before{
    position: absolute;
    top: 0;
    content: "";
    border-right: 1px solid $light;
    background: #000;
    bottom: 0;
    height: 89px;
    right: 0;
    margin-right: 12px;

 }
 .leaderboard-border{
     position: relative;
 }
 .top-employees .img {
    margin-top: 12px !important;
}
.progressbar .pg-donet:nth-child(1) .donet-tx{
    padding-top: 22px;
}
.progressbar .pg-donet:nth-child(2) .donet-tx{
    padding-top: 22px;
}
.progressbar .pg-donet:nth-child(3) .donet-tx{
    padding-top: 9px;
}
.progressbar .pg-donet:nth-child(4) .donet-tx{
    padding-top: 9px;
}
.progressbar .pg-donet:nth-child(1) .donet-tx .tx-ld, .progressbar .pg-donet:nth-child(1) .donet-tx .tx-ld1{
    padding-left: 17px;
}
.progressbar .pg-donet:nth-child(3) .donet-tx .tx-ld, .progressbar .pg-donet:nth-child(3) .donet-tx .tx-ld1{
    padding-left: 17px;
}
#leaderboard .innerdiv-main:hover{
    box-shadow: 6px 9px 22px 0px #ccc;;
}
#leaderboard .text-part{
    position: relative;
}
.top-employees .number-id{
    position: absolute !important;
    top: 0;
    left: 17px;
}
.top-employees .number-id{
    line-height: 15px !important;
    padding-top: 30px !important;
    font-size: 47px !important;
}
.top-employees .donet-tx.donet-color-theme, .top-employees .tx-ld.donet-color-theme{
    padding-right: 0px !important;
}
.top-employees .text-header {
    padding-left: 0px !important;
    margin-left: 0px !important;
    padding-top: 20px !important;
    text-align: center;
    width: auto !important;
    float: none !important;
}
.top-employees .up-aero {

    padding-right: 61px !important;
    width: auto !important;
}
.top-employees .leaderboard-name-col{
    float: none !important;
    width: 100% !important;
    text-align: center;
    margin: 0 auto !important;
}
.top-employees .up-aero{
    position: relative;
}
.top-employees .up-aero::before{
    position: absolute;
    top: 0;
    left: 15px;
    content: "";
    width: 82%;
    height: 100%;
    border-bottom: 1px solid $light
}
.top-employees .progressbar{
    padding: 22px 14px 0px;
}
.top-employees .leaderboard-level-image::before {

    left: 45px !important;
    top: -15px !important;
}
.top-employees .up-aero {
    float: none !important;
    padding-top: 14px;
}
.top-employees .progressbar{
    float: none !important;
    width: 100%!important;
}
.top-employees{
    width: 33.3%;
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
}
.top-employees .img {
    margin: 0 auto;
    float: none !important;
    height: 50px !important;
    width: 50px !important;
}
.top-employees .number{
    font-size: 25px !important;
    color: $color-heading-text;
}

.top-employees .inner-text-part-container{
    padding: 0px !important;
}
#leaderboard .up-aero.negative {
    color: $color-heading-text !important;
}
.top-employees .text-part{
    margin-left: 0px !important;
    float: none !important;
}
.top-employees .progressbar .pg-donet {
    float: none !important;
    display: inline-block;
    width: 25% !important;
    text-align: center;
    vertical-align: top;
}
.top-employees .progressbar .pg-donet:nth-child(3) .donet-tx .tx-ld, .top-employees  .progressbar .pg-donet:nth-child(3) .donet-tx .tx-ld1{
    padding-left: 0px !important;
}
.top-employees .progressbar .pg-donet:nth-child(1) .donet-tx .tx-ld, .top-employees  .progressbar .pg-donet:nth-child(1) .donet-tx .tx-ld1 {
    padding-left: 0px !important;
}
.top-employees .progressbar .pg-donet:nth-child(2) .donet-tx .tx-ld, .top-employees  .progressbar .pg-donet:nth-child(2) .donet-tx .tx-ld1 {
    padding-left: 13px !important;
}
 .top-employees .leaderboard-number-col {
    width: 100% !important;

    text-align: center;
    margin: 0 auto !important;
}
.postbox{
    width: 100%;
    float: left;

}
.top-employees .progressbar  .donet-tx{
    padding-top: 0px !important;
}
#leaderboard h2{
    font-size:$big-header;
    padding:0 10px;
    margin-bottom:30px;
    @media all and (min-width:768px){
        &.loader-grey-line{
            margin-bottom:85px; 
        }
    }
    @media all and (max-width:980px){
        text-align: center;
    }
}
#leaderboard .header-analytics-wrapper{
    margin-bottom: 20px;

    @media all and (min-width:1025px){
        #leaderboard .header-analytics-wrapper{
            position: fixed;
            top: 0;
            left: 294px;
            z-index: 111;
        }
    }
    @media all and (max-width:1024px){
        margin-top:-40px;
        .filter-weekey-container{
            margin-right:0;
        }
    }
    @media all and (max-width:767px){
        margin-top: 0;
        margin-bottom:0;
    }
}

.top-employees .fav, .top-employees .edit{
   width: 50% !important;
    font-size: 19px !important;
}
.top-employees .edit{
    padding-left: 25px;
}
.top-employees .fav{
margin-left: -20px;
}
.top-employees .pg-donet.pg-prog {
    padding-top: 68px !important;
    padding-bottom: 20px;
}
.other-employees h2{
    margin: 25px 0;
    font-size: 18px;
}
.top-employees .text-part::before {
    position: absolute;
    top: 0;
    left: 36px;
    content: "";
    width: 92%;
    height: 100%;
    border-bottom:none !important;
}
.top-employees .donet-color-theme {

    font-size: 16px !important;
}
.top-employees .text-part{
    box-shadow:6px 9px 22px 0px #ccc;;
}
.leaderboard-level-image img{
    width: 80px;
    height: auto;
}
.leaderboard-avtar{
    text-align: center;
    margin: 0 auto;
    width: 50px;
    float: none;
}
// responsive css//
@media screen and (max-width: 1114px){
    #leaderboard .other-employees  .leaderboard-name-col{
        float: none;
        width: auto;
    }
    #leaderboard .other-employees  .up-aero {
        position: absolute;
        top: 0;
        right: 0;
    }
    #leaderboard .other-employees .leaderboard-number-col {
        width: auto;
    }
    .other-employees .leaderboard-border::before {

        border-right:none;
    }
}
@media screen and (max-width: 1100px)
{
    .top-employees .up-aero {
    padding-right: 41px !important;
    width: auto !important;
}
}
@media screen and (max-width: 1024px) {
    .top-employees .up-aero {
        padding-right: 28px !important;
    }
    .top-employees .progressbar .pg-donet {
        float: left;
        width: 63px !important;
    }
    .top-employees .progressbar{
        text-align: center;
    }
    .top-employees .progressbar .pg-donet:nth-child(3) .donet-tx .tx-ld, .top-employees .progressbar .pg-donet:nth-child(3) .donet-tx .tx-ld1 {

        padding-top: 12px;
    }
    .top-employees .progressbar .pg-donet:nth-child(4) .donet-tx .tx-ld, .top-employees .progressbar .pg-donet:nth-child(3) .donet-tx .tx-ld1 {

        padding-top: 12px;
    }
}

@media screen and (max-width: 980px) {
    .top-employees {
        display: block;
        width: 253px;
        margin: 0 auto;
    }
    #leaderboard .other-employees  .up-aero {
        position: absolute;
        top: 10px;
        right: 0;
    }
    .top-employees .progressbar .pg-donet {
        float: left;
        width: 25% !important;
    }
    .top-employees .progressbar{
        text-align: center;
    }

    .top-employees .up-aero {
    padding-right: 54px !important;
    }
    .top-employees .progressbar .pg-donet:nth-child(3) .donet-tx .tx-ld, .top-employees .progressbar .pg-donet:nth-child(3) .donet-tx .tx-ld1 {

        padding-top: 0px;
    }
    .top-employees .progressbar .pg-donet:nth-child(4) .donet-tx .tx-ld, .top-employees .progressbar .pg-donet:nth-child(3) .donet-tx .tx-ld1 {

        padding-top: 0px;
    }
  
}
@media screen and (max-width: 950px) {
    #leaderboard .up-aero {
         padding-top: 12px;
    }
}
@media screen and (max-width: 800px){
 #leaderboard .other-employees .number {
    top: 8px;
    right: 3px;
}
.other-employees .leaderboard-level-image img {
    width: 55px;
    height: auto;
}
}
@media screen and (max-width: 767px) {
.top-employees h2 {
    margin-top: 11px;
}
.other-employees .leaderboard-level-image img {
    width: 80px;
    height: auto;
}
}
@media screen and (max-width: 479px){
    .top-employees h2 {
    margin-top: 22px;
}
.other-employees .leaderboard-level-image img {
    width: 55px;
    height: auto;
    margin-right: 10px;
}
#leaderboard .other-employees .up-aero {

    right: 0px;
}
#leaderboard .other-employees .number {
    top: 8px;
    right: 7px;
    font-size:14px;
}
#leaderboard h2.top-employee-title {
 
     padding-top: 20px;
}
#leaderboard .other-employees .name {
    font-size: 14px;
    line-height: 20px;
    color: #1c1c1c;
    width: 194px;
    overflow: hidden;
    text-overflow: ellipsis;
}
}
