/*#leaderboard {
  background: #fff none repeat scroll 0 0;
  font-size:$font-title;

  .row {
    overflow: hidden;
    position: relative;
  }
  .top {
    display: flex;
    font-size: 16px;
    line-height: 48px;
    padding:  15px;
    cursor: pointer;
    &:hover {
      background: #f4f4f4;
    }
    .number {
      text-align: left;
      width: 4%;
    }
    .user {
      width: 45%;
      display: flex;
      .avatar {
        background-image: url("https://placeholdit.imgix.net/~text?txtsize=33&txt=TA&w=350&h=150");
        background-size: cover;
        height: 48px;
        width: 48px;
      }
      .name {
        font-size: 18px;
        font-weight: 600;
        padding: 0 15px;
      }
    }
    .points {
      width: 40%;
    }
    .meter {
      width: 10%;
      background: $theme none repeat scroll 0 0;
      border-radius: 8px;
      color: $white;
      font-size: 18px;
      text-align: center;
      &.positive {
        background: $green;
      }
      &.negative {
        background: $red;
      }
      .sign {

      }
      .number {
        font-size: 24px;
        font-weight: bold;
        margin: 4px;
        position: relative;
        top: 2px;
      }
    }
  }
  .bottom {
    background: $primary none repeat scroll 0 0;
    color: $white;
    display: flex;
    font-size: 16px;
    line-height: 18px;
    line-height:0;
    height: 0;
    opacity: 0;
    padding: 0;
    transition: ease 0.29s all;
    &.revealed {
      height: auto;
      line-height: inherit;
      opacity: 1;
      padding: 15px 15px 15px 45px;
      transition: ease 0.29s all;
    }
    .stats {
      width: 75%;
      .stat_numbers {
   s     span {

        }
      }
      .approval_rate {
        margin-top: 7px;
        opacity: 0.65;
      }
    }
    .percent {
      color: $secondary;
      font-size: 34px;
      font-weight: 700;
      line-height: 40px;
      text-align: right;
      width: 25%;
    }
  }
}*/

#leaderboard {
    padding: 0;
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    .container {
        width: 100%;
        color: $color-heading-text;
    }
    .innerdiv {
        background-color: white;
        height: 143px;
        max-height: 143px;
    }
    .text-part {
        padding: 0;
        .pg-donet {
            i.material-icons {
                top: -7px;
                position: relative
            }
        }
    }
    .current-user {
        box-shadow: 0 8px 16px 0 #ff595e, 0 6px 20px 0 $primary;
        margin: 18px 0;
        background-color: white;
    }
    .current {
        background-color: white;
    }
    
    .text {
        font-size: 34.7px;
        font-weight: bold;
        color: $light;
    }
    .inner-text-part-container {
        padding: 5px;
        width: 90%;
        display: flex;
        height: 62px;
        cursor: default;
    }
    .flex-item-text-part {
        width: 50%;
        margin: 1px 3px 3px;
        color: $color-heading-text;
    }
    .img {
        float: left;
        height: 50px;
        width: 54px;
        background-size: cover;
        background-position: center center;
    }
    .text-header {
        padding: 0;
    }
    .name {
        padding-left: 20%;
        padding-top: 1%;
        color: $color-heading-text;
        font-size: 16px;
        font-weight: 400;
    }
    .name2 {
        padding-left: 20%;
        font-size: $date-text;
        color: $color-heading-text;
    }
    .edit {
        float: left;
        margin-top: 12px;
        width: 29%;
        font-size: 14.86px;
        font-weight: $font-reguler;
         // i {
        //     font-size: initial;
        //     color: $primary;
        //     position: relative;
        //     top: 1px;
        //     left: 3px;
        // }
        span {
            font-size: 10px;
            color: black;
            font-weight: 100;
        }
    }
    .fav {
        width: 50%;
        float: left;
        margin-top: 13px;
        font-size: 14.86px;
      
        font-weight: $font-reguler;
         // i {
        //     color: $secondary;
        //     position: relative;
        //     top: 4px;
        //     font-size: 20px;
        //     padding-left: 5px;
        // }
        span {
            font-size: 10px;
            color: black;
            font-weight: 100;
        }
    }
    .down-aero {
        float: left;
        margin-top: 9%;
        font-size: 17.86px;
        color: $primary;
        font-weight: 400;
        padding-left: 39px;
        padding-left: 20px;
    }
    .up-aero {
        float: left;
    margin-top: 23px;
    font-size: 17.86px;
    color: #2ebe70;
    font-weight: bold;
    width: 143px;
    text-align: right;
    padding-right: 17px;
    padding-top: 21px; //  padding: 32px;
        i {
            position: relative;
            top: 35px;
            font-size: 20px;
            left: 2px;
        }
        &.positive {
            color: $theme;
        }
        &.negative {
            color: $primary;
        }
    }
    .fa-pencil-square-o {
        padding-left: 5px;
        color: $primary;
        font-size: 20px;
    }
    .fa-star {
        padding-left: 5px;
        color: $secondary;
    }
    .fa-arrow-up {
        padding-right: 5px;
        color: $primary;
    } //second div
    .innerdiv-main {
        // background-color: white;
        width: 100%;
        border-bottom: 4px solid $light
    }
    .index-property {
        float: left;
        height: 62px;
        width: 61px;
        text-align: center;
        padding: 15px 0; // box-shadow:    0 8px 16px 0 #ff595e, 0 6px 20px 0 rgba(0,0,0,0.19)
    }
    .innerdiv-main {
        .index-property {
            background-color: $theme; // background-color: $default-text;
            &.currentuser {
                background-color: $primary !important;
            } // box-shadow:0 8px 16px 0 #ff595e, 0 6px 20px 0 $primary
        }
        &:nth-child(1) {
            .index-property {
                // background-color: $theme;
                // background-image: url(/img/Trophy11.png);
                // background-size: contain;
                // background-repeat: no-repeat;
                //background-color: #CFB53B ;
                background-color: $theme;
                background-position: center; // .number-id {
                //     display: none;
                // }
            }
        }
        &:nth-child(2) {
            .index-property {
                //  background-color: $primary;
                // background-color: #E6E8FA;
                background-color: $theme;
            }
        }
        &:nth-child(3) {
            .index-property {
                // background-color: #8C7853;
                background-color: $theme;
            }
        }
    }
    .number-id {
        text-align: center;
        font-size: 35px;
        font-weight: $font-reguler;
        // color: white;
        line-height: 29px;
    }
    .number {
        text-align: center;
        font-size: 17.86px;
        font-weight: $font-reguler;
        position: relative;
        top: 31px;
    }
    .fa-arrow-up {
        color: $green;
        font-size: 20px;
    }
    .circle {
        height: 70px;
        width: 70px;
    }
    .progress {
        height: 13px;
        width: 100%;
    }
    .circleProperty {
        padding-left: 20px;
    }
    .progressbar {
        
        display: none; 
        .pg-donet {
            float: left;
           
            width: 126px;
            .donet {
                float: left;
                padding-top: 33px;
                padding-right: 10px;
                color: $theme
            }
        }
        .pg-prog {
            width: 194px;
            padding-top: 11px;
            padding-bottom: 10px;
            P {
                font-size: $date-text;
                padding-top: 4px;
                margin:0 !important;
              
            }
            span {
                font-size: 20px;
                padding-left: 13px;
            }
        }
        .donet-tx {
           
            .tx-ld {
               
                font-weight: $font-reguler;
                font-size: 17px;
                line-height: 0;
                color: $color-heading-text;
            }
            .tx-ld1 {
                line-height: 0px;
                font-weight: 100px;
                font-size: 10px;
           
                padding-top: 0px;
                color: $color-heading-text;
            }
        }
    }
    .donet-color-primary {
        color: $primary;
        margin:0 !important;
    }
    .donet-color-theme {
        color: $theme;
    }
    .donet-color-green {
        color: $green;
    }
    .donet-color-night {
        color: $night;
    }
    .donet-color-color-heading-text {
        color: $color-heading-text;
    }
    @media screen and (max-width: 717px) {
        .container {
            width: auto;
        }
        .innerdiv-main {
            width: 100%;
            height: 100%;
        }
        .inner-text-part-container {
            flex-direction: column;
            width: 100%;
            height: 50%;
        }
        .flex-item-text-part {
            width: 100%;
            height: auto;
        }
        .circle {
            height: 40px;
            width: 40px;
        }
        .progress {
            height: 9px;
            width: 50%;
        }
    }
    .revealed {
        .progressbar {
            opacity: 1;
            display: block;
            background-color: white;
            
        } // .start{
        //     border: 1px solid rgba(128, 128, 128, 0.15);
        // }
        .index-property {
            height: 62px; //  box-shadow:0 8px 16px 0 #ff595e, 0 6px 20px 0 $primary
        } // .number {
        //     text-align: center;
        //     font-size: 17.87px;
        //     font-weight: bold;
        // }
        // .number-id {
        //     text-align: center;
        //     font-size: 32px;
        //     font-weight: bold;
        //     color: white;
        //     line-height: 100px;
        // }
    }
}