.csv-preview {
    position: relative;
    background: $theme;
    .parent-csv {
        position: absolute;
        left: 50%;
        bottom: 50%;
        margin-left: -37px;
        margin-bottom: -52px;
        color: white;
        i {
            font-size: 5em;
            position: relative;
            left: 6px;
        }
        span {
            font-weight: 400;
            display: block;
            font-size: 28px;
            margin-top: 10px;
            padding: 0;
        }
    }
}

.pdf-preview,
.csv-preview {
    width: 100%;
    height: 350px;
}

.linkpreview-parent-class {
    .inner-link-preview {
        border: 1px solid $tab_border;
        height: auto;
        overflow: hidden;
        padding: 10px;
        position: relative;
        .logo-preview {
            width: 170px;
            float: left;
            height: 170px;
            background: #eee;
            text-align: center;
            line-height: 220px;
            i {
                color: #a7a6a6;
                font-size: 60px;
            }
            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
                display: block !important;
                position: relative !important;
                margin-left: 0 !important;
            }
        }
        .details-preview {
            width: 100%;
            padding: 0 10px 10px;
            margin-left: -170px;
            padding-left: 185px;
            float: left;
        }
        .title-preview {
            color: #525252;
            font-weight: $font-reguler;
            font-size:$font-title;
            display: inline-flex;
        }
        .description-preview {
            margin: 8px 0 0;
            font-size: 10px;
            overflow: hidden;
            padding-bottom: 10px;
            p {
               font-size: $heading; ;
                font-weight: 300;
                margin-bottom: 0;
            }
        }
        .link-preview {
            position: absolute;
            bottom: 6px;
            margin-left: -5px;
            white-space: nowrap;
            margin-right: 10px;
            left: 199px;
            right: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            a {
                color: $primary;
                font-size: $heading; ;
                margin-top: 10px;
                font-weight: 300;
            }
        }
    }
}

@media all and (max-width:479px) {
    .linkpreview-parent-class .inner-link-preview {
        .details-preview {
            margin-left: 0;
            padding-left: 0;
        }
        .logo-preview {
            float: none;
            width: auto;
            margin-bottom: 15px;
        }
        .link-preview {
            position: relative;
            left: 0;
            bottom: 0;
        }
    }
}