//for curation
.loader-grey-line{
    background-color: #f5f6f7 !important;
    background-image: url("/img/visiblyLoader.gif") !important;
    background-size: 100% 1px;
    background-repeat: repeat;
}
.loader-sidebar-width{
        width:150px;
 }
 .icon-loader{
       height: 22px;
       width: 22px;
       border-radius: 44px;
 }
.loader-line-space{
    margin-top:10px !important;
}
.loader-line-height{
    height:10px;
}
.loader-line-radius{
    border-radius: 19px;
}
.loader-tag-child-value-analytics{
    height: 15px;
    display: inline-block;
    width: 91px;
    margin-bottom: 10px;
    margin: 4px;
}
.curated-loader-container{

    border:1px solid #eeeeee;
    padding:10px;
   .curated-loader-inner-container{
        height:456px;
        width:auto;
     }

}

//dashboard value loader
.value-details-description .list-value-loader{
    padding-left:0;
}
.hot-div-loader{
    .image-in-top-company-post{
        position: absolute;
        height:100%;
        width:100%;
    }
    .footer-loader{
        min-height:45px;
    }
    .headerdiv .headercolordiv .userimage{
        background: url("/img/visiblyLoader.gif");
    }
    .Blank-div-for-footer{
        height:84px;
    }
}
.Approved-div-asset-block-loader{
    .approvediv{
        .image-block-assets{
            float:left;
            width:30%;
            height:100%;
            .loader-grey-line{
                width: 100%;
                height: 128px;
            }
        }
        .assets-descripation{
            float:left;
            width:70%;
            height:100%;
            max-width:500px;
            padding:43px 30px;
           .loader-grey-line.loader-line-height{
              margin-bottom:10px;
           }
        }
    }
}
#dashboard {.culture-analytics-exapnd{
    padding:30px;
    .row-container-of-the-chart-analytics-loader-totalpost{
        padding:30px;
    }
 }
}
#dashboard .culture-dashboard-design-wrapper .recharts-legend-wrapper.rechart-loader-wrapper{
    left:0 !important;
}
//tour 
.giphy-container img{
    background-color: #f5f6f7;
    background-image: url("/img/visiblyLoader.gif");
    background-size: 100% 1px;
    background-repeat: repeat; 
}
//google drive
.file-loader-container{
    float:left;
}
.google-drive-loader{
   width:200px;
   max-width:100%;
}
//for curated header
.curated-header{
    .img-avatar{
        float:left;
        width:44px;
        height:44px;
        background-color: #f5f6f7;
        background-image: url("/img/visiblyLoader.gif");

        margin-right:10px;
    }
    .name-header{
        float:left;
        padding:5px;
        .name-curated,.date-curated{
          background-color: #f5f6f7;
          background-image: url("/img/visiblyLoader.gif");
          border-radius: 19px;
        }
        .name-curated{
            width:36px;
        }
        .date-curated{
           width:133px;
           margin-top:12px;
        }
    }
 }
//for curated body part
.curated-block-container{
       padding-top:15px;
        .one-curated-block{
            float:left;
            width: 50%;
            .inner-curated-block{
                  border:1px solid #eeeeee;
                  padding-bottom: 20px;
            }
            .curated-decripation{
                padding:10px;
            }
         }
         .curated-img-part{
            height:214px;
        }
}
.curated-block-container .one-curated-block:nth-child(1){
     padding-right:10px;
}
.curated-block-container .one-curated-block:nth-child(2) {
    padding-left:10px;
}
.curated-decripation{
   .cureted-decp-block1{
       width:264px;
   }
   .cureted-decp-block2{
    width:152px;
  }
  .cureted-date{
      width:113px;
      float:left;
  }
  .cureted-share{
      width:113px;
      float:right;
  }
  .cureted-decp-block3{
     width:230px
  }
  .cureted-decp-block4{
    width:170px;
  }
  .cureted-decp-line-padding{
    margin-top:41px;
  }

}

@media (max-width:979px) {
   
    .curated-block-container .one-curated-block:nth-child(1){
        padding-right:0;
    }
    
    .curated-decripation{
        .cureted-decp-block1{
            width:auto;
        }
        .cureted-decp-block2{
         width:auto;
       }
       .cureted-date{
        float:none;
        width:auto
       }
       .cureted-share{
        float:none;
        width:auto
       }
       .cureted-decp-block3{
        width:auto
       }
       .cureted-decp-block4{
        width:auto
       }
     }
}


//for job desing

.Job-loader-container{
    .job-descripation-part{
        padding-left:30px;
        .job-block1{height:20px;}
        .job-block2{width:70px}
        .job-block3{height:55px}
        .job-block4{width:155px}
        .job-block5{height:20px}
        .job-block6{width:80px}
        .job-block7{height:20px}
        .job-block8{width:68px}
        .job-block9{height:40px}
        .job-block10{width:187px}
        .job-block11{width:248px}
        .job-block12{width:205px}
        .job-block13{width:180px}
        .job-last-div{height:25px;}
    }

}
.Job-loader-container{
    .curated-loader-inner-container{
        height:auto;
    }
    .inner-curated-block{
         padding-bottom: 0 !important;
    }
}
@media (max-width:979px) {
    .Job-loader-container{
        .job-block2{width:auto !important}
        .job-block4{width:auto !important}
        .job-block6{width:auto !important}
        .job-block8{width:auto !important}
        .job-block10{width:auto !important}
        .job-block11{width:auto !important}
        .job-block12{width:auto !important}
        .job-block13{width:auto !important}
    }
    .Job-loader-container .job-descripation-part{
        padding-right:30px;
    }
}
.culture-dashboard-design-wrapper .culture-index-loader .cultur-score-value-wrapper{
  padding-left:24px;
}
//for post

.post-loader-container .curated-img-part{
    height:300px;
   }
   .moderation-post-loader{
       border-bottom:0;
   }
   .moderation-loader{
       margin-bottom: 15px;
   }
   .feed-loader-wrapper{
       margin-bottom: 20px;
   }
   
   //moderation loader in asset//
   .moderation-loader-button{
    height: 36px;
    margin-top: 0px;
   }
   .user-profile{
       margin-right: 10px;
       width: 44px;
       height: 44px;
       cursor: pointer;
   }
   .author-name{
       width: 250px;
   }
   .post-timing{
       width: 150px;
   }
   .description {
       width: 100px;
   }
   .approval-button, .unapproval-button{
       width: 100%;
   }

   //responsive loader

// ----------   1114-----------//
   @media (max-width:1114px){
    .loader-text-wrapper{
        min-height: 167px !important;
    } 
   }

//  -------------  980------------//
   @media (max-width:980px){
    .loader-employee-heading{
        text-align: center;
        margin: 0 auto;
       
        margin-top: 10px;
    }
   }

// ---------   767----------//
   @media (max-width:767px){
   .author-name {
    width: 137px;
}
.post-timing {
    width: 95px;
}
.loader-heading-responsive{
    margin-left: 20px !important;
}
}

//  ------------  479-----------//
   @media (max-width:479px){
  
 .loader-employee-heading{
     padding-top: 0px !important;
     text-align: center;
    margin: 0 auto;
   
    margin-top: 20px;
 }
 .loader-avtar-name {
    width: 90px !important;
}
   }


   //leaderboard loader css
   .loader-employee-heading{
       width: 130px;
   }
   .loader-avtar-image{
    margin: 0 auto;
    float: none !important;
    height: 50px !important;
    width: 50px !important;
    margin-top: 12px;
    border-radius: 50%;
   }
   .loader-avtar-name{
       width: 90px;
       margin: 0 auto;
   }
   .loader-top-avtar-name{
    width: 160px;
    margin: 0 auto;
   }
   .loader-avtar-position{
       width: 50px;
       margin: 0 auto;
   }
   .loader-top-avtar-position{
    width: 80px;
    margin: 0 auto;
   }
   .leaderboard-box-wrapper{
       min-height: 364px;
   }
.other-employee-avtar{
float: left;
margin-top: 30px; 
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
}
.loader-other-employee-name{
    margin: 0;
}
.loader-text-header{
    margin-top: 80px;
}
.loader-top-space{
    margin-top: 10px !important;
}
.loader-text-wrapper{
    min-height: 110px;
}
.inner-employee-loader{
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeded;
}
//for dashboard
.dashboard-loader{
    .visibly-dashboard-logo{
        width:115px;
        height:30px;
    }
    li a{
        .icon-in-loader{
            height:22px;
            width:22px;
            border-radius:44px;
            float:left;
            position: relative;
            right: 7px;
        }
    }
    .hide-icon{
        opacity: 0;
    }
    .dashboard-loader-hed-part{
         margin:0 0 0 12px;
         padding:0 !important;
    }
   }
   //dashboard what-hot-right-now-block css
   .dashboard-what-hot-right-now-block{
    .post-item .channel-title:before{
        height:0;
     }
   }
//    dashboard my contribute loader
.loader-my-contribute{
   .content-loader-dashboard{
        padding-top:41px;
    }
    .loader-dashboard-auther-data-mycontribute{
       padding-top:15px;
   }
   .footer-my-contribute-loader{
       margin-top:6px;
   }
   .post-item .channel-title:before{
    height:0;
    }
}

 // widefeed sidebar css
.feed-nav-loader{
    .customSearch div{
        height:30px;
    }
    .custom-feed-title{
        height:0;
    }
    .loader-sidebar-width{
       width:140px;
    }
    .icon-feed{
         height: 22px;
        width: 22px;
        border-radius: 44px;
        left: -16px;
        top: -5px;
    }
}
//narrow sidebar css
.feed-narrow-loader{
     li{
        margin:0 auto;
        margin: 10px auto;
     }
}

//assets loader
.icon-loader{
    height:22px;
    width:22px;
    border-radius:44px;
    position: relative;
    right: 7px;
}
.archive.asset-dir .file-details-loader-assets:hover,.archive.asset-dir .file-details-loader-assets .side,.file-details.createpost-assets-loader:hover{
   background:none !important;
   .side{
    background:none !important;
   }
}
.loader-assets-image img{
    height:100%;
}
.loader-assets-title{
    width:200px;
    max-width:100%;
}


//createpost assets loader
.createpost-assets-loader{
    .icon-loader{
     right:0;
    }
    .title-createpost-assets{
        max-width:100%;
        width:100px;
        margin-top:5px;
    }
}
.createPostgiphyLoader{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom: 0;
}
.culture-value-loader-createPost a{
    height: 42px;
    width: 100px;
    max-width: 100%; 
    border:none !important;
}

//setting > user
#Users .loader-culture-tableExpand{
 table tr td, table tr th{
     min-width:auto;
 }
}
 
//notification loader
.dashboard-noti-loader .inner-dashboard-notification .notification-body .user-nt .inner-user-nt .avtar.loader-avtar{
    background-image: url("/img/visiblyLoader.gif");
    border:none;
    margin-left:2px;
    background-repeat:repeat;
}
.dashboard-noti-loader .inner-dashboard-notification .notification-body .user-nt .inner-user-nt{
    background: none;
}
.parent-container-for-seach-feed  .searchLoaderAvtar{
    background-color: #f5f6f7;
    background-image: url("/img/visiblyLoader.gif") !important;
    background-size: 100% 1px;
    background-repeat: repeat !important;
    border:none;
}
// job loader
.loader-date{
    width: 80px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 7px;

}
.job-loader-text{
    width:60px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
}
.job-share-loader{
width:60px;
text-align: center;
margin: 0 auto;

}
.job-loader-description{
    margin-bottom: 30px !important;
}
.rss-loader-wrapper .banner-hot-header, .rss-loader-wrapper .no-img-header{
    background-image: none !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 70%;
}
.rss-loader-wrapper .feed-job-item-inner .banner-hot-header:before {
    background: none;
}
.feed-job-loader-border{
    border-top: 10px solid #f5f6f7 !important;
}
.rss-hour-loader{
    padding: 0px !important;
    margin-top: 20px;
}
.rss-description{
    width: 100%;
    height:10px !important;
}
.rss-description-loader{
    height:10px !important;
    width: 100%; 
    margin-top: 40px;
}
.feed-rss-loader{
    padding: 0px !important;
}

//campaign loader
.overview-brief-wrapper-loader{
    padding:20px;
}
//kanban 
.kanban-process-block.loader-grey-line.loader-line-space.loader-line-height{
    height: 150px;
    border: 0;
}