
 .register-page  #login-banner {
    .section button{
      width:100%;
      height:51px;
    }
}
.inner-form-reset{
        span.error{
            text-align: justify;
            margin-left: -7px ;
        }
        .form-row{
            margin-bottom:28px;
        }
    }
  #forgot-pass {
        margin: 0;
        width:38%;
        height:46px;
        line-height: 47px;
    }

    .page-verify {
        #content {
            padding-left: 0;
            .page {
                .header {
                    left: 0;
                }
            }
        }
        p {
            max-width: 500px;
            margin: 0 auto;
        }
        .btn-website {
            margin-top: 25px;
            transform: translate(0%, 60px);
            &.verified {
                pointer-events: none !important;
                background-color: #e7e7e7 !important;
            }
        }
        .verified {
            .btn-website {
                transform: none;
                transition: 0.5s ease all;
            }
        }
        svg {
            margin: 45px auto;
        }
        svg path {
            transform: scale3d(1.25, 1.25, 1.25)
        }
        .widget {
            min-height: 70vh;
            .section {
                padding: 45px 15px !important;
            }
        }
        .verifiedMsg {
            opacity: 0;
            animation: fadeInUp 0.5s ease forwards;
            animation-delay: 1.5s;
        }
    } //reset password
    .container-reset {
        background-color: white;
        height: auto;
        .section-form-cn {
            background-color: white;
            width: 100%;
        }
        .header-reset {
            //  background-color: black;
            width: 100%;
            background-image: url("/img/lg-bn1.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 204px;
            .logo-reset {
                width: 38%;
                padding-top: 5%;
                padding-left: 5%;
                img {
                    max-width: 280px;
                }
            }
            .nav-reset {
                width: 60%;
                border: 1px solid white;
            }
        }
        .inner-fm-cn {
            background-color: white;
            width: 100%;
            height: 315px;
            .in-form {
                width: 20%;
                margin: 5% auto;
            }
            .btn-reset {
                width: 100%;
            }
            .reset-heading {
                text-align: center;
                .btn-reset {
                    width: 100%;
                }
            }
        }
    }
#header {
    .cls-1 {
        fill: #000 !important;
    }
}
.headerRight{
    // .mobile-menu-logo-wrapper  {
    //     .cls-1 {
    //         fill: #000 !important;
    //     }
    // }

    .mobile-menu-logo-wrapper .cls-2 {
        fill: $secondary
    }

    .mobile-menu-logo-wrapper .cls-3 {
        fill: $primary
    }
    .close-menu .close {
        fill: $white;
    }
    .active{
      color:rgb(255, 88, 94);
    }

    .cls-2 {
        fill: $secondary
    }

    .cls-3 {
        fill: $primary
    }

}

.mobileMenuTitle {
    display: none;
}

.menu-handle-wrapper {
    float: right;
    width: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

.menu-handle-line {
    height: 2px;
    background: $color-heading-text;
    margin-bottom: 5px;
    width: 20px;
    margin-left: auto;
}

.menu-handle-line:last-child {
    margin-bottom: 0;
}

#header,
.platform-template.fp-viewing-0 #header {
    padding: 25px 0 23px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid #efeeee;
    background: $white;
}

#header.sticky {
    background: $white;
    padding: 10px 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}
#logo {
    float: left;
    width: 195px;
    height: 57px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;
}

#logo img {
    max-width: 100%;
    height: auto;
}

#header.sticky .headerRight {
    margin-top: 0;
}
.headerRight {
    float: right;
    width: 100%;
    margin-left: -195px;
    padding-left: 205px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*mainNav ===========================================================*/

.mainNav {
    float: right;
}

.mainNav ul li {
    margin-right: 30px;
    text-align: center;
    float: left;
}

.mainNav ul li:last-child {
    margin-right: 0;
}

.mainNav ul li.special-link a {
    border: 1px solid #e4e4e4;
}

.mainNav ul li.special-link a:hover {
    border-color: #ff595e
}

.mainNav ul li a {
    display: block;
    min-width: 110px;
    height: 58px;
    line-height: 58px;
    font-size: 16px;
    font-weight: 300;
    color: $default-text;
    text-transform: capitalize;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mainNav ul li a:hover,
.mainNav ul li.current-menu-item>a {
    color: rgb(255, 88, 94);
}

.mainNav ul li a span {
    position: relative;
    z-index: 1;
}

.mainNav ul li a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $primary;
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mainNav ul li:hover a:before {
    /* transform:scale(1);
     */
    /* opacity:1;
     */
}



/* responsive */

@media all and (max-width:1300px) and (min-width:1101px) {
    .mainBannerIllustratorWrapper {
        transform: scale(0.65);
        transform-origin: center 0;
    }
    .mainBannerInner {
        min-height: 620px;
    }
    .mainBannerCaptionWrapper {
        margin-top: -250px;
    }
}

@media all and (max-width:1100px) {
    .mainBannerIllustratorWrapper {
        position: relative;
        width: 520px;
        margin: 0 auto;
        left: -80px;
        top: 0;
    }
    .mainBannerCaptionWrapper {
        max-width: 580px;
        margin: 0 auto 40px;
    }
    .mainBannerInner {
        padding: 0 20px;
        margin-bottom: 60px;
    }
    .mainBannerWrapper {
        margin-bottom: 20px;
    }
}

@media all and (max-width:979px) {
    /* Header css */
    .mainNav ul li {
        margin-right: 10px;
    }
    .mainNav ul li a {
        min-width: 0;
        padding: 0 10px;
    }
    /* Header css ends*/
}

@media all and (max-width:767px) {
    #header {
        padding: 10px 23px;
    }
    .mainBannerWrapper {
        padding-top: 96px;
    }
    .menu-handle-wrapper {
        display: block;
    }
    body.show-menu {
        overflow: hidden;
    }
    .mainNav {
        position: fixed;
        left: auto;
        top: 0;
        right: -100%;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: left;
        background: #ff585e;
        width: 100%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .show-menu .mainNav {
        right: 0;
    }
    .mainNav ul {
        padding: 20px 0;
    }
    .mainNav ul li {
        display: block;
        float: none;
        text-align: left;
        margin-right: 0;
    }
    .mainNav ul li a {
        height: auto;
        line-height: 40px;
        font-size: 24px;
        color: $white;
        font-weight: $font-reguler;
        text-transform: capitalize;
        padding: 10px 20px;
    }
    .mainNav ul li a:hover,
    .mainNav ul li a.active {
        background: rgba(255, 255, 255, 0.18);
        color: $white;
    }
    .mainNav ul li.special-link {
        bottom: 0;
        left: 0;
        text-align: center;
        color: #ff585e;
        border: 0;
        position: absolute;
        background: $white;
        right: 0;
    }
    .mainNav ul li.special-link a {
        color: #ff585e;
        text-transform: uppercase;
        border: 0;
        font-size: 26px;
        line-height: 44px;
        font-weight: 600;
    }
    .mobileMenuTitle {
        display: block;
        font-size: 16px;
        line-height: 22px;
        color: $white;
        padding: 10px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        text-transform: uppercase;
        font-weight: $font-reguler;
    }
    .mobileMenuTitle .close-menu {
        float: right;
        color: $white;
        font-size: 62px;
        display: block;
        width: 30px;
        text-align: center;
        line-height: 28px;
        margin-top: 4px;
    }
    #logo {
        width: 110px;
    }
    .mobile-menu-logo-wrapper {
        float: left;
    }
    .mobile-menu-logo {
        width: 55px;
        background: $white;
        overflow: hidden;
        padding: 0px 10px 0px 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -o-border-radius: 10px;
        -ms-border-radius: 10px;
        -moz-border-radius: 10px;
    }
    .mobile-menu-logo svg {
        width: 190px;
    }
    .headerRight {
        padding-left: 0;
        margin-left: 0;
        width: auto;
    }
    .menuNavShapeWrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    .menuNavShape {
        position: absolute;
        right: 0px;
        top: 50%;
        background: rgba(0, 0, 0, 0.11);
        width: 200px;
        height: 200px;
        transform: rotate(30deg);
        margin-top: -110px;
    }
    .menuNavShape2 {
        background: url("/img/menuWaveImage.png") no-repeat;
        background-size: cover;
        margin-top: 0;
        left: -10px;
        top: 0;
    }
    .menuNavShape3 {
        background: url("/img/menuWaveImage.png") no-repeat;
        background-size: cover;
        margin-top: 50px;
        left: 10px;
    }
    .manuNavWrapper {
        position: relative;
        z-index: 1;
        height: 100%;
    }
}

#header .manuNavWrapper{
    ul{
        list-style: none;
        li a{
           text-decoration: none;
        }
    }
}

//bannar part
.cf:before, .cf:after{
    content: "";
    display: table;
}
.cf:after{clear: both;}
.cf{zoom:1;}
.page-login{
    background: $white;
}
.banner-part{
   
    width:100%;
    height:768px;
    max-height:768px;
    max-width:100%;
    background: $white;
}
#login-banner{
    background: $white;

  .inner-banner-part{
        position: relative;
        margin-bottom: 87px;
        padding-top:202px;
    }
   .login-part-form{
    width: 388px;
    margin: 0 auto 0;
    max-height: 510px;
    box-shadow: -1px 2px 67px 2px rgba(136, 136, 136, 0.32156862745);
    z-index: 3;
    position: relative;
    .login-form{
        padding:32px 32px 123px;
        border:1px solid $border-in-page
    }
   }
   .login-title{
    font-size: 28px;
    word-spacing: inherit;
    font-weight: 400;
    color: $color-heading-text;
    margin-bottom: 32px;
    text-align: center;
   }
   .login-form-password{
       position: relative;
       z-index: 1;
   }
   .show-passowd{
    position: absolute;
    right: 7px;
    top: 10px;
     i{
        color: $color-heading-text;
     }
   }
   #btn-space{
    width: 100%;
    font-size: 14px;
    padding: 24px;
    height: 51px;
    margin: 0;
    line-height: 5px;
    font-weight: 500;
    text-transform: none !important;
   }
   //login-form
   .login-form  .form-cnt{
       #lg-fm{
         .form-row{
              input{
                height: 46px;
                padding:0 33px;
                border: 1px solid $input-border;
              }
         }
       }
   }
}

@media screen and (max-width: 767px){
.login-part-form.show-account .login-title{
    font-size:24px !important;
    margin-bottom: 0px !important;
}
.login-form.reset-password-wrapper, .login-part-form.reset-login{
    width: 100% !important;
}
.login-form.reset-password-wrapper .login-title{
    font-size:22px !important;
}
}
.login-or-text{
    position: relative;
    text-align: center;
    margin-bottom:20px;
    span{
        color:$default-text;
        position: relative;
        background: $white; 
        padding:0 10px;
    }
    &:before{
        content:'';
        display: block;
        position: absolute;
        left:50%;
        width:100px;
        margin-left:-50px;
        top:50%;
        height:1px;
        background: $defult-light-text;
        
    }
}
.sso-form-login{
    margin-bottom:20px;
}
.sso-back-link{
    i{
        vertical-align: middle;
        font-size: 12px;
    }
    a{

    }
}
.sso-login-link{
    margin-bottom: 30px;
    a{
        display: block;
        text-align: center;
        padding:16px 24px 15px;
        border: 1px solid $primary;
        color:$primary;
        font-weight: 400;
        font-size:14px;
        font-weight: 500;
        -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
        &:hover{
            text-decoration: none;
            background: $primary;
            color:$white;
        }
    }
}
@media all and (max-width:768px) and (min-width:421px){
    #login-banner{
       
        .inner-banner-part{
            padding:0 10px;
            margin-bottom: 0;

        }
      }
    #login-banner.banner-part{
        width: 100%;
        height: 740px;
        max-width: 100%;
        background: $white;
        padding-top:116px;
        margin-top: 0px;
        }
       
            
        
}
@media all and (max-width:420px) {
#login-banner .inner-banner-part{
    padding-top:140px !important;
 }
}

//banner part
#login-banner {
    .walk-man{
       margin-left: -481px;
       z-index:2;
  }
  .bottom-illusration{
    position: absolute;
    left: 50%;
    bottom: 0;
  }
  .banner-illustration{
      position: absolute;
      top:50%;
      left:50%;
  }
  .walk-man-msg{
  margin-left:-451px;
  }
  .msg-box-boy {
    margin-top: -60px;
    margin-left: -315px;
    z-index:4;
  }
.msg-box-boy-transparent{
    margin-top: -218px;
    margin-left: -283px;
}
.banner-illustration-right{
    top:50%;
    right:50%;
    position: absolute;
}
.transparent-right-login-msg{
    margin-right: -543px;
    margin-top: -131px;
}
.banner-illustration-right-bottom{
  position: absolute;
  right:50%;
  bottom: 0;
}
.msg-box-girl{
    margin-right: -537px;
}
.girl-login{
    margin-right: -419px;
    margin-bottom: -6px;
}
.msg-girl-transparent{
    margin-bottom: 148px;
    margin-right: -513px;

}
}
@media all and (max-width:768px) {
.walk-man,.walk-man-msg ,.msg-box-boy ,.transparent-right-login-msg ,.msg-box-girl ,.girl-login,.msg-girl-transparent{
    display: none;
}
}
//footer css
.footer-quick-links-section {
    background: $white;
    border-top:1px solid $border-in-page;
    .container{
        max-width: 1182px;
        padding: 0 20px;
        margin: 0 auto;
        position: relative;
    }
    .footer-description-col{
            width: 46%;
            float: left;
            padding-top: 55px;
    }
    .footer-column-wrapper{
        width: 54%;
        float: left;
        padding-top: 48px;
        a:hover{
            text-decoration: none;
        }
    }
    .element-edit-link{
        display: none
    }
    .footer-logo-wrapper{
        padding-bottom: 12px;
        .footer-logo{
            width: 38px;
            overflow: hidden
            a{
                text-decoration: none;
            }
        }
    }
    .footer-logo-wrapper svg{
        width:210px !important;
    }
    .footer-description{
       section{
           display: block;
       }
       .widget{
           padding:0;
       }
    }
    .footer-description p{
       font-size: $heading; ;
        line-height: 33px;
        color:$default-text;
        max-width: 360px;
        font-weight: 300;
    }
    .footer-column{
        float: left;
        width: 33.3%;
        padding: 0 15px;
    }
    .footer-link-heading{
       font-size: $heading; ;
        line-height: 48px;
        color:$default-text;
        font-weight: $font-reguler;
        padding-bottom: 6px;
        text-transform: uppercase;
    }
    #menu-footer-product-menu  li{
        list-style: none;
    }
    .footer-column li a{
               font-size: $heading; ;
                line-height: 29px;
                color:$default-text;
                font-weight: 300;
                text-transform: capitalize;
                text-transform: none;
    }
    .footer-column li a:hover{
        color:$primary;
    }
    #menu-footer-policy-menu li{
         list-style: none;
         a{
             text-decoration: none;
         }
         a:hover{
            color:$primary;
        }
    }
}
body.overlay{
    #login-banner{
        filter:blur(2px);
    }
}
#footer-bottom-section{
    background: $dark-bg;
    padding: 34px 10px;
    .container{
        max-width: 1182px;
        padding: 0 20px;
        margin: 0 auto;
        position: relative;
    }
    .footer-bottom-left-links{
        float: left;
        position: relative;
        z-index: 1;
    }
    .footer-bottom-left-links li{
        float: left;
        margin-right: 21px;
    }
    .footer-bottom-left-links li a{
        font-size: $normal-text;
        line-height: 36px;
        color: $default-text;
        text-transform: capitalize;
    }
    .footer-social-links-wrapper{
        float: right;
        margin-top: 0px;
        position: relative;
        z-index: 1;
        .textwidget{
            background: none;
        }
    }
    .footer-social-links-wrapper li:last-child{
        margin-right:0;
    }
    .footer-social-links-wrapper li{
        float:left;
    }
    .menu-footer-policy-menu{
     list-style: none;
    }
    .textwidget{
        background: $white;
        li{
            float:left;
            margin-right:19px;
            list-style: none;
        }
        li:last-child {
            margin-right:0;
        }
      }
    .footer-social-links-wrapper .widget{
        background: #eaeae9;
        margin-bottom: 0;
        padding:0;

    }
    .footer-social-links-wrapper li{
        list-style: none;
    }
    .footer-social-links-wrapper li a{
    display: block;
    width: 37px;
    height: 37px;
    border-radius: 37px;
    -webkit-border-radius: 37px;
    -o-border-radius: 37px;
    -ms-border-radius: 37px;
    -moz-border-radius: 37px;
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    border-radius: 37px;
    -webkit-border-radius: 37px;
    -o-border-radius: 37px;
    -ms-border-radius: 37px;
    -moz-border-radius: 37px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
    .footer-social-links-wrapper li a:hover{
    color: $white;
    border-color: $primary;
    background: $primary;
    }
}

@media all and (max-width:420px){
    .footer-description-col{
        padding:33px 1px 40px  !important;
        border:none !important;
    }


}
@media all and (max-width:360px){
    #login-banner .login-part-form{
     width:311px;
    }
}
@media all and (max-width:768px){
    .footer-quick-links-section{
        .container{
            margin:0;
            padding:0;
        }
    }
    .footer-quick-links-section .footer-column-wrapper{
        padding:40px 20px;
    }
    .footer-quick-links-section .footer-column{
        padding:0;
    }
    .footer-description-col{
        float: none !important;
        width: auto !important;
        padding: 33px 20px 40px;
        border-bottom: none ;
        text-align: center;
       }
       .footer-description-col  .footer-logo{
           margin:0 auto;
       }
       .footer-description p{
        margin:0 auto;
        max-width: 360px;
       }
    #footer-bottom-section {
        .footer-bottom-left-links,.footer-social-links-wrapper{
            float: none;
            width: 324px;
            margin: 0 auto;

        }
        .footer-social-links-wrapper{
            width:200px;
        }
        .footer-social-links-wrapper{
            float:none;
        }
    }

    .footer-quick-links-section .footer-column-wrapper{
          width:100%;
          float:none;
          border-top:1px solid $border-in-page;
    }
    #login-banner .container{
        padding:0 !important;
    }
}
@media all and (max-width:1290px){
    #login-banner{
        
        .inner-banner-part{
            margin-bottom: 0;
        }
        .msg-box-boy-transparent{
            display: none;
        }
    }
    .register-page{
       #login-banner{
           height:708px;
       }
    }
}

