// Marketplace
// 

#marketplace {
  float: left;
  clear: both;
  width: 100%;

  // Headers
  // 
  header {
    float: left;
    clear: both;
    width: 100%;
  }

  // Section
  // 
  .section {
    float: left;
    clear: both;
    width: 100%;
    padding-top: 1rem;
  }

  // Marketplace Search
  // 
  .marketplace-search {
    float: left;
    clear: both;
    width: 100%;
    background: darken($light,10%);
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    
    // Forms
    // 
    form {
      margin: 0;

      // Styling
      // 
      input[type="text"],
      input[type="search"],
      input[type="email"],
      input[type="password"],
      input[type="tel"],
      input[type="url"],
      input[type="color"],
      input[type="number"],
      input[type="week"],
      input[type="date"],
      input[type="month"],
      input[type="time"],
      input[type="datetime"],
      input[type="datetime-local"],
      textarea,
      select,
      .select {
        // border-color: darken($border-color,15%);
        border-color: darken($light,10%);
        &:first-child,
        &:last-child {
          // border-color: darken($border-color,15%);
          border-color: darken($light,10%);
        }
        &:focus {
          border-color: $theme;
        }
      }
    }
    
    // Columns
    // 
    .col {
      @include span(12 of 12);
      margin-bottom: .5rem;
      @include bp(sm){
        margin-bottom: 0;
        @include span(6 of 12);
        &:nth-child(2n+2){
          @include span(4 of 12 last);
        }
      }
    }
  }

  // Kits
  // 
  a.kit-item {
    position: relative;
    background: $white;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0 0 transparent;
    @include span(12 of 12);
    
    // Small
    @include bp(sm){
      @include span(4 of 12);
      &:nth-child(3n+3){
        @include span(4 of 12 last);
      }
    }
    
    // Large
    @include bp(lg){
      @include span(3 of 12);
      &:nth-child(3n+3){
        @include span(3 of 12);
      }
      &:nth-child(4n+4){
        @include span(3 of 12 last);
      }
    }

    // Image
    // 
    > img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px 5px 0 0;
    }

    // Label
    // 
    &:hover {
      box-shadow: 0 0 0 3px $theme;
    }
  }

  // Meta
  // 
  .kit-meta {
    float: left;
    display: block;
    clear: both;
    width: 100%;
    padding: .65rem 1rem;
    border-top: 1px solid $table-border-color;
    // Heading
    // 
    h3 {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.4em;
      margin: 0 0 .1rem 0;
    }
    // Using
    // 
    span {
      font-size: $date-text;
      color: darken($light,40%);
    }
  }

  // Price
  // 
  .kit-price {
    float: left;
    clear: both;
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    background: lighten($light,5%);
    border-top: 1px solid $table-border-color;
    font-family: inherit;
    font-weight: 700;
    font-size: $date-text;
    display: flex;
    align-items: center;
    flex-direction: row;
    
    // Price Span
    // 
    span {
      flex: 1 1 auto;
    }
    
    // By EsportsKit Label
    // 
    span.label {
      flex: 0 1 auto;
      font-size: 10px;
      float: right;
      padding: .5em;
      margin: 0;
    }
  }

  // Theme Items
  // 
  a.theme-item {
    @extend a.kit-item;
    margin-bottom: 2rem;

    // Bar
    // 
    .bar {
      float: left;
      clear: both;
      width: 100%;
      height: 18px;
      background: $border-color;
      display: flex;
      align-items: center;
      padding: 0 5px;
      // Dot
      // 
      .dot {
        display: box;
        flex: 0 0 auto;
        position: relative;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: darken($border-color, 10%);
        &:before {
          content: "";
          @extend .dot;
          position: absolute;
          left: 10px;
        }
      }
    }

    // Image
    // 
    > img {
      border-radius: 0;
    }
  }

  // Meta
  // 
  .theme-meta {
    @extend .kit-meta;
  }

  // Price
  // 
  .theme-price {
    @extend .kit-price;
  }
}