.moderation {
    #side-popup-wrapper{
        .asset-detail-page{
            .asset-content-wrapper .file-details i {
               display: none;
            }
        }
    }
   .onoffswitch  .form-row.checkbox label:before{
        box-shadow: none;
        border:1px solid $input-border;
    }
    .form-row.checkbox label:before{
        box-shadow: none;
        border:1px solid $input-border;
        position: absolute;
        left:-999em;
    }
    input[type="checkbox"]:checked + label:before{
        box-shadow:inset 0 0 0 8px #256eff
    }
    .author-data .author-meta{
        padding-right: 111px;
    }
    .onoffswitch{
    label{
     color:$color-heading-text;
    }
    }
    .main-container .page .on-off-switch-main-container{
        color:$color-heading-text;
        margin-left:10px;
        float:left;
        @media all and (max-width:479px){
          float: none;
          margin-left: 0;
        }
      }

      .post .row {
        .post-header .author-data .author-meta {
          a{
            margin-left: 6px;
          }
        }
      }
      .post-footer {
        border-top: 1px solid #e0e6ec;
      }
        #feed {
            .moderationAssets{

                .postInner{position: relative; padding: 10px;padding-left: 57px;}
                .post-header{
                    padding:0 0 10px 0;
                }

            }
            .dd-menu{display: none}
            .post {
                .post-detail-feed-text{
                    margin-bottom: 0;
                }
                .feed-post-item{margin-bottom: 0;}
                .post-header{display: flex;}
                .approval-actions button {
                    margin-bottom: 0;
                }
                .col-three-of-four {
                    min-height: 122px;
                }
                .type-image .thumbnail {
                    background-color: $dark-bg;
                }
                .row {
                    margin: 0 -5px;
                }
                .row .col-three-of-four,
                .row .col-one-of-four {
                    padding: 0 5px;
                }
                .post-meta{
                    display: none;
                }
            }
        }
    .moderationAssetThumb{
        float:left;
        width:185px;
    }
    .moderationAssetDetail{
        float:left;
        width:100%;
        margin-left:-185px;
        padding-left:195px;
    }
    .moderationAssetApprovalActions{

        button{
            margin-right:10px;
            &:last-child{
                margin-right:0;
            }
        }
    }
    .FilterModeration{
        > div:nth-child(3){
            background-color: $white;
            z-index: 2;
        }
        
    }
}
.moderation .approved-col-8{
            width:100%;
            padding-right:0;
 }
.moderation .moderationAssets  .post{
    border:1px solid #e3e3e3;
    border-bottom: 0;
}
.moderationAssetApprovalActions .approval-box{
    left: 0;
} 
  .moderationPostDetailText{
    margin-bottom: 15px;
  }

  .moderation-section {
    display: none;
    padding-bottom: 25px;
    .moderation-item-wrapper {
        max-width: 362px;
        background: $white;
        border-bottom: 13px solid $secondary;
    }
    .mod-label,
    .mod-value {
        float: left;
        width: 50%;
        color: $color-heading-text;
        padding-left: 46px;
    }
    .mod-label {
        i {
            display: block;
            margin-bottom: 4px;
        }
        span {
            font-size: 16px;
            line-height: 22px;
            display: block;
            padding-left: 2px;
        }
    }
    .mod-value {
        font-size: 30px;
        line-height: 36px;
        padding-left: 46px;
        padding-top: 11px;
        font-weight: 400;
        letter-spacing: 2px;
    }
    .moderation-item {
        border-bottom: 1px solid #dde8ed;
        padding: 9px 0 12px 0;
        &:first-child {
            padding-top: 27px;
        }
        &:last-child {
            border-bottom: 0;
            padding-bottom: 4px;
        }
    }
}
.moderation .onoffswitch span{
   padding-right:6px;
}
.moderation-filter-wrapper{
    float: left;
    margin-right: 15px;
    .select-wrapper{
        float: left;
        width: 130px;
    }
    label{
        float: left;
        margin-right:10px;
       
        margin-bottom: 0;
    }
}
.moderation .inner-select-checkbox-post ,.moderation .inner-select-checkbox-assets{
  min-height:50px;
}
@media all and (max-width:1079px){
    .moderationAssetDetail .campaign-custom-box {
        position: inherit;
        right: 0;
        top: 0;
        width: 128px;
        padding-top: 10px;
    }
}
@media all and (max-width:1024px)
{
    .moderation .moderationAssetApprovalActions
    {
        button i{
            margin-right:0;
            right:0;
        }
        .btnText{
            display: none;
        }
    }
}
@media all and (max-width:979px)
{
    .moderation {
        .moderationAssetThumb{
            float: none;
            width:auto;
            padding-bottom:15px;
        }
        .moderationAssetDetail{
            float: none;
            width:auto;
            margin-left:0;
            padding-left:0;
        }
        .moderationAssetApprovalActions{
            position: relative;
            left:0;
            bottom:0;
            padding-left:0;
        }
    }
}
@media all and (max-width:870px){
.campaign-custom-box {
    position: inherit;
    right: 0;
    top: 0;
    width: 128px;
    padding-top: 10px;
}
}
@media all and (max-width:767px)
{
    .moderation-filter-wrapper{
        padding-top:10px;
    }
}


@media all and (min-width:768px)
{
    .moderation #content #dropdown-container{
        position: fixed;
        top: 0px;
        z-index: 78;
        left: 290px;
        padding-top: 12px;
    }
}
@media all and (max-width:420px){
    .moderation .gSearchHandle{
        margin-right: 0;
        margin-top: 0;
    }
}
