// multiple image css start
.parent-multiple-img-uploaded {
    .row {
        padding: 0 15px;
    }

    .top-img-container {
        margin-left: -5px;
        margin-right: -5px;

        .img-item {
            width: 50%;
            float: left;
            padding: 4px;
            padding-bottom: 0;
            position: relative;
            padding-right: 1px;

            img {
                object-fit: cover;
                width: 100% !important;
                height: 100% !important;
                position: absolute;
                max-height: none;
                cursor: pointer;
            }

            .imageloader {
                position: relative;
                padding-bottom: 100%;
                display: inherit;
            }

            .addicon-for-img span {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -27px;
                margin-top: -31px;
                font-size: 42px;
                color: #fff;
                font-weight: 500;
                z-index: 2;
                cursor: pointer;
            }
        }
    }

    .multiple-img-overlay .imageloader:before {
        content: '';
        background-color: #000;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.5;
        z-index: 1;
    }

    .multiple-img-overlay {
        position: relative;
    }
}

.parent-multiple-img-uploaded .top-img-container.single-image-wrapper img {
    object-fit: cover !important;
    display: block !important;
    max-width: 100% !important;
}

.parent-multiple-img-uploaded .top-img-container.single-image-wrapper .img-item {
    width: 100%;
}

.parent-three-img-uploaded {
    .img-item.first-img-item {
        width: 100%;
    }

    .first-img-item .imageloader {
        padding-bottom: 50% !important;
    }
}

.selected-multiple-images .archive-container .imgwrapper {
    width: 150px !important;
    float: none;
    padding: 0;
    height: 150px;
}

.selected-multiple-images .archive-container {
    display: flex;
}

.selected-multiple-images .archive-container .inner_imgwrapper,
.selected-multiple-images .create-post-gipghy-wrapper .inner_imgwrapper {
    padding-bottom: 100% !important;
}

.moreImagesAdd {
    border: 3px dashed #256eff !important;
    padding: 0px 146px 0px 0px !important;
    min-height: 0 !important;
    position: relative;
    margin-left: 8px;
}

.moreImagesAdd span {
    color: #256eff;
    font-size: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    transform: translate(-50%, -50%);
    font-weight: 400;
}

.selected-multiple-images .selected-imgwrapper .selected_inner_imgwrapper {
    padding: 0 3px;
}

.moreImagesScrollbar {
    overflow: scroll;
}

.selected-multiple-images {
    float: left;
    margin-right: 0px !important;
    width: 100%;
    max-width: initial !important;
}

.feed-multiple-image-popup {
    width:1200px;
    z-index: 85;
    background: #ffffff;
    height: auto;
    max-width: 100%;
    margin: 46px auto;
    margin-top: 77px;

}

.feed-multiple-image {
    float: left;
    margin-right: -300px;
    padding-right: 300px;
    width: 100%;
}

.feed-multiple-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit:contain;
}

.feed-multiple-image-popup {
    .author-thumb .createPostUserThumbnail {
        background-size: cover;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-position: center;
        float: left;
        position: relative;
        z-index: 1;
        border: 1px solid #e5e4e4;
    }
    .slick-track{
        display: flex;
        align-items: center;
    }
    .messagesWrapper{
        max-height: calc(100vh - 532px);
    }

    video{
        width: 100%;
        max-height: calc(100vh - 250px);
    }

    .feed-multiple-image-content {
        float: left;
        width: 300px;
    }

    .messsageBox {
        margin-bottom: 20px !important;
    }

    .inner-multiple-image-content.post {
        border-top: 0 !important;
        margin-bottom: 0px !important;
    }

    .messageDesc {
        padding-bottom: 3px !important;
    }

    .post-meta {
        padding: 15px 10px;
        background: #ffffff;
        border-top: 1px solid #f3f2f2;
        display: block !important;
        flex-direction: row;
        align-items: center;
    }

    .post {
        margin-bottom: 0px;
    }

    .post .post-detail {
        position: relative;
        font-size: 15px;
        padding: 0 10px 30px;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .post .post-meta .like {
        float: left;
        margin-right: 10px;
    }

    .post .post-meta .share {
        text-align: center;
    }

    .post .post-meta .comments {
        text-align: right;
    }

    .post .post-meta .count {
        flex: 1;
        font-weight: 400;
        font-size: 14px;
        margin-left: 5px;
    }

    .post-comment-sec-wrapper {
        position: relative;
    }

    .post-tag {
        position: absolute;
        bottom: 10px;
        right: 0;
        margin-top: 20px;
        margin-right: 10px;
        color: $theme;
        font-weight: 500;
        cursor: pointer;
    }

    .post-comment-sec-wrapper textarea {
        resize: none !important;
        // padding-left: 50px !important;
        padding-top: 14px !important;
        padding-right: 48px !important;
    }

    .mention-input-wrapper__control {
        border: none !important;
    }

    .form-row {
        margin-bottom: 0px;
    }

    .comment-post-user {
        background-size: cover;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-position: center;
        float: left;
        position: relative;
        z-index: 1;
        border: 1px solid #e5e4e4;
        position: absolute;
        top: 0;
        margin-top: 17px;
        margin-left: 10px;
    }

    .feed-multiple-image-content-wrapper {
        position: relative;
        // display: flex;
        // align-items: center;
    }

    .post-comment-section {
        position: absolute;
        bottom: 0;
        width: 300px;
        background: #f6f6f6;      
    }

    .messageBox {
        margin-bottom: 20px;
    }

    .multiple-image-comment-sec {
        padding-bottom: 60px;
    }
    .messageDesc{
        word-break: break-word;
    }
    
}
#pop-up-tooltip-holder .pop-up-tooltip{
    z-index:83;
}

.multiple-image-comment-sec .Job-loader-container .curated-loader-inner-container {
    padding-left: 20px;
    padding-top: 11px;
}

.Feed-multiple-image-popup-wrapper .feed-multiple-image-content-wrapper .slick-prev,
.Feed-multiple-image-popup-wrapper .feed-multiple-image-content-wrapper .slick-next {
    background: #000;
    opacity: 0.5;
}

.Feed-multiple-image-popup-wrapper .feed-multiple-image-content-wrapper .slick-next:before,
.feed-multiple-image-content-wrapper .slick-prev:before {
    opacity: 1;
}

.Feed-multiple-image-popup-wrapper .popup-center-wrapper {
    z-index: 76;
}
.feed-multiple-image-popup .feed-multiple-image img{
    max-height: calc(100vh - 250px);
}
.feed-multiple-image-popup .imageloader.loaded img{
    object-fit: contain;
}
.multiple-image-comment-sec .curated-block-container {
    padding-top: 0px;
}
.feed-multiple-image-popup .user-tag-editor{
    padding-left: 38px;
    border-top: 1px solid #f3f2f2;
}
.feed-multiple-image-popup .user-tag-editor .mention-input-wrapper__highlighter strong{
background: #d6d4d4 !important
}
.feed-multiple-image-popup .user-tag-editor .mention-input-wrapper__highlighter{
    background: #f6f6f6 !important;
}

// resposnsive
@media screen and (max-width: 979px) {
    .feed-multiple-image {
        margin-right: 0px;
        padding-right: 0px;
    }
    .feed-multiple-image-popup .feed-multiple-image-content-wrapper {
        position: relative;
        display: block;
        align-items: center;
    }

    .feed-multiple-image-popup .multiple-image-comment-sec {
        padding-bottom: 117px;
    }
    .feed-multiple-image-popup .author-data .post-time {
        float: left;
        width: auto !important;
        display: contents;
        margin-top: 0px !important;
    }
    .feed-multiple-image-popup .feed-multiple-image-content {
        margin-top: 0px;
    }

    .feed-multiple-image-popup .feed-multiple-image-content {
        float: left;
        width: 100%;
    }

    .feed-multiple-image-popup .post-comment-section {
        width: 100%;
    }

    .Feed-multiple-image-popup-wrapper .popup-center-wrapper {
        background: rgba(0, 0, 0, 0.6);
    }
}

@media screen and (max-width: 767px) {
    .parent-multiple-img-uploaded .top-img-container .img-item {
        width: 100%;
    }

    .feed-multiple-image-popup {
        margin-top: 0px;
    }
}

.createPostUploadAssetSection .dropzone-preview .uploadDriveAssetBtn {
    text-align: right;
}

.feed-multiple-image-content-wrapper .slick-prev,
.feed-multiple-image-content-wrapper .slick-next {
    border-radius: 50%;
    padding: 22px;
    background: #000;
    opacity: 0.25;
}

.feed-multiple-image-content-wrapper .slick-next:before {
    position: absolute;
    top: -1px;
    left: 0px;
    content: "";
    color: $white;
    background: url(/img/next.png) no-repeat;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.feed-multiple-image-content-wrapper .slick-next:before {
    position: absolute;
    top: -1px;
    left: 0px;
    content: "";
    color: $white;
    background: url(/img/nextcuration.png) no-repeat;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.feed-multiple-image-content-wrapper .slick-prev:hover:before {
    position: absolute;
    top: -1px;
    left: -2px;
    content: "";
    color: $white;
    background: url(/img/prev.png) no-repeat;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.feed-multiple-image-content-wrapper .slick-next:hover:before {
    position: absolute;
    top: -1px;
    left: 0px;
    content: "";
    color: $white;
    background: url(/img/next.png) no-repeat;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.slick-prev:before {
    position: absolute;
    top: -1px;
    left: -2px;
    content: "";
    color: $white;
    background: url(/img/prev.png) no-repeat;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.feed-multiple-image-content-wrapper .slick-prev:before {
    position: absolute;
    top: -1px;
    left: -2px;
    content: "";
    color: $white;
    background: url(/img/prevcuration.png) no-repeat;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.feed-multiple-image-content-wrapper .slick-prev:hover,
.feed-multiple-image-content-wrapper .slick-next:hover {
    color: $white;
    outline: none;
    background: #ff616c;
    opacity: 1;
}

.feed-multiple-image-content-wrapper .slick-prev:before {
    position: absolute;
    top: -1px;
    left: -2px;
    content: "";
    color: $white;
    background: url(/img/prev.png) no-repeat;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.feed-multiple-image-content-wrapper .slick-next:before {
    position: absolute;
    top: -1px;
    left: 0px;
    content: "";
    color: $white;
    background: url(/img/next.png) no-repeat;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.feed-multiple-image-content-wrapper .createPostUserThumbnail {
    background-size: cover;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-position: center;
    float: left;
    position: relative;
    z-index: 1;
    border: 1px solid #e5e4e4;
}



// multiple image css end