//new navigation css//
#navdraw .search-icon {
    color:$color-heading-text;
}
.feed #feed  .post, .postnoti #feed  .post {
  border: 1px solid #e3e3e3;
}
.feed #feed .internal-scheduled .feed-multiple-image-popup .post{
border-bottom:0;
}
.feed .page {
    background: $white
}
.button-dropdown .dropdown-toggle{
     font-weight: $font-medium;
}
#navdraw .nav-side .curated-link ul.parent li > a .text:hover{
    color:$primary;
}
#navdraw .nav-side .curated-link ul.parent li > a .text:active{
    color:$primary;
    font-size:$normal-text;
    font-weight:$font-reguler;
}
#content{
    background: $white;
}
.file-details{
    border:1px solid #e3e3e3;
}
.moderation .post-feed-ui{
    border:1px solid #e3e3e3;
    border-bottom: 0;
}
.job-box{
    border:1px solid #e3e3e3;
}
.curated-box{
    position: relative;
    padding-bottom: 70px;
    border: 1px solid #e3e3e3;

}
.navigation-box{
    min-height: 500px;
    background: $useravatar;
    position: relative;
    margin-top: 60px;

}
.feed .add-circle-btn{

    padding-right: 27px;
    padding-top: 7px;

}
#navdraw .feed .material-icons{
    font-size: 21px;
}

.dashboard-logo{
    position: absolute;
    top: 0;
}

.feedlefttringle{
    position: absolute;
    display: inline-block;
    z-index: 1;
    bottom:24px;
    left: -15px;
    display: none;
}
.dashboard-notification  .feedlefttringle{
    display: block;
}
.feedlefttringle::before{
content: '';
    z-index: -1;
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    border-right: 18px solid $white;
    display: block;
    height: 30px;
    width: 22px;
}
.nd-parent.nav-narrow{
    overflow-x: visible;
    overflow-y: auto;
    height: calc(100vh);

}

#navdraw .add-circle-btn .material-icons{
font-size: 21px;
}
.feed .closeGlobalSearch .material-icons {
    margin-top: 4px;
    margin-left: 4px;
}

.analytics .header a.btn, .header .btn, .header input[type="submit"], .header button{
    font-weight:$font-medium;
}
.checkbok-menu-button .dropdown-toggle{
    border: 1px solid #e3e3e3 !important;
    background:$white !important;
    color: $color-heading-text !important;
}
.action-button .dropdown-menu{
       background: #eeeced;
     }

.nav-side.bottom-narrow-nav{
    &:before, &:after{
  position: absolute;
  top: 5px;
  left: 5px;
  content: '';
  background: $white;
  height: 1px;
  right:5px;
    }
    &:before{background-color: #d0cfcf; top:4px;}
}
.nav-side.bottom-narrow-nav .parent > li:first-child{
    padding-top:15px;
}
.custom-sidebar-feed-wrapper{padding:10px 16px;}

.custom-sidebar-feed-wrapper .custom-feed-title{
    color: $color-heading-text;
    font-size:$normal-text;
    font-weight:$font-reguler;
    height: 36px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;

    .custom-feed-toggle{
        font-weight:$font-reguler;
        font-size:$normal-text;
    }
}
.custom-sidebar-feed-wrapper .custom-feed-title .add-circle-btn{padding-top:0; padding-right:8px;}
.custom-sidebar-feed-wrapper .checkbok-menu-button a.btn{
    top: 0px;
}
.custom-sidebar-feed-wrapper .arrow{display: inline-block;
    content: ' ';
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 4px solid #666;
    vertical-align: middle;
    margin-right: 8px;}
    .custom-sidebar-feed-wrapper .custom-feed-toggle.active .arrow  {border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 4px solid #666;
        margin-right: 6px;}
.checkbok-menu-button .dropdown-toggle{
    border: 1px solid #e3e3e3 !important;
    background:$white !important;
    color: $color-heading-text !important;
}
.dropdown-toggle:after{
    color: gray;
}
.action-button .dropdown-menu{
        background: #eeeced;
     }
.checkboxDropdown li label{
    color: $color-heading-text !important
}
.checkboxDropdown input[type="checkbox"]:checked + label:before{
    color:$white !important;
   background: #256eff !important;
    border: 1px solid $theme
}
.chartColsWrapper{
       border: 1px solid #e3e3e3;
    }
    .table .action-button .dd-menu li .user_dropAction li:hover{

       background-color: inherit !important;
    }
    .table .actiondiv .dd-menu li span:hover{
        color: $theme
    }
    .dd-menu li .dropdown-menu {

        background-color: $popup-background
    }
    .reactable-data .dd-menu li .dropdown-menu {

        right: 25px;
    }
    .checkboxDropdown input[type="checkbox"] + label:before {
       box-shadow: none;
       border: 1px solid  #e3e3e3;
    }
    .dropdown-container-inner label{
        color: $color-heading-text !important;
    }
    .icon-feed .material-icons{
        color: #7c7c7c;
    }
    a:hover .icon-feed .material-icons{
        color: $primary
}
.dropdown-menu li a:hover{
       background: none !important;
       color: $theme
    }
.nd-parent.removeOverflow, .nav-narrow.removeOverflow .nav-side{overflow: visible !important}


#navdraw .nav-side.bottom-narrow-nav ul.dropdown-menu li:last-child{margin-bottom: 0}
.nav-side.bottom-narrow-nav .dropdown-toggle:after{position: absolute; left: -999em;}
.nav-side.bottom-narrow-nav .dropdown-menu{left:60px; top:0;}
.nav-side.bottom-narrow-nav .dropdown-menu:before{content:''; display: block; position: absolute; left:-8px; top:13px; border-right:8px solid $popup-background ;border-top:8px solid transparent; border-bottom:8px solid transparent;}

.checkboxDropdown input[type="checkbox"]:checked + label:before{
     color:$white !important;
      background: #256eff !important;
      border: 1px solid $theme;
    }
    .chartColsWrapper{
       border: 1px solid #e3e3e3;
    }
    .table .action-button .dd-menu li .user_dropAction li:hover{

        background-color: inherit !important;
    }
    .table .action-button .dd-menu li .user_dropAction li .btn{
        color: $color-heading-text;
    }
    .table .actiondiv .dd-menu li span:hover{
        color: #256eff !important;
    }

    .checkboxDropdown input[type="checkbox"] + label:before {
       box-shadow: none;
       border: 1px solid  #e3e3e3;
    }
    .dropdown-container-inner label{
        color: $color-heading-text !important;
    }
    .icon-feed .material-icons{
       color: #7c7c7c;
    }
a:hover .icon-feed .material-icons{
        color: $primary
    }
    .dropdown-menu li a:hover{
       background: none !important;
       color: #256eff !important;
    }
    .checkboxDropdown li label{
        color: $color-heading-text !important;
    }
    
    .tableControllers {
        padding: 15px 0px 15px 0px;
    }
    .dropdown-menu > li > label, .dropdown-menu > li > a{
        color: $color-heading-text !important;
    }
    
    #campaigns table tr.table-body-text:last-child .action-button .dd-menu li .user_dropAction{left:auto; right:0; top:auto; bottom:0px;}
    .moderation-filter-wrapper .select-wrapper{
        margin-top: -8px;
    }
     .calendarNavTitleWrapper{
        margin-top: -7px;
    }
.nav-side.bottom-narrow-nav .dropdown-menu{content:''; display: block; position: absolute; left:74px;}
#navdraw .nd-parent .nav-side.bottom-narrow-nav ul li > a:hover{
    color:$primary;
    font-size:$normal-text;
}
.nav-side.bottom-narrow-nav .dropdown-menu li a.active{
    color:$primary;
    font-size:$normal-text;
    font-weight:$font-reguler;}
.nav-side.bottom-narrow-nav ul.parent .dropdown-menu li:last-child{
    margin-bottom: inherit;
}
@media all and (max-width:767px){
    .navigation-box{margin-top:10px; height: calc(100vh - 60px);}
    .nd-parent.nav-narrow{height: calc(100vh - 50px);}
}
.notification-show .header-left{
    z-index: 80;
}

