.Select--multi {
    .Select-value {
        min-width: 100px;
    }
    .Select-arrow {
        display: none;
    }
    .Select-value-label {
        display: block;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;
    }
    .Select-value-icon {
        float: left;
        max-width: 18px;
        width: 20%;
    }
    .Select-control {
        width: 100%;
    }
}

.Select.is-open {
    z-index: 200;
}



.nav-side {
    .rc-collapse {
        background-color: transparent;
        border: 0;
       
        &-item {
            padding-bottom: 0px;
        }
        >.rc-collapse-item+.rc-collapse-item {
            border-top: none;
        }
        .rc-collapse-content {
            background-color: transparent;
        }
        .rc-collapse-content-box {
            margin-top: 5px;
            margin-bottom: 0;
        }
        .rc-collapse-header {
            color: $color-heading-text;
           font-size: $heading; ;
            font-weight: bold;
            height: 36px;
            //margin-top: 10px;
        }
        ul {
            position: relative;
            top: 0;
            width:99% !important;
            li {
                a {
                    height: 36px;
                }
            }
        }
    }
    .archive-file-link
    {
     li a
     {
        
       font-size: $heading; ;
        font-weight: bold;
        height: 36px;
        text-transform:uppercase;
        padding-left:29px !important;
     }
    }
}

#calendar .calendar-nav-btns,
#campaigns .calendar-nav-btns {
    text-align: right;
    table{
        text-align: left;
    }
    .btn {
        border: 1px solid $dark-gray;
        color:#454545 ;
        background: none;
        margin-right:10px;
        padding: 0 5px;
        width: 36px;
        text-align: center;
        //  &.list-link
        &:nth-last-child(2)
        {
            margin-right:0;
        }
    }
    #calendar .calendar-nav-btns .list-link i.material-icons, #campaigns .calendar-nav-btns .list-link i.material-icons {
        font-size: 20px;
        top:4px;
    }
    .btn:hover, .btn.btn-active{
        background: $theme;
        color:$white;
        border: 1px solid $theme;
    }
    .no-content {
        a.btn {
            background: $theme;
        }
    }
    i.material-icons {
        top: 6px;
        position: relative;
    }
    i.fa {
        position: relative;
        top: 2px;
        font-size: 19px;
    }
}
.reactable-filterer {
    .reactable-filter-input {
        width: 20%;
        float: right;
    }
}

.reactable-pagination {
    >tr {
        >td {
            padding: 1.5rem !important;
            text-align: right !important;
            a {
                padding: 10px;
            }
        }
    }
}

.widget .section a.btn {
    margin-right: 2px;
}

#ta {
    #notie-alert-outer,
    #notie-confirm-outer,
    #notie-force-outer,
    #notie-input-outer,
    #notie-select-outer,
    #notie-date-outer {
        font-size: 18px;
        background-color: rgba(255, 255, 255, 0.2);
        padding-bottom: 2px;
    }
    #notie-force-inner,
    #notie-input-inner,
    #notie-select-inner {
        background-color:$hide_post_bg;
        //margin-bottom:20px;
    }
    #notie-confirm-inner
    {
        background-color:$hide_post_bg;
        margin-bottom: 15px;
    }
    #notie-confirm-yes,
    #notie-confirm-no,
    #notie-input-no,
    #notie-input-yes {
        background-color: $green;
        cursor: pointer;
        display: inline-block;
        float: none;
        height: 34px;
        line-height: 34px;
        width: 140px;
        margin: 5px 7px 20px;
        box-shadow: 0px 2px 6px -4px #000;
        @include border-radius(2px); 
    }
    #notie-confirm-background,
    #notie-force-background,
    #notie-input-background,
    #notie-select-background,
    #notie-date-background {
        background-color: #222;
    }
    #notie-confirm-no,
    #notie-input-no {
        float: none;
        background-color: $red;
    }
    .custom_event_content {
        .btn-danger {
            font-size: $normal-text;
            height: 21px;
            line-height: 21px;
            margin-bottom: 1px;
            margin-left: 5px;
            margin-top: 0;
            padding: 0 0.45rem;
        }
    }
    #notie-input-field {
        background-color: $white;
        border: 0 none;
        font-size: 16px;
        height: 38px;
        margin: 0 auto 20px;
        max-width: 300px;
        outline: 0 none;
        width: 40%;
    }
    // #notie-input-outer {
    // 	transform: translateY(calc(100vh - 180px));
    // }
}

.react-grid-Container {
    width: 100%!important
}

.rc-timepicker-popup {
    z-index: 200;
}

.side-popup .scrollarea .scrollbar-container {
    opacity: 0.1;
}

.react-scrollbar-default .-reactjs-scrollbar-track\:vertical {
    right: -4px;
}

.react-scrollbar-default .-reactjs-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    width: 6px;
}

#social-widget-container, .map_element_wrapper {
    position: relative;
    padding-top: 20px;
    min-height: 200px;
    min-width: 100%;
    overflow: hidden;
    text-align: center;
}

.twitterMsg {
    position: relative;
    float: left;
    font-style: italic;
    font-size: 10px;
    color:$primary;
    width: 50%;
}

.croppie-action-buttons {
    position: fixed;
    bottom: 0;
    left: auto;
    right: 0;
    width: calc(100% - 280px);
    padding: 10px 20px;
    background: #fefefe;
    z-index: 1;
}