
#point-widget{
    background: $white;
    .innercontainer{width:auto; padding:20px 16px;}
    .points-tx {
        margin-top:46px;
       
        button {
            color: white;
            border-color: $white;
            width: 35%;
            margin-right: 52%;
            margin-top: 9px;
            margin-bottom: 46px;
        }
    }
    .point-col{    float: left;
        width: 33.3%;
        clear: none !important;
       
        @media all and (max-width:1170px)
        {
            width:50%;
        }
        @media all and (max-width:980px)
        {
            width:100%;
            margin-bottom:20px;
            .point-instruction-col
            {
                max-width: none;
            }
        }
        .point-col-inner{    
            min-height: 280px;
            @media all and (max-width:980px)
            {
                min-height: 0;
            }
        }
    }
.points-button-wrapper{padding:20px;}
    .in-container {
        label {
            float: left;
            min-width: 170px;
            margin-top: 11px;
            font-weight: 300;
            color:$default-text;
        }
        input {
            width: 50px;
            float: left;
            margin-top: 1px;
            padding-left: 15px;
            @media all and (max-width:359px)
            {
                width:140px;
            }
        }
       
        .form-row {
            margin: 0 0 10px 0;
            padding: 0;
            >div{
                float: left;
                width: auto;
                position: relative;
            }
        }
    }
    
    
    .points-header p {
        font-size: 16px;
    }
    
    h4 {
        font-size:$normal-text;
        line-height: 21px;
        padding-bottom: 20px;
        margin-bottom:20px;
        border-bottom: 1px solid $tab_border;
        text-transform: uppercase;
        font-weight: 400;
        @media all and (max-width:980px)
        {
            min-height: 0;
        }
    }
    .in-container-wrapper
    {
        padding:0 20px;
        p{margin-bottom:0; font-size:$normal-text;}
    }
    .point-instruction-col
    {
        max-width: 300px;
    }
    .points-tx input {
        width: 20%;
        height: 2%;
        margin-top: 4px;
    }
}
.space {
    margin-top: 3%;
}