.close-shareoverlay1 {
    display: none !important;
}
.no-user-data-likepopup{
    padding:30px;
    p{
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 20px;
        font-weight: 400;
        margin-top: -14px;
        margin-left: -97px;
    }
}
.backdrop {
    overflow: hidden;
    overflow-y: auto;
}
#show-pop-moderation {
    .backbrop-close {
        z-index: 1;
        position: absolute;
    }
    .backdrop {
        z-index: 10;
    }
  #close-popup1 {
        position: absolute;
    top: 11px;
    right: 14px;
    padding: 1px 4px;
    height: 32px;
    width: 32px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
        @include border-radius(30px);
        i {
            margin-top: 3px;
        }
    }
    #close-popup1:hover {
        background-color: none !important;
    }
    .feed-popup-hd {
        border-bottom: 1px solid $tab_border;
        padding:15px;
        p {
            margin: 0;
            font-size:$font-title;
            color: $color-heading-text;
            font-weight: 400;
            span {
                color: $theme;
                font-size: 18px;
                font-weight: $font-reguler;
            }
        }
    }
    .flex-fd {
        display: flex;
        width: 100%;
        border-bottom: 1px solid rgba(166, 165, 165, 0.26);
        padding: 20px 20px;
    }
    .avtar-fd {
        border: none;
        width:50%;
        .inner-avtar{
              width:100%;
        }
        .avtar-pf {
            border-radius: 57px;
            background-image: url(/img/default-avatar.png);
            height: 55px;
            width: 55px;
            background-size: cover;
            float: left;
            background-position: center;
        }
        .avtar-detail {
            float: left;
            width: 100%;
            padding: 3px;
            margin-left: -55px;
            padding-left: 70px;
            p {
                font-size: 18px;
                color: $color-heading-text;
                font-weight: 400;
                overflow: hidden;
                word-wrap: break-word;
                height: 21px;
                padding:0;
                margin:0;
            }
            .avtar-dt {
                font-size: 11px;
                width: 81%;

                margin: 0;
                padding: 0;

                margin: 6px 0;
                overflow: hidden;
                word-wrap: break-word;
                height: 15px;
            }
        }
    }
    .count-fd {
        width:50%;
    }
}
#show-pop-moderation{
    position: relative;
    padding: 10px 0;
    min-height: calc(100vh);
}
.pop-close {
    z-index:200;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.close-sccore {
    overflow: hidden;
}

@media only screen and (max-width:479px) {
    .flex-fd {
        flex-direction: column;
    }
    .avtar-fd {
        width: 100% !important;
    }
    .count-fd {
        width: 100% !important;
    }
}

@media only screen and (max-width:320px) {
    .avtar-pf {
        height: 32px !important;
        width: 34px !important;
    }
    .avtar-detail {
        width: 76% !important;
    }
}
@media only screen and (min-width:1260px) {
    .avtar-fd {
        width: 50%
    }
    .count-fd {
        width: 50%
    }
}

@media only screen and (max-width:1024px) {
    .avtar-fd {
        width: 100%;
    }
    .count-fd {
        width: 100%;
    }
    .modal {
        margin-right: 3%;
    }
}
@media only screen and (max-width:767px) {
    .modal{
      margin:0 !important;
      border-radius: 0 !important;
      min-height: calc(100vh);
      max-width:100% !important;
    }
    .backdrop   #show-pop-moderation{
      padding:0;
     }
}
.dashboard-notification {
    position: fixed;
    bottom: 10px;
    left: 0;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left:74px;
    margin-top:10px;
    .inner-dashboard-notification {

        height: auto;
        max-height:338px;
        width: 300px;
        background-color: $white;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .notication-header {
            padding: 10px 15px;
            p {
                color: $dark-gray;
               font-size: $heading; ;
                font-weight: $font-reguler;
                margin: 0;
            }
            a{
                background: transparent !important;
                position: absolute;
                right: 15px;
                top: 12px;
                font-size: $date-text;
            }

        }
        .main-notification-body
        {
            cursor: pointer;
            overflow: hidden;
        }
        .triangle-left{
            position: absolute;
            display: inline-block;
            z-index: 1;
            top: 1px;
            left: -15px;

            &:before
            {
                content: '';
                z-index: -1;
                border-bottom: 17px solid transparent;
                border-top: 17px solid transparent;
                border-right: 18px solid $white;
                display: block;
                height: 30px;
                width: 22px;
            }
          }

        .main-notification-body{
        .notification-body {
            padding:0 15px;
        }
            .notification-date {
                padding: 3px;
                p {
                    color: $theme;
                    font-size: 10px;
                    font-weight: $font-reguler;
                    padding: 0;
                    margin: 0;
                }
            }
            .user-nt {
                border-top: 1px solid #f3f2f2;
                .user-bg {
                    background-color:$white !important;
                    position: relative;
                }
                .inner-user-nt {
                    background-color: $pop-up-bg;
                    position: relative;
                    padding: 10px 0;
                    @include clearfix();
                    .avtar {
                        width: 43px;
                        background-image: url("/img/default-avatar.png");
                        background-size:contain;
                        background-repeat: no-repeat;
                        height:43px;
                        border:2px solid $primary;
                        border-radius:45px; -webkit-border-radius:45px; -o-border-radius:45px; -ms-border-radius:45px; -moz-border-radius:45px;
                        float: left;
                        position: relative;
                        background-position: center;
                    }
                    .noti-date
                    {
                        display: block;
                        font-weight: 400;
                    }
                    .avtar-maltiple{
                        width: 24%;
                        div {
                            height: 23px;
                            width: 47px;
                            border: 1px solid $pop-up-bg;
                            display: flex;
                        }
                        .left-avtar {
                            div:nth-child(1) {
                                background-image: url("/img/default-avatar.png");
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                            div:nth-child(2) {
                                background-image: url("/img/default-avatar.png");
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                        }
                        .right-avtar {

                            div:nth-child(1) {
                                background-image: url("/img/default-avatar.png");
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                            div:nth-child(2) {
                                background-image: url("/img/default-avatar.png");
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                    .last-right-avtar{
                        position: relative;
                    }

                    .last-right-avtar:before{
                        content: "+2";
                        position: absolute;
                        background-color: rgba(47, 191, 113, 0.7);
                        text-align: center;
                        color: white;
                        font-size: $date-text;
                        padding:0 3.5px;
                        font-weight: $font-reguler;
                        top:0;
                        bottom:0;
                    }
                    .avtar-details {
                        width: 100%;
                        padding: 3px;
                        float: left;
                        margin-left: -45px;
                        padding-left: 55px;
                        .notiDescription{
                            margin-right:5px;
                        }
                        .text-p-avtar{
                            font-size: 10px;
                            line-height:14px;
                            padding:0 2px;
                            overflow: hidden;
                            word-break: break-word;
                            strong{
                                 margin-right:2px;
                            }
                            .notiPostTitle{
                                 color:$primary;
                                 padding-top:5px;
                                 margin-right:5px;
                            }
                        }
                        p {
                            font-size: 10px;
                            margin-bottom: 0;
                            span {
                                color: $default-text;
                                display:initial;
                            }
                        }
                        .avtar-dt {
                            color: $primary;
                        }
                    }
                    &.with-thumbnail
                    {
                        .avtar-details {
                            padding-right:35px;
                        }
                    }
                    .like-unlike {
                        width: 10%;
                        position: absolute;
                        right:0;
                        margin-right:9px;

                        >div {
                            height: 22px;
                            width: 22px;
                            background-color: $primary;
                            text-align: center;
                            // padding-top: 3px;
                            i {
                              color: white;
                              font-size:$font-title;
                              position: relative;
                              right: 0;
                              line-height: 22px;
                            }
                        }
                        img {
                            height: 27px;
                            width: 27px;
                            object-fit: cover;
                        }
                    }
                }
                &.active{
                    .inner-user-nt
                    {
                        background: $white;

                    }
                }
            }
            .preloader-wrap-page .user-nt .inner-user-nt {
                background: none;
            }
        }
    }
}

.show-popup .dashboard-notification
{
    opacity: 1;
    top:0;
    visibility: visible;
}

.no-notification{
    height: 80px;
    margin: 102px 0;
    text-align: center;
    padding: 12px 0;
      p{

        text-align: center;
        font-size: 18px;
        font-weight: 400;
     }
}

//add new btn-popup
.btn-popup{
    background-color: white;
    height: 65px;
    width: 134px;
    position: absolute;
    top: 59px;
    right: 7px;

    border-radius: 10px;
  .triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid $white;
    position: absolute;
    top: -15px;
    right: 49px;
  }
}

.avtar-details .noti-comment-description{
    display: block !important;
}

