.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}
button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled].rbc-btn {
  cursor: not-allowed;
}
button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: stretch;
      align-items: stretch;
      min-height:600px;
}
.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit;
}
.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rbc-rtl {
  direction: rtl;
}
.rbc-off-range {
  color: #b3b3b3;
}
.rbc-header {
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 3px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    min-height: 40px;
}
.rbc-header > a,
.rbc-header > a:active,
.rbc-header > a:visited {
  color: inherit;
  text-decoration: none;
}

//z-index effect on the navigation menu in small screen so I remove the z-index
.rbc-row-content {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
  z-index:0;
}
.rbc-today {
  background-color: #eaf6ff;
}
.rbc-toolbar {
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 10px;
  font-size: 16px;

}
.rbc-toolbar .rbc-toolbar-label {
  padding: 0 10px;
  display: block;
  font-size:$font-title;
    line-height: 22px;
    font-weight: 400;
  color:$color-heading-text;
  text-align: center;
  text-transform: uppercase;
}
.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  padding: .375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: #e6e6e6;
  border-color: #adadad;
}
.rbc-toolbar button:active:hover,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:focus {
  color: #373a3c;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.rbc-toolbar button:focus {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.rbc-toolbar button:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
  display: none;
}
.rbc-btn-group > button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc-btn-group > button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc-btn-group > button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.rbc-btn-group button + button {
  margin-left: -1px;
}
.rbc-rtl .rbc-btn-group button + button {
  margin-left: 0;
  margin-right: -1px;
}
.rbc-btn-group + .rbc-btn-group,
.rbc-btn-group + button {
  margin-left: 10px;
}
.rbc-event {
  cursor: pointer;
  padding: 0px 0px 0px 5px;
  background-color: rgba(255, 88, 94, 0.6);
  color: $color-heading-text;
  font-size: $date-text;
  border-radius:.2rem; -webkit-border-radius:.2rem; -o-border-radius:.2rem; -ms-border-radius:.2rem; -moz-border-radius:.2rem;

  &:hover{
    background-color: rgba(255, 88, 94, 1);
  }
}
.campaign-calendar-page .row-0{
  background-color: rgba(255, 88, 94, 0.6);
  &:hover{
    background-color: rgba(255, 88, 94, 1);
  }
}
// .campaign-calendar-page .row-4, .feed-calendar-page{
//   background-color: rgba(0, 0, 0,0.37);
//   &:hover{
//     background-color: rgba(0, 0, 0, 0.65)
//   }
// }
.campaign-calendar-page .row-1, .campaign-calendar-page .row-6, .feed-calendar-page .rbc-row:nth-child(3n) .rbc-event, .feed-calendar-page .rbc-row .rbc-event:nth-child(3n), .feed-calendar-page .rbc-overlay .rbc-event:nth-child(3n) ,
 .campaignDetailPage .rbc-row:nth-child(3n) .rbc-event, .campaignDetailPage .rbc-row .rbc-event:nth-child(3n), .campaignDetailPage .rbc-overlay .rbc-event:nth-child(3n){
  background-color: rgba(47, 191, 113, 0.6);
  &:hover{
    background-color: rgba(47, 191, 113, 1);
  }
}

.campaign-calendar-page .row-2, .campaign-calendar-page .row-7, .feed-calendar-page .rbc-row:nth-child(4n) .rbc-event, .feed-calendar-page .rbc-row .rbc-event:nth-child(4n), .feed-calendar-page .rbc-overlay .rbc-event:nth-child(4n),
.campaignDetailPage .rbc-row:nth-child(4n) .rbc-event, .campaignDetailPage .rbc-row .rbc-event:nth-child(4n), .campaignDetailPage .rbc-overlay .rbc-event:nth-child(4n){
  background-color: rgba(38, 109, 255, 0.6);
  &:hover{
    background-color: rgba(38, 109, 255, 1);
  }
}

.campaign-calendar-page .row-3, .campaign-calendar-page .row-8, .feed-calendar-page .rbc-row:nth-child(5n) .rbc-event, .feed-calendar-page .rbc-row .rbc-event:nth-child(5n), .feed-calendar-page .rbc-overlay .rbc-event:nth-child(5n),
.campaignDetailPage .rbc-row:nth-child(5n) .rbc-event, .campaignDetailPage .rbc-row .rbc-event:nth-child(5n), .campaignDetailPage .rbc-overlay .rbc-event:nth-child(5n){
  background-color: rgba(250, 121, 33, 0.6);
  &:hover{
    background-color: rgba(250, 121, 33, 1);
  }
}
.campaign-calendar-page .row-4, .campaign-calendar-page .row-9, .feed-calendar-page .rbc-row:nth-child(6n) .rbc-event, .feed-calendar-page .rbc-row .rbc-event:nth-child(6n), .feed-calendar-page .rbc-overlay .rbc-event:nth-child(6n),
.campaignDetailPage .rbc-row:nth-child(6n) .rbc-event, .campaignDetailPage .rbc-row .rbc-event:nth-child(6n), .campaignDetailPage .rbc-overlay .rbc-event:nth-child(6n){
  background-color: rgba(255, 191, 33,0.6);
  &:hover{
    background-color: rgba(255, 191, 33,1);
  }
}
.campaign-calendar-page .row-5, .campaign-calendar-page .row-10, .feed-calendar-page .rbc-row:nth-child(7n) .rbc-event, .feed-calendar-page .rbc-row .rbc-event:nth-child(7n), .feed-calendar-page .rbc-overlay .rbc-event:nth-child(7n),
.campaignDetailPage .rbc-row:nth-child(7n) .rbc-event, .campaignDetailPage .rbc-row .rbc-event:nth-child(7n), .campaignDetailPage .rbc-overlay .rbc-event:nth-child(7n){
  background-color: rgba(255, 192, 194,0.6);
  &:hover{
    background-color: rgba(248, 192, 194,1);
  }
}



.rbc-day-slot
{
  .rbc-event:nth-child(2n) {
    background-color: rgba(47, 191, 113, 0.6);
    &:hover{
    background-color: rgba(47, 191, 113, 1);
  }
  }
  .rbc-event:nth-child(3n) {
    background-color: rgba(38, 109, 255, 0.6);
    &:hover{
    background-color: rgba(38, 109, 255, 1);
  }
  }
  .rbc-event:nth-child(4n) {
    background-color: rgba(250, 121, 33, 0.6);
    &:hover{
    background-color: rgba(250, 121, 33, 1);
  }
  }
  .rbc-event:nth-child(5n) {
    background-color: rgba(255, 191, 33, 0.6);
    &:hover{
    background-color: rgba(255, 191, 33, 1)
  }
  }
  .rbc-event:nth-child(6n) {
    background-color: rgba(255, 192, 194,0.6);
    &:hover{
    background-color: rgba(248, 192, 194,1)
  }
  }
}

.rbc-event-label {
  font-size: 80%;
}
.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}
.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.rbc-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}
.rbc-row-segment {
  padding: 0 1px 1px 1px;
}
.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1);
}
.rbc-show-more {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  font-size: 85%;
  height: auto;
  line-height: normal;
  white-space: nowrap;
}
.rbc-month-view {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
}
.rbc-rtl .rbc-month-view .rbc-header + .rbc-header {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}
.rbc-month-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}
.rbc-month-row {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
  overflow: hidden;
  height: 100%;
  border:1px solid #ddd;
  margin-bottom:10px;
}
.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #DDD;
}
.feed-container .rbc-date-cell{
  opacity: 0;
  @include transition(0.2s);
  &.loaded{
    opacity: 1;
  }
}
.rbc-date-cell {
  padding-right: 5px;
  text-align: right;
}
.rbc-date-cell.rbc-now {
  font-weight: bold;
}
.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  color: inherit;
  text-decoration: none;
}
.rbc-row-bg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
  overflow: hidden;
}
.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #DDD;
}
.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}
.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: $white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.rbc-overlay > * + * {
  margin-top: 1px;
}
.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px;
}
.rbc-agenda-view {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
  overflow: auto;
}
.rbc-agenda-view table {
  width: 100%;
  border: 1px solid #DDD;
}
.rbc-agenda-view table tbody > tr > td {
  padding: 5px 10px;
  vertical-align: top;
}
.rbc-agenda-view table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}
.rbc-agenda-view table tbody > tr > td + td {
  border-left: 1px solid #DDD;
}
.rbc-rtl .rbc-agenda-view table tbody > tr > td + td {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}
.rbc-agenda-view table tbody > tr + tr {
  border-top: 1px solid #DDD;
}
.rbc-agenda-view table thead > tr > th {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}
.rbc-rtl .rbc-agenda-view table thead > tr > th {
  text-align: right;
}
.rbc-agenda-time-cell {
  text-transform: lowercase;
}
.rbc-agenda-time-cell .rbc-continues-after:after {
  content: ' »';
}
.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: '« ';
}
.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}
.rbc-agenda-event-cell {
  width: 100%;
}
.rbc-time-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100%;
}
.rbc-time-column .rbc-timeslot-group {
  -ms-flex: 1;
      flex: 1;
}
.rbc-timeslot-group {
  border-bottom: 1px solid #DDD;
  min-height: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
}
.rbc-time-gutter,
.rbc-header-gutter {
  -ms-flex: none;
      flex: none;
}
.rbc-label {
  padding: 0 5px;
}
.rbc-day-slot {
  position: relative;
}
.rbc-day-slot .rbc-event {
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -ms-flex-align: start;
      align-items: flex-start;
}
.rbc-day-slot .rbc-event-label {
  -ms-flex: none;
      flex: none;
  padding-right: 5px;
  width: auto;
  margin-top:5px;
  display: none;
}
.rbc-day-slot .calendar_event_content{
  margin-top:1px;
}
.rbc-day-slot .rbc-event-content {
  width: 100%;
  -ms-flex: 1 1 0px;
      flex: 1 1 0;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}
.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f7;
}
.rbc-time-slot {
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
}
.rbc-time-slot.rbc-now {
  font-weight: bold;
}
.rbc-day-header {
  text-align: center;
}

.rbc-day-slot .rbc-event {
  position: absolute;
  z-index: 2;
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 75%;
  padding: 3px;
}
.rbc-time-view {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1;
      flex: 1;
  width: 100%;
  border: 1px solid #DDD;
  min-height: 0;
}
.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
}
.rbc-time-view .rbc-allday-cell {
  width: 100%;
  position: relative;
}
.rbc-time-view .rbc-allday-events {
  position: relative;
  z-index: 4;
}
.rbc-time-view .rbc-row {
  min-height: 20px;
}
.rbc-time-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-direction: column;
      flex-direction: column;
      //commented by disha - due to this in week view events was unable to display if it is more thn 1 day
      // .rbc-row:nth-child(2)
      // {
      //   display: none;
      // }
}
.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #DDD;
}
.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid #DDD;
}
.rbc-time-header > .rbc-row > * + * {
  border-left: 1px solid #DDD;
}
.rbc-rtl .rbc-time-header > .rbc-row > * + * {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}
.rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid #DDD;
}
.rbc-time-header .rbc-gutter-cell {
  -ms-flex: none;
      flex: none;
}
.rbc-time-header > .rbc-gutter-cell + * {
  width: 100%;
}
.rbc-time-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 0%;
      flex: 1 0 0%;
  -ms-flex-align: start;
      align-items: flex-start;
  width: 100%;
  border-top: 2px solid #DDD;
  position: relative;
}
.rbc-time-content > .rbc-time-gutter {
  -ms-flex: none;
      flex: none;
}
.rbc-time-content > * + * > * {
  border-left: 1px solid #DDD;
}
.rbc-rtl .rbc-time-content > * + * > * {
  border-left-width: 0;
  border-right: 1px solid #DDD;
}
.rbc-time-content > .rbc-day-slot {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.rbc-current-time-indicator {
  position: absolute;
  z-index: 1;
  left: 0;
  height: 1px;
  background-color: #74ad31;
  pointer-events: none;
}
.rbc-current-time-indicator::before {
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  content: ' ';
  background-color: #74ad31;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.rbc-rtl .rbc-current-time-indicator::before {
  left: 0;
  right: -3px;
}
.post-view-btns-wrapper
{
  float: left;
}
@media all and (max-width:567px)
{
.rbc-btn-group{ display: block;margin-bottom: 20px;}
.rbc-toolbar .rbc-toolbar-label{display: block; text-align: left; padding: 0;}
.rbc-month-view {overflow-x:auto; overflow-y:hidden;  }
.rbc-month-view > div{min-width: 400px;}
}

/*extra css */
.calendar-socials, .campaign-count-wrapper
{
  position: absolute;
    right: 0px;
    top: 0px;
    padding: 1px 7px;
    border-radius: 5px;
}
.campaign-count-wrapper{color:$white;}
.calendar-socials{padding-right:0;}
.calendar-internal .rbc-day-slot
{
  .calendar-socials{display: none;}
  .calendar-event-title{padding-right:0;}
}
.filter-left-section
{
  float:left;
  margin-top: 3px;
}
.viewBtns
{
  border:1px solid #ccc;
  float:left;
  
  @include border-radius(.2rem);
  width: 100px;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
  &:before{
    content:'';
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    width:50%;
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
    background: $white;
  }
  &.calendar-active:before{
    left:50%;
  }
  a{
    width: 50%;
    display: block;
    float: left;
    height: 34px;
    cursor: pointer;
    text-align: center;
    color: $color-heading-text;
    position: relative;
    i{
      line-height: 34px;
    }
    &.active{
      color:$color-heading-text;
      background: $useravatar
    }
  }
  .checkbok-menu-button .btn{
    margin-right: 0;
    background: none;
    border: 1px solid #ccc;
    font-weight: 300;
    line-height: 34px;
    &:after{
      top:0;
    }
    &:hover{
      background: #363636;
    }
  }
}

.viewBtns .btn i{
  line-height: 36px;
  &.view_headlineIcons{
    line-height: 34px;
  }
}
.viewBtns .btn:last-child{margin-right:0;}
.HeaderCalendarBtns{
  float: left;
}
@media all and (max-width:1099px)
{
  .calendar-dropdown{
    padding-left:280px;
    .HeaderCalendarBtns{
      float: none;
    }
  }

}
@media all and (max-width:767px)
{
  .calendar-dropdown{
    padding-left:0;
  }
}
.calender-nav-btns-wrapper{
  float: left;
  border: 1px solid #ccc;
  margin-right: 30px;
  @include border-radius(.2rem);
 .calender-nav-btn{display: block;float: left;position: relative;}
//  .calender-nav-btn:last-child{}
 .calender-nav-btn:before{content:'';display:block;position:absolute;right:0;background-color:#ccc;width:1px;height: 34px;}
 .calender-nav-btn:last-child:before{visibility:hidden;}
 .calender-nav-btn a{display:block;line-height: 34px;color:$dark-gray;padding: 0 10px;text-decoration: none;text-transform: capitalize;}
 .calender-nav-btn a i{line-height:34px;display: block;}
}
.calendarNavTitleWrapper{
  float: left;
}
.currentMonthTitle{
  font-size: 16px;
  line-height: 22px;
  color:$white;
  float: left;
  margin-top: 8px;
  margin-right:30px;
}
.calendar-social-icon{float: left;
  color:$white;
  text-align: center;
  margin-right: 5px;
  font-size: $date-text;
    line-height: 16px;
    &.facebook ~ .facebook, &.twitter ~ .twitter, &.linkedin ~ .linkedin
    {
      display: none;
    }
}

.calendar-event-title{
  color:  $white;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 50px;
  line-height: 18px;
  white-space: nowrap;
    max-width: 280px;
    font-size: 10px;
}
.campaign-container .calendar-event-title{padding-right:75px;}
.calendar_event_content
{
  position: relative;
}
.campaign-count
{
  margin-right:5px;
  i{font-size: $date-text; line-height:16px; vertical-align: -1px;}
  &:last-child
  {
    margin-right:0;
  }
}



.rbc-addons-dnd {
  .rbc-row-content {
    pointer-events: none;

    & .rbc-show-more,
    & .rbc-event:not(.rbc-addons-dnd-dragging) {
      pointer-events: all;
    }
  }

  .rbc-addons-dnd-over {

  }

  .rbc-event {
    transition: opacity 150ms;
    pointer-events: all;
  }

  &.rbc-addons-dnd-is-dragging .rbc-event {
    pointer-events: none;
    opacity: .50;
  }

  // .rbc-addons-dnd-dragging {
  //   pointer-events: none;
  //   opacity: .35;
  // }

  .rbc-addons-dnd-resize-anchor {
    width: 100%;
    height: 10px;
    text-align: center;
    margin-left: -5px;
    &:first-child {
      position: absolute;
      top: 0;
    }
    &:last-child {
      position: absolute;
      bottom: 0;
    }

    .rbc-addons-dnd-resize-icon {
      display: none;
      border-top: 3px double;
      margin: 0 auto;
      width: 10px;
    }
    &:hover {
      .rbc-addons-dnd-resize-icon {display: block;}
      cursor: ns-resize;
    }

  }

  .rbc-addons-dnd-resizable-month-event {
    position: relative;
    user-drag: none;
    .rbc-addons-dnd-resize-month-event-anchor {
      width: 20px;
      height: 20px;
      top: 0;
      &:hover {
        cursor: ew-resize;
      }
      &:first-child {
        position: absolute;
        left: -5px;
      }
      &:last-child {
        position: absolute;
        right: -5px;
      }
    }
  }
}
.bigCalendar-calendarview
{
  position: relative;
}
.cal-post-detail-popup
{
  position: fixed;
    top: 50%;
    left: 50%;
    background: $white;
    box-shadow: 0 0 5px 0 #000;
    padding: 10px;
    width: 300px;
    margin-left: -30px;
}

.calendar-detail-popup{
  position: absolute;
  z-index: 10;
  background: $white;
  box-shadow: 0 0 30px 6px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 0 30px 6px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 0 30px 6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 30px 6px rgba(0, 0, 0, 0.12);
  width: 390px;

  .dd-menu
  {
    display: none;
  }
  .seeMoreSection{
    padding:10px;
  }
  .feed-post-item
  {
    margin-bottom:0;
  }
  #close-popup
  {
    right: 5px;
    top: 5px;
    z-index: 3;
    padding: 0;
    position: absolute;
    height: 30px;
    width: 30px;
    @include border-radius(30px);
    margin-bottom: 0;
    i{
      margin-top:3px;
    }
  }
  .author-data .author-meta{
    padding-right:30px;
  }
  &.popup_row_1
  .post-detail-pic-wrapper{
    max-height:421px;
  }
  &.popup_row_2
  .post-detail-pic-wrapper{
    max-height:321px;
  }
  &.popup_row_3
  .post-detail-pic-wrapper{
    max-height:221px;
  }
  &.popup_row_4
  .post-detail-pic-wrapper{
    max-height:321px;
  }
  &.popup_row_5
  .post-detail-pic-wrapper{
    max-height:421px;
  }
  /* campaign > calendar view > fix */
  &.popup_row_bottom
  {
    bottom:auto !important;
    margin-top:-27px;
  }
  &.popup_row_top
  {
    bottom:auto !important;
    margin-top:-27px;
  }
  &.popup_column_right
  {
    left:auto !important;
    margin-right:1px;
  }
  &.popup_column_left
  {
    right:auto !important;
    margin-left:2px;
  }
  video{width:100%; height:auto;}
  .author-thumb{margin-right: 10px;
    width: 44px;
    height: 44px;
    background: $light;
    float:left;
    position: relative;
    .thumbnail {
      width: 100%;
      height: 100%;
      background-size: cover;
      border: 1px solid $input-border;
      background-position: center;
    }
  }
  .post-header
  {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .inner-multiple-image-content .post-header{
    border-bottom:0;
  }
}
.week-view{
  .calendar-detail-popup
  {
    margin-top:4px;
    &.popup_column_left
    {
      margin-left:2px;
    }
    &.popup_column_right
    {
      margin-right:1px;
    }
    .post-detail-pic-wrapper
    {
      max-height: 300px;
    }
    &.popup_row_bottom
    {
      margin-bottom:2px;
    }
  }
}
.header-inner .filterChannelDropdown.dropdown-toggle, .filterChannelDropdown{
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden;
  margin-right: 30px;
  display: block;
    line-height: 34px;
    color: $white;
    padding: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    text-decoration: none;
    &:after{
      content: "\25BE";
      margin-left: 6px;
      position: relative;
      top: -1px;
      margin-left: 8px;
      display: inline-block;
    }
}
.calender-view-btns-wrapper
{
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden;
  margin-right: 30px;
}
.calender-view-btn
{
  float: left;
  position: relative;
}
.calender-view-btn:last-child
{
  border-right:0;
}
.calender-view-btn a {
    display: block;
    line-height: 34px;
   color: $color-heading-text;
    padding: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    text-decoration: none;
}
.calendar-checkboxes-wrapper
{
  float: left;
  position: relative;
}
.calender-view-btn a:hover
{
  text-decoration:none;
 
}
    .calender-view-btn.active a{
      background: $useravatar;
      color:$color-heading-text;
    }

.feed-calendar-page{
  .widget{
    margin-bottom: 0;
  }
}
.page.scheduled-feeds .collapsibleDropdown.active .dropdown-container{
  overflow: visible ;
}
@media all and (max-width:1200px)
{
  .viewBtns,
  .calender-nav-btns-wrapper,
  .calender-view-btns-wrapper{margin-right:10px;}
  .filterChannelDropdown{margin-right:0;}
}
@media all and (max-width:979px)
{
  .calendarNavTitleWrapper
  {
    float: none;
  }
 
  .campaignCalBtns .calendarNavTitleWrapper{
    float: left;
  }
}
.listViewDropdown{display: none;}
@media all and (min-width:1100px)
{
  .calendar-dropdown
  {
    position: fixed;
      left: 410px;
      z-index: 11;
      top:0;
      z-index: 79;
      padding-top: 12px;
      padding-left: 30px;
  }
}
@media all and (max-width:1200px)
{
  .calendar-dropdown
  {
    padding-left:15px;
  }
}
@media all and (max-width:1099px)
{
  .calendar-dropdown
  {
    padding-left:0;
  }
}
@media all and (max-width:767px)
{
  .filter-left-section
  {
    float: none;
    margin-top:0;
    margin-bottom:15px;
  }
  .calender-view-btns-wrapper
  {
    margin-left:0;
  }
  .feed-calendar-page{padding-top:0;}
  .calendar-detail-popup, .calendar-detail-popup.popup_row_bottom
  {
    position: fixed;
    left: 50% !important;
    top: 50% !important;
    margin-left: -140px !important;
    width: 280px;
    transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    -webkit-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    margin-top: 24px;
    bottom: auto !important;
    margin-bottom: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .calendar-detail-popup .post-detail-pic-wrapper
  {overflow: visible}

}

#weekHeader{
  display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    position: absolute;
    top: 33px;
    left: 1px;
    right: 1px;
    background: $white;
    .rbc-header{
      border-left: 1px solid #DDD;
    }
}
.calendarEventTooltipInner{
  background: $white;
  box-shadow: 0 0 6px 0 #000;
  color: $color-heading-text;
    padding: 5px 10px;
    border-radius: 5px;
    overflow: hidden;
}
.month-view .calendarEventTooltip{display: none;}
.calendarEventTooltip{
  position: absolute;
    left: 50%;
    width: 150px;
    bottom: 100%;
    margin-bottom:33px;
    margin-left: -75px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    white-space: pre-wrap;
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -10px;
    border-top: 10px solid #b9b8b8;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
  }
}
.rbc-event:hover{
  .calendarEventTooltip{opacity: 1; margin-bottom:10px; visibility: visible; }
}
.feed-calendar-page{overflow: hidden;}