
.sign-up-process-space-line-wrapper-container{
    position: relative;
    height:0;
    .sign-up-process-space-line-wrapper{
        position: absolute;
        left: 112px;
        right: 113px;
        height: 5px;
        top: 21px;
        z-index:2;
    }
    .step-1-2.active{
        height: 2px;
        margin: 0 auto;
        width: 100%;
        background: $theme
    }
}
.img-for-thankyou .ellipse-img{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 16px;
    max-width: 329px;
    width:100%;
    margin-right: -7px;
}
.img-for-thankyou .hover-ellipse-img{
   position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    margin-right: -177px;
    width: 300px;
    margin-top: 15px;
}
.thank-you-text{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -44px;
    
}
.register-page-in-visibly .headerRightInner{
    position: relative;
}

.step-nav-item.activeCurrentPage{
    a{border:2px solid $theme !important;
    color:$theme !important;
    }
    span{
     color:$theme !important
    }
}
@media only screen and (max-width:767px) {
    .register-page-in-visibly .content{ padding-top:0;}
    .register-page-in-visibly{  padding-top:39px !important}
    .register-page-in-visibly .mainNav{
        overflow-x: visible;
        overflow-y: visible;
        width:auto;
        position:relative;
      .logout-msg-in-onboading{
            margin-top: 8px;
            font-size: $date-text;
            margin-right:-4px;
        }
        .logout-btn-onboading{
            margin-top:2px;
            margin-right:-17px;
            color:$primary;
            background: transparent !important;
            span i {
                display:block;
                font-size:24px;
            }
            span  span {
                display: none;
            }
        }
   }

   .register-page .steps-nav .step-nav-item a + span{
       font-size:15px !important;
   }
   .register-page .steps-nav .step-nav-item:nth-child(2) a + span{
       margin-left:-37px !important;
   }
   .register-page-in-visibly{
    #header{
      padding:10px 8px  10px 10px;
    }
  }
}
#register-form{
    margin-bottom: 20px;
}
.steps-nav {
  margin-top:55px;
}
#page-step-2{
.step2-msg-for-finished{
    margin-bottom: 20px !important;
}
.setp2-button{
    .form-row{
        margin-bottom: 0;
    }
}
.setp2-button{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 20px;
    left: 0;
    right: 0;
    padding: 20px 13px 20px 20px;
 }
}
.manuNavWrapper .logout-btn-onboading{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 12px;
    margin-right: 87px;
    background:$primary;
    span i {
         display: none;
    }
}
.manuNavWrapper .logout-msg-in-onboading{
    text-align: center;
    position: absolute;
    margin-top: 12px;
    width: 227px;
    right: 0;
    margin-right:176px;
    top: 50%;
    margin-top:19px;
    font-size: 16px;
}
.form-register-onboading{
    box-shadow:  -1px 2px 67px 2px rgba(136, 136, 136, 0.321569);
    z-index:4;
    position: relative;
    min-height:717px;
    overflow: hidden;
    overflow-y: auto;
}

@media only screen and (max-width:767px) {
    .register-page .steps-nav .step-nav-item a + span{
        font-size:12px !important;
    }
    .register-page .steps-nav .step-nav-item:nth-child(2){
        margin-top:3px;
    }
}
@media only screen and (max-width:1024px) {
    .illusration-ragister{
        display: none;
    }
}
.register-page {
    .man-img{
        transform: scale(-1, 1);
        position: absolute;
        top: 50%;
        right: 50%;
        margin-top: -144px;
        z-index: 1;
        margin-right: -586px;
      }
    .msg-box{
        transform: scale(-1, 1);
        position: absolute;
        top: 50%;
        right: 50;
        margin-top: -155px;
        z-index: 0;
        right: 50%;
        margin-right: -447px;
    }
    .long-msg-box{
        transform: scale(-1, 1);
        position: absolute;
        top: 50%;
        right: 50%;
        z-index: 0;
        margin-right: -553px;
        margin-top:-68px;
    }
}
.register-page {
    #content {
        padding-left: 0;
        .page {
            .header {
                left: 0;
                h1 {
                    i {
                        position: relative;
                        top: 7px;
                    }
                }
            }
        }
    }
    .esc {
        &.narrow {
            max-width: 770px;
        }
    }
    &.step-social {
        .form-row {
            text-align: center;
        }
    }
    .steps-nav {
        margin-bottom:52px;
        padding-left:72px;
        padding-right:72px;
        position: relative;
        &:after {
            background-color: $theme;
            content: "";
            height:2px;
            left:112px;
            position: absolute;
            right:112px;
            top: 20px;
            z-index:1;
        }
        .step-nav-item{
            a{
                position: relative;
            }
            a+span{
                display: block;
                font-size: 18px;
                color: #8ea6d5;
                margin-top: 14px;
                font-weight: $font-reguler;
                text-transform: uppercase;

            }
            a+span.active{
                color: $theme
            }
           span{
                i{ position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -13px;
                    margin-left: -11px;
                  }
           }

        }
        .step-nav-item:nth-child(1){
            text-align:left;
            float:left;
            width:50%;
            a+span{
                margin-left: -57px;
                text-align: left;
            }
        }
        .step-nav-item:nth-child(2){
            text-align: right;
            float: right;
            width: 100px;
            a+span{
                margin-left: -15px;
                width: 193px;
                text-align: right;
            }
        }
        .step {
            border:2px solid  #8ea6d5;
            color:#8ea6d5;
            border-radius: 50%;
            display: inline-block;
            font-size: 18px;
            height: 41px;
            line-height:36px;
            text-align: center;
            width: 41px;
            pointer-events: none;
            background: $white;
            &.active {
                    background: $theme;
                    color:$white;
                    border:1px solid $theme;
            }
        }
    }
    #content .page .content .widget>.heading:first-child {
        border-bottom: 1px solid $tab_border;
        position: relative;
        left: 20px;
    }
    #content .page .content {
        padding: 30px 12% 30px 12%;
    }
}

#reg-profile {
    padding: 20px 0 5px 0px !important;
    width: 100% !important;
    .heading-left {
        font-size:$font-title !important;
        line-height: 21px;
        color: $color-heading-text;
        font-weight: 400 !important;
        text-align: left;
        text-transform: uppercase;
        font-family: "Montserrat", Helvetica, sans-serif;
        padding-top:7px;
        position: relative;
        left:-1%;
        padding-bottom: 4px;
    }
    .heading-right{
            position: relative;
            left:1%;
    }
}

//register page
#pagestep3 {

    .checkbox {
        label {
            width: 100%;
        }
    }
    select {
        width: 60%;
        float: right;
    }
}
.register-page-in-visibly .form-row  button ,.logout-btn-onboading{
    font-weight: 500 !important;
}
#page-step-2 ,#pagestep3 {
   .btn-rgt {
        margin-right: 7px;
    }
}

#register-form {
    .btn-remove-photo.fa {
        background:$white none repeat scroll 0 0;
        border-radius: 50%;
        box-shadow: 1px 1px 2px #999;
        height: 20px;
        line-height: 18px;
        position: absolute;
        text-align: center;
        top: -17px;
        width: 20px;
        cursor: pointer;
        left: 96%;
    }
   }

@media only screen and (max-width:767px) {
    #pagestep3,
    #page-step-2,
    #register-form {
        label {
            width: 100%;
            padding: 0;
            float: none;
        }
        input {
            width: 100%;
            float: none;
        }
        .checkbox {
            width: 100%;
        }
        select {
            width: 100%;
            float: none;
        }
}
#register-form {
        .form-row {
            label {
                width: 100%;
                float: none;
            }
            input {
                width: 100;
                float: none;
            }
            #user_department {
                width: 100%;
                float: none;
                select {
                    width: 100%;
                }
            }
        }
        .btn {
            margin-left: 1%;
        }

    }
    .step {
        &.active {
            background-color: $theme;
        }
    }
}
.register-page-in-visibly{
    background: $white;
    padding-top: 103px;
    position:relative;
    .section{
        margin-bottom: 0;
    }
    .form-row.button-register{
        margin-bottom: 0;
    }
    .content{
        max-width:822px;
        margin: 0 auto;
        .dropzoneUpload{

            .upload-avatar{

                text-align: center !important;
              }
        }
        .select::before{margin-top :32px};
        .steps-nav a{
             text-decoration: none;
        }
    }
    .profile-image-wrapper  img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: $white
    }
   .profile-image-wrapper .img-wrap{
        background: url(/img/default-avatar.png);
        background-size: cover;
        position: relative;
        display: block;
        border: 1px solid $input-border;
        width: 140px;
        height: 140px;
        -webkit-border-radius: 0.2rem;
        -moz-border-radius: 0.2rem;
        -ms-border-radius: 0.2rem;
        border-radius: 0.2rem;
    }
    .profile-image-wrapper .dropzoneUpload .btn{
       padding: 0 18px !important;
    }

}
@media only screen and (max-width:420px) {
    .register-page .steps-nav{
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .register-page .steps-nav:after{
        left:91px;
        right:91px;
    }
    .sign-up-process-space-line-wrapper-container .sign-up-process-space-line-wrapper{
        left:91px;
        right:91px;
    }
}
.register-page-in-visibly .form-row input, .logout-btn-onboading {
    font-weight: 500 !important;
}