// this css reflect on Createassetform
#edit-asset .edit-asset-preview-wrapper  .preview-wrapper{
    width: 200px;
    height: 160px;
	float: left;
	.video-wrapper{
		width: 200px;
		height: 160px;
		position: relative;
		background: $footer-bg ;
	}
}
#edit-asset .uploaded-file-details{
	margin-left: 220px;
}
//End css

ul.dropzone-preview {
	list-style: none;
	li {
		text-align: left;
		overflow: hidden;
		min-height: 50px;
		margin-bottom: 15px;
		position: relative;
		background: #fff;
		.delete-image-btn{
			position: absolute;
			right: 10px;
			top: 10px;
			width: 30px;
			padding: 0;
			height: 30px;
			border-radius: 30px;
			i{
				font-size: 16px;
				position: relative;
				top: 0px;
				left: 0;
			}
		}
		&:last-child{
			margin-bottom:0;
		}
    	.preview-wrapper {
			img{
				width:100%;
				height:100%;
				object-fit: cover;
			}
		}
		.doc {
			float: left;
			margin-right: 10px;
			max-width: 69px;
			min-width: 69px;
			height: 69px;
			width: 20%;
			border: 1px solid lighten(#999, 25%);
			border-radius: 5px;
			.file-icon {
				height: 42px;
			    margin: 12px auto 0 16px;
			    width: 36px;
			}
		}
		.filename {
			text-overflow: ellipsis;
			white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
			  max-width: 280px;
			  margin-bottom: 15px;
		}
		span {
			float: left;
			overflow: hidden;
			line-height: 18px;
		}
		.rc-progress-line  {
			float: left;
			margin-top: 6px;
		    max-width: 285px;
		    width: 100%;
		}
		.text-percent {
			font-weight: 300;
			font-style: italic;
		}
		.filename{
			padding-top:10px;
		}
	}
	&.edit-asset-preview li
        {transform: translate(0,0); margin:0;}
}
.edit-asset-preview-wrapper{border-color: rgb(102, 102, 102);
    border-radius: 5px;
    //border-style: dashed;
    border-width: 1px;
    height: auto;
    line-height: 100px;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-bottom:20px;
    }
.rc-time-picker {
	display: block;
}

@media all and (max-width:479px){
	ul.dropzone-preview li{
		.preview-wrapper{
			float: none;
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
}
@media all and (max-width:479px){
.dropzone-preview.edit-asset-preview
	.uploaded-file-details{
           margin-left:0;
	}
}