.rss-popup-deatils-page-container{
    p{
         font-size:$normal-text;
         font-weight:$font-light;
    }
}
.rss-heading, .job-popup-heading {
    margin: 0 -15px 15px;
    padding: 20px;
    background: #f6f6f6;
    border-bottom: 1px solid #e7e5e5;
    h3 {
        margin-bottom:0;
    }
}  
#jobs{
.job-popup-heading{
    position: relative;
    h3{
        font-size:$heading;
        margin-bottom:0;
    }
}

.part-time-main-box span{
    font-size:12px;
    font-weight: $font-reguler;
    line-height: 0.5;
}
.salary-content-box{
 .value,.india-text{
    font-weight:$font-light;
  }
 }
}
.rss-chanel-feed-responsive{
    width:444px !important;
    .setting-rss-body{
        .rss-text-feild{
            td{
                  padding:11px 11px 11px 11px !important;

        }
    }
}
}
.rss-chanel-feed{
    .setting-rss-body{
        .rss-text-feild{
            td{
                  padding:11px 0px 11px 0px;
                  &:hover{background: none}
            }
            &:last-child()
            {
                td{border-bottom:0;}
            }
            .remove-btn i{
                font-size:20px;
                margin-top:5px;
                margin-left: 4px;
            }
        }
       
        .heading h3{
            display: inline-block;
        }
        .heading  a{
            color: #1c1c1c !important;
            background: #F4F5F7;
            float: right !important;
            top: -12px;
            text-decoration: none;
            span.add-new-text {
                margin: 0;
                display: inline;
                font-size: $heading; ;
                font-weight:$font-medium;
            }
            &:hover{
                background: #EBECF0;
            }
        }
    }
}
#Rss {
    .side-popup .image-load-failed{
       margin-top:0;
       max-width:none;
    }
    .rss_comment_form{
        textarea{
            resize: none;
        }
    }
    .main-container-rss {
        margin: 0 auto;
        max-width: 100%;
    }
    .filterby .period-links a {
        font-weight: $font-reguler;
    }
    .topicintrest,
    .hotdiv {
        padding: 0;
        margin: 0;
    }
    .col-nine-of-twelve {
        .col-four-of-twelve {
            width: 33.3%;
            padding-bottom: 30px;
           
        }
    }
    .space-hot {
        padding:30px;
        padding-bottom: 30px;
    }
    .hotdiv-first {
        margin: 0;
    }
    .space-hot-div {
        margin-top: 35px;
    }
    .feed-job-item-inner {
        .rss-block{
            cursor: pointer;
        }
        // height: 380px;
        .visit-source-link{
            text-decoration: none;
            font-size: $date-text;
            position: absolute;
            right: 10px;
            top: 10px;
            font-weight: 400;
            color:$white;
            opacity: 0;
            visibility: hidden;
            z-index: 2;
            -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
            i{
                vertical-align: -4px;
                font-size: 18px;
            }
            &:hover{
                color:$primary;
            }
        }
        .banner-hot-header {
            img{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:before{
                content:'';
                position: absolute;
                left:0;
                top:0;
                right:0;
                bottom: 0;
                background: rgba(0,0,0,0.5);
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
            }
            padding-bottom: 70%;
            background-repeat: no-repeat;
            background-size: cover;
            margin: -15px -15px 0;
            position: relative;
            .rss-banner-captions
            {
                position: absolute;
                left:0;
                right:0;
                top:0;
                bottom:0;
                z-index: 1;
            }


            p {
                color: $white;
                font-size: $date-text;
                font-weight: $font-reguler;
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                padding:10px;
                background: rgba(210,255,82,0);
                background: -moz-linear-gradient(top, rgba(210,255,82,0) 0%, rgba(0,0,0,0.69) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,0)), color-stop(100%, rgba(0,0,0,0.69)));
                background: -webkit-linear-gradient(top, rgba(210,255,82,0) 0%, rgba(0,0,0,0.69) 100%);
                background: -o-linear-gradient(top, rgba(210,255,82,0) 0%, rgba(0,0,0,0.69) 100%);
                background: -ms-linear-gradient(top, rgba(210,255,82,0) 0%, rgba(0,0,0,0.69) 100%);
                background: linear-gradient(to bottom, rgba(210,255,82,0) 0%, rgba(0,0,0,0.69) 100%);
                margin-bottom: 0;
                min-height: 50px;
                max-height:95px;
            }
        }
        &:hover {
            .banner-hot-header::before{
                opacity: 1;
                visibility: visible;
            }
            .visit-source-link{
                opacity: 1;
                visibility: visible;
            }
        }
        .hot-overlay::before {
            content: "";
            background-color: rgba(0, 0, 0, 0.38);
            position: absolute;
            left: 0;
            right: 0;
            left: 0;
            bottom: 0px;
            top: 0;
        }
        .hot-div-body {
            background-color: $white;
            .date-and-time {
                padding: 25px 0 25px 13px;
                font-size: $date-text;
                color:$color-heading-text;
                 font-weight: $font-reguler;
            }
            .text-header {
                height: 100px;
                padding: 0 13px;
                p {
                    height: 84px;
                    overflow: hidden;
                }
            }
        }
        .feed-job-share-links-wrapper .feed-job-share-item {
            display: inline-block;
            min-width: 64px;
            text-align: center;
        }
        .feed-job-share-links-wrapper {
            padding: 9px 0 11px;
        }

        .feed-job-share-block-title {
            text-align: center;
            border-top: 1px solid $tab_border;
            max-width: 186px;
            margin: 0 auto;
            max-height: 0;
            span {
                color: $color-heading-text;
                position: relative;
                top: -7px;
                background-color: $white;
                padding: 7px;
                font-weight: 400;
                font-size: 10px;
            }
        }
    }
    .tweet-msg
    {
        font-size:10px;
    }

    .second-row-hot-div {
        margin-top: 35px;
        margin-bottom: 56px;
    }
    .topicintrest {
        margin-top: 24px;
    }
    .rss-columns {
       .col-four-of-twelve {
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 15px;
                right: 15px;
                bottom: 30px;
                background: $white;
                top: 15px;
            }
        }
    }
    .feed-job-share-block {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
        max-width: 220px;
        margin: 0 auto;
        .socialIcons .internal-icon{cursor: pointer;}
    }
    .rss-popup-content-wrapper .socialIcons .internal-icon{cursor: pointer;}
}
.rss-count, .job-count
{
    position: absolute;
    float: right;
    right: 0;
    display: block;
    margin-right: 20px;
    margin-top: -55px;
}
#navdraw .nav-side .curated-link ul.parent li>a .text {
   
   font-size: $heading; ;
    font-weight: bold;
    height: 36px;
    margin-top: 13px;
    text-transform: uppercase;
}

//responsive div
@media all and (max-width:1300px) {
    #Rss {
        .rss-columns .col-four-of-twelve {
            padding: 0 5px 10px;
        }
        .feed-job-item-inner {
            padding: 5px 5px 10px;
        }
        .feed-job-item-inner .banner-hot-header {
            margin: -5px -5px 0
        }
        .feed-job-share-links-wrapper .feed-job-share-item {
            min-width: 40px;
            width: 33.3%;
        }
        .feed-job-item-inner .banner-hot-header {
            margin: -5px -5px 0;
        }
        .rss-columns .col-four-of-twelve {
            padding-bottom: 90px;
        }
        .rss-columns .col-four-of-twelve:before {
            left: 5px;
            right: 5px;
        }
    }
}

@media all and (max-width:1024px) {
    #Rss {
        .col-nine-of-twelve {
            width: 100%;
            padding: 42px;
        }
        .hotdiv-first {
            margin-top: 25px;
            width: 50%;
        }
    }
}

@media all and (max-width:768px) {
    #Rss {
        .col-nine-of-twelve {
            .col-four-of-twelve {
                width: 100%;
            }
        }
    }
}

@media all and (max-width:767px) and (min-width:720px) {
    #Rss {
        .col-nine-of-twelve {
            .col-four-of-twelve {
                width: 50%;
            }
        }
    }
}
#Rss {
    .col-nine-of-twelve {
        padding:30px 45px;
    }
}
@media screen and (max-width:1260px) {
    .main-container-body {
        padding-right: 0 !important;
    }
    #Rss .filterby {
        border-bottom: none;
    }
}

@media screen and (max-width:768px) {
    #Rss .col-nine-of-twelve .col-four-of-twelve {
        width: 100% !important;
    }
} //rss popup

.popup_curation:hover{
    text-decoration: none;
}
.text-read-more-feed-rss{
    max-height:auto !important;
    overflow:visibly !important;
}
.add_comment_box{
    margin-top:20px;
}
.feed-job-share-links-wrapper{
    max-width:300px;
    margin:0 auto;
}
.rss_popup {
    .inner-rss-popup {
        .rss_text {
            .text_readmore {
                
                a{
                    color:$primary;
                }
                a img{
                     margin-bottom: 0;
                     margin:0;
                    
                }
                img{
                    max-width: 100%; height: auto;
                    margin-bottom:15px;
                }
               }

            .rss-button {
                margin: 15px 0;
                background:$primary;
            }
            .rss-title
            {
                border-bottom: 1px solid $tab_border;
                position: relative;
                padding:15px;
                h2{
                    font-size:$normal-text;
                    line-height: 22px;
                    font-weight: 400;
                    color:$color-heading-text;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    max-width:400px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .visit-source-link-wrapper
                {
                    position: absolute;
                    right:35px;
                    top:1px;
                }
                .visit-source-link{
                    text-decoration: none;
                    i{
                        vertical-align: middle;
                        font-size: 18px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
.rss-popup-content-wrapper .banner_img{
    padding-bottom:15px;
}
.Rss-setting {
    margin-bottom:15px;
    label{
    font-size:$font-title;
    color: $color-heading-text;
    font-weight: 600;
    padding-left: 2px;
    border-bottom:2px solid $border-in-page;
    display: block;
    padding:25px 0;
    margin-bottom:25px;
    }
}
.rss-links-title{
    font-size:$font-title;
    color: $color-heading-text;
    font-weight: 600;
    padding-left: 2px;
    border-bottom:2px solid $border-in-page;
    display: block;
    padding:25px 0;
    margin-bottom:25px;
}
.invalid-li{
    cursor: not-allowed;

}
.invalid{
    pointer-events: none;

    
}
.check-img{
    position: relative;
    right: 164px;
    bottom: 38px;

}
.rightSidebar li{
    list-style: none;
    position: relative;
    padding-right: 65px;
    &:hover{
        background:#f9f9f9;
    }
    
    .rss-link{
        color: $primary;
        padding: 13px 22px;
        width: 100%;
        display: block;
        font-weight: $font-reguler;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size:$normal-text;
        
    }
    
    .remove-btn{
        position: absolute;
        right:7px;
        top: 12px;
        color: darken($theme, 10%);
        z-index: 1;
        height: 30px;
        width: 30px;
        color:$theme;
        font-size: 24px;
        @include border-radius(30px);
    }
    .remove-btn.edit-rss-btn{
        margin-right: 24px;
    }
    
    .remove-btn:hover{
        background:$cross-hover;
        color: darken($theme, 10%);
    }
}
.rss-links-wrapper
{
    border: 1px solid #e3e3e3;
    margin-bottom:30px;
}

@media all and (max-width:767px)
{
    .rss_popup .inner-rss-popup .rss_text .rss-title
    {
        padding-right:0;
        .visit-source-link-wrapper{
            position: relative;
            right:0;
            margin-bottom: 10px;
        }
    }
}
.job-details-container #jobFullDesc ul,.rss-new-design-in-feed .text_readmore ul{ 
    margin-left:50px;
    color:$default-text
}
.job-details-container #jobFullDesc ul li,.rss-new-design-in-feed .text_readmore ul li{
    font-size:14px;
    font-weight: 400;
    list-style: disc !important;
}
#jobFullDesc p{
    margin:0;
}
.job-details-container #jobFullDesc a,.rss-new-design-in-feed .text_readmore a{
    color:$primary;
}
.rss-new-design-in-feed { 
    position: relative;
    .rss-popup-content-wrapper {
       .rss-heading  h2{
             font-size:26px;
        }
    }
    .curated-date{
        position: relative;
        .date-container{
            float:left;
            position: relative;
            padding:5px;
            width:185px;
            a{
                text-decoration: none;
            }
            .icon-date{
               position: absolute;
               left:0;
               top:3px;
               color:$default-text;
               
            }
            .date-text{
                color:$default-text;
                font-size:$normal-text;
                margin-left:25px;
                font-weight:$font-light;
            }
        }
       
    }
    #text-rss{
        font-size:$normal-text;
        font-weight:$font-light;
    }
}
@media all and (min-width:768px){
#Rss .popupDescSection , #jobs .popupDescSection{
    height:auto !important;
    }
}
#Rss .popupDescSection{
    overflow: visible !important;
    max-height:100% !important;
    padding-top:0;
}

.rss-new-design-in-feed .container-banner-img{
  padding:10px 0;
 .thumbnail{
   padding:0;
   border:0;
 }
}

#jobs .job-content-box{
    padding-bottom: 40px !important;
}
.curated-share-button .popup-container .popup{
    margin-left:47px;
}
@media all and (max-width:767px){
    .curated-share-button .popup-container .popup{
        margin-left:132px;
        background: none;
    }
}
@media all and (max-width:460px){
  .job-wrapper-box .popup-container .popup{
     margin-left:-60px !important;
     left:50% !important;
  }
}
#jobs .jobFullDesc {
    margin-bottom: 0;
}

#Rss .text_readmore ,#jobs .job-content-box{
    padding-bottom:25px;
   }
@media all and (max-width:767px){
#Rss .rss-heading h3 ,#jobs .job-details-container .job-popup-heading h3{  
     font-size:20px
   }

  
 #Rss .popupDescSection,#jobs .job-details-container .popupDescSection{
    min-height:calc(100vh - 53px) !important;
    max-height:none !important;
    height:auto !important;
   }
  
}
@media all and (max-width:506px){
#jobs .job-details-container .job-mainbox .popup-container {
        left:50%;
        margin-left:-37px;
   }
}

.add-rss-form .close-rss-btn{
    position: absolute;
    right: 0px;
    top: -10px;
    z-index: 1;
    height: 30px;
    width: 30px;
    color: $theme !important;
    font-size: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    i{
        font-size: 20px;
        margin-top: 2px;
        margin-left: -5px;
        vertical-align: middle;
    }
    &:hover{
        background: #efefef;
        color : $theme;
    }
}

.add-rss-form .add-RSS-option-btn a{
            color: #1c1c1c !important;
            background: #F4F5F7;
            text-decoration: none;
            width: 49%;
            margin-right: 2px;
            span.add-new-text {
                margin: 0;
                display: block;
                font-size: $heading; ;
                font-weight:$font-medium;
                text-align: center;
            }
            &:hover{
                background: #EBECF0;
            }
}
// rss note css

.rss-note {
    margin-top: 40px;
    p{
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: $color-heading-text;
}
span{
    font-size: 15px;
    font-weight: 500;
    color: $color-heading-text;
}
}