#social-widget-main-container {
    padding-top: 20px;
    .text-part{
          padding:5px;
    }
    .img-container {
        img{
            width:100%;
      }
    }
    .text-header {
        p {
            padding: 5px;
            color: $default-text;
           font-size: $heading; ;
            font-weight: 300;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        span {
            color: $color-heading-text;
           font-size: $heading; ;
            font-weight: 400;
        }
        .text-link {
            color: $theme;
        }
    }
    .visibly-icon {
        margin:5px;
        width: 20px;
        height: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        float: left;
        background-image: url("/img/visibly-logo-big.png");
    }
    .li {
        background-color: $linkln;
    }
    .fb {
        background-color: $fb;
    }

    .tw {
        background-color: $twitter;
    }
    .social-icon {
        margin:5px;
       text-align: center;
        float: right;
        width: 21px;
        height: 21px;
        border-radius: 19px;
        i{
              color:white;
              padding-top:4px;
        }

    }

}
.social-cols .social-check-icon
{
    i
    {
       font-size: $heading; ;
        color:$white;
    }
}

  /* ---- grid-item ---- */
  #social-widget-main-container
  {
  .grid
  {
      margin:0 -15px;
  }
  .social-masnory-grid {
    width: 20%;
    float: left;
    padding:0 15px 30px;
  }
  .soical-wall-main{
    border: 1px solid $tab_border;
  }
  @media all and (max-width:1300px)
  {
  .social-masnory-grid{width:25%;}
  }
  @media all and (max-width:1200px)
  {
  .social-masnory-grid{width:33.3%;}
  }
@media all and (max-width:767px)
{
    .grid
    {
        margin:0 -7px;
    }
.social-masnory-grid{padding:0 7px 15px; width:50%;}
}
@media all and (max-width:567px)
{
.social-masnory-grid{width:100%;}
}
}