.email-setting {
    display: block;
    width: 100%;
    height: 38px;
    font-size: $heading;
    line-height: 20px;
    font-weight: 300;
    color: $dark-gray;
    background-color: $white;
    margin-bottom: 10px;
    padding: 7px 12px;
    border: 1px solid $input-border;
    background-color: $dots-hover;
    cursor: not-allowed;

    span {
        font-weight: 400;
        margin-bottom: 10px;
        color: $color-heading-text;
        display: inline-block;
        cursor: pointer;
        transition: color .2s ease-in-out;
        margin-right: 2px;
    }
}

#settings .side-popup-wrap #close-popup {
    z-index: 2;
    top: 9px;
}

.sharePopup .__react_component_tooltip.place-top {
    margin-top: -7px !important;
    margin-left: 23px !important;
}

.socialnotes {
    strong {
        margin: 0 3px;
    }

    p {
        font-size: $normal-text;
    }
}

.pageSelection .btn.btn-primary {
    padding: 0 0.9rem;

}

.noaccountcoonect {
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.user-tag-editor .mention-input-wrapper__input::placeholder {
    color: #c1c1c1;

}

//setting resetpassword css
.reset-password-form .reset-form-list {
    .form-valid-message {
        position: relative;
    }
}

.widget-page .form-valid-message {
    top: 40px;
}

//End setting css
//add new block rss in acount page
.contact-settings,
.rss-setting-button {
    text-align: right;
}

#settings .new-block-rss {
    display: none;
}

.new-block-rss {
    .btn-primary {
        .rss-field {
            font-size: 28px;
            vertical-align: top;
            position: relative;
            left: -5px;
        }
    }

    .remove-btn-wrapper {
        width: 20px;
    }

    .Rss-setting {
        .rss-textbox {
            width: 100%;

            display: block;
            width: 100%;
            height: 38px;
            padding: 6px 12px;
            font-size: $heading;
            line-height: 20px;
            font-weight: 300;
            color: $dark-gray;
            border: 1px solid $input-border;
            border-radius: .2rem;
            transition: border ease-in-out .15s, box-shadow ease-in-out .15s;

        }


    }
}

.map-widget-align {
    text-align: center;
}

.settings-container {
    .profile-form {
        margin: 0;

        .img-wrap {
            background: url(/img/default-avatar.png);
            background-size: cover;
            position: relative;
            display: block;
            border: 1px solid $border-color;
            width: 140px;
            height: 140px;
            @include border-radius(.2rem);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background: $white;
                border: 1px solid $input-border
            }
        }

        .dropzone-preview {
            li {
                transform: translate(0, 0);

                img {
                    max-width: 100px;
                }
            }


        }

        textarea {
            border: 1px solid transparent;
        }
    }
}

.profile-image-wrapper {
    position: relative;
    overflow: hidden;

    .dropzoneUpload {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -38px;
        background: rgba(0, 0, 0, 0.5);
        padding-top: 0;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease;
        margin-bottom: 0;

        &:hover {
            background: #2a2a2a;
        }

        .btn {
            background: none;
            margin-bottom: 0;
            border: none !important;
            padding: 0 15px !important;
            height: auto !important;
        }
    }

    .img-wrap:hover .dropzoneUpload {
        bottom: 0;
    }

    img {
        text-align: center;
        position: relative;
        vertical-align: middle;
    }
}

.user-tag-editor {
    line-height: 20px;

    .mention-input-wrapper__highlighter {
        font-size: $heading;
        ;
    }

    .mention-input-wrapper__highlighter strong {
        font-weight: 300 !important;
        color: transparent;
        font-family: "Montserrat", Helvetica, sans-serif;
        font-size: $heading;
        ;
        background: $dark-bg;
    }

    textarea,
    input {
        font-family: "Montserrat", Helvetica, sans-serif;
        font-size: $heading;
        ;
    }

    .viewper {
        position: relative;
        float: left;
        font-style: normal;
        font-size: $normal-text;
        color: $primary;
        width: 50%;
        display: none;
    }
}

.stage-remove-btn {
    i {
        cursor: pointer;
    }
}

.table {

    // .actiondiv {
    //width: 100%;
    .useractive {
        color: $default-text;
        font-weight: 300;
    }

    .usersuspended {
        color: $primary;
        font-weight: 400;
    }

    .action-button {
        span {
            margin-right: 2px;
            position: relative;
            font-size: 0.9;
            background: transparent;
        }

        .dd-menu li .user_dropAction {
            min-width: 0;

            li {
                .btn {
                    font-size: .9em;
                    font-weight: $font-reguler;
                    cursor: pointer;
                    display: block;
                }
            }

            li:hover {
                background-color: #0051f1;
                text-decoration: none;
            }
        }

        .dd-menu li .user_drop_toggle {
            &:after {
                content: "";
            }
        }

        // }
    }

    .department-action {
        .action-button {
            span {
                .closeicon {
                    top: 4px;
                    font-size: large;
                    position: relative;
                }
            }
        }
    }
}

.reactable-data tr td.fd {
    text-transform: capitalize;
}

.valueList-wrapper .reactable-data tr td.fd {
    text-transform: none !important;
}

@media all and (max-width:1023px) {
    .department {
        .membersListing {
            td {
                width: 40%;
                text-align: left;

                &[data-rwd-label="ID"] {
                    width: 10%;
                }

                @media all and (max-width:479px) {
                    width: 100%;

                    &[data-rwd-label="ID"] {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.suspenduser {
    text-decoration-line: line-through;
}

.settings {
    #content {
        float: left;
        width: 100%;
        background: $white;

        .page {
            .esc {
                .row {
                    #cm-Pf-st {
                        display: none;
                    }

                    .content {
                        .butterflyrow {
                            float: left;
                            width: 100%; // #social-widget-container {
                            //     min-width: 950px;
                            // }
                        }

                        .widget {
                            margin-bottom: 0;

                            .col-one-of-two {
                                .content {
                                    .widget {
                                        border: 1px solid $tab_border;
                                    }
                                }
                            }
                        }

                        .row {
                            clear: left;
                        }
                    }
                }
            }
        }
    }

    .widget-page h3 {
        line-height: 36px;

        a {
            margin-bottom: 0;
        }
    }
}

// billing css
.billing-page {
    .text-header {
        font-size: 16px;

        .biiling-bold {
            font-weight: bold;
        }

        .text-billing {
            color: $blue;
        }
    }

    .h3-biiling {
        padding-left: 423px;
    }
}

.map-row {
    background-color: white;
    padding-top: 10px;
}

.text-billing {
    color: $blue;
}


/* social page starts */

.social-cols {
    max-width: 520px;
    padding: 30px 0;
}

.social-col {
    float: left;
    width: 33.3%;
    padding: 0 10px;
    text-align: center;
}

.social-cols .social-icon {
    min-height: 65px;

    i {
        font-size: 50px;
        color: $twitter;
    }
}

.social-cols .linkedin .social-icon i {
    color: $linkln;
    font-size: 40px;
}

.social-cols .facebook .social-icon i {
    color: $fb;
    font-size: 40px;
}

.social-col-inner {
    max-width: 140px;
    margin: 0 auto;
}

.twitter .social-col-inner {
    margin-left: 0;
}

.facebook .social-col-inner {
    margin-right: 0;
}

.social-button-wrapper {
    a {
        display: block;
        font-size: $heading;
        ;
        line-height: 22px;
        color: $white;
        background: $grey-button;
        padding: 7px 0 8px;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: none;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: .2rem;
        text-decoration: none;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.linkedin .social-button-wrapper {

    .liconnect,
    .li-page-connect {
        background: $linkln;
    }

    .liconnect:hover,
    .li-page-connect:hover {
        background: $ln-hover;
        text-decoration: none;
    }
}

.facebook .social-button-wrapper {

    .fbconnect,
    .fb-page-connect {
        background: $fb;
    }

    .fbconnect:hover,
    .fb-page-connect:hover {
        background: $fb-hover1;
        text-decoration: none;
    }
}

.twitter .social-button-wrapper {

    .twconnect,
    .tw-page-connect {
        background: $twitter;
    }

    .twconnect:hover,
    .tw-page-connect:hover {
        background: $fb-hover;
        text-decoration: none;
    }
}

.linkedin .social-button-wrapper a,
.facebook .social-button-wrapper a,
.twitter .social-button-wrapper a {
    background: $grey-button;
}

.table-avtar-wrapper {
    width: 39px;
    position: relative;

    img {
        width: 100%;
        height: auto;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -o-border-radius: 40px;
        -ms-border-radius: 40px;
        -moz-border-radius: 40px;
    }

    .table-avtar-social-icon {
        position: absolute;
        right: -7px;
        bottom: 5px;
        width: 18px;
        height: 18px;
        color: $white;
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -o-border-radius: 18px;
        -ms-border-radius: 18px;
        -moz-border-radius: 18px;
        background: $fb;
        text-align: center;

        i {
            font-size: 11px !important;
            color: $white;
            line-height: 0 !important;
        }

        &.twitter {
            background: $twitter;
        }

        &.linkedin {
            background: $linkln;
        }

        &.facebook {
            background: $fb;
        }

    }
}

.widget-page .display p,
.widget-page .display li {
    font-size: $normal-text;
}

.button-dropdown .dropdown-menu {
    li:hover {
        span {
            color: $theme !important;
        }
    }
}

.table-avtar-wrapper {
    span {
        padding-left: 2px;

        .fa.fa-linkedin {
            line-height: 1;
            position: relative;
            bottom: 2px;
        }

        .fa.fa-twitter {}

        .fa.fa-facebook {}
    }
}

.companycontent textarea {
    resize: none;
    height: 131px;
}

.butterflyrow .inner-text-wall-m h3 {
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.butterflyrow,
.map-row {
    padding-top: 20px;

    header {
        border-bottom: 1px solid $tab_border
    }

    h3 {
        font-size: $font-title;
        line-height: 21px;
        color: $color-heading-text;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media all and (max-width:979px) {
    .account-social-table .responsive-table td.avtar-col {
        float: none;
    }
}

@media all and (max-width:479px) {
    .social-col {
        float: none;
        width: auto;
    }

    .social-col .social-col-inner {
        margin: 0 auto 45px;
    }
}

.social-col-inner {
    max-width: 140px;
    margin: 0 auto;
}

.twitter .social-col-inner {
    margin-left: 0;
}

.facebook .social-col-inner {
    margin-right: 0;
}

.table-avtar-wrapper {
    width: 39px;
    position: relative;

    img {
        width: 100%;
        height: auto;
        border-radius: 18px;
        -webkit-border-radius: 18px;
        -o-border-radius: 18px;
        -ms-border-radius: 18px;
        -moz-border-radius: 18px;
        border: 2px solid $border-color;
    }

    .table-avtar-social-icon {
        position: absolute;
        right: -7px;
        bottom: 5px;
        width: 18px;
        height: 18px;
        color: $white;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
        -ms-border-radius: 20px;
        -moz-border-radius: 20px;
        background: $fb;
        text-align: center;

        i {
            font-size: 11px;
            color: $white;
        }

        &.twitter {
            background: $twitter;
        }

        &.linkedin {
            background: $linkedin;
        }
    }
}

.companycontent textarea {
    resize: none;
    height: 131px;
}

.butterflyrow,
.map-row {
    padding-top: 20px;
}

.zip-code-row.form-row:last-child {
    margin-bottom: 15px;
}

#social-widget-container .item-inner-header:before,
#social-widget-container .item-inner-header:after {
    content: '';
    display: table;
}

#social-widget-container .item-inner-header:after {
    clear: both;
}

#social-widget-container .item-inner-header {
    width: auto;
}

#social-widget-container .item-header {
    height: auto;
    margin-bottom: 20px;
}

.inner-text-wall-m {
    top: 0;
}

.flex-text-wall-f2 {
    padding-bottom: 50px;
}

#setting_walkthrough_popup_pointer {
    position: fixed;
    left: 310px;
    top: 100px;
}

.social-acccount-rows .form-row:last-child {
    margin-bottom: 0;
}

#scoial-acount-setting {
    .socialnotes {
        // display:none;
    }

    .social-cols {
        // display:none;
    }
}

.user-popup-insetting {
    .select-wrapper {
        background-color: transparent;

        .disabled select {
            background-color: #f8f8f8 !important;
            z-index: 2;
        }
    }

    select {
        background-color: white !important;
        padding-right: 30px;
    }

    .select-wrapper:before {
        top: 28px !important;
        z-index: 2;
    }
}

#campaign-table .background-user-popup {
    height: 60px;
    width: 60px;
    border-radius: 34px;
    border: 1px solid $border-color;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
}

#campaign-table .list-avatar {
    opacity: 0;
}

.user-drop-note {
    margin-bottom: 15px;
}

.user-employee {
    span {
        color: $theme;
        margin: 0;
        display: block;
        font-weight: 400;
        position: relative;
        width: 76px;

        i {
            position: absolute;
            top: 2px;
            right: 4px;
            font-size: 16px;
        }
    }

    p {
        margin: 0;

    }
}

#campaign-table .list-avatar {
    opacity: 0;
}

.user-drop-note {
    margin-bottom: 15px;
}

.userNoteTitle {
    font-size: $font-title;
    font-weight: 400;
    color: $color-heading-text;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 1px solid $tab_border;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.import-user-instruction {
    margin-bottom: 8px;
}

.user-drop-instruction {
    margin-bottom: 15px;

    ul li {
        position: relative;
        padding-left: 15px;
        font-size: $date-text;
        line-height: 18px;
        list-style: none;
        padding-bottom: 5px;

        &:last-child {
            padding-bottom: 0;
        }

        i {
            position: absolute;
            left: -4px;
            top: -1px;
            color: $default-text;
            font-size: 20px;
        }
    }
}

.match-columns-wrapper {
    margin: 0 -7px;

    .match-column {
        width: 50%;
        padding: 7px;
        float: left;

        .selectedColumn {
            background: $white;
            line-height: 36px;
            color: $theme;
        }

        .import-unmatch-links-wrapper {
            text-align: center;

            a {
                line-height: 36px;
                display: inline-block;
            }

            div {
                display: inline-block;
            }
        }
    }
}

.upload-next-prev-wrapper {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;

    a {
        font-weight: 700;

        i {
            vertical-align: middle;
        }
    }

    .upload-back-btn {
        padding-left: 7px;
    }

    .upload-next-btn {
        padding-right: 7px;
    }
}

.import-users-button-wrapper {

    //padding-bottom:10px;
    button {
        width: 100px;
        margin-right: 10px;

        i {
            vertical-align: middle;
        }
    }
}

.match-column-inner {
    border: 1px solid $tab_border;
    padding: 15px 15px 0 15px;
    background: $white;
    @include transition(0.5s);
    cursor: pointer;

    &:hover {
        border-color: $theme;
    }
}

.match-column.active .match-column-inner {
    border-color: $theme;
}

.import-users-section {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 0;
    position: relative;

    &.active {
        height: auto;
        padding-bottom: 61px;
        position: static;
    }
}

.upload-csv-section {
    padding-bottom: 0;
    height: 0;
    overflow: hidden;
    position: relative;

    &.active {
        height: auto;
        padding-bottom: 61px;
        position: static;
    }
}

.import-users-section {
    padding-bottom: 0;
}

.import-user-detail-wrapper {
    margin: 0 -15px;
    background: #f8f7f7;

    .import-user-detail-item {
        padding: 10px 15px;
        text-transform: capitalize;
        border-bottom: 1px solid #f1f1f1;

        &:first-child {
            border-top: 1px solid #f1f1f1;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}

.match-column.active {

    .import-user-detail-wrapper {
        background: #e6eeff;

        .import-user-detail-item {
            border-color: #d1dcf7;
            color: $theme;
        }
    }
}

.import-top-unmatch-block {
    text-align: center;
    min-height: 165px;
    padding-top: 20px;
}

.importMatchTitle {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.import-unmatch-text {
    background: #f7f7f7;
    line-height: 38px;
}

.unmatch-link-seprator {
    margin: 0 15px;
}

.existing-card-note {
    padding: 20px 0;
}

.existcards_label {
    border-bottom: 1px solid $border-color;
    display: block;
    padding: 20px 10px;
    margin-bottom: 0;
    min-height: 101px;

    &:last-child {
        border-bottom: 0;
    }

    .exist-card-inner {
        position: relative;
        padding-left: 25px;
    }

    &:hover {
        background: $row_hover_color;
    }

    span {
        display: block;
        font-weight: 300;
        color: $default-text;
        margin-bottom: 10px;
    }

    .radio-circle {
        top: 3px;
    }

    .exist-card-holder-name {
        color: $color-heading-text;
        font-weight: 400;
    }

    .exist-card-default-text {
        font-weight: 400;
        color: $primary;
    }
}

#pay_new_section {
    height: calc(100vh - 25px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 25px;

    .pay-now-inner-title {
        font-size: $font-title;
        font-weight: 400;
        color: $color-heading-text;
    }

    .buttons-wrapper {
        padding: 20px 0;

        button {
            margin-right: 20px;

            .plus-icon {
                font-size: 28px;
                vertical-align: top;
                position: relative;
                left: -5px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.cls-1 {
    fill: $white;
}

.facebook-btn {
    padding-top: 0px;
    line-height: 26px;
    background: $facebook;
    color: $white;
    max-width: 200px;
    padding: 5px 0;

    .facebookConnectBtn {
        width: 100px;
    }

    .facebookIconWrapper {

        width: 26px;
        display: inline-block;
        height: 26px;
        border-radius: 30px;
        vertical-align: top;
        margin-right: 2px;
    }
}

#Users {
    .tabel-view-userdata .name-header {
        position: relative;
        cursor: pointer;
    }

    .name-header:before {
        content: "▲";
        float: right;
        color: $color-heading-text;
        position: absolute;
        top: -6px;
        right: -22px;
        font-size: 8px;
    }

    .name-header:after {
        content: "▼";
        float: right;
        color: $color-heading-text;
        font-size: 8px;
        position: absolute;
        top: 3px;
        right: -22px;
        bottom: 0;
    }

    .name-header.Asc-Order:before {
        content: "▲";
        float: right;
        color: $color-heading-text;
        position: absolute;
        top: -6px;
        right: -22px;
        font-size: 8px;
    }

    .name-header.Asc-Order:after {
        display: none;
    }

    .name-header.Desc-Order:before {
        display: none;
    }

    .name-header.Desc-Order:after {
        content: "▼";
        float: right;
        color: $color-heading-text;
        font-size: 8px;
        position: absolute;
        top: 3px;
        right: -22px;
        bottom: 0;
    }

    .reactable-column-header th:nth-child(1) .name-header, .reactable-column-header th:nth-child(7) .name-header,.reactable-column-header th:nth-child(8) .name-header, .reactable-column-header th:nth-child(9) .name-header {
        cursor: default;
    }

    .reactable-column-header th:nth-child(1) .name-header:before,
    .reactable-column-header th:nth-child(1) .name-header:after,
    .reactable-column-header th:nth-child(7) .name-header:before,
    .reactable-column-header th:nth-child(7) .name-header:after,
    .reactable-column-header th:nth-child(8) .name-header:before,
    .reactable-column-header th:nth-child(8) .name-header:after,
    .reactable-column-header th:nth-child(9) .name-header:before,
    .reactable-column-header th:nth-child(9) .name-header:after   {
        display: none;
    }
}

.settings {
    .widget_3dots {
        margin-top: -7px;
    }

    .page.settings-container .listMenu {
        margin-bottom: 20px;
    }

}

#funnel-table .table-body-text {
    cursor: pointer;
}

#department-table .reactable-no-data td {
    padding: 30px;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: $color-heading-text;
    border-bottom: 0px;
    margin: 0 auto;
    padding-bottom: 0px;
}

#department-table .reactable-no-data:hover {
    background: $white;
}

// Responsive starts
@media all and (max-width:979px) {
    .account-social-table .responsive-table td.avtar-col {
        float: none;
    }
}

@media all and (max-width:767px) {
    #setting_walkthrough_popup_pointer {
        left: 50%;
        margin-left: -360px;
    }

    .settings .action-button {
        display: inline-block;
    }

    .hierarchyPopupDropdowns .hierarDropdownColumn {
        width: 100% !important;
    }

    .hierarchyPopupDropdowns .hierarDropdownColumn:nth-child(2) {
        margin-top: 15px;
    }

    .hierarchyPopupDropdowns {
        display: block !important;
    }

    div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
        display: none;
    }

    .upload-csv-section .upload-csv-section-inner,
    .import-users-section .import-users-section-inner {
        height: calc(100vh - 91px);
    }

    .master-data-popup .master-column {
        width: 100% !important;
        padding: 15px 6px 15px 6px !important;
    }

    .master-data-popup .master-column-wrapper-inner {
        display: block !important;
    }

    .master-data-popup .master-column-wrapper {
        display: block !important;
    }
}

.dropdown-menu {
    li {
        list-style: none;
        text-transform: capitalize;

        a:hover {
            background-color: #0051f1;
        }
    }
}

.assets .dd-menu .dropdown-menu li.move-unarchive-next-arrow-li:hover,
.dd-menu .dropdown-menu li.move-unarchive-next-arrow-li.active {
    background: none;
}

@media all and (max-width:979px) {
    .user-employee span {
        display: inline-block;
        margin-left: 6px;
    }
}

@media all and (max-width:479px) {
    .social-col {
        float: none;
        width: auto;
    }

    .social-col .social-col-inner {
        margin: 0 auto 45px;
    }

    .match-columns-wrapper {
        margin: 0;
        display: block;

        .match-column {
            float: none;
            width: auto;
        }
    }
}

.user_dropAction li .btn:hover,
#setting-user-table .btn:hover {
    background: none !important;
}

.userSampleCsv {
    padding-bottom: 15px;

    i {
        vertical-align: -6px;
        margin-right: 5px;
    }
}



/* social page starts ends */


//for user
.table-user-body {
    overflow-x: auto;
    overflow-y: hidden;
}

.filtertable {
    float: right;
}

.trusted-user {
    display: block;
    color: $theme;
    position: relative;

    i {
        font-size: 20px;
        position: absolute;
    }
}

.tabel-view-userdata {
    #funnel-table {
        margin-bottom: 6rem;
    }

    .table {
        margin-bottom: 4rem;
    }

    .table-user-body {
        padding-bottom: 93px;
    }

    .reactable-pagination {
        td {
            position: absolute;
            right: 0;
            margin-right: 10px;
        }
    }
}

.tabel-view-userdata table tr.table-body-text:first-child .action-button .dd-menu li .user_dropAction {
    bottom: auto;
}

#Users .post .author-thumb {
    background: none;
}

.locatioListWrapper ul.pagination .disabled,
#Users .table-user-body .pagination .disabled {
    padding: 0px;
}

.settings .page .disabled {
    width: 890px;
    max-width: 100%;
    margin-left: 6px;
    padding: 20px;
    background-color: #f8f8f8;
    height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}

.col-one-of {
    width: 100%;
    float: left;
}

.heading-widget {
    float: left;
    width: 100%;
    padding: 0 15px;
}

.col-one {
    width: 100%;
    float: left;
    padding: 0 15px;
}



.display li {
    margin-bottom: 20px;
}

.display {
    float: left;
    width: 100%;
    padding-left: 20px;
}

.widget-page-block .col-one-of-two:nth-child(2) .form_row {
    margin-top: 83px;

}

.col-one-of-two-left {
    float: left;
    width: 47%;
    padding: 0 15px;
}

.col-one-of-two-right {
    float: left;
    width: 52%;
    padding: 0 15px;
}

.widget-box .col-one-of-two-right label {
    margin-bottom: 7px;
}

#settings .section {
    margin-bottom: 40px;
}


.chargebeepopUp {
    position: fixed;
    top: 90px;
    left: 50%;
    margin: 0 0 0 -210px;
    width: 420px;
    height: calc(100vh - 120px);
    z-index: 80;
    background: $white;
}

.chargebeepopOverlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 80;
}

.chargebeepopUp iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

.closeChargebeePopup {
    position: absolute;
    right: 10px;
    top: 10px;
}

.planChangePopupWrapper {
    position: relative;
}

.planChangeBtnWrapper {
    text-align: center;
    margin-bottom: 0;
}

.planChangePopup {
    background: $white;
    border-radius: 5px;

    .feedrow tr {
        &:nth-child(even) {
            background: #efefef;
        }

        td {
            padding: 5px;
        }
    }

    .feed-user-title {
        border-bottom: 1px solid $tab_border;
        padding-bottom: 10px;
        margin-bottom: 10px;

        h3 {
            margin-bottom: 0;
            font-size: 18px;
            line-height: 28px;
        }
    }
}

#campaigns .planChangePopup .listMenu {
    background: none;
    margin-bottom: 0;
}

.planChangeTitle {
    border-bottom: 1px solid $tab_border;
    padding-bottom: 20px;
    font-size: 16 px;
    color: $color-heading-text;
    font-weight: 400;
    text-align: center;
}

.cb-header__logo {
    text-align: center;
}

.cb-header__wrap {
    padding: 12px 24px;
}

.planChangeDescription {
    padding: 27px 78px;
    background: #f4f5f9;
    text-align: center;
    height: auto;
}

.planUpdatePara {
    padding-bottom: 20px;
}

.planChangeDescription .select {
    background: $white;
    margin-bottom: 40px;
}

.planChangeDescription p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 26px;
}

.planChangeDescription p.planparaTitle {
    font-size: 16px;
    line-height: 30px;
    color: #ff585e;
}

.cb-header__logo img {
    max-width: 100%;
    height: auto;
    max-height: 40px;
    min-height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    max-width: 240px;
    margin-top: 3px;
    margin-bottom: 3px;
}

@media all and (max-width:767px) {
    .planChangeDescription {
        min-height: calc(100vh - 110px);
    }

    .settings .radiobtnFeed .radiobtnFeed-label {
        float: none;
    }

    .settings .reactable-data .dd-menu li .dropdown-menu {
        right: 25px !important;
    }

    #Users .reactable-data .dd-menu li .dropdown-menu {
        right: 25px !important;
        left: 0px;
    }

    .IntegrationIndex .reactable-data .dd-menu li .dropdown-menu {
        right: 25px !important;
    }

    .settings .funnel-table-wrapper .table>tbody>tr td {
        height: 63px;

    }

    .settings .funnel-table-wrapper .reactable-data .dd-menu li .dropdown-menu {
        z-index: 11;
    }

    .IntegrationIndex .widget.new-block-rss.rss-links-wrapper.rss-chanel-feed {
        margin-top: 100px;
    }

    .settings .radiobtnFeed .customradio {
        margin-top: 0px;
    }

    .value-drag-drop {
        font-size: 13px;
        line-height: 24px !important;
        padding: 46px 0 0 0 !important;
    }

    .planChangeDescription p.planparaTitle {
        font-size: 16px
    }

    .planChangeDescription p {
        font-size: 14px;
    }
}


.go-to-fullscreen {
    position: fixed !important;
    padding: 13px 0 0px 0;
}

#social .socialwrap .item p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Montserrat", Helvetica, sans-serif !important;
}

#social-widget-container {
    background-color: #f4f6f6 !important;
    margin: -20px;
    margin-top: 25px;
    padding: 35px 20px 20px 20px;
}

.table-user-body .name-header {
    i {
        right: -4px;
        position: relative;
    }
}

/*setting widget form responsive*/
@media all and (max-width:1199px) {
    .widget-page-block .col-one-of-two:nth-child(2) .form_row {
        margin-top: 6px;
    }

    .col-one-of-two-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .col-one-of-two-left {
        width: 100%;
        margin-bottom: 20px;
    }

}

@media all and (max-width:400px) {
    .settings .page .disabled {
        word-wrap: break-word;
    }
}

//user
#Users {
    .campaign-container .dd-menu .button-dropdown {
        margin-top: 10px;
    }
}

//setting
@media all and (max-width:400px) {
    .widget-cover .switch {
        margin-left: 0;
    }
}

.billing-page .overview-page .inner-text-header {
    p {
        font-size: $normal-text;
    }

    .billing-title {
        font-size: $normal-text;
    }
}

.billing-pament-col-inner {
    .billing-content p {
        font-size: $normal-text;
    }

    .existing-card-list {
        font-size: $normal-text;
    }
}

.col-one-of-two.last {

    .section,
    .section ul li {
        font-size: $normal-text;
    }
}

#culture-page .noValueFound {
    padding: 15px;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    max-width: 750px;
    margin: 0 auto;
    background: $white;
    color: $color-heading-text;

}

#curatedTopics {
    max-height: 346px;

    .culture-value a {
        padding-left: 5px;
        color: $theme;
        border: 2px solid $theme;

    }

    a:hover {
        background: #d3e2ff;
    }

    .selecetdCulturValue a {
        background-color: #d3e2ff;
    }
}

.moreDataFieldsWrapper {
    position: relative;
}

.removeMoreDataBtn {
    position: absolute;
    right: -40px;
    bottom: 3px;
    height: 30px;
    width: 30px;
    text-align: center;
    @include border-radius(30px);

    i {
        position: relative;
        top: 3px;
    }

    &:hover {
        background: $cross-hover;
    }
}

.addMoreFormWrapper {
    .addRemoveMasterData {
        position: absolute;
        right: 0px;
        bottom: 3px;
        width: 65px;

        a {
            display: block;
            float: left;
            height: 30px;
            width: 30px;
            @include border-radius(30px);
            text-align: center;

            i {
                margin-top: 3px;
            }

            &:last-child {
                margin-right: 1px;
            }

            &:hover {
                background: $cross-hover;
            }
        }
    }

    .hierarchy {
        display: none;
    }

    .hierarchy show {
        display: block;
    }
}

.masterDataAddField {
    z-index: 1;
    margin-bottom: 25px;
    position: relative;

    .form-row {
        margin-bottom: 0;
    }
}

.master-hierarchy-popup-body {
    overflow: hidden;
}

.mdafWrapper {
    position: relative;
    padding-right: 75px;
}

.masterDataColumnInner {
    min-height: 100%;
    position: relative;
    border-right: 1px solid #e7e5e5;
    padding-right: 17px;
    min-height: 450px;

    @media all and (max-width:767px) {
        min-height: 200px;
    }

    .nextBtnWrapper {
        text-align: center;
        margin-top: 10px;
    }

    @media all and (max-width:767px) {
        border-bottom: 1px solid #dfdfdf;
        border-right: 0px;
        padding-bottom: 30px;
    }

}

.master-column.role-column:nth-child(3) .masterDataColumnInner {
    border: none;
}

.addMoreFormLi {
    padding: 20px 0 10px;
    background: $white;
    display: none;
}

.hierarchy-data-list {
    .addMoreFormLi {
        padding: 0;
        background: none;
        border: 0;
        display: block;
        margin-bottom: 0;
    }

}

.textPlaceholder {
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    color: #d4d4d4;
    padding: 10px;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    left: 0;
    right: 0;

    @media all and (max-width:767px) {
        margin-top: -42px;
    }
}

.hierarchyPopupDropdowns {
    display: flex;

    .hierarDropdownColumn {
        width: 50%;
        padding: 0 15px;
    }
}

.hierarchyProcessBar {
    display: flex;

    .hierarchyProcessBlock {
        width: 25%;
    }
}

.master-column:nth-child(4) .masterDataColumnInner {
    border: none;
}

.content-wrapper {
    padding-top: 20px;
}

.master-data-popup {
    .popup-center-wrapper {
        width: auto;
    }

    .main-popup-wrapper {
        position: relative;
        width: 900px;
    }

    .master-column-title {
        font-weight: 500;
        padding: 10px;
    }

    .master-column-wrapper {
        display: flex;
    }

    .master-column-wrapper-inner {
        display: flex;
        width: 100%;
        position: relative;
        left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .master-column {
        width: 33.3%;
        padding: 15px 0 15px 6px;

    }

    .master-data-list li {
        padding: 0 27px 0 10px;
        list-style: none;
        @include border-radius(28px);
        cursor: pointer;
        position: relative;

        .masterDataText {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .removeDataBtn {
            position: absolute;
            right: 0px;
            top: 50%;
            margin-top: -14px;
            width: 28px;
            height: 28px;
            border-radius: 30px;
            text-align: center;
            @include border-radius(28px);

            i {
                color: #7b7b7b;
                font-size: 16px;
                position: relative;
                top: 3px;
                left: 1px;
            }

            &:hover {
                background: #dadada;

            }
        }

        &:hover {
            background: #ededed;
        }

        &.active {
            color: $primary;
        }

        &.addMoreDeptLi {
            padding: 10px 0 15px;
            text-align: right;
            background: none;
            padding-right: 0px;

            &:hover {
                background: none;
            }
        }

        &.addMoreFormLi {
            background: none;
            padding-right: 0;
        }
    }
}

.locatioListWrapper {
    position: relative;
}

.locationNoteSection {
    margin-bottom: 20px;
}

.locationListButtonWrapper {
    margin-bottom: 20px;

    button {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.polls-culture-wrapper {
    .side-popup-wrap {
        .side-popup {
            max-width: 500px;
            width: calc(100% - 275px);

            @media all and (max-width:767px) {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

#Users .tabel-view-userdata {
    .table-user-body {
        padding-bottom: 150px;
    }

    .userimg.userimg {
        position: relative;

        .author-thumb {
            .userpopupWrapper {
                @media screen and (min-width:768px) {
                    left: 0;
                }

                .postUserPopupTable {
                    table tr {
                        background: $primary;

                        td {
                            min-width: 57px;
                            background: $primary;
                        }
                    }

                }
            }
        }
    }
}

.widget_3dots {
    position: absolute;
    right: 52px;
    margin-top: -50px;

    .button-dropdown .dropdown-toggle {
        width: 30px;
        height: 30px;
        border-radius: 19px;
    }
}

#createFunnel .select:before {
    top: 30px;
}

.create-funnel-form {
    padding: 15px;

    .stage-row {
        display: flex;
    }

    .state-input {
        flex: 1;
    }

    .stage-remove-btn {
        color: $primary;
        margin-bottom: 20px;
        margin-left: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.funnel-page-container {
    display: flex;
    &.full-table-width{
        .funnel-list-wrapper{
            width: 100%;
        }
        .funnel-stages-wrapper{
            display: none;
        }
    }
    @media all and (min-width:768px){
        .funnel-table-wrapper{
            .reactable-th-avtar{
                text-align: center;
            }
        }
    }
    @media all and (max-width:1023px) {
        flex-direction: column;
    }

    .funnel-list-wrapper {
        @media all and (min-width:1024px) {
            width: 60%;
        }

        .checkbok-menu-button .dropdown-toggle{
            height:38px;
            line-height: 38px;
        }

        .funnel-table-wrapper {
            border: 1px solid $border-color;
            position: relative;
            padding-bottom: 0;

        }
    }

    .funnel-stages-wrapper {
        @media all and (min-width:1024px) {
            width: 40%;
            padding-left: 20px;
            padding-top: 10px;
        }

    }
}

.survey-widget-stage-container {
    .dl-list {
        @media all and (max-width:1023px) and (min-width:991px) {
            overflow: hidden;
            margin: 0 -10px;

            .dl-item {
                float: left;
                width: 50%;
                padding: 10px;
            }
        }
    }
}

.stages-card {
    border: 1px solid $border-color;
    box-shadow: 1px 1px 4px -2px #999;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    padding: 16px;

    &:after {
        position: absolute;
        content: '';
        height: 100%;
        border-left: 4px solid $primary;
        top: 0;
        left: 0;
    }

    .stage-name {
        display: flex;
        align-items: center;

        p {
            margin: 0;
            margin-left: 15px;
        }
    }

    .stage-options {
        margin-left: 25px;

        .customradio {
            height: unset;
        }

        &-inline {
            display: flex;
        }
    }

    .btn-generate-wrapper {
        margin-top: 20px;
    }

    .btn-generate {
        background-color: #256eff !important; //#888 for disable
        color: $white;
    }
}

.stages-card .close-stage {
    position: absolute;
    right: 10px;
}

.stages-card .stage-type {
    display: flex;
}

.funnel-page-container {
    .tabel-view-userdata {
        margin-bottom: 30px;
    }

    @media all and (max-width:990px) {
        .tableSearchbox {
            float: none;
            margin-bottom: 10px;
        }

        .filtertable {
            float: none;
        }
    }

    .scripttext,
    .scripttext2 {
        padding: 20px;
        background-color: #f8f8f8;
        height: 140px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    @media all and (min-width:991px) {

        .col-one-of-two-left,
        .col-one-of-two-right {
            float: left;
            width: 50%;
        }
    }
}

/* Image preveiw block in value starts */
.createValueImagePreviewWrapper {
    width: 200px;
    position: relative;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .removeImageBtn {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.5);
        text-align: center;
        padding-top: 2px;
        cursor: pointer;
    }
}

#setting_walkthrough {

    /* Chrome, Safari, Edge, Opera */
    #mobile_no::-webkit-outer-spin-button,
    #mobile_no::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    #mobile_no[type=number] {
        -moz-appearance: textfield;
    }
}

/* Image preveiw block in value ends */

/* Setting > Rss > checkboxes */
.rss-text-feild { 
    padding-left:10px;
    .check-img{
        position: absolute;
        right:auto;
        left:0;
        margin:0;
        top:15px;
    }
}

.rss-chanel-feed .trending-tag-container{
    max-height: none;
}