// Sidenav
//

html {
  width: 100%;
  &.navdraw-in-view {
    overflow: hidden !important;
    max-height: 100vh !important;
    body {
      overflow: hidden !important;
      max-height: 100vh !important;
    }
    @include bp(sm){
      overflow: initial !important;
      body {
        overflow: initial !important;
       }
     }
   }
}

.cls-1 {
  fill: $white;
}
.cls-2 {
  fill: $secondary
}
.cls-3 {
  fill: $primary
}
.cls-4{fill:$color-heading-text;}
.dashboard-page #navdraw{top:0;}
.dashboard-page
{
  #navdraw
  {
    .nd-parent
    {
      top:0;
    }
  }
}
.has-image .notification-like-image{
  img{
    display: block;
  }
}
.ShowCollapsibleForNavigation{
  .inner-nd-sib{
    width:20px !important; 
  }
  #navdraw .rc-collapse ,  #navdraw .nd-sib .inner-nd-sib .nav-side ul{
    opacity: 0;
    visibility: hidden;
    display: none ;
  }
  .header-right{
    left:78px;
  }
}
.ShowCollapsibleForNavigation #navdraw  .collapsible-button-container{
  display: block;
}
@media screen and (min-width: 768px){
 .ShowCollapsibleForNavigation  #content{
    padding: 0 0 0 80px;
  }
}
#culture-dashboard .collapsible-button-container,#analytics-Main-container .collapsible-button-container,
#culture-dashboard #navdraw:hover .collapsible-button-container ,#analytics-Main-container #navdraw:hover .collapsible-button-container{
  display: none !important;
}
.nav-side.bottom-narrow-nav{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 0;
  height: auto;
}
.nav-side.example.bottom-narrow-nav{
 height:auto;
 width:56px;
}
.ShowCollapsibleForNavigation.collapsibleNavdrawOnHover{
  .nd-sib{
    padding-right:40px;
  }
  #navdraw .collapsible-button-container{
    margin-right:27px;
  }
 .header-main .header .header-left{
    z-index:76;
  }
  #navdraw {
    z-index:73;
  .inner-nd-sib{
    width:220px !important;
  }
   .nav-side .rc-collapse,.nd-sib .inner-nd-sib .nav-side ul{
    opacity: 1;
    visibility: visible !important;
    display: block  !important;;
  }
 }
}
.dashboard-page #navdraw{
  width:276px;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
}
#navdraw:hover{
  .collapsible-button-container{
    display:block;
  }
}
.nd-sib  .nav-side{
  width:221px;
}
#navdraw {
  height: 100%;
  display: block;
  padding-top:0px;
  top:0;
  bottom: 0;
  position: fixed;
  left:0;
  z-index:1;
  @media all and (max-width:767px)
  {
    left: -280px;
    top:0;
    padding-top:50px;
  }
  .collapsible-button-container{
     display: none;
  } 
  // In View
  //
  &.in-view {
    left:0;
    // Push Content
    + #content {
      left:280px;
      // Reset positioning for large screens
      @include bp(sm){
        left:0;
      }
    }
  }

  .nd-parent {
    background: $useravatar;
    box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
  }
  .nd-sib {
    float: left;
  }
  .inner-nd-sib{
    box-shadow: rgba(130, 133, 139, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
    padding-top:15px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;
    background:$popup_bg;
    // position: relative;
   }

  // Has Sibling
  //
  &.has-sib,
  &.has-open-sib {
    // Parent Menu
    //
    .nd-parent {
 background: $useravatar;
      // Nav header
      //
      .nd-header {
        a.logo:before {
          color: $white;
        }
      }
      .nd-header a.logo > span,
      .nd-header a.control {
        transform: translateX(-5px);
        opacity: 0;
      }
      // Nav Elements
      //
      .nav-side ul {
        li > a .text,
        li > a .label,
        li.heading,
        i.fa-chevron-right {
          transform: translateX(-5px);
          opacity: 0;
        }
        li > a {
          &:hover {
            color: $primary;
            font-weight: $font-reguler;
            font-size:$normal-text;
          }
          &.active {
            font-weight: $font-reguler;
            font-size:$normal-text;
            color: $primary !important;
            i.fa {
              color: $white;
            }
          }
        }
        li.account
        {
          a {
            background: darken($dark,7.5%);
          }
        }

      }
      .avatar {
        .label {
          box-shadow: 0 0 0 2px darken($dark,7.5%);
          transform: translateX(0px);
          opacity: 1;
        }
        .thumbnail {
          background-size: cover;
          border-radius: 50%;
          height: 32px;
          width: 32px;
          background-position: center;
        }
        .noti-star-count
        {
          font-size: 30px;
          line-height: 36px;
        }
      }
    }
    // Sibling Menu
    //
    .nd-sib {
      // Nav Elements
      //
      .nav-side ul {
        li > a.active {
          box-shadow: none;
          color: $primary;
        }
      }
    }
  }
.collapsible-button-container{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin-top: 71px;
  margin-right: -13px;
  .collapsible-button{
    display: block;
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background:$white;
    border: 1px solid $white;
    box-shadow:rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
    transition:all 0.5s ease-in-out;
    text-align: center;
    .collapsible-icon{
      color:$user-dots-hover;
      position:relative;
      font-size:20px;
      top:1px;
    }
  }
}
.collapsible-button-container{
  .collapsible-button:hover{
    background:$theme;
    border: 1px solid $theme;
    box-shadow:none;
    text-decoration: none;
    .collapsible-icon{
      color:$white;
    }
  }
}
  // Header
  //
  .nd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .75rem 0 .66rem;
    height: 60px;

    // Sibling Header
    //
    &.sib {
      background: darken($dark,3%);
      box-shadow: inset -1px -1px 0 0 darken($dark,5%);
      padding: 0 1.35rem;
      z-index: 78;
      position: relative;
      h1 {
        font-family: inherit;
        font-weight: 700;
        font-size: $date-text;
        text-transform: uppercase;
        color: lighten($light-text,10%);
        margin: 0;

      }
    }

    // Logo
    //
    a.logo
    {

      > img
      {
        display: block;
        max-height: 42px;
        position: relative;
        top: 2px;
        left: -20px;
      }
      svg
      {
        width: 115px;
        height: 30px;
        display: block;
      }

      // Strap
      //
      > span {
        float: right;
        display: block;
        width: 125px;
        height: 34px;
        background-image: url(/img/logo.white.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        text-align: left;
        text-indent: -9999px;
        text-decoration: none;
        overflow: hidden;
        transition: all 200ms ease;
      }
    }
    // Control
    //
    a.control {
      width: 14px;
      height: 14px;
     font-size: $heading; ;
      color: lighten($dark,15%);
      transition: all 200ms ease;
      // Hover
      //
      &:hover {
        color: $white;
      }
    }
  }

  // Nav
  //
  .nav-side {
    padding: 0;
    float: none;
    background: transparent;
    // List
    //
    ul.parent {
      display: flex;
      flex-direction: column;
      padding: 0;
      //position: absolute;
      width: 100%;
      bottom: 0px;
      //top: 60px;
      left: 0;
      // Spacer
      //
      ul.subnav {
        padding-left: 16px;
        a {
          &.active {
            background: none;
          }
        }
      }
      li.spacer {
        flex: 1;
        min-height: 10px;
      }
      // Last Item
      //
      li:last-child {
        margin-bottom: 1rem;
      }
      // Spacer
      //
      li.divider {
        width: 100%;
        border-color: darken($dark,3%);
      }
      // Heading
      //
      li.heading {
        color: $color-heading-text;
        font-size:$normal-text;
        font-weight:$font-reguler;
        margin-top: .25rem;
        padding: .5rem .75rem;
        transition: all 200ms ease;
        &:first-child {
          margin-top: 0;
          padding-top:0;
        }
        &.sib {
          padding: .5rem 1.35rem;
        }
      }
      // Links
      //
      >li > a {
        height: 40px;
        width: 100%;
        font-size: $normal-text;
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size:$normal-text;
        font-weight:$font-light;
        // Icons
        //
        > i.fa {
          width: 16px;
          height: 16px;
         font-size: $heading; ;
          margin-right: 1rem;
          line-height: 16px;
          color: lighten($dark,15%);
        }
        // Text
        //
        .text {
          line-height: 20px;
          transition: all 200ms ease;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          overflow: hidden;
          span {
            display: block;
            font-size: $date-text;
            color: lighten($dark,20%);
            margin-bottom: .2rem;
          }
        }
        .label {
          font-size: $normal-text;
          padding: 0 8px;
          margin: 0 0 0 5px;
          min-width: 24px;
          height: 24px;
          text-align: center;
          line-height: 24px;
          transition: all 200ms ease;
        }
        // Chevrons
        //
        > i.fa-chevron-right {
          margin-right: 0;
          margin-left: auto;
          width: 16px;
          height: 16px;
          font-size: 10px;
          color: lighten($dark,15%);
          text-align: right;
          line-height: 16px;
          transition: all 200ms ease;
        }
        // Hover
        //
        &:hover {
          color:$primary;
          font-size:$normal-text;
          width: 100%;
          margin: 0;
          svg{
            fill:$primary;
          }
          > i.fa, .text, .chevron {
            color: inherit;
          }
          > .text span {
            color: lighten($dark,35%);
          }
        }
        // Active
        //
        &.active {
          width: 100%;
          margin: 0;

          border: none;
          transition: all 200ms ease;
          > i.fa {
            color: $white;
            transition: all 200ms ease;
          }
          .text, i {
            color:$primary;
          }
          svg{
            fill:$primary;
          }
        }
      }

      // Account
      //
      li.account {
        // Link
        //
        a {
          height: 70px;
          background: darken($theme,5%);
          padding: 0 1.35rem 0 .75rem;
          > i.fa-chevron-right {
            color: lighten($theme,5%);
          }
        }
        // Avatar
        //

        span.text {
          color: $white;
          span {
            color: lighten($theme,8%);
          }
        }
      }
    }
  }


}
.notification_count_container  .notification-div{
  position: absolute;
  top: 2px;
  right: 0px;
  padding-bottom: 16px;
  background: $primary;
  // commented due to black border
  // box-shadow: 0 0 0 3px $color-heading-text;
  width: 21px;
  height: 21px;
  line-height: 20px;
  border-radius:18px; -webkit-border-radius:18px; -o-border-radius:18px; -ms-border-radius:18px; -moz-border-radius:18px;
  padding: 0 2px;
  z-index: 1;
  font-weight: 400;
  margin-top: 2px;
  margin: 0;
  color: $white;
  margin-right: 5px;
  text-align: center;
  font-size: 10px;
  padding-top:1px;
}
.nav-narrow
{
  width: 56px;
    float: left;
    position: relative;
    z-index: 1;
  .notification_count_container
  {
    position: relative;
    cursor: pointer;
  }
 .avatar {
    position: relative;
    padding: 10px 0;
  .label {
    position: absolute;
    top: -8px;
    left: 32px;
    margin: 0 0 0 -8px;
    background: #cb3837;
    box-shadow: 0 0 0 2px darken($theme,5%);
    padding: 0;
    min-width: 16px;
    width: auto;
    height: 16px;
    line-height: 16px;
    border-radius: 8px;
    padding: 0 4px;
    transition: all 100ms ease;
  }
  .thumbnail {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
    -moz-border-radius: 30px;
    background-size:cover;
  }
}
.dashborard-popup{
  position: relative;

 .noti-star-count
 {
  font-size: 18px;
  line-height: 28px;
  display: block;
  font-weight: 700;
 }
}

}
.svg-cls-1{fill:$color-heading-text;}
.svg-cls-2{fill:$secondary;}
.svg-cls-3{fill:$primary;}

@media all and (max-width:767px)
{
  .dashboard-page #navdraw .nd-header
  {
    display: none;
  }
}
.nav-side li.storage-view-li
{
  color: $color-heading-text;
  padding-left: 25px;
    padding-bottom: 30px;
    margin-left: 17px;
  .storage-icon{
    position: absolute;
    left: 0;
    top:4px;
    font-size: 18px;
  }
}
#navdraw .nav-side ul.parent li .upgrade-storage-text{font-weight: $font-reguler;}
.nav-side li .upgrade-storage-text i{font-size: large;  margin-right: 10px;  vertical-align: middle;}
.showNotification .nd-parent.ps{overflow: visible !important;}
