.tags {
  position: relative;
  clear: both;
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  font-family: inherit;
  font-size:$font-title;
  span.tag {
    color: $light-text;
    display: inline-block;
    margin-right: 11px;
    position: relative;
    &:before {
      content: "•";
      font-size: 18px;
      left: -8px;
      position: absolute;
      color: lighten($light-text,14%);
    }
    &:first-of-type {
      &:before {
        content: "";
        display: none;
        margin: 0;
      }
    }//2e1b57c
  }
}
