// Tabs
// 

.tab-container {
  float: left;
  clear: both;
  position: relative;
  width: 100%;
  margin-bottom: 1.5rem;
  background: #dae1e8;
  // box-shadow: 0 1.5px 3px darken(#ebeef0,10%);

  // Tab nav
  //
  .nav-bar.nav-inline {
    background: #dae1e8;
    display: flex;
    height: 50px;
    ul {
      display: flex;
    }
    // List Items
    li {
      float: left;
      // Links
      a {
        font-weight: 600;
       font-size: $heading; ;
        line-height: 50px;
        color: $theme;
        padding: 0 20px;
        background: $theme;
        border-right: 1px solid darken($theme,3%);
        box-shadow: inset 0 -1px 0 darken($theme,3%);
        color: $white;
        // Hover
        &:hover {
          background: darken($theme,1.5%);
        }
        // Active
        &:active {
          transition: all 0.1s ease-in-out;
          background: darken($theme,3%);
          border-right: 1px solid darken($theme,4.5%);
          box-shadow: inset 0 -1px 0 darken($theme,8%);
        }
      }
      // Active
      &.active {
        a {
          color: lighten($primary,24%);
          background: $white;
          box-shadow: none;
          border-right: none;
          // border-top: 1px solid lighten($primary,70%);
        }
        &:first-child {
          // border-left: 1px solid lighten($primary,70%);
        }
      }
      // Last
      &:last-child {
        a {
          border-right: none;
        }
      }
    }
  }

  // Tab
  // 
  .tab {
    float: left;
    clear: both;
    width: 100%;
    padding: 20px;
    background: $white;
    // border: 1px solid lighten($primary,70%);
    border-top: none;

    p {
      color: lighten($primary,28%);
      line-height: 1.4em;
    }
  }
}