.app-outer {
	align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding: 20px;
     position:relative;
    right: 0;
    top: 0;
}

.app-inner {
    height:184px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.TagCloud-index-container-analytics-loader .app-inner {
  min-height:182px;
}
.tag-cloud {
	flex: 1;
}
.tag-cloud > div {
	transition: 1.4s;
}
.tag-item-wrapper {
	cursor: pointer;
}
.tag-item-wrapper:hover {
	z-index: 100;
}
.tag-item-wrapper:hover .tag-item-tooltip {
	display: block;
}
.tag-item-tooltip {
	background: #c01916;
	color: white;
	margin-top: 5px;
  z-index: 100;
  display: none;
	padding: 15px;
	font-size: 14px;
	line-height: 1;
	position: absolute;
	min-width: 60px;
	left: 50%;
	transform: translateX(-50%);
  text-align: center;
}
.TagCloud-index-container-analytics{
  .filter-analytics{
    left:auto;
    right:0;
    margin-right:0;
  }
  .filter-analytics .inner-filter-analytics:before{
    right: 0;
    margin-right: -1px;
    left:auto;
    margin-top:-12px;
  }
}
@media screen and (min-width:768px) {
  .filter-analytics{
    left:auto;
    right:0;
    margin-right:0;
  }
  .filter-analytics .inner-filter-analytics:before{
    right: 0;
    margin-right: -1px;
    left:auto;
    margin-top:-12px;
  }
}