
.rightSidebar li .rss-link,.rightSidebar li .rss-link:hover{
  color:$primary !important;
}
.no-trending-tag{
    margin: 70px auto;
    text-align: center;
    color:$default-text !important;
}
.no-post-wrapper{
    width:740px !important;
    margin:0 auto;
    max-width:none!important;
    float:none !important;
}
.trending-xl-container{
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: 90px;
    left: 50%;
    margin-left: 353px;
    width: 245px;
}
.live-feeds .trending-xl-container{
    margin-top:77px;
}
.feed-asset-page .trending-xl-container
{
    left: auto;
    right: 30px;
    margin-top: 104px;
}
.hide{
     display: none !important;
}
.trending-parent{
    max-width:975px;
    margin:0 auto;
}
.feed-asset-page.trending-parent{
    max-width:none;
    padding-right:275px;
}
@media all and (max-width:1260px)
{
    .feed-asset-page.trending-parent{
        padding-right:0;
    }
}

.feed .feed-asset-page.trending-parent .render-post-feed{
    width:auto;
    float: none;
}
.trending-tag-container{
     .inner-trending-tag{
         padding:15px;
         background-color: $white;
     }
     .trending-header{
         padding:10px 0;
         position: relative;
         h2{
              font-size:13px;
              color:$color-heading-text;
              font-weight:400;
              padding-left:2px;
              margin-bottom: 0;
         }
     }
     .trending-header:before{
         content: "";
         position: absolute;

         bottom: 0;
         right:0;
         height:2px;
         left:0;
         background-color: $border-in-page;

     }
     .tranding-body{
        padding-top:15px;
         .inner-trending-body{
             p{
                  color:$primary;
                  font-size: $normal-text;
                  font-weight:$font-light;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  padding:0;
                  margin:0;
                  a{
                    color:$primary;
                    padding:3px 10px;
                    width: 100%;
                    font-size: $normal-text;
                    font-weight:$font-light;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    span{
                        color:$default-text;
                        display: block;
                        font-size: 10px;
                        font-weight:$font-light;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        height: 20px;
                    }
                  }
                  a:hover{
                     background:$row_hover_color;
                     text-decoration: none;
                  }
              }


         }
     }
     .trending-input-box{
          border-top:3px solid $light;
          .form-row{
              margin-bottom: 0;
          }
        input{
             padding-left:25px;
        }
     }
}
.sidenav .trending-tag-container .inner-trending-tag{height:auto; max-height: none;}
.responsive-trending{
    display: none;
}
.trending-button-container{

    display: none;
}



@media screen and (max-width:1260px) {

    .overlay_responsive_trending{
         overflow: hidden !important;
         overflow-x: hidden;
         overflow-y: hidden;
         .feed-asset-popup, .main-container,#navdraw{
            filter: blur(2px);
        }
    }

    .overlay_responsive_trending:after{
        background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
        bottom: 0;
        content: "";
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 99;

    }

    .trending-tag-feed-responsive{
         display: none;
    }
    .render-post-feed{
        width:100% !important;
    }
    .trending-header:before{
         width:100% !important;
    }
    .trending-input-box{
        border-top:none !important;
    }
    .trending-xl-container{
        display: none;

    }
    .responsive-trending{
        display: block;
        }
    .trending-button-container{
        display: block;
       .trending-header{
        padding:15px;
       }
        .inner-trending-tag{padding:0;}

        .sidenav {
            width: 245px;
            z-index: 999;
            top: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;
            background-color: $white;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 0;
            position:fixed;
        }

        .sidenav a {

            text-decoration: none;

            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color:$theme;
        } 
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right:8px;
            font-size: 36px;
            margin-left: 50px;
            color:$theme;
        }
    }

}
@media all and (max-width:767px)
{
    .trending-button-container .sidenav{
        width:100%;
    }
}


