.clearfix {
    @include clearfix;
}

.left {
    float: left; //margin-left:24px;
    @include bp(xs) {
        font-size: $date-text;
    }
}

.right {
    float: right;
    a {
        //margin-right:24px;
        color: $theme;
    }
    @include bp(xs) {
       font-size: $heading; ;
    }
}

.center {
    text-align: center;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.hidden {
    display: none !important;
}