//genral css for tour
.tabing-tour-part-container .tour-tab.completed-tab:before{
    border:1px solid $theme !important;
    z-index:1;
}
.main-container-web-tour{
    padding-bottom: 100px;
    .inner-main-container-web-tour{
        max-width:1160px;
        margin:0 auto;
        padding:20px 15px;
    }
    .tour-tab.active{
       .final-index-container{
            color:$theme;
            border:2px solid $theme;
        }
        p{
            color:$theme; 
        }
    }
    .general-small-font{
        font-weight: 400;
        font-size: 16px;
        color:$default-text;
    }
    .general-content-body-font{
        font-size:14px;
        color:$color-heading-text;
        font-weight:400;
    }
    .general-content-bold-font{
       font-weight:600;
    }
    .header-block-font{
        padding:4px 0 0 35px; //disha
        font-size:20px;
        color:$color-heading-text;
        font-weight:300;
    }
    .header-block-bold-font{
        font-weight: 700;
        font-size:21px;
        color:$color-heading-text;
    }
    .content-title-header{
        font-size:18px;
        font-weight: 500;
        color:$color-heading-text;
        position: relative;
        span{
            display: inline-block;
            width: 30px;
            position: relative;
            top:2px;
           img{
               width:100%;
               height:auto;
           }
        }
    }
    .link-font{
        font-weight: 600;
        color: $theme;
        text-decoration: underline;
        text-transform: uppercase;
         font-size:16px;
        line-height: 22px;
    }
    .right-button-tour{
        float:right;
    }
    .footer-part-of-content-tour{
        text-align: center;
        right: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 43px;
        
         .video-footer-tour {
             font-size:14px;
             font-weight: 600;
             text-decoration: underline;
             i{
                position: relative;
                top: 8px;
                font-size:26px;
                left: 3px;
             }
         }
         .video-footer-tour:hover {
          color:$primary;
          i{
              color:$primary;
          }
         }
    }
    .left-button-tour{
        float:left;
    }
    .title-main-content-tour{
        border-bottom:2px solid $border-color;
    }
    
}
//header part
.logout-for-skip-tour{
    float: right;  
    a{
        font-size: 18px;
    line-height: 56px;
    height: 58px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 0 26px;
    display: block;
        
        i{
            vertical-align:-5px;
            position: relative;
        }
    }
   
}
@media screen and (max-width:767px) {
    .logout-for-skip-tour{
       a{ 
            background: transparent !important ;
            i{
                color:$primary;
                top: -5px;
                margin-right: -28px;
                font-size: 30px;
            }
        }
        .logout-text-for-tour{
            display: none;
            
        }
    }
}
.main-body-tour-container{
    padding:0 20px;
}
.main-container-web-tour{
    background: $white;
    min-height: calc(100vh);
   .container-logo{
    width: 150px;
    height: 55px;
    float: left;
       img{
            width:100%;
            height:auto;
            object-fit: cover;
       }
   }
   .tourMainTitle{float: left;}
}

//bodypart
//header-block-tour 
.main-container-web-tour{
  .header-block-tour{
      width:670px;
      max-width:100%;
      margin:0 auto 12px;
      position: relative;
  }
  
    .skiptour{
        float: right;
        margin-right: 20px;
        margin-top: 3px;
        i{vertical-align: -11px;
            margin-left: -2px;
            font-size: 30px;
            position: relative;
            top: -2px;}
  }
}
//tabing part
.tabing-tour-part-container{
     padding:50px 0 40px; 
     .tour-tab{
         float:left;
         width:20%;
     }
    .tour-tab .final-index-container{
         width:38px;
         height:38px;
         border-radius: 24px;
         color:$signup-tabing;
         font-size:20px;
         font-weight: 400;
         border:2px solid  $signup-tabing;
         display: inline-block;
         text-align: center;
        line-height: 36px;
         z-index:1;
         position: relative;
         background:$white;
    }
    .inner-content-block-tour{
        text-align: center;

    }
   .tour-tab  p{
        color:$signup-tabing;
        font-size: 14px;
        font-weight: 600 !important;
        text-align: center;
        width: 98px;
        margin: 0 auto;
        max-width: 100%;
        margin-top:10px;

   }
   .tabing-inner-container{
    width: 1042px;
    max-width:100%;
    margin: 0 auto;
   }
   .tour-tab{
       position: relative;
   }
   .tour-tab:before{
    content: '';
    position: absolute;
    top: 18px;
    right: 0;
    height: 2px;
    border: 1px solid $signup-tabing;
    width: 100%;
    left:50%;

}
 .completed-tab .final-index-tab{
  display: none;
 }
 .final-index-icon{
     display: none; 
 } 
.completed-tab  {
   .final-index-container{
     background: $theme;
     border:2px solid $theme;
     }
     p{
          color:$theme;
     }
  .final-index-icon{
      color:$white;
      display: block;
      position: relative;
      top:4px;
      i{
        font-weight: 700;
      }
  }
}

.tour-tab:last-child:before{
  right:50%;
  top:50%;
  content: '';
  border:1px solid $signup-tabing;
  height:2px;
  width:auto;
  opacity: 0;
} 
 
}
@media screen and (max-width:767px) {
    .main-container-web-tour .container-logo{
        margin:0 auto;
    }
}

//content-css
.main-container-of-tour-of-silder{
    width:1020px ;
    max-width:100%;
    margin:5px auto;
    box-shadow:5px 15px 31px 11px #f1efef;
    position: relative;
    .main-container-of-tour-of-silder-inner{
        min-height: 300px;
    }
    
    .slick-track:before ,.slick-track:after {
        content: " ";
        clear:both
    }
    .slick-track{
         display: flex;
    }
    .slick-prev ,.slick-next{
        display: none !important;
    }
    .slick-slide {
        position: relative;
        height:auto;
        padding:30px 30px 113px;
    }
}
.content-container-tour{
    .title-tour{
       float:left;
    }
    .step-content{
        float:right;
    }
    .text-tour-content{
       order: 1;
    }
    .giphy-tour-content{
      order: 2;
    }
    .block-part-content-tour {
        padding:30px 0 0;
        display: flex;
    }
   
    .col-5{
        float:right;
        width:50%;
        position: relative;
        &:first-child{padding-right:10px;}
        &:last-child{padding-right:10px;}
    }
    .giphy-container{
        position: relative;
        max-width:499px;
        justify-content: center;
        height:auto;
        text-align: center;
        img{
            max-width: 100%;
            height: auto;
        }
        &.mobile-giphy{
            img{
                max-height: calc(100vh - 400px);
                height: 400px;
            }
        }
        span{
            color:$white;
            position: absolute;
            top:50%;
            left:50%;
            font-size:24px;
            font-weight: 400;
            margin-top:-17px;
            margin-left:-22px;
            
        }
    }
}
.header-small-text-block-forstep1{
    padding-right:120px;
    
}
.download-block-part-tour{
    .playstoreimg{
       position: absolute;
       bottom: 0;
       left: 0;
       margin-left: -11px;
      }

    .google-store-img-part{
        height:60px; 
        width:120px;
        float:left;
        img{
            width:100%;
            height:auto;
            object-fit: cover;
        }
    }
}

@media screen and (max-width:920px) and (min-width:768px){
.main-container-web-tour{
    .header-block-tour{
        .header-block-font{
            font-size:19px;
         }
        .header-block-bold-font{
            font-size:20px;
        }
    }
    .header-small-text-block-forstep1{
      font-size:16px;
    }
    .skiptour .link-font{
       font-size:16px;
    }
    .google-store-img-part{
        width:150px;
    }
    .download-block-part-tour .playstoreimg{
        margin-top:112px;
    }
     
    .tabing-tour-part-container{
        .tour-tab span{
            width:36px;
            height:36px;
            line-height: 34px;
        }
        }
  }

}
.responsive-header-tour{
    display: none;
}
.button-tour{
    font-weight: 500 !important ;
    font-size: 18px !important ;
    padding: 0 20px !important ;

}
@media screen and (max-width:767px){
    .main-body-tour-container{
    padding:0; 
}
.main-container-of-tour-of-silder{
    box-shadow: none;
    .slick-slide{padding:0 0 93px 0;}
}
.main-container-web-tour{ 
    padding-bottom: 0;
    .skiptour{float: none; text-align: center; margin-right: 0;}
}

    .main-container-web-tour{
        
        .footer-part-of-content-tour{

            span{
              display: block;
              margin-bottom: 17px;
            }
        }
        .text-tour-content{
            order: 2;
         }
         .giphy-tour-content{
           order: 1;
         }
         .download-block-part-tour .playstoreimg{
             position: relative;
         }
         .block-part-content-tour{
             flex-direction: row;
             flex-wrap: wrap;
         }
        .step-content{
            float:none;
            width:100%;
            text-align: center;
        }
        .heading-tour{
            float:none;
            width:100%;
            text-align: center;
        }

        .skiptour .link-font{
            font-size:14px;
         }
        .responsive-header-tour{
            display: block;
         }
        .tabing-tour-part-container{
            display: none;
        }
        .content-container-tour{
           box-shadow: none;
        }
        .col-5{
            float:none !important;
            width:100% !important;
            padding-right:0;
        }
        .congretulation-msg{
            text-align: center;
        }
        .block-part-content-tour{
            height:auto;
          }
          .small-text-container-in-header-block{
              .skiptour{
                  top:0;
                  bottom: auto;
              }
          }
          .giphy-container{
              margin:0 auto;
          }
          .header-block-font{
              font-size:14px;
              padding-left: 0;
              text-align: center;
          }
          .general-small-font{
            font-size:13px;
          }
          .header-block-bold-font{
              font-size:14px;
          }
          .content-title-header{
              font-size:15px;
          }
          .ul-container{
              margin-top:20px;
          }
          .download-block-part-tour .playstoreimg{
              margin-top:20px;
              margin-left: 0;
          }
          .download-block-part-tour .google-store-img-part{
              width:130px;
          }
    }
    .content-title-header{
        span{
            width: 21px !important;
            // margin-top: -3px !important;
            // margin-left: 0 !important;
            // margin-right:330px; 
        }
  
}
}
//step2 css
.uploaded-assets-text-icon{
    i{
        position: relative;
        top:5px;
        font-size:20px;
    }
    &.restartNote{
        padding-top: 19px;
        i{
            position: relative;
            top:5px;
            font-size:20px;
        }
    }
}
//step5
.congretulation-msg{
    font-size: 14px;
    color:$primary;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 0;
}
.logout-btn-onboading{
    border-radius: 2px !important;
    -webkit-border-radius:2px !important;;
}

.button-container-of-tour{
  position: relative;
 }  
.button-container-of-tour{
    .button-tour{
      position: absolute;
      bottom: 20px;
      font-size: 18px;
    line-height: 56px;
    height: 58px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 0 26px;
    }
    .left-button-tour{
      left:0;
      margin-left:25px;

    }
    .right-button-tour{
         right:0;
         margin-right:25px;
     }
}
@media screen and (max-width:1300px){
    .tabing-tour-part-container{padding:0 0 10px 0; }
}

@media screen and (max-width:767px){
    .footer-part-of-content-tour{
        margin-bottom: 71px !important;
     }
     .main-container-web-tour .footer-part-of-content-tour .video-footer-tour{
         font-size:12px;
     }
     .main-container-web-tour .footer-part-of-content-tour .video-footer-tour i{
         font-size:22px;
     }
     .inner-main-container-web-tour{padding-bottom: 0;}
     .main-container-web-tour .tourMainTitle{float: none;}
}
