/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* .clearfix {
    overflow: auto;
  } */

.pdf-background img{
    width: 100%;
    display: block;
}
.pdf-background{
    text-align:center;
}
.pdf-content-heading h2{
    color: #1c1c1c;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 300px;
    text-align: center;
}
.container{
    max-width: 703px;
    padding: 0 20px;
    margin: 0 auto;
}
.content-paragraph p{
    color: #1c1c1c;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-top: 80px;
}
sup {
    vertical-align: super;
  font-size: smaller;
  }
  .numan-sec{
      float: left;
  }
  .numan-right-sec{
      float: right;
  }
  .footer-wrapper{
      margin-top: 20px;
  }
  .footer-wrapper p, .footer-wrapper span, .pdf-inner-content p, .magazine-content p{
    color: #1c1c1c;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
  }
  .issues-content p{
    color: #1c1c1c;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: justify; 
  }
  .issues-wrapper li{
    color: #1c1c1c;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: justify; 
    padding-left: 20px;
  }
  .sixth-pdf-page .issues-wrapper li{
      list-style-type: decimal;
  }
  .issues-wrapper{
    padding-left: 16px;
    margin-top: 60px;
  }
  .pdf-content, .magazine-images-content-wrapper, .sixth-pdf-page {
    page-break-before: always;
  }
  .left-content{
      float: left;
      width: 48%;
      padding-right: 20px;
  }
  .right-content{
      float: right;
      width: 48%;
      position: relative;
  }
  .pdf-heading h3, .issues-wrapper h3, .magazine-content h3{
    color: #1c1c1c;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 300px;
    margin-bottom: 90px;
  }
  .magazine-content h3{
      margin-top: 40px;
      margin-bottom: 20px;
  }
  
  .issues-wrapper h3{
      margin-top: 20px;
      text-align: left;
  }

  .magazine-image img{
      width: 100%;
  }
.magazine-content p:first-child{
    margin-top: 60px;
}
.magazine-stick-img{
    text-align: center;
}
.magazine-stick-img img{
    width: 100%;
}
.quisque-content h3{
    margin-top:50px;
}
.magazine-image, .magazine-image2{
    position: relative;
    margin-top: 40px;
}
.magazine-image:before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.stick-heading h3{
    margin-top: 80px;
    margin-bottom: 0px;
    text-align: left;
}
.pdf-content-align{
    text-align: right;
}
.fourth-pdf-page img, .fifth-pdf-page img{
    margin-top: 50px;
}
.fifth-sec-magazine-content{
    margin-top: 95px;
}
.quisque-content{
    margin-top: 20px;
}
.sixth-pdf-page img{
    margin-top: 20px;
}
.issues-content{
    margin-top: 150px;
}
.issues-wrapper-content{
    text-align: center;
}
.sixth-pdf-page .pdf-background img{
    max-width: 450px;
}
.sixth-pdf-page .pdf-background img:first-child{
    margin-top: 40px;
}
.frontPageImageContent .pdf-content h2{
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 53px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-transform: uppercase;
    letter-spacing: 11px;
}
.last-page-pdf-content h2{
    color: #fff;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    line-height: 53px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    padding-top: 65px;
}
.frontPageImageContent{
    position: relative;
}
.bottom-text span{
    position: absolute;
    bottom: 0;
    font-size: 21px;
    color: #fff;
    font-weight: 400;
    padding-bottom: 55px;
    font-family: 'Montserrat', sans-serif;
    left: 0;
    right: 0;
}
.bottom-text{
    text-align: center;
}
.visibly-logo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 55px;
    padding-left: 55px;
}
.visibly-logo img{
    width: 200px;
  
}
.lastPageContent .visibly-logo{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    padding-top: 0px;
    padding-left: 0px;
    right: auto;
}
