.initial-loading {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 80;
 background: #fff;
}


.visibly-splash img {
  display: block;
  max-width: 100%;
  height: auto;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
}
.visibly-splash .visibly-splash-loader{
  position: fixed;
  left: 50%;
  top: 50%;
  width: 93px;
  margin-left: -46px;
  margin-top:-46px;
}
.visibly-splash-wrapper{
  position: absolute;
  left: 10px;
  right:10px;
  top: 50%;
  margin-top: -55px;
}

.visibly-splash svg{
  width: 200px;
  display: block;
  margin:0 auto;
  opacity: 0;
  -webkit-animation: showlogo 3.5s 1 ease 2s forwards; 
 animation: showlogo 3.5s 1 ease 2s forwards;
}
@-webkit-keyframes showlogo {
    0%{opacity: 0;}
    10%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes showlogo {
    0%{opacity: 0;}
    10%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}

.visibly-splash {
  margin:0 auto 30px;
  max-width: 200px;
  position: relative;
}

.visibly-splash .visibly-splash-loader{ 
  opacity: 0;
}



.quote-wrapper{
  position: relative;
  text-align: center;
}
.quote{
  display: none;
  font-size:24px;
  line-height: 30px; 
}
.quote.show{
  display: block;
}
.visibly-splash .cls-1 {
    fill: #000;
}

.cls-2{
  fill: #ffbf00;
}

.cls-3 {
  fill: #ff595e;
  }

  .visibly-splash .visibly-splash-loader, .visibly-splash .cls-2, .visibly-splash .cls-3 { 
  -webkit-animation: showloader 0.1s ease 6s forwards;
-moz-animation: showloader 0.1s ease 4s forwards;
 -o-animation: showloader 0.1s ease 4s forwards;
    animation: showloader 0.1s ease 6s forwards;
}

.cls-2,  .cls-3{-webkit-animation-name: hideShape;
-moz-animation-name: hideShape;
 -o-animation-name: hideShape;
    animation-name: hideShape;}
  
@-webkit-keyframes showloader {
0%{opacity: 0;}
100%{opacity: 1;}
}
@keyframes showloader {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-webkit-keyframes hideShape {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes hideShape {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
