.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.mainContainer {
    height: auto;
    width: 360px;
    padding-top: 5px;
}

#cn {
    text-align: right;
    padding-right: 10px;
}

.innercontainer {
    width: 100%;
    border: 1 px solid blue;
   
}

#banner {
    height: auto;
    width: auto;
    width: 30%;
    float: left;
    /*padding-left: 8px;*/
}

#banner img {
    height: 90px;
    width: 150px;
}

#text-header {
    font-family: Montserrat;
    height: auto;
    width: 55%;
    float: right;
    margin: 0;
    padding: 0;
    font-size: 9pt;
    border: 1px solid #eeeded;
    border-radius: 4px;
    min-height: 90px;
}

#text {
    background-color: #f9f7f7;
    /*width: 176px;
    word-break: break-all;*/
    padding: 3px;
    line-height: 1.2;
    border-radius: 4px;
    padding-bottom: 5px;
}

#footer {
    text-align: center;
    margin-top: -4px;
    padding: 5px;
}

#footer_textheader {
    text-align: center;

}

.logo {
    list-style-type: none;
    float: left;
    margin: 0;
    padding-left: 12px;
}