@media screen and (max-width: 767px) {
    .esc {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto
    }
    .esc:after {
        content: " ";
        display: block;
        clear: both
    }
}

@media screen and (min-width: 768px) {
    .esc {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto
    }
    .esc:after {
        content: " ";
        display: block;
        clear: both
    }
}

@media screen and (min-width: 970px) {
    .esc {
        max-width: 970px;
        margin-left: auto;
        margin-right: auto
    }
    .esc:after {
        content: " ";
        display: block;
        clear: both
    }
}

@media screen and (min-width: 1200px) {
    .esc {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto
    }
    .esc:after {
        content: " ";
        display: block;
        clear: both
    }
}
#social {
    float: left;
    clear: both;
    width: 100%;
    
}

#social .socialwrap {
    float: left;
    clear: both;
    width: 100%
}

#social .socialwrap .item {
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    background: #0e58a3;
    color: #fff;
    text-align: center;
    border-right: 1px solid #1c2025;
    border-bottom: 1px solid #1c2025;
    width: 50%;
    float: left;
    min-height:240px;

}

#social .socialwrap .item:nth-child(2n+2) {
    border-right: none
}

@media screen and (min-width: 970px) {
    #social .socialwrap .item {
        width: 24.9%;
        float: left
    }
    #social .socialwrap .item:nth-child(2n+2) {
        border-right: 1px solid #1c2025
    }
    #social .socialwrap .item:nth-child(4n+4) {
        border-right: none
    }
}

#social .socialwrap .item a {
    display: block;
    padding: 1.5rem 1rem
}

@media screen and (min-width: 768px) {
    #social .socialwrap .item a {
        padding: 2.5rem 2rem;
        text-decoration: none;
    }
}

#social .socialwrap .item a:hover {
    text-decoration: none
}

#social .socialwrap .item .fa {
    font-size: 32px;
    margin-bottom: 1rem
}

#social .socialwrap .item p {
    font-family: "Roboto", sans-serf;
    font-weight: $font-reguler;
    color: #fff;
    font-size: 14px
}

@media screen and (min-width: 768px) {
    #social .socialwrap .item p {
        font-size: 16px
    }
}

#social .socialwrap .item .author b {
    color: white
}

#social .socialwrap .item.facebook {
    background: #3a5795
}

#social .socialwrap .item .author{
    display: inline-block;
    min-height: 16px;
}

#social .socialwrap .item.facebook .fa {
    color: #4a6db8
}

#social .socialwrap .item.facebook .author {
    color: #5c7cc0
}

#social .socialwrap .item.twitter {
    background: #489aed
}

#social .socialwrap .item.twitter .fa {
    color: #76b4f2
}

#social .socialwrap .item.twitter .author {
    color: #8ec0f4
}

#social .socialwrap .item.linkedin {
    background: #005a99
}

#social .socialwrap .item.linkedin .fa {
    color: #0078cc
}

#social .socialwrap .item.linkedin .author {
    color: #0087e6
}

#socialbar {
    float: left;
    clear: both;
    width: 100%;
    padding: 30px 0;
    background: #1a1e22;
    text-align: center
}

#socialbar a {
    display: inline-block;
    width: 52px;
    height: 52px;
    margin: 0 1px;
    text-decoration: none;
    background: #15191c;
    line-height: 52px;
    font-size: 16px;
    color: #363f48;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

#socialbar a i {
    line-height: inherit
}

#socialbar a:hover {
    background: #171b1f;
    color: #4c5865
}