#analytics-Main-container{
    .header-right{
        left: 57px;
        @media screen and (max-width:767px){
            left:0px;
        }
    }
    #content{
        padding:0 0 0 56px;
    }
    #navdraw{
        z-index:1;
        width:0;
    }
}
.dropdownMenuContainer  td{
    position: relative;
    @media all and (min-width:980px){
        z-index:13;
    }
}
.main-wrppaer-analytics{padding:30px;}
//chart part
.row-container-of-the-chart-analytics{
    display: flex;
    .adoption-chart{
        padding-right:7px; 
    }
    .total-post-chart{
        padding-left:7px;
    }
   .adoption-chart , .total-post-chart{
      float:left;
      width:50%;
   }
   .inner-adoption-chart, .inner-total-post-chart{
         height:100%;
         position: relative;
         box-shadow:0px 3px 6px 3px rgba(139, 157, 175, 0.1);
         .header-analytics-wrapper {
            padding:30px;
         }
         .data-part-analytics,.chart-container{
            padding:0 30px;
         }
   }
   .inner-adoption-chart .chart-container{padding:0 20px 0 0;}
}
.header-analytics-wrapper{
    @include comman-header-for-analytics;
}
//data-part
.data-part-analytics{
    margin-bottom: 80px;
    .data-adoption{
        float:left;
        width:60%;
    }
    .big-no-total-user{
        float:left;
        width:40%;
        @include analyticsContentTitle;
        .big-no-adoption{
            @include analyticsLargeNo;
            text-shadow: 3px 5px rgba(239, 239, 239, 0.9);
        }
    }
}
.data-adoption ,.dashboard-analytics-level1-container .recharts-legend-wrapper , .overtime-social-chart .recharts-legend-wrapper ,.culture-analytics-exapnd .recharts-legend-wrapper , #culture-dashboard .recharts-legend-wrapper ,#dashboard .culture-dashboard-design-wrapper .recharts-legend-wrapper, .social-graph-wrapper .engagementChartWrapperContainer .recharts-legend-wrapper{
    cursor: pointer;
    z-index:0;
    ul {
        line-height:16px;
        li{
            list-style: none;
            margin-bottom: 10px;
            position: relative;
            line-height:inherit;
            padding-left: 32px;
            line-height: 20px;
            padding-right:65px;
            .title-active-user{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
            }
            span{
                line-height:inherit;
                display: inline-block;
            }
            .text-no{
               font-size:$heading;
               font-weight:$font-semibold;
               color:$color-heading-text;
               line-height:inherit;
               position: absolute;
               right:35px;
               top:0;
            }
            li .text-no{
               top:0px;
               right:10px;
               display: block;
            }
        }
        .rounder-dot{
            top:8px;
            height: 9px;
            width: 9px;
            border-radius: 9px;
            position: absolute;
            left: 11px;
            @media all and (min-width:1500px){
               
                height: 10px;
                width: 10px;
            }
        }
       
    }
}
.chart-workplace-wrapper .culture-analytics-exapnd .recharts-legend-wrapper{
    margin-top:0 !important;
}
.dashboard-analytics-level1-container .chart-container{
    .recharts-legend-wrapper{
        height:0 !important;
    }
}
@media screen and (min-width:768px){
    .dashboard-analytics-level1-container  .chart-container{
        .recharts-legend-wrapper{
            top: -100px !important;
            left: 176px !important;
            right:0;
        }
    }
    .dashboard-analytics-level1-container  .adoption-chart {
        .recharts-legend-wrapper{
            height:0 !important;
            top:-100px !important;
            left:162px !important; 
            right:0;
       }
    }
    
}
@media screen and (min-width:1015px) and (max-width:1200){
    .dashboard-analytics-level1-container  .adoption-chart .recharts-legend-wrapper{
        left:176px !important;
    }
}
#analytics-Main-container .total-post-chart .chart-container .recharts-tooltip-wrapper, #analytics-Main-container .adoption-chart .chart-container .recharts-tooltip-wrapper{
    margin: 0px;
   
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 8px #dedede;
    white-space: nowrap;
}

#analytics-Main-container .no-image-chart{
      position:relative;
      top:14px;  
  
}
.recharts-default-tooltip p{
    line-height: 18px !important;
}
.custom-tooltip,.recharts-default-tooltip{
    p ,ul li{
        font-size:$heading;
        font-weight:$font-light;
        padding-top:10 !important ;
        padding-bottom: 10 !important ;
        color:$color-heading-text;
        padding: 10px;
        margin: 0;
    }
}
@media screen and (max-width:1023px){
    .row-container-of-the-chart-analytics{
        .adoption-chart ,.total-post-chart{
         padding:0
       }
    }
  #analytics-Main-container  .main-wrppaer-analytics  .Total-Social-engagement{
        margin-bottom: 20px;
    }
    .main-wrppaer-analytics  .chart-container-in-analytics-wrapper{
        margin-bottom:0;
     }
    .row-container-of-the-chart-analytics{
        display:block;
       .adoption-chart ,.total-post-chart{
          float:none;
          width:100%;
          margin-bottom: 50px;
       }
    }
   .last-block-engagement-analytics  .inner-last-block-engagment  .TagCloud-index-container-analytics{
       margin-bottom: 0;
    }
    .last-block-engagement-analytics .inner-last-block-engagment{
        margin:0;
        .assets-index-container-analytics,.qulity-index-container-analytics{
            margin-bottom: 10px;
            padding:10px;
        }
    } 
}
.chart-container-in-analytics-wrapper  .recharts-legend-wrapper{
    ul{
        max-width:263px;
        margin:0 auto;
    }
}
@media screen and (max-width:767px){
   
    #analytics-Main-container #content{
        padding:40px 0 0 1px;
    }
    .data-part-analytics  .big-no-total-user{
        float:none;
        width:100%;
        margin-bottom:20px;
        text-align: center;
      
    }
    .data-part-analytics .data-adoption{
        float:none;
        width:100%;
    }
    .total-post-chart .big-no-adoption{
        margin-bottom: 70px;
    }
   .recharts-wrapper{
     max-width:100%;
   }
 .total-post-chart, .adoption-chart{
    .chart-container   .recharts-legend-wrapper{
        top: -75px !important;
    }
    .last-block-engagement-analytics .inner-last-block-engagment{
       margin:0;
    } 
 }   

.chart-container-in-analytics-wrapper .recharts-legend-wrapper{
    left: 50% !important;
    right: 0;
    margin-left: -177px;

  } 
}
.Total-Social-engagement{
    box-shadow:0px 3px 6px 3px rgba(139, 157, 175, 0.1);
    margin-bottom:42px;
    position: relative;
}
#analytics-Main-container  .chart-container-in-analytics-wrapper .recentasset-wrapper, .total-post-chart{
    .recharts-wrapper{
        max-width:100%;
        margin:0 auto;
    }
}
//asset quilty engjment
.last-block-engagement-analytics{
  .inner-last-block-engagment{
       margin:0 -10px;
  }
  .assets-index-container-analytics ,.qulity-index-container-analytics ,.TagCloud-index-container-analytics{
    float:left;
    width:33.3%;
    padding:10px;
    margin-bottom:42px;
  }
  .filter-weekey-container{
      margin-right:0;
  }
  .inner-assets-index-container-analytics,.inner-qulity-index-container-analytics ,.inner-TagCloud-index-container-analytics{
    box-shadow:0px 3px 6px 3px rgba(139, 157, 175, 0.1);
      border:1px solid $analytics-border;
    }
  .header-analytics-wrapper{
      padding:0 30px;
  }
  .header-loader-wrapper-analytics{
      padding:30px;
      padding-bottom:0;
  }
}
.asset-analytics-body-wrapper{
    .block-part-analytics{
        position: relative;
        padding:20px 30px;
        border-bottom: 1px solid $analytics-border;
    }

    .social-engagement-data{
        float: left;
        width: 60%;
        position: relative;
        .rank-title{
            @include analyticsContentTitle
        }
        .rank-no{
           @include analyticsOtherNo;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .small-chart{
        position: relative;
        span{
            @include analyticsSideSmallNo;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -20px;
        }
    }
}
.header-analytics-wrapper .title .material-icons, .help-element .material-icons{
    cursor: pointer;
}
.total-post-chart .recharts-wrapper{
z-index: 0;
}
//qulity
.quality-analytics-body-wrapper{
    .block-part-analytics{
        .social-engagement-data{
            .rank-title{
                display: inline-block;
            }
            .rank-no{
                display: inline-block;
                position: relative;
                top: 7px;
                left: 10px;
                width: 65px;

            }
        }
    }
}
.Tag-anaylicts-body-wrapper{
    position:relative;

}
@media screen and (max-width:1023px){
   .chart-container-in-analytics-wrapper  .filter-weekey-container{
       margin-bottom: 10px;
    }
    .asset-analytics-body-wrapper .block-part-analytics{
        padding:20px 10px;
    }
    .last-block-engagement-analytics{
        .inner-last-block-engagment{
             margin:0 -10px;
             .assets-index-container-analytics ,.qulity-index-container-analytics ,.TagCloud-index-container-analytics{
                 padding:0;
             }
        }
      
    }
}
@media screen and (max-width:767px){
    .last-block-engagement-analytics{
        .inner-last-block-engagment{
            margin:0;
        }
      
    }
}
.inner-Total-Social-engagement{
    .inner-social-part1{
       float:left;
       width:67%
    }
    .inner-social-part2{
        float:left;
        width:33%;
    }
    .header-anayltics{
        .header-analytics-wrapper{
            margin-bottom:0;
            padding:0 30px;
            position: relative;
        }
    }
    .int-engagement{
        @include analyticsTitle;
        float:left;
        i{
            font-size:$button-text;
            top: 5px;
            position: relative;
        }
    }
    .filter-weekey-container{
     margin-right:17px;
    }
  
}
.Total-Social-engagement-body .block-part1,.block-part2{
    float:left;
    width:50%;
}
.anyalitcs-tabuler-data table tr td{
    padding:20px 0;
}
//for this loader
.anaytlics-tabuler-loader table tr td{
    padding:32px 0; 
}
//End loader css
.anyalitcs-tabuler-data{
    
     table {
         width:100%;
         tr{
              border-bottom: 1px solid $analytics-border;
              td{
                  .rank-title{
                    @include analyticsContentTitle
                  }
                .rank-no{
                   @include analyticsOtherNo;
                    width: 81px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .coun-diff{
                    text-align:right;
                    display: inline-block;
                    margin-left:3px;
                    position: relative;
                    top:-10px;
                    @include analyticsSideSmallNo;
                }
                .rank-icon{
                    text-align:right;
                    display: inline-block;
                    margin-left:3px;
                    position: relative;
                    top: 2px;
                    min-height:1px;
                   width: 8px;
                    @include analyticsSideSmallNo;
                }
                .rank-count-no{
                    text-align:right;
                    display: inline-block;
                    margin-left:3px;
                    position: relative;
                    top: 2px;
                   
                    @include analyticsSideSmallNo;
                }
            
            .small-chart{
                position: relative;
                display: inline-block;
                width: 71px;
                min-height: 30px;
                margin-left:auto;
                img{
                    width:100%;
                    height:100%;

                }
             
            }
        }
       .rank-title-td,.rank-td-container{
            padding-left:30px ;
            @include bp(xs){
                padding-left:20px ;
            }
        }
        .chart-td,.chart-container{
            padding-right:30px ;
            @include bp(xs){
                padding-right:20px;
            }
        }
        .rank-title-td,.rank-no-td{
          width:30%;
        }
        .rank-no-td{
            text-align: center;
        }
      .chart-td{
          width:40%;
          text-align:left;
           }
         }
     }
     .rank-data-container{
        width: 135px;
        margin-left: auto;
      }
      tr:last-child {
        border-bottom: none;
      }
}

.quality-analytics-body-wrapper.anyalitcs-tabuler-data{
    table {
      
        tr{
            .rank-td-container{
               width:60%;
            }
            .small-chart{
                display: inline-block;
            }
            .chart-container{
                width:40%;
                position: relative;
                text-align:left;
            }
             .td{
            
                 .rank-title{
                     margin-right:5px;
                 }
                 
             }
             .coun-diff{
                display: inline-block;
                margin-left: 12px;
                position: relative;
                top: -10px;
                
             }
             .rank-icon{
                text-align:right;
                display: inline-block;
                margin-left:3px;
                position: relative;
                top: 2px;
               width: 8px;
               min-height:1px;
                @include analyticsSideSmallNo;
            }
            .rank-count-no{
                text-align:right;
                display: inline-block;
                margin-left:3px;
                position: relative;
                top: 2px;
               
                @include analyticsSideSmallNo;
            }
        }
        
    }
                 
}
.culture-participation-mainbox.dashboard-analytics-level1-container .no-Value-chart {
    padding-top: 112px !important;
}
@media screen and (max-width:1300px){
.culture-participation-mainbox.dashboard-analytics-level1-container .no-Value-chart {
    padding-top: 74px !important;
}
}
@media screen and (max-width:1185px){
.inner-Total-Social-engagement{
        .inner-social-part1{
           margin-top:50px;
        }
    }
.Total-Social-engagement   .inner-Total-Social-engagement  .header-for-comman-filter{
        left: 0;
        margin-left: 0px;
    }
.last-block-engagement-analytics .assets-index-container-analytics ,.last-block-engagement-analytics  .qulity-index-container-analytics{
    width:50%;
}
.inner-Total-Social-engagement .inner-social-part1 ,.inner-Total-Social-engagement .inner-social-part2{
    width:100%;
    float:none;
   
}
.inner-Total-Social-engagement .inner-social-part1{
    margin-bottom: 50px;
}
.last-block-engagement-analytics .TagCloud-index-container-analytics{
    width:100%;
}
}
@media screen and (max-width:900px){
 .Total-Social-engagement-body .block-part1, .Total-Social-engagement-body .block-part2{
        float:none;
        width:100%;
    }
    .last-block-engagement-analytics  .assets-index-container-analytics ,.last-block-engagement-analytics .qulity-index-container-analytics ,.last-block-engagement-analytics .TagCloud-index-container-analytics{
        float:none;
        width:100%;
      }
}
.no-Value-chart{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -70px;
    text-transform: lowercase;        
    &:first-letter{
        text-transform: capitalize;
    }
}
.culture-participation-mainbox.dashboard-analytics-level1-container{
    .no-Value-chart{
        padding-top:102px;
        text-align: center;
        font-size: 22px;
        line-height: 28px;
        font-weight: 400;
        max-width: 750px;
       
        color: $color-heading-text;
    } 
}
@media screen and (max-width:767px){
     .culture-participation-mainbox.dashboard-analytics-level1-container .tagged-voted-value{
        .no-Value-chart{
            padding-top: 0 !important;
            margin-top: -103px !important;
            font-size: 18px;
            margin-left: -66px;
        }  
    }
    .Expand-design-wrapper .recharts-legend-wrapper > div > ul > li{
        width: auto !important;
    } 
    .culture-participation-mainbox.dashboard-analytics-level1-container .participation .no-Value-chart,  .culture-participation-mainbox.dashboard-analytics-level1-container  .culture-score .no-Value-chart{
        padding-top: 0 !important;
        margin-top: 0;
        font-size: 18px;
        margin-left: -66px;
    }

   #analytics-Main-container .main-wrppaer-analytics{
       padding:30px 0;
    }
    .anyalitcs-tabuler-data table tr{
        padding:20px;
    }
 .row-container-of-the-chart-analytics .header-analytics-wrapper  .filter-weekey-container {
       float:left;
       width:100%;
  }
  #content .main-wrppaer-analytics   .header-analytics-wrapper{
        padding:20px;
    }
    .inner-adoption-chart,.inner-total-post-chart{
        .header-analytics-wrapper {
           padding:20px !important;
           padding-bottom: 0px !important;
        }
  }
  #content .main-wrppaer-analytics .chart-container-in-analytics-wrapper .inner-chart-container-in-analytics-wrapper .row-container-of-the-chart-analytics .adoption-chart{
     .data-part-analytics,.chart-container{
        padding:0 20px;
     } 
  }
}
.tag-cloud div{
    font-family: "Montserrat", Helvetica, sans-serif !important;
}
.header-for-comman-filter{
    position: absolute;
    left: 50%;
    margin-left:-27px;
    top:0;
    z-index:1;
}
.header-for-comman-expand{
    position: absolute;
    right: 0;
    top: 0;
    margin-right:-4px;
    z-index:1;
}
.recharts-layer{
    path{
        fill-opacity: 0.7;
    }
}


// Loader
.adoption-loader-wrapper-analytics{
   .inner-adoption-chart   .chart-container{
         padding:0 20px;
        
   }
    .big-no-adoption-wrapper{
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }
    .data-adoption{
        margin-top:42px;
    }
    .data-part-analytics .big-no-adoption{
        font-size:$font-text-50;
        float: left;
        width: 40%;
        line-height: 28px;
        max-width:100%;
        @include bp(xs){
            float:none;
            margin-top:25px;
           
        }
    }
    .data-part-analytics .data-adopation ul .active-user:before{
        background: none;
    }
    .data-part-analytics .data-adopation ul .no-active-user:before{
        background: none;
    }
    .recharts-surface{
        height:225px;
        border-radius: 0;
        margin-bottom: 20px;
        width:100%;
    }
    .total-post-chart .data-part-analytics {
        margin-bottom: 80px;
    }
    

}

.total-social-block-loader-wrapper,.Total-Social-engagement {
    .expand-loader-for-total-count{
          width:100px;
    }
    .header-loader-wrapper-analytics{
       padding:30px;
       padding-bottom: 0;
    //    margin-bottom: 30px;
      }  
}
.anaytlics-tabuler-loader{
      table{
          tr{
              td{
                 width:100px;
                 margin-top:10px;
              }
              .td-loader-title{
                 width:100px;
                 float:left;
              }
              .td-loader-chart{
                 width:200px;
                 float:right;
              }
          }
      }
  }  
.strikeLegend{
    text-decoration: line-through;
}
//expand css
.totalPostExpandContainer  .chart-container-in-analytics-wrapper .inner-chart-container-in-analytics-wrapper .row-container-of-the-chart-analytics{
    padding-bottom: 20px;
}
.expand-body-chart-wrapper{
    padding:0 30px 0 20px;
  .social-graph-block{
      float:left;
      width:50%;
      min-height:415px;
      @media screen and (max-width:1200px){
        min-height:410px;
      }
      @media screen and (min-width:1500px){
        min-height:463px;
      }
  }
}
.overtime-social-chart{
    max-width: 540px;
    margin: 0 auto;
}
.Expand-design-wrapper{
    .overtime-social-chart{
        max-width:100%;
    }
}
@media screen and (max-width:1240px){
.Expand-design-wrapper{
    .header-analytics-wrapper .filter-weekey-container{
     float:left;
     width:100%;
    }
  }
}
@media screen and (max-width:767px){
    .expand-body-chart-wrapper{
        padding:20px;
        .social-graph-block{
            float:none;
            width:100%;
        }
      }
       
}
//Total Post chart network css
.totalPostNetworkchartContainer , .totalPostExpandContainerblock2 ,.Expand-design-wrapper{
    .filter-weekey-container{
        margin-right:0;
    }
}
.userDetailsContainer.loader-grey-line.userDetailsContainerLoader{
    margin-top:0;
}
.userDetailsContainer{
    background-color:$analytics-bg-light;
    margin:0 auto;
    max-width:548px;
    margin-top:53px;
   .inneruserDetailsContainer{
        display:block;
    }
    .user-details-container{
        padding:20px;
        width:33.3%;
        float:left;
        // max-width:180px;
        .inner-user-details-container{
            padding:13px;
            height: 140px;
            width: 140px;
            max-width: 100%;
            .img-women{
                text-align: center;
            }
            .value-data{
                @include analyticsUserText;
                text-align:center;
                margin-top:20px;
            }
            .average-active-user{
                @include analyticsActiveUserText;
                text-align:center; 
            }
            .average-active-user-value{
                @include analyticsActiveUserValue;
                margin-top:10px;
                text-align:center; 
                text-decoration: underline;
                text-underline-position: under;
            }
           
        }
    }
    .average-active-user-container{
        .inner-user-details-container{
              padding:20px 12px;
              background: #dfe6f7;

        }
    }
}
.Backbutton{
    @include Backbutton ;
}
.Backbutton a {
    font-size:$big-header;
    color:$color-heading-text;
    font-weight:$font-reguler;
    line-height: 20px;
    text-decoration: none;
       }
.Backbutton {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        margin-top:20px;
        @media screen and (max-width:767px){
           margin-left:13px;
        }
}
.culture-analytics-exapnd{
     position:relative;
}
.totalPostExpandContainer{
    padding:30px;
    padding-bottom: 0;
  .adoption-chart{
    margin-bottom: 0;
 }
}
@media screen and (max-width:767px){
    .user-details-container{
        width:50% !important;
        float:left;
        .inner-user-details-container{
            margin: 0 auto;
        }
    }
    .average-active-user-container{
        width:100% !important;
        max-width:100%;
        .inner-user-details-container{
            width:100% !important;
            max-width:100%;
            .average-active-user{
                margin:20px
            }
        }
    }
}
.Expand-design-wrapper .row-container-of-the-chart-analytics ,.totalPostExpandContainer .row-container-of-the-chart-analytics , .totalPostExpandContainerblock2 .row-container-of-the-chart-analytics{
    box-shadow: 0px 3px 6px 3px rgba(139, 157, 175, 0.1);
    padding-top:30px;
    position: relative;
    margin-bottom:50px;
    .inner-adoption-chart{
        box-shadow: none;
    }
}
.totalPostExpandContainerblock2 .row-container-of-the-chart-analytics{
   display: block;
}
.totalPostExpandContainerblock2 .bodyPartTotalPostExapnd{
   padding:0 30px;
}
@media screen and (max-width:767px){
    .totalPostExpandContainerblock2 .bodyPartTotalPostExapnd{
        padding:0 20px;
     }
}
.total-post-chart.totalPostNetworkchartContainer .overtime-social-chart {
    .recharts-wrapper{
        margin-left:auto;
        margin-right:0;
      
    }
}
.total-post-chart.totalPostNetworkchartContainer ,.adoption-chart.totalPostNetworkchartContainer{
    margin-bottom: 0;
} 

.body-engagement-channel.expand-body-chart-wrapper.expand-overtime-container .inner-body-engagement-channel .overtime-social-chart{
    .recharts-legend-wrapper{
        margin-left: -280px;
        top: 0;
        margin-top:80px;
        .title-active-user{
            width:100px;
        }
        li{
            display: block ;
            width:100%;
            margin-bottom: 5px;
            svg{
                width:auto;
            }
            span{
                margin-left:10px;
            }
        }
    }
    
}
@media screen and  (max-width:1200px){
    .totalPostExpandContainer .row-container-of-the-chart-analytics{
        display: block;
    }
    .totalPostExpandContainer .adoption-chart.totalPostNetworkchartContainer,.totalPostExpandContainer .total-post-chart.totalPostNetworkchartContainer{
        float:none;
        width:100%;
     }
}
@media screen and  (max-width:1500px) and (min-width:1401px)  {
    .totalPostExpandContainer  .overtime-social-chart{
        margin-bottom: 169px;
    }
}
@media screen and  (min-width:1200px) and (max-width:1400px) {
    
    .user-details-container{
        width:50% !important;
        float:left;
        .inner-user-details-container{
            margin: 0 auto;
        }
    }
    .average-active-user-container{
        width:100% !important;
        max-width:100%;
        .inner-user-details-container{
            width:100% !important;
            max-width:100%;
            .average-active-user{
                margin:20px
            }
        }
    }
}
@media screen and (min-width:1200px) and (max-width:1500px) {
    
    .total-post-chart.totalPostNetworkchartContainer  .body-engagement-channel.expand-body-chart-wrapper.expand-overtime-container .inner-body-engagement-channel .overtime-social-chart .recharts-legend-wrapper{
        margin-top: 41px;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) { 
    .body-engagement-channel.expand-body-chart-wrapper.expand-overtime-container .inner-body-engagement-channel .overtime-social-chart .recharts-legend-wrapper{
        margin-top:46px;
    }
    .overtime-social-chart{
        margin-bottom: 50px;
    }
}
@media screen and (max-width:767px){
    .total-post-chart.totalPostNetworkchartContainer .overtime-social-chart .recharts-wrapper{
        margin-left:auto;
        margin-right:auto;
        margin:0 auto;
        margin-top:197px;
    }
    .adoption-chart.totalPostNetworkchartContainer{
        min-height: 753px;
    }
    .total-post-chart.totalPostNetworkchartContainer  .overtime-social-chart  .recharts-legend-wrapper{
        margin-top: -188px !important;
        margin-left: -114px !important;
    }
}
@media screen and (max-width:1165px){
    .overtime-social-chart{
        .recharts-legend-wrapper{
            margin-left:-241px;
        }
    }
}
@media screen and (max-width:1200px) and (min-width:768px){
    .total-post-chart.totalPostNetworkchartContainer  .overtime-social-chart{
        .recharts-legend-wrapper{
           margin-top:46px !important;
        }
    }
}
//culture design 
.culture-analytics-exapnd .row-container-of-the-chart-analytics{
   display: block;
   position: relative;
   padding-top:30px;
   box-shadow: 0px 3px 6px 3px rgba(139, 157, 175, 0.1);
   margin-bottom: 50px;
   .inner-adoption-chart{
       box-shadow: none;
   }
}
.culture-analytics-exapnd .bodyPartTotalPostExapnd{
    padding-top:90px;
}
.culture-analytics-exapnd  .bodyPartTotalPostExapnd .recharts-wrapper  .recharts-legend-wrapper ul{
    max-width:600px;
    li {
        width:50%;
        text-align:left;
        padding-left:50px;
        .rounder-dot{
            top:8px;
        }
     }
}
.culture-analytics-exapnd  .bodyPartTotalPostExapnd .recharts-wrapper  .recharts-legend-wrapper {
    margin-top:-78px !important;
}
@media screen and (max-width:767px){
    .culture-analytics-exapnd  .bodyPartTotalPostExapnd .recharts-wrapper  .recharts-legend-wrapper ul{
        max-width:300px;
        li {
            width:100%;
        
         }
    }
    
}
// Expand-design-wrapper
//expand overTime
.Expand-design-wrapper  .chart-container-in-analytics-wrapper  .inner-chart-container-in-analytics-wrapper{
    .row-container-of-the-chart-analytics{

        .engagementOverTimeContainer{
            .expand-overtime-container{
                .recharts-wrapper{
                    margin-top:118px;
                }
            }
            .recharts-legend-wrapper{
               margin-top:-76px;
                margin-left:0;
              
                ul{ 
                    width:500px;
                    margin: 0 auto;
                    max-width: 100%;
             
                    li{
                        width:50%;
                        display: inline-block;
                        text-align: left;
                        margin-bottom: 10px;
                    .title-active-user {
                        width:120px;
                    }
                }
                }
            }
        }
    }
}
@media screen and (max-width:1200px){
    .Expand-design-wrapper  .chart-container-in-analytics-wrapper  .inner-chart-container-in-analytics-wrapper{
        .row-container-of-the-chart-analytics{
             display: block;
             .adoption-chart{
                width:100%;
                float:none;
            }
        }
    }
}
@media screen and (min-width:1201px) and (max-width:1300px),only screen and (max-width:767px){
    .Expand-design-wrapper  .chart-container-in-analytics-wrapper  .inner-chart-container-in-analytics-wrapper{
        .row-container-of-the-chart-analytics{
          .engagementOverTimeContainer{
            .recharts-legend-wrapper{ 
                ul{ 
                     width:260px;
                    li{
                    width: 100%;
                    display: block;
                }
            }}
          
            }
        }
    }
}
@media screen and (max-width:767px){
    .Expand-design-wrapper  .chart-container-in-analytics-wrapper  .inner-chart-container-in-analytics-wrapper{
        .row-container-of-the-chart-analytics{
          .engagementOverTimeContainer{
            .recharts-legend-wrapper{ 
                margin-left: -164px;          
              }
          }
        }
    }
}


//expand by channel
.Expand-design-wrapper .chart-container-in-analytics-wrapper .inner-chart-container-in-analytics-wrapper {
  .row-container-of-the-chart-analytics{
      .inner-body-engagement-channel{
          margin-top:48px;
      }
      .adoption-chart{
          margin-bottom: 0;
      }
      .engagementByChannel{
          .social-graph-block{
           .engagementChartWrapperContainer{
            max-width: 220px;
            margin: 0 auto;
            margin-bottom:90px;
            @media screen and (max-width:1500px){
                margin-bottom:146px;
            }
             }
         }
        .recharts-legend-wrapper{
                bottom: 0 !important;
                margin-bottom: -117px;
       }
     }
  }
}
@media screen and (max-width:1500px){
    .Expand-design-wrapper .chart-container-in-analytics-wrapper .inner-chart-container-in-analytics-wrapper .row-container-of-the-chart-analytics .engagementByChannel .social-graph-block .engagementChartWrapperContainer{
        max-width:200px;
        margin-bottom:0;
    }
  .Expand-design-wrapper .chart-container-in-analytics-wrapper .inner-chart-container-in-analytics-wrapper {
        .row-container-of-the-chart-analytics{
            .inner-body-engagement-channel{
               .recharts-wrapper{
                   margin:0 auto;
               }
            }
        }
    }
}
@media screen and (max-width:767px){
    .Expand-design-wrapper .chart-container-in-analytics-wrapper .inner-chart-container-in-analytics-wrapper {
        .row-container-of-the-chart-analytics{
            .inner-body-engagement-channel{
                .engagementChartWrapperContainer{
                    .recharts-legend-wrapper{
                        margin-left:-110px;
                        width:auto !important;
                    }
                }
               
            }
        }
    }
}
.noValueDataRecharts {
    .engagementChartWrapperContainer{
        height:300px;
        width:300px;
        position: relative;
    }
}
.engagementByChannel .inner-adoption-chart .expand-body-chart-wrapper .inner-body-engagement-channel .social-graph-wrapper .donutchart-center-content{
    position: relative;
}
.engagementByChannel .inner-adoption-chart .expand-body-chart-wrapper .inner-body-engagement-channel {
    .social-graph-block{
        .donutChartforEngagement{
            position: relative;
            top: -166px;
            width: 100px;
            margin: 0 auto;
            text-align: center;
            
                .value{
                   @include donetchartValue;
                }
           
          }
    }
}
@media screen and (max-width:1500px){
    .engagementByChannel .inner-adoption-chart .expand-body-chart-wrapper .inner-body-engagement-channel {
        .social-graph-block{
            .donutChartforEngagement{top:-137px;}
        }
    }
}
.background-socialIcon{
    border-radius: 4px;
    height: 38px;
    width: 38px;
    margin: 0 auto;
   i{
    color:$white;
    font-size:$font-size-30;
    top: 4px;
    position: relative;
   }
}
.donutChartforEngagement{
    .background-socialIcon.linkedin{
        background-color: $linkedin;
    }
    .background-socialIcon.facebook{
        background-color: $facebook;
    }
    .background-socialIcon.internal{
        background-color: $primary;
    }
    .background-socialIcon.twitter{
        background-color:$twitter;
    }
    .value.linkedin{
        color:$linkedin;
    }
    .value.facebook{
        color:$facebook;
    }
    .value.internal{
        color:$primary;
    }
    .value.twitter{
        color:$twitter;
    }
}
#filter{
    width: 50px;
    height: 50px;
    border: 1px solid $primary;
}
.Expand-design-wrapper .chart-container-in-analytics-wrapper .inner-chart-container-in-analytics-wrapper .row-container-of-the-chart-analytics .engagementByChannel .recharts-legend-wrapper{
    bottom: auto !important;
    margin-bottom: -157px;
    top: auto;
}
.overtime-social-chart-no-data-value{
    position: relative;
    height:200px;
    width:300px;
}
.TotalNetworkchartContainerNoValueData{
    position: relative;
    height:586px;
    .no-Value-chart{
        margin-top:-23px;
    }
    @media screen and (max-width:1400px){
        height:549px;
    }
    @media screen and (max-width:1200px){
        height:200px;
    }
}
.filterIcon.active{
    i{
        color: $primary;
    }
}
.filterIcon{
    position: relative;
    .filter-analytics
    {
     margin-top: 37px;
    }

}

#analytics-Main-container #content{
    padding:49px 0 0 56px;
    @media screen and (max-width:767px){
        padding:40px 0 0 1px;
    }
}
.chart-container-in-analytics-wrapper.dashboard-analytics-level1-container, .Total-Social-Engagement-Wrapper{
     padding:30px;
}
@media screen and (max-width:767px){
    .chart-container-in-analytics-wrapper.dashboard-analytics-level1-container, .Total-Social-Engagement-Wrapper{
        padding:0;
   }
   .chart-container-in-analytics-wrapper.dashboard-analytics-level1-container{
       padding-top:0px;
   }
}
// only cuture graph css
.chart-workplace-wrapper .recharts-legend-wrapper .text-no{
    top: auto !important;
}
