.filter-analytics {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
    margin-right:-87px;
    background-color:$popup-background;
    z-index:2;
    box-shadow:0px 0px 6px 0px rgba(139, 157, 175, 0.3);
    .main-filter{
        width:222px;
        overflow: hidden;
      .main-filter-container{
            width:446px;
            height:166px;
            position: relative;
            left:0;
            background-color:$popup-background;
            transition: all 0.3s ease;
        }
        .filter-tag-parent,.filter-tag-child{
          float:left;
          width:222px;
          padding:15px;
          border-radius:5px;
          position: relative;
          left:0; 
        }
    }
    .inner-filter-analytics:before {
        width: 24px;
        height:16px;
        content: '';
        background-image: url(/img/arrow-filter.png);
        left: 50%;
        position: absolute;
        top: 0;
        display: block;
        margin-top:-14px;
       
    }
    .tag-container{
        .tag-title{
            background:$secondary;
            color:$white;
            padding:3px 7px;
            margin: 5px;
            border-radius: 5px;
            display: inline-block;
            font-size:$date-text;
            font-weight:$font-medium;
            line-height:19px;
            text-transform: uppercase;
            text-decoration:none;
            position: relative;
            padding-right:35px;
            .close-icon-filter {
                position: absolute;
                right: 0;
                top: 5px;
                right: 1px;
                border-left: 1px solid $white;
                height: 16px;
                width: 23px;
                i{
                    font-size:$button-text;
                    position: relative;
                    top: -1px;
                    left: 3px;
                }
            }
        }
    }
  .filter-tag-child{
        padding:0 !important;
        .tag-title{
           background: transparent;
        }
        .tag-border{
            border:1px solid $secondary;
            color:$secondary;
        }
         .search-box-container{
             position: relative;
             border-bottom:1px solid rgba(197, 197, 197,0.3);
             input{
                 padding:0 35px;
                 margin:0;
                 background-color: $popup-background;
                 border:0;
    
             }
             input::placeholder{
                 color:$placeHolder-color;
                 font-weight:$font-medium;
             }
             .search-icon{
                position: absolute;
                display: inline-block;
                top: 0;
                right: 0;
                i{
                    color:$placeHolder-color;
                }
             }
             .back-icon{
                 position: absolute;
                 left: 0;
                 top: 0;
                 width: 30px;
                 border-right:1px solid rgba(197, 197, 197,0.3);
                 display: inline-block;
                 padding-top: 7px;
                 bottom: 0;
                 padding-left: 2px;
             
                 i{
                     color:$placeHolder-color;
                 }
    
             }
         }
        
        .child-tag-container{
            padding:10px;
            overflow:auto;
            height: 166px;
            a.selected{
                color:$white !important; 
            }
        }
        .filter-office-location{
            font-size: 9px;
            display: block;
            color:  rgb(111, 190, 148);
            margin-top: -4px;
        }
    }
}
.filter-analytics{
 .main-filter.slider-child-filter{
    .main-filter-container{
        left:-222px;
      }  
   } 
}
.filter-weekey-container ,.yearly-filtered-data{
    span{
        i{
            cursor: pointer;
        }
    }
}
@media screen and (max-width:767px){
    .filter-analytics{
        left: 0;
        right: auto;
        margin-right: 0;
        margin-left:34px;
     }
}

