

.analyticPopupColumnWrapper .totalEngagement strong{
    margin-right:5px
}
.analyticPopupColumnWrapper .author-meta .socialIcons .socialIconWrapper .analyticinternalicon {
    vertical-align: -4px !important;
}
.author-tag-wrapper .author-meta ,.author-tag-wrapper .author-meta  b{
   font-size:$small-text;
   span i {
        font-size:$button-text;
   }
}
.socialIcons a.ln{
background-color: #0079bc;
}
//for analytics filter active
.filter_active{
    color:$primary !important;
}

//anyloitcs nav

#analytics .listMenu{
  border-bottom: none;
  a{
       width:200px !important;
  }
}
//end anylitsc nav
//table view in anytics
.tabel-view-anylitcs{
    .table-anytlics-body{
        overflow-x: auto;
        overflow-y: hidden;
        .name-header a{
            display: inline-block;
            max-height: 60px;
            overflow: hidden;
            vertical-align: middle;
        }
    }
    td.user-name, td.post-details
    {
        white-space: nowrap;
    }
    tr{
        cursor: pointer;
    }
    @media all and (min-width:980px)
    {
        td.channel, th.channel{text-align: center;}
    }
    @media all and (max-width:1300px)
    {
        td.post-details
        {
            max-width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .table-menu{
        position: relative;
    }
    .dropdown-menu {
        .btn-edit-folder{
            background: none;
        }
    }
    div.post_description
    {
        max-height: 44px;
        overflow: hidden;
        min-width: 300px;
    }
    a.social{
        margin-right:10px;
        &:last-child{
            margin-right:0;
        }
    }
    @media all and (max-width:979px)
    {
        td.a-center{text-align: left;}
        td.post_description  {
            max-height:48px;
            overflow: hidden;
        }
        .widget{padding:0;}
        tr{
            padding:5px 0;
        }
    }
    @media all and (max-width:479px)
    {
        td:before{
            display: block;
        }
        td.serialno:before{
            display: inline-block;
            margin-right:10px;
        }
        td.post_description  {
            max-height:72px;
         }
    }

}
.checkboxDropdown
    {
        padding:10px;
        li
        {
            .form-row{margin-bottom: 0;}
            label{
                color:$white;
                display: block;
                padding: 5px 0;
            }
        }
        input[type="checkbox"]:checked + label:before
        {
            background: $white;
            color:$theme;
        }
        input[type="checkbox"] + label:before
        {
            box-shadow: none;

        }
    }
//end table view
#analytics  .main-container-body-anytlics{
    //graph view
    .graph-anytics{
        height:50px;
    }

}
.totalEngagement{
    border-bottom:1px solid #e9ebee;
    padding:10px;
    text-transform:lowercase;
    strong{
        font-size:$button-text;
        line-height: 24px;
        color:$color-heading-text;
    }
}
.analyticPostDataWrapper {
    padding:0 15px;
    background: #f6f7f9;
    border-bottom: 1px solid #e9ebed;
table{
    width:100%;
    thead{
        display: none;
    }
    td{
        border-bottom: 1px solid #e9ebed;
        padding:10px;
        text-align: center;
        &.channel .tdInner{
            width:30px;
            &:before{
                top:-2px;
                bottom:-2px;
            }
        }
        .tdInner{
            display: block;
            position: relative;
            font-size: $date-text;
            width:70px;
            &.analytic-label{
                text-align: left;
            }
            &:before{
                content:'';
                display: block;
                position: absolute;
                right:-10px;
                top:5px;
                bottom:5px;
                width:1px;
                background: #e9ebed;
            }
        }
        &:last-child .tdInner{
            &:before{
                visibility: hidden;
            }
        }
        strong{
            font-size:$button-text;
            line-height: 24px;
            color:$color-heading-text;
            display: block;
        }
        .social{display: inline-block;
            width: 24px;
            height: 24px;
            text-align: center;
            line-height: 24px;
           font-size: $heading; ;
            background: $theme;
            color: $white;
            border-radius: 50%;
            margin: 0 2px;
            &.fb {
                background-color: #38569d;
            }
            &.tw {
                background-color: #5caee7;
            }
            &.li {
                background-color: #0079bc;
            }
            &.in {
                background-color: #000;
            }
            &.pi {
                background-color: $red;
            }
            &.iw {
                background: none;
                color: $theme;
            }
        }
    }
    tr:last-child td{border-bottom: 0;}
}
}
//popup css
.main-container-body-anytlics
{
    background: $white;
    margin:0 0 30px;
    table{margin-bottom: 0}
    @media all and (max-width:767px)
    {
        margin-bottom: 15px;
    }
}
#analytics .side-popup  img{
    max-height: calc(100vh - 70px);
    object-fit: cover;
   }
#analytics .side-popup{
    top:0 !important;
  }

.anytics-container-popup{
    //border:1px solid $border-in-page;
    .inner-container{
        height: calc(100vh - 30px);
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 25px;
        margin-right: -25px;
        .post-container{
            float:left;
            padding:12px 10px;
            max-width:750px;
             .post-text{
                padding: 20px;
                margin-top: 20px;

                /* overflow: hidden; */
                word-wrap: break-word;
                 min-width: 100px;
                position: relative;
                p{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;

                }
            }
            .inner-post-container{
                type-img{
                    height: auto;
                   min-height: 0;
                }
            }
         }
        .details-container{
           // border-left:1px solid $border-in-page;
            padding-top:12px;
            height:calc(100vh - 23px);
            float:right;
            width:257px;
            .text-blog{
                padding:30px;
                text-align: center;
                margin:0 10px 10px 10px; ;
                margin-bottom: 20px;
                border:1px solid $border-in-page;
            }
            .like-post{
                border-bottom: 10px solid $theme;
              }
           .share-post{
            border-bottom: 10px solid $green;
            }
            .comment-post{
                border-bottom: 10px solid $theme;
                .like-icon i{
                   margin-left:-16px;
                }
            }
            .like-icon{
                position: relative;
                width: 100px;
                margin: 0 auto;
                i{
                  position: absolute;
                  left: 0;
                  bottom: 0;
                  margin-bottom: 24px;
                  color:$theme;
                }
                .num{

                    font-weight: bold;
                    font-size:$font-size-17;
                    line-height: 1.5;
                     margin:0;
                    color: $color-heading-text;
                }
                .text{
                   font-weight: 300;
                  font-size: $heading; ;
                }
            }
        }
    }
}
.engagementdata-wrapper .legendUlWrapper{
    left: 0px;
}
@media only screen and (max-width:1250px){
    .anytics-container-popup .inner-container .details-container .text-blog{
        margin:10px 0 10px 0px
    }
    .anytics-container-popup .inner-container{
        height:calc(100vh - 113px) !important;
    }
    .anylitics-content-main .side-popup #close-popup{
        right: 3px;
        top: 0px;
    }
    .post-container,.details-container,.details-container .like-post,.details-container .share-post{
      float:none !important;
      width:100% !important;
    }
    .post-img{
        height:240px !important;
    }
.inner-container,.post-container
    {
         border:none;
         border-top:none !important;
         border-bottom:none !important;
    }
}
.anytics_container{
    .filterby{
        border:none;
    }
}
//end popup css


.like_p-internal{
    left: 31% !important;
}
#user-img-innerwall,#user-img-innerwall1,#user-img-innerwall2,#user-img-innerwall3{
    bottom: 49% !important;
}
@media only screen and (max-width:320px){
    #analytics .filterby .col-one-of-three.last a{
        margin-left:9px;
   }
}
#analytics{
    .full-container{
        padding:30px;
        @media all and (max-width:767px)
        {
            padding:15px;
        }
    }

}
#analytics {
    .most-active {
        .inner-most-active {
            background: url("/img/1-grap.png") repeat-x 0 bottom;
        }
        .top-contribution-border {
            border-bottom: 10px solid $theme;
        }
        #title-top-contribute {
            margin-left: 4%;
        }
    }
    .top-contribution-border {
        border-bottom: 10px solid $theme;
    }
    #title-top-contribute {
        margin-left: 4%;
    }
    .col-one-of-three-inner{
        background: $white;
    }
    div.title {
        border-bottom: 1px solid $light;
        h5 {
            padding-top: 20px;
            margin-bottom: 0;
            padding-bottom: 20px;
            font-size:$font-title;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-left:20px;
        }
    }
}
#top-contribute .col-two-of-twelve,
.col-three-of-twelve {
    margin: 0;
}
#top-contribute {
    .col-three-of-twelve {
        width: 24.72881%;
        text-align: center;
        height: 0;
    }
}

.analytic_dropdown_wrapper{padding-top: 15px;
    float: left;
    width: 100%;
    padding-right: 425px;}
.filterby {
    border-bottom: 3px solid $light;
    .anylitics-dropdown {
        width: 50%;
        float: left;
        margin: 0 auto;
        padding:0 15px;
    }
    .filter_dropdowns {

        padding-right: 12px;
        padding-bottom: 10px;
    }


    .period-links {
        margin-top: 13px;
        float: right;
        width: 415px;
        margin-left: -415px;
        text-align: right;

        a {
            color: $color-heading-text;
            text-decoration: none;
            font-weight: 400;
            font-size:$font-title;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -o-border-radius: 2px;
            -ms-border-radius: 2px;
            -moz-border-radius: 2px;
            display: inline-block;
            padding: 11px 31px;
            margin-left: -6px;
            &:first-child{margin-left:0;}
            &.active {
                background-color: $theme;
                color: $white;
            }
        }
    }
}


.recent_contribut {
    background-color: $light;

    .mostrecent .top-contribution-border {
        border-bottom: 10px solid $theme;
    }
    .mostrecent,
    .topcontribut,
    .mostactive {
        background: $white;
        border-bottom: 13px solid $theme;
        float: left;
        width: 100%;
        min-height: 230px;
        &:last-child{border-bottom:0;}
    }
    .mostactive{border-bottom:20px solid $light}
    .nopost_div {
        height: 418px;
        border-bottom: 10px solid $theme;;
    }
    .topcontribut .nopost_div {
        border: 0;
    }
    .nopost_div h5{
        margin: 0 20px;
        float: left;
    }
    .start_newpost {
        margin: 40px 0px 3px 60px;
        float: left;
    }


    .topcontribut {
        width: 31.5%;
        border-bottom: 10px solid $theme;
        min-height: 653px;
        .contribut_details {
            float: left;
            border-bottom: 3px solid $light;
            width: 100%;
            min-height: 140px;
            .logodiv {
                min-height: inherit;
            }
            .contribut_name {
                min-height: 80px;
                p {
                    bottom: 15px;
                    position: absolute;
                    min-height: inherit;
                    color: $dark;
                }
            }
            .col-one-of-two {
                margin: 0;
                bottom: 17px;
            }
            .posts_details {
                float: left;
            }
            .posts_details .tick,
            .assets_details .tick {
                color: $green;
                font-size:$font-size-21;
                margin-top: 5px;
            }
            .posts_details i,
            p,
            .assets_details i,
            p {
                float: left;
                color: $dark;
                margin: 0 2px;
            }
            .approved_footer p {
                margin-right: 10px;
                font-weight: 400;
                text-transform: capitalize;
            }
            &.last {
                border: 0;
            }
            .assets_footer {
                margin-right: 20px;
            }
            .posts_details p,
            .assets_details p {
                top: 7px;
                position: relative;
            }
        }
        &.last {
            width: 33%;
        }
    }
    .mostrecent .recent_Camp_details,
    .mostactive .recent_Camp_details {
        .innerdiv_detail {
            min-height: inherit;

        }
        .innerdiv_detail.rightdiv {
            float: left;
            width: 83%;
            .inner-right-camping {
                line-height: 118px;
                .col-three-of-twelve,
                .col-two-of-twelve {
                    color: black;
                    font-weight: 400;
                    font-size: 16px;
                    text-align: center;
                }
            }
            .camp_detail {
                .camp_name {
                    min-height: 60px;
                    position: relative;
                    h5 {
                        left: 0;
                        bottom: 15px;
                        position: absolute;
                        margin: 0;
                    }
                }
                .camp_description {
                    .col-two-of-twelve {
                        margin: 0;
                        text-align: right; //width:16.6%;
                    }
                    p {
                        color: $dark;
                    }
                }
            }
        }
        &.lowerdiv {
            border-bottom: 10px solid $theme;
        }
    }
    .mostactive .recent_Camp_details .camp_detail {
        min-height: inherit;
        float: left;
        width: 83%;
        .camp_name {
            width: 33%;
            margin: 0;
            position: relative;
            min-height: inherit;
        }
        .camp_name h5,
        .col-three-of-twelve p {
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            color: $dark;
        }
        .col-three-of-twelve {
            min-height: inherit;
            margin: 0;
            width: 22%;
        }
    }
    .mostactive .recent_Camp_details {
        border: 0;
    }
    .post_div,
    .asset_div {
        float: left;
        min-height: 104px;
        width: 100%;
        .approved,
        .undecided,
        .unapproved {
            display: inline-block;
            float: left;
            width: 100%;
            i,
            p {
                color: $dark;
                float: left;
            }
            p {
                top: 5px;
                position: relative;
                margin: 0px 3px;
            }
        }
        .approved .tick {
            color: $green;
            font-size:$font-size-21;
            margin-top: 5px;
        }
        .undecided .cross {
            color: $primary;
            font-size:$font-size-21;
            margin-top: 5px;
        }
        .unapproved .fish_eye {
            color: $secondary;
            font-size:$font-size-21;
            margin-top: 5px;
        }
        .approved_footer {
            float: left;
            p {
                margin: 0;
                font-size: $normal-text;
                font-weight: 400;
                color: $dark;
                text-transform: capitalize;
            }
        }
        .post_heading p {
            font-size:$font-size-17;
            margin: 11px 0 0 25px;
            font-weight: 400;
            color: $dark;
        }
        .col-one-of-four {
            width: 22%;
        }
    }
    .asset_div {
        margin: 0;
        border-bottom: 10px solid $theme;
    }
}
.norecentpost_div {
    text-align: center;
    padding:40px 10px 0;
    a{
        margin-top:10px; float: none; margin-right:10px;
        &:last-child{margin-right:0;}
    }

}

.social-job {
    width: 200px;
    height: 200px;
}




.chartimage {
    min-width: 100%;
    position: absolute;
}

.camp_details_logo {
    width: 60px;
    height: 60px;
    border-radius:60px; -webkit-border-radius:60px; -o-border-radius:60px; -ms-border-radius:60px; -moz-border-radius:60px;
    -o-object-fit: cover;
    object-fit: cover;
    border:1px solid $border-color;
}

.post_count {
    padding-bottom: 15px;
    h4 {
        font-size: 50px;
        line-height: 56px;
        font-weight: 100;
        margin-bottom: 0px;
    }
}
.tot_campdiv {
    background: url("/img/graph.png") repeat-x 0 bottom;
}
.tot_campdiv,
.bystatus_div,
.bytype_div {
    border-bottom: 10px solid $green;
}
.inner_tot_campdiv {
    text-align: center;
    padding-top: 79px;
    letter-spacing: 2px;
    padding-bottom: 16px;
    .top_campdiv-title {
        text-transform: capitalize;
        letter-spacing: 1px;
        font-weight: 400;
    }
    i {
        font-size: 40px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        position: relative;
        color: inherit; // padding-top: 13%;
    }
}
.mostactive .inner_tot_campdiv{padding-top:0;}
.analytic-count-col{float: left; width: 33.3%; padding:3px;}
#internalAnalytics .analytic-count-col{width: 50%;}
.anylitics-content-main .inner-most-active .col-one-of-three{border-bottom:0;}
.camp_status_type {
    background-color: $light;
    margin:0 -3px;
    .col-one-of-three {
        .title {
            h5 {
                font-size: 19px;
                line-height: 26px;
                letter-spacing: 1px;
                margin-bottom: 0px;
                padding-bottom: 15px;
            }
        }



        .totalname_asset {
            text-align: center;
            font-weight: 400;
            margin-top: 55px;
            color: $dark;
            font-size: 16px;
        }
        .bystatus_div,
        .bytype_div {
            border-bottom: 10px solid $primary;
            .bystatus_live {
                border-bottom: 1px solid $light;
                min-height:66px;
                .statusname_live
                {
                    float: left;
                    padding: 24px 10px 0px 22px;
                    p {
                        color: $color-heading-text;
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 0;
                    }
                }
                .statusnum_value{
                    float: right;
                    padding: 14px 15px 15px 10px;
                    text-align: right;
                    p{font-size: 30px; line-height: 36px; color: $color-heading-text;margin-bottom: 0;}
                }
                .statusnum_live
                {
                    p{color: $color-heading-text; font-size: 30px; line-height: 36px;}
                }
                .statusname_live.asset p {
                    .tick {
                        color: $green;
                    }
                    .cross {
                        color: $primary;
                    }
                    .fish_eye {
                        color: $secondary;
                    }
                    .tick,
                    .cross,
                    .fish_eye {
                        font-size:$font-size-21;
                        float: right;

                    }
                }

                &.last {
                    border: 0;
                }
            }
        }
        .bytype_div {
            border-bottom: 10px solid $secondary;
        }
    }
}



.tag_department {
    background: $light;
    margin:0 -3px;
    .tagdiv,
    .department_asset {
        margin: 0;
        width: 50%;
        float: left;
        padding:0 3px;
        .inner_tagdiv {
            background: $white;
            overflow: hidden;
            border-bottom: 5px solid $light;
            .donut_chart {
                // min-height: 433px;
            }
            .common_asset_tags {
                margin-top: 65px;
                .title {
                    border: 0;
                }
                .title h4,
                p {
                    color: $dark;
                }
                .donut_color_tag {
                    .square {
                        width: 10px;
                        height: 10px;
                        background-color: red;
                        float: left;
                    }
                    .tagname {
                        margin: -5px 0 0 20px;
                    }
                }
            }
        }
    }
    .department_asset {
        border: 0;
    }
}

.empty-contributor-block
{
    background: url("/img/graph.png") repeat-x 0 bottom;
    min-height: 475px;
    position: relative;
    .no-data-block{position: absolute; left:0; right:0; top:50%; margin-top:-114px;}
}
#analytics .analytic-nav-wrapper{padding-bottom:0; margin-bottom:0;}
#analytics .analytic-nav-wrapper .listMenu{margin-bottom:30px;}
#externalAnalytics .tag_department .tagdiv .inner_tagdiv{min-height: 472px;}
#internalAnalytics .tag_department .tagdiv .inner_tagdiv, #internalAnalytics .tag_department .department_asset .inner_tagdiv{padding-bottom:20px;}
.analytic-asset-page .tag_department .tagdiv .inner_tagdiv, .analytic-asset-page .tag_department .department_asset .inner_tagdiv{min-height: 0;}
.overtime_div {

}

.most_shared,
.upload_device {
    background-color: $light;
    .title {
        padding-top: 25px;
        padding-bottom:8px;
        h5 {
            margin: 0;
            font-size:$button-text;
        }
    }
}
.inner_most_shared{margin:0 -4px;}
.inner_most_shared .col-one-of-two, .upload_device .col-one-of-two{float: left; width: 50%; padding:4px;}
#analytics .most_shared .title h5,  #analytics .upload_device .title h5{margin-left:0;}

.upload_device_inner{margin:0 -4px;}
.upload_device .tot_campdiv{border-bottom:0;}
.most_shared .inner_most_shared .shared_details {
    margin-bottom: 9px;
    background: $white;
    &:last-child{margin-bottom:0;}
    .imagediv {
        min-height: 128px;
        background: $user-dots-hover;
        width: 180px;
        float: left;
        img
        {
            width: 100%;
            height:auto;
        }
    }
    .shared_content {
        width: 100%;
        float: left;
        margin: 0 -120px 0 -180px;
        padding: 0 140px 0 200px;
        min-height: 128px;
            i {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%) translateX(20%);
                -ms-transform: translateY(-50%) translateX(20%);
                transform: translateY(-50%) translateX(20%);
                display: block;
                color: $dark;
                left: 20%;
            }
            p {
                font-size: 16px;
                color: $dark;
                padding-top: 54px;
                overflow: hidden;
            }

    }
    .shared_div {
        background-color: $primary;
        float: left;
        width: 120px;
        position: relative;
        min-height: 128px;
        p {
            color: $white;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            padding: 36px 21px 0;
            span
            {
                display: block;
                margin-top: 2px;
                font-size:$button-text;
            }
        }
    }
}

.upload_device {

    .mobile_upload_div .mobile_name_div .title {
        border: 0;
        margin-left: 0;
        margin-top: 0;
        h5 {
            font-size: 16px;
        }
    }
    .total_num {
        background-color: $white;
        width: 100%;
        float: left;
        margin-right:-120px;
        padding-right:140px;
        .totalname_mobile {
            top: 77%;
            transform: translateY(-77%) translateX(-40%);
            position: absolute;
            left: 40%;
            color: $dark;
            font-weight: 400;
        }
        .inner_total_num {
            .tot_upload_count {
                h4 {
                    font-size: 45px;
                    top: 10px;
                    color: $dark;
                    float: left;
                    position: relative;
                    left: 35%;
                    z-index: 1;
                    font-weight: 100;
                }
            }
        }
    }
    .chartimage {
        position: absolute;
        min-width: 79%;
        bottom: 0;
        min-height: 76%;
    }
    .mobile_name_div {
        min-height: 130px;
        padding-top: 55px;
        background-color: $secondary;
        width: 120px;
        float: left;
        text-align: center;
        .inner_mobile_name_div {
            .title h5 {
                color: $white;
                font-weight: 400;
                top: 64%;
                transform: translateY(-64%);
                position: absolute;
                margin-left: 9px;
            }
        }
        &.desktop {
            background-color: $theme;
        }
    }
}
.mobile_upload_div .inner_tot_campdiv{padding-top:22px; padding-bottom: 6px; min-height: 130px;}
.internal_contributer .title h5 {
    font-size:$button-text;
}
.anylitics-content-main .internal_contributer{background: $light; margin: 0 -3px;}
.anylitics-content-main {
    margin-bottom:30px;
    .col-two-of-three {
        width: 33.3%;
        float: left;
        padding:0 3px;
        margin:0;
        border-bottom: 5px solid $light;
    }
    .col-two-of-three{width: 66.6%}

    .title {
        h5 {
            font-size: 19px;
            line-height: 26px;
            letter-spacing: 1px;
            margin-bottom: 0px;
            padding-bottom: 15px;
        }
    }


    .post_engagement {
        margin: 0;
    }

    .contributor_name p {
        color: black !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        text-align: center !important;
    }
    .contribute_content {
        .contributor_detail {
            table
            {
                width:100%;
                td{white-space: nowrap; padding:0 10px;}
            }


            .logodiv {
                min-height: inherit;
                width: 20%;
                margin: 0;
                img {
                    margin: 5px 0px 0px 5px;
                    position: relative;
                }
            }
            .username {
                top: 56%;
                left: 50%;
                transform: translateY(-53%) translateX(-50%);
                position: absolute;
                font-weight: 400;
                color: $dark
            }
            .detaildiv {
                min-height: inherit;
                width: 80%;
                .contributor_name,
                .user_position,
                .user_department {
                    min-height: inherit;
                    p {
                        top: 50%;
                        transform: translateY(-50%);
                        position: absolute;
                       font-size: $heading; ;
                        font-weight: 400;
                        color: $dark;
                    }
                }
            }
        }
        .postdetail {
            margin: 0;
        }
        .postcontent {
            text-align: center;
            background-image: url(/img/chartimage.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding-top: 11%;
            p {
                left: 50%;
                transform: translateX(-50%) translateY(-70%);
                position: absolute;
                top: 70%;
                color: $dark;
                font-size: 16px;
                font-weight: 400;
            }
            .chartimage {
                min-height: 125px;
                bottom: 0;
            }
        }
    }
    .internal_post {

        .postcontent {
            text-align: center;
            border-bottom: 10px solid $green;
            background-image: url(/img/chartimage.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding-top: 18%;
            p {
                top: 65%;
                left: 50%;
                transform: translateY(-65%) translateX(-50%);
                position: absolute;
                font-size: 19px;
                color: $dark;
                font-size: 16px;
                font-weight: 400;
            }
            .chartimage {
                // min-height: inherit;
                position: relative;
                top: 55px;
            }
            .internal-charimg {
                position: relative;
                top: 0px !important;
            }
            p {
                top: 77%;
                left: 32%;
                transform: translateY(-65%) translateX(-28%);
                position: absolute;
                font-size: 19px;
                color: $dark;
                font-size: 16px;
                font-weight: 400;
            }
            .t-total {
                left: 48%;
            }
        }
        &.bottom {
            float: left;
        }
    }
}

.engagement_chartdiv {

    border-bottom: 3px solid $light;
}

.engagement_chartdiv .title h5 {
    font-size:$button-text;
    color: black;
}

.internal_columns {
    width: 25%;
    margin: 0;
    &.last {
        .overalldiv {
            border: 0;
        }
    }
}

.internalpost .title h5 {
    font-size:$button-text;
    font-weight: 400px;
}

#hot-div-internal-post {
    .col-one-of-four {
        width: 25%;
        float: left;
        margin-right: 0;
        padding:0 4px;
    }
}

.internalpost {
    .internalpost_content {

        .inner_overall {
            min-height: 390px;
            .imagewall {
                .inner_imagewall {
                    width: 100%;
                }
            }
            .userimage {
                left: 50% !important;
                bottom: 54% !important;
                margin-left: -33px !important;
                position: absolute !important;
            }
            .inner_userimage {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                border: 3px solid $white;
                display: inline-flex;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            .postcontent {
                padding-top: 35px;
                .username {
                    top: 54%;
                    left: 50%;
                    transform: translateY(-53%) translateX(-50%);
                    position: absolute;
                    font-weight: 400;
                    color: $dark;
                }
                .postdesc p {
                    top: 60%;
                    transform: translateY(-60%);
                    position: absolute;
                    margin: 15px;
                    color: $dark;
                    font-size: $date-text;
                    span {
                        color: $theme;
                    }
                }
            }
            .channel_textdiv {
                min-height: 25px;
                p {
                    width: 75%;
                    text-align: center;
                    border-bottom: 1px solid $dark;
                    line-height: 0.1em;
                    margin: 10px 0 20px 27px;
                    position: absolute;
                }
            }
            .channel_textdiv p span {
                background: $white;
                padding: 0 10px;
                color: $date-time-text;
                font-weight: 400;
            }
            .author-data {
                text-align: center;
            }
            .footerdiv {
                min-height: 45px;
                width: 100%;
                background: $dark-gray;
                margin-top: 14px;
                color: $white;
                .socialLogo {
                    min-height: inherit;
                    display: flex;
                    position: relative;
                    .post-meta {
                        min-width: 30%;
                        position: relative;
                        margin-left: 5px;
                        p {
                            color:$white !important;
                            font-weight: 400;
                            top: 50%;
                            left: 65%;
                            transform: translateY(-50%) translateX(-65%);
                            position: relative;
                            font-size: 11px;
                            span {
                                margin-left: 3px;
                            }
                        }
                        &.comment_share_like {
                            width: 100%;
                            p {
                                //margin: 0 34px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.mobile_name_div {
    p {
        font-size: 16px;
        color: $white;
        font-weight: 400;

    }
}

@media only screen and (max-width:767px) {

    .internalpost .internalpost_content .inner_overall .userimage {
        left: 50% !important;
        bottom: 53% !important;
    }
    .adoption-chart.totalPostNetworkchartContainer .inner-adoption-chart{
        min-height: 753px;
        margin-bottom: 20px;
    }
}



.recent_Camp_details {

    table
    {
        width: 100%;
        tr
        {
            td{
                border-bottom:1px solid #dde8ed;
                padding:30px 10px 28px;
            }
            &:last-child{padding-right:20px;}
            &:last-child{
                td
                {
                    border-bottom:0;
                }
            }
        }
    }




}
.contribute-wrapper .col-one-of-two{float: left; width: 50%; padding:0; margin: 0;}
.contribute-wrapper .tot_campdiv{border-bottom:0; min-height: 130px;}
.tot_campdiv .approve-icon{font-size: 20px; color:$green; margin-top:-45px;}
.internalpost_content{margin:0 -4px 0;}
.internalpost_content .overalldiv{background: $white;}
#hot-div-internal-post{background: $light;}
#internalAnalytics .topcontributor
{
    .table-wrapper{padding-top:32px;}
    .inner_tot_campdiv{padding-top:44px; padding-bottom:4px;}
    .analytic-count-col:first-child{padding-bottom:5px;}
    .post_count{padding-bottom:6px;}
}

@media all and (max-width:1100px)
{
#hot-div-internal-post .col-one-of-four {width: 50%; padding:4px}
}
@media only screen and (max-width:769px) {
    .camp_details_logo {
        height: 37px;
        width: 37px;
    }

}
#analytics .filterby .col-one-of-three.last{
    margin-top: 26px;
    text-align: right;
    padding-right: 44px;
}

.graph-bg{background: url("/img/1-grap.png") repeat-x 0 bottom;}
.chartdiv .donut_chart > div{margin:0 auto;}
.chartdiv svg{max-width: 100%;}
@media all and (max-width:1200px)
{
#analytics .title h5{font-size: 16px; line-height: 22px;}
.inner_most_shared .col-one-of-two{float: none; width: auto;}
}
@media all and (max-width:1200px)
{
.tag_department .tagdiv, .tag_department .department_asset{border-right:0;}
.inner_tot_campdiv .top_campdiv-title{font-size: 14px; line-height: 24px; padding:0 10px;}
.post_engagement .inner_tot_campdiv{padding-top: 56px;}
.anylitics-content-main .col-one-of-three, .internal_contributer .col-two-of-three{float: none; width: auto;}
}
@media all and (max-width:1100px)
{
.analytic_dropdown_wrapper{padding-right:0; float:none;}
.filterby .period-links{float: none; margin-left: 0; width:auto; text-align: center;}
#analytics .title h5{font-size: 16px; line-height: 24px;}
.filterby .filter_dropdowns{padding-right:0;}
.upload_device .col-one-of-two{float: none; width: auto;}
}
@media all and (max-width:979px)
{
.tag_department .tagdiv, .tag_department .department_asset{border-right:0;}
.filterby .period-links a{padding:11px 15px}
.tag_department .tagdiv .inner_tagdiv, .tag_department .department_asset .inner_tagdiv{min-height: 0;}
.tag_department .tagdiv, .tag_department .department_asset{border-right:0;}
.most_shared .inner_most_shared .shared_details .shared_content{padding-right: 0; margin-right:0;}
.most_shared .inner_most_shared .shared_details .shared_div{width: 100%; min-height: 0;}
.most_shared .inner_most_shared .shared_details .shared_div p{padding: 5px;
    text-align: center;
    margin-bottom: 0;
    line-height: 20px;
    font-size: 16px;
    span{
        font-size:$button-text;
        margin-top: -2px;
    }
}
}
@media all and (max-width:767px)
{
.filterby .period-links a{padding:11px 10px; margin-left:0;}
#analytics .inner_tot_campdiv p{font-size: $date-text; line-height: 18px;}
.inner_tot_campdiv .top_campdiv-title{font-size: $date-text; line-height: 18px;}
}
@media all and (max-width:479px)
{
.recent_Camp_details{overflow-x:auto; overflow-y:hidden  }
.most_shared .inner_most_shared .shared_details .imagediv{width: auto; float: none;}
.most_shared .inner_most_shared .shared_details .shared_content{margin-left: 0;
    padding: 0 10px;
    float: none;
    text-align: center;
    min-height: 60px;
p{    padding: 5px;
    margin-bottom: 0;}
}
.most_shared .inner_most_shared .shared_details .shared_div{width: auto; float: none;}
}
#userDepartdropdown li{display: none;}
@media all and (max-width:359px)
{
    #analytics .most-active .inner-most-active{background: none;}
    .analytic-count-col{float: none; width: auto; background: url("/img/1-grap.png") repeat-x 0 bottom; background-size: auto 90px;}
    #internalAnalytics .analytic-count-col{float: none; width: auto;}
    .contribute-wrapper .inner_tot_campdiv {min-height: 235px;}
}

.search-suggestion-list-section{
    position: absolute;
    left:0;
    top:38x;
    width:100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
    z-index: 2;
    &.active{
        top:42px;
        opacity: 1;
        visibility: visible;
    }
    .no-user-text
    {
        display: none;
        text-align: center;
        padding:10px;
    }
    &.no-items .no-user-text
    {
        display: block;
    }
    &.no-items .search-suggestion-list
    {
        display: none;
    }
    .search-suggestion-list-wrapper
    {
        background: $white;
        box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.63);
        border-radius: 5px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        -ms-border-radius: 2px;
        -moz-border-radius: 2px;
        max-height: 145px;
        overflow-x: hidden;
        overflow-y:auto;
    }
    .search-suggestion-list{
        li{
            cursor: pointer;
            padding:0 15px;
            text-transform: capitalize;
            border-bottom:1px solid #f5f5f5;
            -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
            .userName{
                margin-right:5px;
            }
            .userEmail{
                font-size: $date-text;
                line-height: 18px;
                color: #525252;
            }
            &:hover{
                background: #f9f9f9
            }
        }
    }

}
.chart-title
{
    padding:20px;
    font-size:$font-title;
    color:$color-heading-text;
    line-height: 21px;
    border-bottom:1px solid $border-color;
    text-transform: uppercase;
}
.chartdiv-wrapper
{
    position: relative;
    padding:15px;
    overflow-y: hidden;
    overflow-x: auto;
    .chartdiv{
        min-width: 600px;
    }
    @media all and (max-width:767px)
    {
        padding-bottom:0;
        .chartdiv
        {
            position: relative;
            height:auto;
        }
    }

}
.tabel-view-anylitcs .table > tbody > tr td{
    @media all and (max-width:979px)
    {
        padding:5px 10px;
    }
}
.tabel-view-anylitcs .dropudown-container
{
    padding:15px 0 15px 0;
    text-align:right;
    @media all and (max-width:979px)
    {
        padding:10px;
    }
}
.chartColsWrapper{
    position: relative;
}
.chartTabbingCol{
    width: 185px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #f3f3f3;
}
.chartTabWrapper{
    position: absolute;
    left:10px;
    right:10px;
    top:50%;
    margin:-83px 0 0 0;
}
.chartTabContentCol{
    float: left;
    width:100%;
    margin-right:-185px;
    padding-right:205px;
}
.chartTabbingBtn{
    height: 33.3%;
    border-bottom: 1px solid #e8e5e5;
    text-align: center;
    position: relative;
    cursor: pointer;
    border-left: 1px solid #e8e5e5;
    border-right: 1px solid transparent;
    &:last-child{
        border-bottom:0;
    }
    &.active{
        background: $white;
        border-left-color: $white;
    border-right-color: #e8e5e5;
    }
}
.chartTabTitle{
    font-size: 16px;
    line-height:22px;
    color:$color-heading-text;
    font-weight: $font-reguler;
    @include transition(0.5s);
}





@media all and (max-width:979px){
    .table-anytlics-body #campaign-table td{padding:0;}
}
@media all and (max-width:767px)
{
    .chartTabContentCol{
        float: none;
        width:auto;
        margin-right:0;
        padding-right:0;
    }
    .chartTabbingCol{
        position: relative;
        width:auto;
    }
    .chartTabbingBtn{
        height:auto;
        width:33.3%;
        float: left;
        padding:15px 5px;
        border-bottom:0;
        border-left:0;
        border-right:1px solid #e8e5e5;
        border-bottom:1px solid transparent;
        border-top:1px solid #e8e5e5;
        &:last-child{
            border-right:0;
        }
        &.active{
            border-bottom:1px solid #e8e5e5;
            border-top-color:$white;
        }
    }
    .chartIcon{
        width:60px;
        height:60px;
        .chartBorder{
            transform: scale(0.4);
        }
        &:before, &:after{
            transform: scale(0.3);
        }
    }
    .chartTabWrapper{
        position: relative;
        left:0;
        right:0;
        top:0;
        margin:0;
    }
}
.analyticPopupColumnWrapper{
    position: relative;
    .PostDetailColumn{
        float: left;
        width:100%;
        margin-right:-350px;
        padding-right:370px;
        .feed-post-item{
            margin-bottom: 0;
        }
        .post{
            .dd-menu, .post-meta{
                display: none;
            }
        }
        #asset-detail {
            .heading{
                padding:0;
                border-bottom:0;
            }
            .popupDescSection{
                padding-left:0;
                padding-right:0;
                max-height: none;
            }
            .author-meta{
                margin-bottom:6px;
                span i{
                position: relative;
                top: 6px;
                color: $theme;
                }
            }
            .asset-popup-button-download{
                display: none;
            }
        }
    }
    .PostPerformanceColumn{
        width: 350px;
        background: $white;
        min-height:calc(100vh - 90px);
        float: left;
    }
}
#analytics .column-wrapper{
    display: flex;
    .assetDetailImage{margin-right:15px;}
    .author-tag-wrapper{width: 100%;}
}
#analytics #asset-detail .type-video{overflow: visible;}
#analytics #asset-detail .asset-file .thumbnail{position: relative;}
#analytics #asset-detail .asset-file video{width:100%; height:auto;}
.help-element{margin-left:3px;}
.custom-tooltip .labelText{
    min-width: 72px;
    display: inline-block;
}
.recharts-wrapper .social-icon-number{margin-left:5px; display: inline-block;}
.chart-social-data{
    border-top: 1px solid $analytics-border;
    margin-top: 5px;
    padding-top: 5px;
}
.chart-social-data-wrapper{
    padding:2px 20px;
    .social{
        min-width: 75px;
        display: inline-block;
    }

    &.chart-social-fb-wrapper{
        color:$facebook;
    }
    &.chart-social-twitter-wrapper{
        color:$twitter;
    }
    &.chart-social-linkedin-wrapper{
        color:$linkedin;
    }

    &:last-child{
        margin-bottom: 0;
    }
    .social-icon-number{display: inline-block; margin-left: 10px;}
}

.heatMap.segment-list{
    float: left;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
        position: relative;
    }
    > span{
        display: inline-block;
        vertical-align: middle;
        &.segmentData{
            background: #e5e4e4;
            padding: 10px;
            border-radius: 38px 0 0 38px;
            
        }
        &.segmentDataRemove { 
            background: #d4d4d4;
            padding: 8px;
            border-radius:0 38px 38px 0;
            i{
                color: $theme; 
                font-size: 18px;
                position: relative;
                top: 2px;
                left: -2px;
            }
        }
    }
        &.active{
            .segmentData{
                background: $theme;
                color: $white;
            }
            .segmentName{
                color: $white;
            }
            .segmentDataRemove { 
                background: #1955ca;
                i{
                    color:#fff;
                }
            }
        }
    
    .segmentName{
        color:$theme;
    }
    
}
.segment-list-wrapper{
    padding:15px;
}
.driver-chart-wrapper .__react_component_tooltip.show{
    top: 80px !important;
}
.inner-TagCloud-index-container-analytics  .__react_component_tooltip.place-right.type-light.allow_hover, .inner-social-part2 .__react_component_tooltip.place-right.type-light.allow_hover{
    left: 66% !important;
    top: 53% !important;
    @media all and (max-width:767px){
        left:0px !important;
        top: 37% !important;
        }
}


@media all and (max-width:1024px){
    .analyticPopupColumnWrapper {
        .PostDetailColumn{
            float: none;
            width:auto;
            margin-right:0;
            padding-right:0;
            padding-bottom: 15px;
        }
        .PostPerformanceColumn{
            float: none;
            width:auto;
            min-height: 0;
        }
    }
    .analyticPostDataWrapper{
        padding:5px 0;
        table td{
            padding:10px 5px;
            strong{
           font-size: $heading; ;
            line-height: 20px;
        }
        }
    }
}

@media all and (max-width:979px){
    .dropdown-inner-wrapper .row .col-one-of-four{width:50%}
}
@media all and (max-width:479px)
{
    .dropdown-inner-wrapper .row .col-one-of-four{width:100%;float:none}
}
@media all and (max-width:500px){
    .analyticPage{
        #walltype {
          font-size: $date-text;
        }
    }
}
.culture-new-tab .culture-score-tab{
    margin-top:0;
    @media all and (max-width:767px){
        margin-top:30px;
    }
}
.heatmapSection{
    
    padding:30px;
    position: relative;
    .bklkwrpr{
        position: absolute;
        right: 10px;
        top: 10px;
        @media all and (max-width:900px){
            right:30px;
            top:-20px;
        }

    }
    @media all and (min-width:768px){
        min-height: calc(100vh - 49px);
    }
    @media all and (max-width:767px){
        padding:15px;
    }
    .heatmapSectionInner{
        position: relative;        
        .bklkwrpr{
            position: absolute; 
            right:10px;
            top:10px;
        }
        button {
            position: relative;
            height:auto;
            text-align: left;
            padding:13px 10px 12px 70px;
            width: 275px;
            max-width:100%;
            float: left;
            &:hover{
                background: #ff595e;
            }
            .btnSgtSlctTxt{
                display: block;
                font-size: 11px;
                line-height: 16px;
                color:rgba(0,0,0,0.5);
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom:-3px;
            }
            .btnSgtCnt{
                font-size: 10px;
                line-height:16px;
                font-weight:300; 
                text-transform: lowercase;
            }
            .sgmtBtnIcn{
                position: absolute;
                left:0;
                top:0;
                bottom:0;
                background: #c93e42;
                width:56px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                i{
                    font-size: 38px;
                }
                
            }
            span{
                display: block;
            }
        }
        .segment-driver-wrapper{
            // float: left;
            // width:100%;
            margin-left: -275px;
            padding-left:277px;
            .segment-driver{
                float: left;
                width: 355px;
                text-align: center;
                padding-right:2px;

                &:last-child{
                    padding-right:0;
                }
                .segment-driver-inner{
                    background: #e3e3e3;
                    border-bottom: 10px solid #cccccc;
                    padding: 15px 0 14px;
                    min-height: 54px;
                    font-size: 11px;
                    text-transform: uppercase;
                    color:#666;
                    font-weight:400;                        
                }
            }
        }
        .bklkwrpr{
            margin-bottom:10px;
            .expand-link i{
                vertical-align: middle;
            }
        }
    }
}
.heatmapSectionInnerWrapper{
    min-width: 2050px;
}
.heatmapSectionInner{
    overflow-y: hidden;
    overflow-x: auto;
}

.stmpSdbr{
flex:0 0 275px !important;
    .hmmnttl{
        font-size: 13px;
        font-weight: 300;
        color:#1c1c1c;
        padding: 22px 20px 20px 55px;
        background: #efefef;
        position: relative;
        border-bottom:2px solid #efefef;
        border-top:1px solid #fff;
        &:before{
            content:'';
            display: block;
            position: absolute;
            left:0;
            right:0;
            bottom:-3px;
            height:1px;
            background: #dddddd;
        }
    }
}
.hmclm{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    text-shadow: 0px 1px 2px black;
    color: #fff;
    font-size: 14px;  
    border: 1px solid #fff;
    font-weight: 400;
}
.hmclmHdr{
    width:88.75%;
 text-align: center;  
 background: #efefef;
 padding:15px 0;
 border: 1px solid #fff;
 font-size: 10px;
 line-height: 16px;
 color:#666666;
}
.hmsdbrItm{
    background: #f7f5f5;
    
    border-bottom:1px solid #dddddd;
    .keyRow{
        padding:20px 20px 20px 55px;
        border-bottom:1px solid #f7f5f5;
        position: relative;
        &.hasChild{
            cursor: pointer;
            &:before{
                content:'';
                display: block;
                background: url(/img/sprite.png) no-repeat 0 0;
                width:10px;
                height:5px;
                position: absolute;
                left:15px;
                top:50%;
                margin-top:-14px;
                -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
                transform: rotate(-90deg);
            }
    }
}

.keyNameUserCntWrpr{
.keyName{
    font-size: 8px;
    font-weight: 400;
    line-height: 13px;
    color: #7b7b7b;
    padding: 0 7px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    margin-right: 5px;
    float: left;
    text-transform: capitalize;
}
.userCount {
    color:#bfbfbf;
    font-size: 9px;
    font-weight: 400;
    line-height: 16px;
    float: left;
    margin-top: -1px;
    i{
        color:#bfbfbf;
        font-size: 18px;
        vertical-align: -3px;
        margin-right: 4px;
    }
}
}
&.active .keyRow.hasChild:before{
    transform: rotate(0deg);
}
.hrvlwrpr{
    display: flex;
    font-size: 14px;
    line-height: 20px;
    color:#1c1c1c;
    font-weight: 400;
    margin-bottom:5px;
    > div{
        margin-right:5px;
        &:last-child{
            margin-right:0;
        }
    }
    .operationName{
        font-size: 11px;
        font-weight: 300;
        line-height: 16px;
        color:#666;
        text-transform: capitalize;
    }
}
.hrnm{
    font-size: 10px;
        line-height:19px;
        color:#7b7b7b;
        padding:0 7px;
        border:1px solid #bfbfbf;
        border-radius: 10px;
        margin-right:5px;
        display: inline-block;
}
    .heirarchyList{
        list-style: none;
        display: none;
        li{
            padding:20px 20px 20px 40px;
            background: #efefef;
            border-bottom:1px solid #dddddd;
        }

    }
}
.bdsgmntpp{
    overflow: hidden;
}

.new-culture-section { 
    .legendUlWrapper{ 
        margin-top:102px;
        max-width:120px;
        ul{
        list-style: none;
        .text-no{
            font-weight: 600;
            float: right;
        }
    }
}
    .linear-gauge-part{
        float: left;
        width:25%;
        height:45px;
        background: $primary;
        position: relative;
        &:nth-child(2){
            background: #fa7921;
        }
        &:nth-child(3){
            background: #2a72ff;
        }
        &:nth-child(4){
            background: #63ca90;
        }
    }
    .linear-gauge-arrow{
        position: absolute;
        top:0;
        display: block;
        position: absolute;
        top:0;
        background: url(/img/white-shadow-arrow.png) no-repeat;
        width:51px;
        height:30px;
        margin-left:-22px;
        z-index: 1;
    }
    .lgaWrapper{
        position: absolute;
        left: 0;
        right:0;
        top:0;
        height:35px;
        overflow: hidden;
    }
    .linear-gauge{
        position: relative;
        ul{
            position: absolute;
            left: 0;
            right:0;
            bottom:-35px;

            li{
                list-style: none;
                float: left;
                position: relative;
                width:20%;
                min-height: 1px;
                text-align: right;
                .lgsclnmbr{
                    position: relative;
                    left:10px;
                    top:5px;
                }
                &:before{
                    content:'';
                    display: block;
                    width:1px;
                    height:5px;
                    position: absolute;
                    left:0;
                    top:0;
                    background: #e5e5e5;
                }
                &:first-child:before{
                    height:9px;
                }
            }
        }
        .linear-gauge-part:nth-child(2) ul li:first-child{
            text-align: left;
            .lgsclnmbr{
                left:-4px;
             
            }
        }
        .linear-gauge-part:last-child ul li:last-child:after{
                    content:'';
                    display: block;
                    width:1px;
                    height:9px;
                    position: absolute;
                    right:0;
                    top:0;
                    background: #e5e5e5;
        }
    }
    .engagementscore-wrapper .culture-score-date{
        text-align: left;
    }
}

.refreshsegmentButton{
    @media all and (min-width:768px){
        text-align: right;
    }
    a { 
        text-decoration: none;
        i{
            color:$theme;
            vertical-align: middle;
            top:0;
        }
    }
}

.CampaignSegmentationWrapper {
    .segmentSaveButtonWrapper{
        @media all and (max-width:767px){
            margin-top:0;
            }
    }
    .addMoreSegmentsWrapper{
        @media all and (max-width:767px){
            margin-top:0;
            button{
                padding:0 10px;
                width:100%;
            }
        }
       
    }
}
@media all and (min-width:768px){
    .comparison-right{
        float: left;
        width: 100%;
        margin-right: -350px;
        padding-right: 370px;
    }
    .comparison-left{
        width: 350px;
        background:$white;
        min-height: calc(100vh - 90px);
        float: left;
    }
}
.comparison-section .popupDescSection{
    max-height: inherit;
}