//header
.header-loader-wrapper-analytics{
   min-height:52px;
   .title {
       margin-top:0;
       width: 86px;
       max-width:100%;
       @include bp(xs){
         
       }
   }
   .header-year-expand-wrapper{
       float:right;
       width:225px;
       margin-top:0;
       max-width:100%;
       @include bp(xs){
           width:220px;
       }
   }
    .expand-link{
       width: 80px;
       max-width:100%;
   }
   .inner-Total-Social-engagement .filter-weekey-container{
       width: 160px;
       max-width:100%;
   }
}
//end
.blanck-div-loader-totalpost td ,.blanck-div-loader-totalpost{
      border-bottom:none !important;
  
}
.row-container-of-the-chart-analytics-loader-totalpost{
   .header-analytics-wrapper.header-loader-wrapper-analytics{
      padding-top:50px;
   }
   .recharts-legend-wrapper{
      ul li{
         margin-right: 14px;
         width: 100px;
       }
   }
}
.culture-analytics-exapnd .chart-container-loader{
   height: 300px;
   max-width: 900px;
   margin: auto;
   margin-top: 127px;
   margin-bottom: 20px;
}
@media screen and (max-width:767px){
   .row-container-of-the-chart-analytics-loader-totalpost{
      .recharts-legend-wrapper{
         ul {
            max-width:400px;
            width:100%;
         li{
            width:100%;
            margin:auto;
            margin-bottom: 10px;
          }
      }
   }
   }
   #content .main-wrppaer-analytics .header-analytics-wrapper.header-loader-wrapper-analytics{
     padding-top:50px;
   }
   .culture-analytics-exapnd .chart-container-loader{
      margin-left:20px;
      margin-right:20px;
   }
}
.TotalNetworkchartContainerLoader{
   height:547px;
}
.total-post-chart.totalPostNetworkchartContainer .inner-adoption-chart  .header-loader-wrapper-analytics{
   padding-top:28px;
}
.Total-Social-engagement .header-loader-wrapper-analytics{
  margin-bottom:0 !important;
}
.overtime-social-chart-loader .recharts-legend-wrapper{
   float:left;
}
.loader-chart-adoption-body-part{
   .chart-adoption{
      width:450px;
      max-width:100%;
      margin:0 auto;
      height:368px;
   }
   .legend-loader{
      width:200px;
      max-width:100%;
      margin-bottom: 10px;
      list-style: none;
   }
   .legend ,.chart-loader{
      float:left;
   }
   .chart-svg-loader{
      width:200px;
      height:200px;
      border-radius:200px;
      float:left;
   }
   .legend{
      float:left;
      margin-right:40px;
      margin-top:90px;
   }
   .userDetailsContainer{
      height: 180px;
   }
}
.loader-culture-tableExpand  .table .reactable-data tr:hover td ,.teamchange-loader .table .reactable-data tr:hover td {
     background: none;
}
@media screen and (max-width:979px){
   .loader-culture-tableExpand table tr td div{
      width:400px;
      max-width:100%;
    }
   .loader-culture-tableExpand .pagination-wrapper .pagination{
      margin-right:10px;
   }
}

//Engagement by channel loader design
.social-graph-block{
   .rounder-graph{
      .chart-svg-loader{
         width:200px;
         height:200px;
         border-radius: 200px;
         margin:0 auto;
         
      }

   }
   .legend{
      max-width:200px;
      margin:0 auto;
      margin-top:20px;
      ul li{
          list-style-type: none;
          margin-bottom: 10px;
      }
   }
}
.overTimeChartLoaderContainer{
   height:300px;
   width:100%;
   margin-top:127px;
}
.legend-wrapper-loader-for-overTime-socialpart{
   max-width:300px;
   margin:0 auto;
   margin-top:100px;
   ul li{
      list-style-type: none;
      margin-bottom: 10px;
   }
}
