// culturedashboard css
.culture-participation-mainbox{
    @media all and (min-width:768px){
        padding: 30px;
    }
}
.culture-score{
    padding: 30px;
    background: $analytics-culture-background;
    box-shadow: 1px 1px 8px $analytics-box-shadow-color;
    min-height: 422px;

}
.culture-score-wrapper{
    float: left;
}
.participation-wrapper{
    float: left;
   .title{
        text-transform: lowercase;        
        &:first-letter{
            text-transform: capitalize;
        }
   }
}
.expand-year-main-wrapper{
    float: right;
    position: relative;
  .yearly-filtered-data{
        span{
            display:inline-block;
        }
        a{
            font-size:$heading;
            font-weight:$font-light;
            color: $defult-light-text;
            line-height:20px;
            text-decoration: none;
            display: inline-block;
            transition: all 0.6s ease-out 0s;
            margin-right:10px;
            &:last-child{
                margin-right:0;
            }
        }
        a:hover{
            color:$color-heading-text;
           }
            .active{    
                color:$color-heading-text;
                font-weight:$font-semibold;
            }
      span{
        i{
            top:6px;
            position: relative;
            font-size:$font_size_22;
        }
      }
    }
}
.culture-participation-mainbox.dashboard-analytics-level1-container .participation  .participation-filter-view{
    margin-right:43px;
}
.expand-wrapper{
    float: right;
}
.culture-score-wrapper h4, .participation-wrapper h4{
    font-size: $normal-text;
    color: $default-text;
    font-weight: $font-reguler;
    line-height: 28px;
    text-transform: lowercase;
    &:first-letter{
        text-transform: capitalize;
    }
}

#culture-dashboard, #NPS-dashboard ,#dashboard .culture-dashboard-design-wrapper{
    @media all and (min-width:768px){
        .recharts-legend-wrapper{
            left: -290px !important;
            height:0 !important; 
            top:50% !important;   
            margin-top: -72px;
        }
        .participation-piechart-wrapper{
            .recharts-legend-wrapper{
                margin-top:-43px;
            }      
        }
    }
} 

#culture-dashboard, #NPS-dashboard{
    @media all and (min-width:768px){
        .recharts-legend-wrapper.rechart-loader-wrapper{
            left: 0 !important;
        }
    }
}
#dashboard .culture-dashboard-design-wrapper{
    @media all and (min-width:768px) and (max-width:864px){
        .recharts-legend-wrapper{
            left: -198px !important;
            .legendUlWrapper  ul li {
              .title-active-user{width:115px;}
            }
        }  
    }
}
.recharts-tooltip-wrapper{
    z-index: 9 !important;
}
.piechart-wrapper .recharts-wrapper{
    float:right;
}
.piechart-wrapper .recharts-wrapper {
    @media all and (max-width:767px){
        float: none;
        margin:0 auto;
    }
}
.week-month-year-wrapper-icon{
    float: left;
    padding-right: 25px;
    cursor: pointer;
    margin-top: 2px;
}
.culture-score-main-wrapper{
    float: left;
    width: 50%;
    padding: 0px 10px;
}

.engagementscore-wrapper .culture-score-value{
    width:33%;
}

.engagementscore-wrapper .culture-score-value .participation-piechart-wrapper.cf.piechart-wrapper div{
    margin-top: 24px; 
}
.engagementscore-wrapper .culture-score-date{
    font-size: 13px;
}

.driver-chart-wrapper .vote-wrapper{
    width: 100%;
    clear: both;
}

.culture-score-number .analytics-tooltip-title span{
    font-size: 13px;
}

.expand-year-wrapper{
    float: right;
}
.culture-score-number.small-score-number span.large-number{
    font-size: 80px;
}
.expand-wrapper a{
    font-size: $normal-text;
    color: $exapnd-link;
    text-decoration:none;
    font-weight: $font-light;
    line-height: 28px;
}
.culture-value-icon{
    float: left;
}
.culture-score-wrapper .material-icons, .participation-wrapper .material-icons{
    font-size: $button-text;
    vertical-align: -4px;
    
}
.expand-wrapper .material-icons{
    font-size:$font-size-21;
    vertical-align: -6px;
}
.culture-score-number{
    float: left;
    width: 40%;
}
.culture-score-percentage{
    float: right;
   
}
.cultur-score-value-wrapper{
    float: left;
}
.culture-score-number span{
    font-size: 110px;
    font-weight: $font-semibold;
    color: $color-heading-text;
    text-shadow: 3px 5px rgba(239, 239, 239, 0.9);
}
.culture-score-value{
    float: left;
    width: 60%;
    margin-top: 20px;
}
.culture-score-value .material-icons{
    float: left;
    color: $culture-score-primary;
}
.culture-score-value-content{
   
    padding-left: 33px; 
}
#culture-dashboard #navdraw{
    width: 56px;
}
.culture-score-value-content p{
    color: $culture-score-primary;
    font-weight: $font-reguler;
    margin-bottom: 5px;
    font-size: $normal-text;
    line-height: 18px;
}
.culture-score-percentage{
    text-align: right;
}
.culture-score-percentage span{
    display: block;
    font-size: $big-header;
    font-weight: $font-semibold;
    margin-bottom: 53px;
    line-height: 18px;
    color: $default-text;
    padding-right: 8px;
}


.culture-score-date-time-graph{
    width: 35%;
    float: left;
}
.culture-score-graph-image img{
    width: 80px;
    height: auto;
}
.culture-score-graph-image{
    position: relative;
    margin-bottom: 0;
    min-height: 24px;
    max-width: 156px;
    text-align: center;
    margin: 41px auto 21px;
}
#culture-dashboard .custom-tooltip p, #culture-dashboard .custom-tooltip ul li, #culture-dashboard .recharts-default-tooltip p, #culture-dashboard .recharts-default-tooltip ul li{
    padding: 0px;
}
.culture-score-date-time-graph .number {
    text-align: center;
    font-size: $big-header;
    position: absolute;
    top: -36px;
    right: 0;
    padding-right: 14px;
    font-weight: $font-semibold;
}
.culture-value-icon-content{
    margin-bottom: 26px;
}

.csClmWpr{
    .cscnt{
        vertical-align: 6px;
        padding-left: 5px;
    }
    .culture-score-detractors .csicnwrpr i{
        color:#ff595e;
    }
    .cspd .csicnwrpr i{
        color:#fa7921;
    }
    .cspotential .csicnwrpr i{
        color:#266fff;
    }
}
.detractors-count, .passives-count, .promotors-count{
    font-weight:$font-semibold;
    font-size: $big-header; 
    color:$color-heading-text; 
    line-height: 18px;
}
.culture-score-value-content span{
    color:$default-text;
    font-size: $normal-text;
    line-height: 18px;
    font-weight: $font-light;
}
.culture-score-detractors-count  svg {
    fill: $culture-score-primary;
  }
.culture-score-passives-count .material-icons{
    color: $color-heading-text;
    font-size: 25px;
}
.culture-score-promotors-count .material-icons{
    color: $green;
}
.culture-score-date-time-graph{
    border: 1px solid $culture-score-graph-border;
    padding: 10px;
    background: $culture-score-graph-background;
    text-align: center;
    @media all and (max-width:1300px){
        padding:10px 5px;
    }
}
.csClm{
    position: relative;
    float: left;
    text-align: center;
    margin-top: 47px;
    width:20%;
    padding:0 10px;
        @media all and (max-width:767px){
            float: none;
            width:auto;
            margin-top:0;
            padding-bottom:15px;
            margin-bottom:15px;
        }
    &:before{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 2px;
        height: 46px;
        background: #e5e5e5;
        @media all and (max-width:767px){
            top:auto;
            width: 46px;
            height:2px;
            bottom:0;
            right:50%;
            margin-right: -23px;
        }
    }
    &:last-child:before{
        visibility: hidden;
    }
}
#culture-dashboard .header-right {
    position: fixed;
    right: 0;
    left: 57px;
    z-index: 73;
}
.culture-score-date {
    color:$default-text;
    font-size: $normal-text;
    @media screen and (min-width:1200px) and (max-width:1279px){
        font-size:$small-text;
    }
}
#analytics-Main-container.Value-Scroll-Container #content {
    padding:49px 0 0 56px;
    @media all and (max-width:767px){
        padding:40px 0 0 1px;
    }
}
.Value-Scroll-Container  .chart-workplace-wrapper{
     margin-top: 60px;
     overflow: hidden;
    img{
        max-width: 100%;
    }
    @media all and (max-width:767px){
        margin-top:0;
    }
}
.Value-Scroll-Container .piechart-wrapper{
    width:auto;
    z-index: 0;
    @media all and (max-width:767px){
        margin-top:0;
    }
}
.Value-Scroll-Container .culture-score-value{
    .engagement-image-part{
        height: 205px;
        width: 378px;
        max-width: 100%;
        margin: 0 auto;
        img{
            max-width:100%;
        }
      
    }
    @media all and (max-width:767px){
        margin-top:0;
    }
}
.Value-Scroll-Container .culture-score-number .divider-no{
   font-size: 38px;
    line-height: 46px;
    position: absolute;
    right: -60px;
    top: 50%;
    font-weight: 600;
}
.Value-Scroll-Container .culture-score-number  .culture-no{
    position: relative;
}
.Value-Scroll-Container .benchmark-rank{
    color:$primary;
    padding:15px 0 ;
}
.Value-Scroll-Container  .culture-score , .Value-Scroll-Container  .participation{
    min-height:443px;
    @media all and (max-width:767px){
        min-height:100px;
    }
}
.Value-Scroll-Container .benchmark-rank span{
    color:$white;
    background: $yellow;
    font-size:13px;
    display: inline-block;
    padding: 1px 5px;
    border-radius: 4px;
    margin-left: 10px;
    line-height: 18px;
    text-shadow:none;
}
#culture-dashboard #content {
    padding: 49px 0 0 56px;
}
.cultureOverlay{
    background: $white !important;
}
.detractors-content, .passives-content, .promotors-content{
    color:$default-text;
    font-size: $normal-text;
    line-height: 18px;
    font-weight:$font-light;
    @media screen and (min-width:1200px) and (max-width:1279px){
        font-size:$small-text;
    }
}
.participation{
    padding: 30px;
    box-shadow: 1px 1px 8px $analytics-box-shadow-color; 
    min-height: 422px;
    @media all and (max-width:767px){
        padding:15px;
    }
    
}
.tagged-voted-value-header .expand-wrapper{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 29px;
    margin-right: 28px;
}
.tagged-voted-value-header{
position: relative;
}
.month-data, .year-data{
    padding-right: 10px;
    color: $defult-light-text;
    font-size: $normal-text;
    font-weight: $font-light;
}

.rechart-legend-count{
    font-weight: $font-semibold;
    padding-left: 35px;
    color: $color-heading-text;
    padding-left: 16px;
    float: right;
}
.week-data{
    padding-right: 7px;
    color: $defult-light-text;
    font-size: $normal-text;
    font-weight: $font-light;
}
.participation-main-wrapper{
    float: left;
    width: 50%;
    padding: 0 10px;
}
.tagged-value-wrapper{
    float: left;
    width: 50%;
}
.tagged-value-wrapper .participation, .vote-wrapper .participation{
    box-shadow: none;
}
.tagged-voted-value-main-box{
    box-shadow: 1px 2px 14px $analytics-box-shadow-color;
}
.vote-wrapper{
    width: 50%;
    float: left;
}
.tagged-voted-value{
    padding: 30px 10px;
    @media all and (max-width:767px){
      padding:30px 0;
    }
}

.donutchart-center-content{
    right: 60px;
    position: absolute;
    top: 80px;
    width: 82px;
    text-align: center;
    span{
        font-weight: $font-semibold;
        color: $color-heading-text;
        font-size: $big-header;
    }
    p{
        font-size: $normal-text;
        color:$default-text;
        margin-bottom:3px;
        font-weight: $font-light;
    }
    @media all and (min-width:1500px){
        right: 62px;
        top: 106px;
        width: 152px; 
        span{font-size:$font-size-21; line-height: 30px; }
      
    }
    @media all and (max-width:767px)
    {
        right:50%;
        margin-right:-41px;
    }
}
.participation-piechart-wrapper .donutchart-center-content{top:67px}
@media all and (min-width:1500px){
.participation-piechart-wrapper .donutchart-center-content{top:90px}
}
.piechart-wrapper{
    position:relative;
    width: 560px;
    margin: 24px auto 0;
    max-width: 100%;
    @media all and (max-width:1399px){
        margin-top:64px;
        width:480px;
    }
    @media all and (max-width:767px){
        width: auto;
        margin-top:220px;
        &.participation-piechart-wrapper{
            margin-top:90px;
        }
    }
}
.recharts-layer{
    position: relative;
    path{fill-opacity: 1 !important;}
}
.participation-low {
    font-weight:$font-medium !important;
    color: $culture-score-primary !important;
    border-bottom: 2px solid $participation-content-border;
}
.neutral-graph{
    margin-top: 30px;
    min-height: 21px;
}
.data-adoption ul,  .recharts-legend-wrapper ul {
    line-height: 16px;
    padding-left: 0;
}

.tagged-voted-value-main-box .recharts-legend-wrapper{
    top: 13px !important;
}
.yearly-filtered-data a{
    text-decoration: none;
}
.yearly-filtered-data a:hover{
    color: $content-text;
}
.tagged-voted-value-main-box,.dashboard-analytics-level1-container .recharts-legend-wrapper ul li {
    padding-right: 15px;
}
.legendUlWrapper{
    width:250px;
    height: 200px;
    overflow-y:auto;
    overflow-x: hidden;
    position: relative;
    left:15px;
    @media all and (max-width:767px){
        left: -16px;
        
    }
    .readMoreLi{
        text-align: center;
        a{
            color:$theme;
            font-size: 15px;
            line-height: 18px;
            height: 30px;
            display: inline-block;
            text-decoration: none;
            span{
                font-size: 50px;
                line-height: 56px;
                position: relative;
                top: -28px;
                display: block;
            }
        }
    }
    li{
        line-height: 22px;
        @media all and (min-width:1500px){
            line-height: 30px;
        }
       
    }
    &.showMore{
        margin-top:-58px;
        @media all and (min-width:1500px){
            margin-top:-96px;
        }
        @media all and (max-width:767px){
            margin-top: -19px;
        }
        background: #fffdfc;
        box-shadow: 0 0 15px -5px #000;
        position: relative;
        ul{
            overflow-y: auto;
            height:228px;
            margin-top: 10px;
            li{
                margin-bottom:11px !important;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .readMoreLi{
            display: none;
        }
    } 
}
.showLessBtnWrapper .material-icons{
    font-size:$font-size-21;
}

.legendHeader{
    position: relative; 
    border-bottom:1px solid #e7e5e5;
    .legendHeaderTitle{
        font-size: 15px;
        line-height: 24px;
        padding: 5px 10px;
    }
    .showLessBtnWrapper{
        position: absolute;
        right: 5px;
        top: 7px;
        a{
            color:$theme;
        }
    }
}


.tooltip-wrapper{
    width:410px;
    box-shadow: -1px 0px 10px -3px $analytics-box-shadow-color;
}
.analytics-tooltip-title{
    float:left;
}
.culture-score-wrapper, .participation-wrapper{
    .svg-icon{
        display: inline-block;
        vertical-align: -4px;
        cursor: pointer;
    }
    svg{
        width:18px;
        height:18px;
    }
    .material-icons{
        cursor: pointer;
    }
}

.analytics-tooltip-title span{
    font-weight:$font-medium;
    color:$color-heading-text;
}
.__react_component_tooltip.place-right:after{
    left: 0px;
    border-bottom: 0px;
    border-top: 0px;
}

.__react_component_tooltip.show{
    opacity: 1;
}

.__react_component_tooltip.place-right{
    margin-top: 76px;
}
@media screen and (max-width:767px){
    .__react_component_tooltip{
        margin-top: 119px !important;
        margin-left: 13 !important;
        left: 0 !important;
        .tooltip-wrapper{
           width:300px !important;
        }
    }
}

.analytics-tooltip-read-more{
    float:right;
}
.analytics-tooltip-read-more a{
    font-weight:$font-medium;
    color:$color-heading-text;
}
.tooltip-header {
    padding: 12px 10px;
    border-bottom: 1px solid $culture-score-graph-border;
    background: #f8f7f5;
}
.__react_component_tooltip{
padding: 0px !important;
}
.tooltip-about-wrapper{
    padding: 10px;
    line-height: 23px;
}
.tooltip-about-wrapper span{
    font-weight: 300;
    color: $defult-light-text;
    font-size: $date-text;
   
}
.tooltip-about-wrapper p{
    margin-top: 5px;
    font-size: $normal-text;
    margin-bottom: 0px;
}
.analytics-tooltip-read-more{
    padding: 7px;
    border: 1px solid $analytics-border;
    background: $white;
    line-height:normal;
}
.analytics-tooltip-title{
    margin-top: 8px;
    line-height:normal;
}
.culture-index-loader .recharts-surface-loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

// loader
.culture-index-loader{

.culture-score-wrapper{
    width: 118px;
}
.expand-wrapper{
    width: 72px;
}

.culture-index-number {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    &.loader-grey-line{
       
        position: relative;
    }
}
.culture-value-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.promoted-value{
    width: 140px;
}
.promoted-value-wrapper {
    width: 60px;
    margin-top: 9px;
}
.culture-score-percentage-wrapper{
    margin-bottom: 45px;
}
.culture-score-percentage{
    width: 40px;
    float: right;
}
.culture-score-graph-img-loader{
    width: 118px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 34px;
    margin-top: 21px;
}
.culture-score-date{
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
.detractors-loader{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.detractors-count, .passives-count, .promotors-count{
    width: 34px;
    vertical-align: -4px;
    margin-left: 9px;
}
.detractors-content, .passives-content, .promotors-content{
    width: 75px;
    margin: 0 auto;

}
.culture-count-loader{
    width: 24px;
    height: 24px;
}
.culture-score-detractors, .culture-score-passives{
    border-right: 0px;
}
.participation-wrapper{
    width: 120px;
}

.yearly-filtered-data{
    margin-top: 0px;
}
.week-month-year-wrapper-icon {
    margin-top: -8px;
    margin-left: 8px;
}
.culture-score-date-time-graph{
    border: none;
    background: none;
}
.expand-year-wrapper{
    width: 195px;
    position: relative;
    z-index: 2;
}

#culture-dashboard .recharts-wrapper .recharts-surface-loader  {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.recharts-default-legend  {
    margin-left: -247px !important;
}
.recharts-legend-wrapper{
    top: 75.5px;
}
.participation-main-wrapper .data-adoption ul, .participation-main-wrapper .recharts-legend-wrapper ul {
    margin-left: -293px !important;
    width: 170px;
}
.legend-list-loader{
    width: 170px;
}
.culture-index-loader .participation-piechart-wrapper .recharts-legend-wrapper {
     margin-top: 0px; 
    
}
}



@media only screen and (min-width: 1500px) {
    .culture-index-loader .recharts-wrapper .recharts-surface-loader {
        border-radius: 50%;
        width: 280px;
        height: 280px;
    }
}
.new-culture-section .culture-score-number {
@media all and (max-width: 900px) {
    
        margin-top:40px;
        float: left;
    }

@media all and (max-width: 479px) {
    float: none;
    text-align: center;
}
}



@media only screen and (max-width: 1199px) {
    .culture-score-main-wrapper, .participation-main-wrapper {
     width: 100%;
    }
    .participation-main-wrapper{
        margin-top: 30px;
    }
    .vote-wrapper {
        width: 100%;
        float: left;
    }
    .tagged-value-wrapper {
        float: left;
        width: 100%;
    }
  }
  .culture-participation-mainbox .recharts-tooltip-wrapper,.engagementByChannel .recharts-tooltip-wrapper,.totalPostNetworkchartContainer .recharts-tooltip-wrapper, .NpsCommentWrapper .piechart-wrapper .recharts-tooltip-wrapper{
        margin: 0px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        white-space: nowrap;
        font-weight: bold;
        p ,ul li{
            font-size:$heading;
            font-weight:$font-light;
            padding-top:10 !important ;
            padding-bottom: 10 !important ;
            color:$color-heading-text;
            padding: 10px;
            margin: 0;
        }
    }
    .Expand-design-wrapper{
       padding:0 30px;
    }
  //------------ 767-------------//
//   only screen and (min-width:768px) and  (max-width:900px)
  @media only screen and  (max-width:900px) {
    .Expand-design-wrapper,#analytics-Main-container .totalPostExpandContainer{
        padding:0;
    }
    #analytics-Main-container .totalPostExpandContainer{
        padding-top:45px;
    }
    .tagged-voted-value-main-box{
        max-width:100% !important;
        padding:0;
    }
    
    .culture-dashboard-tab{
        display: none;
    }
    
    .culture-dashboard-tab-responsive {
        display: block !important;
        margin-left: 30px;
    }
    .culture-score-tab{
        margin-top:60px;
  }
    .culture-index-loader .piechart-wrapper.participation-piechart-wrapper {
        margin-top: 220px;
    }
    .culture-index-loader .culture-index-number {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 16px;
        text-align: center;
        margin: 0 auto;
    }
   .culture-participation-mainbox .culture-index-loader .data-adoption ul,.culture-participation-mainbox  .culture-index-loader  .recharts-legend-wrapper ul {
       
        margin-left: 20px !important;
        width: auto;
    }
    .culture-index-loader .recharts-wrapper{
        width: 200px;
        height: 200px;
        text-align: center;
    }
    .Value-Scroll-Container  .culture-score-value {
        width: 100%;
        margin-top:0;  
    }
   
    .culture-score-date-time-graph {
        width: auto;
        float: none;
        margin-bottom: 30px;
    }
    
    
  .culture-index-loader .expand-year-wrapper {
    float: left;
}
  .culture-index-loader .tagged-voted-value .expand-year-main-wrapper, .culture-index-loader .participation .expand-year-main-wrapper {
    margin-top: 14px;
}
  .culture-score-main-wrapper {
    padding: 0px;
}
.culture-score {
    padding: 15px;
}
.tagged-voted-value-main-box, .dashboard-analytics-level1-container .recharts-legend-wrapper ul li {
    padding-right: 9px;
}
  }

@media only screen and (max-width:767px) {
    .expand-year-wrapper{
        float:left;
    }
    #culture-dashboard ,#dashboard .participation-main-wrapper, #NPS-dashboard{
        .recharts-legend-wrapper{
            top: -210px !important;
            left: -9px !important;
        }
        .participation-piechart-wrapper .recharts-legend-wrapper{
            top:-75px !important;
        }
    } 
    .expand-year-main-wrapper{
       margin-right: 0;
       float: left;
       width: 100%;
       margin-bottom:20px;
  }

.tagged-voted-value-main-box {
    width: 100%;
    float: none;
    max-width: 400px;
    margin: 0 auto;
}
.culture-score-main-wrapper, .participation-main-wrapper {
    width: 100%;
    float: none;
    max-width: 400px;
    margin: 20px auto 0;
    padding: 0px;
    max-width:100%;
   }
}
@media only screen and  (max-width:767px) {
    #culture-dashboard #content {
        padding: 40px 0 0 1px;
    }
   .Value-Scroll-Container  .piechart-wrapper.participation-piechart-wrapper{
        margin-top:0;
    }
    .culture-score-tab{
        margin-top:20px;
    }
}
.analytics-tooltip-read-more .material-icons{
    font-size: $big-header;
    vertical-align: -4px;
    margin-left: 0px;
  }
  .participation-piechart-wrapper .recharts-surface-loader .recharts-legend-wrapper,
 .recharts-surface-loader ~ .recharts-legend-wrapper{
     position: absolute; margin-top:-13px; left:0 !important; width:170px;
    }
  
// tabbing sec css
.culture-dashboard-tabbing-sec a{
    text-decoration: none;
    font-size: $normal-text;
    line-height: 22px;
    font-weight: $font-light;
    display: inline-block;
    color:$color-heading-text;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-bottom: 6px;
    margin-right: 20px;
    position: relative;
    @media all and (max-width:767px){
       margin-bottom: 20px;
    }
}
.culture-dashboard-tabbing-sec a::before{
content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -7px;
    right: 100%;
    height: 3px;
    background:$primary;
}
.culture-dashboard-tabbing-sec{
    float: left;
}
.culture-dashboard-tabbing-sec{
    padding-top: 10px;
}
.culture-dashboard-tabbing-sec a.active {
    color:$primary;
    font-weight:$font-reguler;
    font-size: $normal-text;
}
.culture-dashboard-tabbing-sec a.active:before {
    right: 0;
}
.culture-dashboard-tab-responsive{
    display: none;
}

/* culture participation */
.culture-new-tab .culture-second-row-graphs .participation{min-height: 0}
/* culture participation ends*/

/* new culture section starts*/
.new-culture-section{
    
    .participation-main-wrapper{
        width:50%;
        .culture-score-graph-wrapper{
            box-shadow: 1px 2px 14px #dedede;
            padding:20px;
            @media all and (max-width:767px){
                padding-bottom:60px;
            }
        }
    }
    .csClmWpr{
        @media all and (min-width:768px){
            display: flex;
        }
    }
    .csn-inner{
        display: inline-block;
        position: relative;
    }
    .recharts-legend-wrapper{
        left: -240px !important;
        height: 0 !important;
        top: 50% !important;
        margin-top: -26px;
    }
    .culture-analytics-exapnd .recharts-legend-wrapper{
        top:-60px !important;
        @media all and (max-width:900px){
            top:-170px !important;
        }
        @media all and (max-width:767px){
            top:-290px !important;
        }
    }
    .driver-selected{
        .culture-analytics-exapnd .recharts-legend-wrapper{
            height: 0 !important;
            top: -170px !important;
            @media all and (max-width:900px){
                top:-480px !important;
            }
            @media all and (max-width:767px){
                margin-left:0;
            }
        }
    }
    
    .culture-analytics-exapnd .recharts-legend-wrapper > ul, .culture-analytics-exapnd .recharts-legend-wrapper > div > ul{
        @media all and (min-width:901px){
            display: flex;
        }
        text-align: left;
        max-width: none;
      >  li{
            width: 33.33%;
            text-align: left;
            white-space: nowrap;
            @media(min-width: 991px) and (max-width: 1280px){
                    width: 18.80%;

            }            
            @media all and (min-width:901px){
                &:before{
                    content:'';
                    display: block;
                    position: absolute;
                    right:-12px;
                    top:0;
                    width:2px;
                    height:46px;
                    background: #e5e5e5;
                }
                &:last-child:before{
                    visibility: hidden;
                }
            }
            .title-active-user{
                width: 90px;
            }
           
            ul{
                margin-top: 10px;
                @media all and (max-width:900px){
                    background: #fff;
                    box-shadow: 0 0 10px -5px #000;
                    border-radius: 10px;
                    padding: 10px;
                }
                li{
                    float: none;
                    text-align: left;
                    width: auto;
                    margin: 0 auto 10px;
                }
            }
        }
        &.top-legend-wrapper { 
            margin-bottom:30px;
            > li{
                padding-left:32px;
                &:before{
                    visibility: hidden;
                }
            }
        }
        &.bottom-legend-wrapper li{
            &.clearfix{
                width: 14.9%;  
            } 
            &:nth-child(1){
                z-index: 4;
            }
            &:nth-child(2){
                z-index: 3;
            }
            &:nth-child(3){
                z-index: 2;
            }
            &:nth-child(4){
                z-index: 1;
            }
        }
        &.bottom-legend-wrapper > li.no-dot-li { 
            text-align: center;
            .culture-legend-li-inner{
                padding-left:10px;
                padding-right:10px;
                max-width: none;
                display: inline-block;
            }
        }
        > li{
            padding-left:0;
            margin-right:20px;
            &:last-child{
                margin-right:0;
            }
            @media all and (max-width:900px){
                width: auto;
                float: none;
                margin-right:0;
            }
            .culture-legend-li-inner{
                background: #ebebeb;
                padding: 10px 27px 10px 22px;
                border-radius: 40px;
                max-width: 200px;
                margin: 0 auto;
                position: relative;
                min-height: 41px;
                display: flex;
                align-items: center;
                .rounder-dot{
                    top:50%;
                    margin-top:-4px;
                    left: 9px;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                }
                .title-active-usenbr{
                    width: 100%;
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                >  .title-active-user{
                
                    position: relative;
                    overflow: hidden;
                    font-size: 12px;
                    
                }
            }
            
          
        }
    }
    
    .culture-score-date-time-graph{
        width: 60%;
        max-width: 330px;
        float: right;
        @media all and (max-width:479px){
            width:auto;
            float: none;
            margin-bottom: 20px;
        }
        svg{
            position: relative;
            top:4px;
            @media all and (max-width:1450px){
                width:260px;
            }
        }
        .culture-score-graph-image{
            max-width: none;
        }
    }
}
.culture-segment-wrapper .title svg{
width:18px;
height:18px;
position: relative;
    top: 4px;
}
.engagementdata-wrapper .culture-score-graph-wrapper {
     min-height: 460px; 
}
.Value-Scroll-Container{
    .new-culture-section{
        .culture-score, .culture-score-graph-wrapper{
            min-height: 473px; 
            @media all and (max-width:767px){
                min-height:100px;
            }
        }
        .chart-workplace-wrapper{
            padding-top:60px;
            @media all and (max-width:900px){
                padding-top:170px;
            }
            @media all and (max-width:767px){
                padding-top:310px;
            }
        }
        .chart-workplace-wrapper.driver-selected{
            padding-top:170px;
            @media all and (max-width:900px){
                padding-top:480px;
            }
        }
    }
}
.participation-header{
    position: relative;
    z-index: 1;
}
.csClmWpr .cultureNumber{display: block;}

@media all and (max-width:1250px){
    .new-culture-section {  
        .culture-score-main-wrapper, .participation-main-wrapper{
            float: none;
            width: auto;
            margin-bottom: 20px;
        }
        
    }
    .csnmbrvlwrpr, .header-analytics-wrapper, .culture-segment-wrapper .title{
        max-width: 900px;
        margin:0 auto;
    }
}

.culture-score-main-wrapper{
    .culture-score-number {
        margin-top: 50px;
        
        span{
            font-size: 50px;
        }
        .divider-no{
            margin-top: -13px;
            right:-70px;
        }
    }
}

.culture-score-main-wrapper{
    .culture-score-number {
@media all and (max-width:479px){
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    float: none;
    width: auto;
    text-align: center;
}
}
}
.clarrow{
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 100%;
    background: #dedede;
    border-radius: 0 40px 40px 0;
    &:before{
        content: '';
    display: block;
    border-top: 6px solid #b3b1b1;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
        
    }
}
.popup-center-wrapper .createSegmentSection .addRemoveSegmentData{
    min-width: 0;
}
@media all and (max-width:767px){
    .culture-participation-mainbox.new-culture-section{
        padding:0;
        .tagged-voted-value{
            padding-top:0;
        }
    }
    #NPS-dashboard .culture-participation-mainbox{
        padding:0px;
    }
    .culture-segment-wrapper .title{
        text-align: center;
    margin-bottom: 20px;
    }
    .new-culture-section .chart-container-in-analytics-wrapper .recharts-legend-wrapper{
        margin-left:0 !important;
    }
}

.new-culture-section .culture-index-loader { 
    .culture-score-graph-wrapper{
        min-height: 0;
    }
    .culture-score-date-time-graph{
        min-height: 200px;
    }
    .title-active-user{
        margin-bottom:10px;
    }
    .title-active-user-wrapper .culture-score-number{
        margin-top:50px;
    }
    .linear-gauge{
        margin-top:100px;
        height:45px;
    }
}
.culture-index-loader .culture-score-header{
    margin-bottom:10px;
}
.hmdgLdrow{
    display: flex;
    .hmdgLdclm{
        background-color: #f5f6f7 !important;
    background-image: url(/img/visiblyLoader.gif) !important;
    background-size: 100% 1px;
    background-repeat: repeat;
    height:60px;
    width: 10%;
    border: 1px solid #fff;
    }
}
.new-culture-section { 
    .culture-score{
        padding:20px;
    }
    .expand-year-main-wrapper{
        margin-top:15px;
    }
     .piechart-wrapper .culture-score-graph-image .recharts-wrapper{
        float: none;
    }
    .culture-score-date{
        text-align: left;
    }
}
.Value-Scroll-Container .new-culture-section .participation-piechart-wrapper{
    margin-bottom:70px;
    @media all and (max-width:1450px){
        margin:0 auto 60px;
        max-width: 900px;
    }
}
.csicnwrpr{
    position: relative;
}
/* new culture section ends*/

/* Add segments popup starts*/
.hmAsPopup .main-popup-wrapper, .CampaignSegmentationWrapper .main-popup-wrapper{
    width:900px;
}
/* Add segments popup ends*/
.moderation{
    #navdraw  .nav-side ul li{
      text-transform:uppercase;
    }
}


/* Compare section starts */
.comparison-section { 
    .recharts-wrapper{
        display: flex;
        flex-direction: column;
    }
    .recharts-legend-wrapper ul ul{
        position: absolute;
        left: 50%;
        width: 200px;
        margin-left: -100px;
    }
    .recharts-legend-wrapper, .new-culture-section .driver-selected .culture-analytics-exapnd .recharts-legend-wrapper{
        @media all and (max-width:767px){
            order:1;
            height:auto !important;
            position: static !important;
        }
    }
    .recharts-surface{
        order:2;
    }
    .new-culture-section .culture-analytics-exapnd .recharts-legend-wrapper{
        
        @media all and (min-width:768px){
            top:-107px !important;
            }
        @media all and (max-width:767px){
        top:0 !important;
        }
    }

    .new-culture-section .driver-selected .culture-analytics-exapnd .recharts-legend-wrapper{
        @media all and (min-width:768px){
            top: -242px !important;
            }
    }
    
    .contentEngage-list-table {
        .table-email-print-preview{
            width: 100px;
            height: 100px;
            margin:0;
            @media all and (max-width:900px){
                margin-top:10px;
            }
        .imgwrapper{
            position: relative;
            padding-bottom: 100%;
            float: none;
            width: auto;
            .inner_imgwrapper{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: hidden;
                padding-bottom:100%;
                .inner-pdf-wrapper{
                    padding:0;
                }
                table { 
                    width: 570px;
                    transform: scale(0.14);
                    transform-origin: 5px 5px;
                    td{
                        white-space: normal;
                    }
                }
                .first-pdf-page{
                    width: 570px;
                    transform: scale(0.18);
                    transform-origin: 0 0;
                }
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.3);
                    z-index: 1;
                }
            }
        }
    }
    }
    .comparisonTable-wrapper{
        @media all and (min-width:768px){
            padding-left:56px;
        }
        background: #fff;
    }
    .Expand-design-wrapper{
        padding:0;
    }
    .pdf-preview, .csv-preview{
        height: calc(100vh - 48px);
        border:0;
    }
    .post-preview-block .inner_imgwrapper{
        padding-bottom:100%;
    }
}

.overlay .comparison-section .main-wrppaer-analytics .table-wrapper{
    filter: blur(2px);
}

.Value-Scroll-Container .comparison-section  .new-culture-section .chart-workplace-wrapper{
    @media all and (min-width:768px){
        padding-top:110px;
        &.driver-selected{
            padding-top:240px;
            
        }
    }
    @media all and (max-width:767px){
        padding-top:0;
    }
}
#NPS-dashboard {
    .expand-link{
    float: right;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    color: $theme;
    .material-icons{
        vertical-align: -8px;
        margin-top: 5px;
    }
    @media (max-width: 767px){
        width: 100%;
        margin-top: -9px;
    }
}
.expand-year-main-wrapper{
    margin-right: 43px;
    margin-top: 6px;
}
}
.nps-analytics-main-wrapper{
 .culture-score-date-time-graph{
    width: 60%;
    max-width: 330px;
    float: right;
   
    @media (max-width: 479px){
    width: auto;
    float: none;
    margin:0 auto 20px;
    } 
}
@media (max-width: 767px){
.participation-wrapper{
    float:none;
}
.participation-wrapper h4{
    margin-bottom: 0px;
}
}
}
.nps-participation-wrapper{ 
    .piechart-wrapper{
    position:relative;
    width: 560px;
    margin: 24px auto 0;
    max-width: 100%;
    @media all and (max-width:1399px){
        margin-top:64px !important;
        width:480px !important;
    }
    @media all and (max-width:767px){
        width: auto !important;
        margin-top:220px !important;
        &.participation-piechart-wrapper{
            margin-top:220px !important;
        }
    }
}
}
/* Compare section ends */