#externalAnalytics {
    #external-analytics-div {
        .statusname_live {
            p {
                a {
                    font-size: 27px;
                }
            }
            
        }
    }
    .profilephoto {
        position: relative;
    }
    .userimage1 {
        position: absolute;
        bottom: -20% !important;
        left: 50% !important;
        margin-left: -37px !important;
    }
    .internalpost .internalpost_content .inner_overall .postcontent .username {
        margin-top: 12px;
        top: 52%;
        left: 47%;
        position: absolute;
    }
    
    .postcontent #external-post-p1 {
        position: absolute;
        top: 77%;
        left: 38%;
        color: black;
        font-weight: 400;
    }
    .postcontent #external-post-p2 {
        position: absolute;
        top: 77%;
        left: 27%;
        color: black;
        font-weight: 400;
    }
    .statusnum_live {
        p {
            font-size: 25px !important;
            font-weight: 100;
            text-align: right !important;
            padding-right: 47px;
        }
    }
    .totalname_asset {
        padding: 0;
        margin: 0;
    } 
   
    h1 {
        font-size: 50px;
    }
    
    
    .contribute_content .col-one-of-three {
        margin: 0;
        padding: 0;
    }
    .external-fb {
        .row {
            height: 52px;
            bordeR: 1px solid $dark-bg
        }
        .col-one-of-two {
            margin: 0;
            padding: 0;
        }
    }
    
    
    
    .statusnum_live {
        text-align: right;
        h3 {
            font-size: 30px;
            font-weight: 500px;
            margin-right: 39px;
            transform: translateY(25%);
        }
    }
    .footer-external {
        border: 1px solid $secondary;
    }
    #char_id {
        position: relative;
        top: 100%;
        min-height: 150px;
    }
    
    #charimage {
        min-height: 144px;
        position: absolute;
        top: 37%;
        background-image: url(/img/gp1.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .internalpost {
        width: 100%;
    }
    .overalldiv {
        border-right: 0 !important;
    }
    #external-post-p {
        position: absolute;
        top: 55%;
        left: 38%;
    }
    #bystatusdiv-secondary {
        border-bottom: 10px solid $secondary;
    }
    .totalname_asset {
        position: relative;
        top: -16% !important;
        margin: 0;
    }
    #total {
        position: relative;
        top: -16% !important;
        margin: 0;
    }
    #score-text {
        
        p {
          
            font-size:$font-title;
            color: $dark;
            font-weight: 400;
            text-align: center;
            position: relative;
            margin-top:35%;
        }
    }
    .compartive-text-div .camp_details_logo {
        margin: 0 0 17px 0;
        width: 57px;
        height: auto;
    }
    .compartive-text-div {
        padding-top: 26px;
        padding-left: 15px;
        p {
            font-weight: 400;
            color: $color-heading-text;
            margin-bottom: 7px;
        }
    }
    .contribute_content {
        .title {
            font-weight: initial;
            color: $dark;
        }
        position: relative;
        .col-one-of-four {
            a {
                color: $dark;
                margin-left: 10px;
                text-decoration: none;
                font-weight: 400;
                padding: 10px;
                &.active {
                    background-color: $theme;
                    border: 1px solid $theme;
                    border-radius: 5px;
                    color: white;
                    padding: 10px 10px 10px 10px;
                    font-weight: bold;
                }
            }
            .title {
                font-weight: initial;
                color: $dark;
                line-height: 4em;
            }
            &.last {
                width: initial;
            }
        }
        #one-of-two {
            width: 47.153% !important;
        }
        .reportContent {
            .reportSocial {
                background-repeat: no-repeat;
                width: 33.3%;
                padding:0 3px;
                float: left;
                position: relative;
                
                .likediv {
                    min-height: 49px;
                    border-bottom: 1px solid #dde8ed;
                    background-color: $white;
                    .likecount {
                        float: left;
                        width: 50%;
                        padding: 12px 10px 0px 22px;
                        font-size: 20px;
                        color: $color-heading-text;
                    }
                    .likelogo {
                        float: left;
                        width: 50%;
                        padding: 14px 15px 0 10px;
                        text-align: right;
                        a {
                            color: #3b5998;
                            i {
                                font-size: x-large;
                              
                            }
                        }
                    }
                }
                &.tw {
                    .divBottomcolor {
                        background: $twitter;
                        width: 100%;
                        height: 12px;
                        position: relative;
                    }
                    b {
                        text-align: center;
                        background: $light;
                        width: 100%;
                        float: right;
                        color: $dark;
                        font-weight: initial;
                        position: relative;
                        top: 15px;
                        font-size:$font-title;
                    }
                    
                    .likelogo {
                        a {
                            color: $twitter;
                            margin-left: 20%;
                        }
                    }
                }
                &.link {
                    .divBottomcolor {
                        background: $linkln;
                        width: 100%;
                        height: 12px;
                    }
                    
                    .likelogo {
                        a {
                            color: $linkln;
                            margin-left: 20%;
                        }
                    }
                }
                .divBottomcolor {
                    background: #3b5998;
                    width: 100%;
                    height: 12px;
                }
            }
            
            .reportPost-Assetdetail {
                width: 18%;
                margin-left: 2%;
                float: left;
                .reportPost-Assetinner {
                    text-align: center;
                    height: 150px; // border-bottom: 18px solid $green
                    background-color: $white;
                    position: relative;
                    h2 {
                        text-align: center;
                        font-size: 50px;
                        font-weight: inherit;
                        color: $dark;
                        line-height: 0;
                        min-height: 28px;
                        margin: 0;
                    }
                    a {
                        i {
                            font-size: 30px;
                            color: $green;
                        }
                    }
                }
                b {
                    background: $light;
                    width: 100%;
                    float: right;
                    text-align: center;
                    color: $dark;
                    font-weight: initial;
                    position: relative;
                    top: 15px;
                    font-size:$font-title;
                }
                .divBottomcolor {
                    width: 100%;
                    height: 12px;
                    background: $green;
                    padding-top: 7%;
                }
            }
        }
    }
}
.statusname_text
{    
    min-width: 110px;
    display: inline-block;
}
.chartdiv {
    canvas, img{max-width: 100%; height:auto;}
}
.reportSocial a.corner-icon {
    position: absolute;
    color: $white;
    left: 20px;
    top: 10px;
    font-size: 34px;
    &.fb{left:16px;}
    &.tw{left:12px;}
    &.li{left:11px;}
}
.reportContent{background: $light; margin:0 -3px;}
.reportSocial-inner{background: $white; position: relative; overflow: hidden;}
.reportSocial-inner::before 
{
    position: absolute;
    content: "";
    width: 170.47px;
    height: 170px;
    border-radius: 50%;
    shape-outside: circle(50% at 0 0) margin-box;
    left: -100px;
    top: -100px;
    background: #3b5998;
}
.tw 
{
    .reportSocial-inner:before {
        background: $twitter;
    }
}
.link
{
    .reportSocial-inner:before {
        background: $linkln;
    }
}
@media only screen and (min-width:500px) {
    #toggle {
        display: none;
    }
}

@media only screen and (max-width:500px) {
    .internalpost {
        .internalpost_content {
            .col-one-of-four {
                width: 100% !important;
            }
        }
    }
    #externalAnalytics {
        .filter_dropdowns {
            .col-one-of-three {
                width: 100%;
            }
            .col-three-of-twelve {
                width: 100%;
            }
            .col-one-of-three {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        #toggle {
            display: none;
        }
        #analytics .filterby .col-one-of-three.last {
            width: 100%;
        }
        .filterby .col-one-of-three {
            width: 100% !important;
        }
        #external-analytics-div {
            
            #bychannles {
                width: 100% !important;
                float: none;
                margin: 0;
                padding: 0;
            }
            .contribute_content {
                width: 100%;
                .reportSocial {
                    width: 100%;
                }
            }
        }
        .contribute_content {
            width: 100%;
        }
        #score-text {
            min-height: 202px;
        }
        // .postcontent #external-post-p1 {
        //     position: absolute;
        //     top: 77%;
        //     left: 44%;
        // }
        // .postcontent #external-post-p2 {
        //     position: absolute;
        //     top: 77%;
        //     left: 33%;
        // }
        .postcontent #external-post-p3 {
            position: absolute;
            top: 77%;
            left:21%;
            color:black;
            font-weight: 400;
        }
        .internal_contributer {
            .col-one-of-three {
                width: 100%
            }
            .col-two-of-three {
                width: 100% !important;
                ;
            }
        }
        .engagement_chartdiv {
            width: 100%;
            .col-one-of-two {
                width: 100%;
            }
        }
        .tag_department {
            .col-one-of-two {
                width: 100% !important;
            }
        }
    }
}

@media only screen and (max-width: 768px) and (min-width:500px) {
    .internalpost {
        .internalpost_content {
            .col-one-of-four {
                width: 50% !important;
            }
            .inner_overall .postcontent .username {
                top: 59%;
                position: absolute;
            }
            .inner_overall .postcontent .postdesc p {
                top: 65%;
                position: absolute;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #externalAnalytics {
        .filter_dropdowns {
            .col-one-of-three {
                width: 100%;
            }
            .col-three-of-twelve {
                width: 100%;
            }
            .col-one-of-three {
                width: 100% !important;
                margin-bottom: 10px;
            }
        }
        #toggle {
            display: none;
        }
        #external-analytics-div {
            .col-one-of-three {
                .reportSocial {
                    width: 100%;
                }
            }
        }
        .internalpost {
            .internalpost_content {
                .col-one-of-four {
                    width: 50%
                }
                .inner_overall .postcontent .username {
                    top: 59%;
                    position: absolute;
                }
                .inner_overall .postcontent .postdesc p {
                    top: 65%;
                    position: absolute;
                }
            }
        }
        .internalpost {
            .internalpost_content {
                .col-one-of-four {
                    width: 100%;
                }
            }
        }
        .contribute_content {
            width: 100%;
            .reportSocial {
                width: 100% !important;
            }
        }
        .engagement_chartdiv {
            width: 100%;
            .col-one-of-two {
                width: 100%;
            }
        }
        .inner_tagdiv .col-one-of-two {
            width: 50% !important;
        }
    
    }
}

@media only screen and (max-width: 1210px) and (min-width:769px) {
    .internalpost {
        .internalpost_content {
            .col-one-of-four {
                width: 50%;
            }
        }
    }
    #toggle {
        display: none;
    }
    #external-analytics-div {
        .col-one-of-three {
            width: 100%;
        }
    }
    .inner_tagdiv .col-one-of-two {
        width: 50% !important;
    }
    #externalAnalytics {
        .filter_dropdowns {
            .col-one-of-three {
                width: 100%;
            }
            .col-three-of-twelve {
                width: 100%;
            }
            .col-one-of-three {
                width: 100% !important;
                margin-bottom: 10px;
            }
        }
    }
    @media only screen and (max-width: 1141px) {
        #externalAnalytics {
            .filter_dropdowns {
                .col-one-of-three {
                    width: 100%;
                }
            }
            
            .internalpost {
                .internalpost_content {
                    .inner_overall .postcontent .username {
                        top: 59%;
                        position: absolute;
                    }
                    .inner_overall .postcontent .postdesc p {
                        top: 65%;
                        position: absolute;
                    }
                }
            }
            .tag_department {
                .col-one-of-two {
                    width: 100%;
                }
                .inner_tagdiv {
                    .col-one-of-two  {
                        width: 50%;
                    }
                }
            }
        }
    }
    
    #reg-nav {
        #toggle {
            @include bp(lg) {
                display: none;
            }
            @include bp(md) {
                display: none;
            }
            @include bp(sm) {
                display: none;
            }
        }
        #toggle {
            background-color: $primary;
            width: 100%;
        }
    }
    @media only screen and (max-width:500px) {
        #externalAnalytics .navdiv {
            border-bottom: 0;
        }
        #reg-nav {
            #toggle {
                @include bp(lg) {
                    display: none;
                }
                @include bp(md) {
                    display: none;
                }
            }
            .nav-collapse {
                ul {
                    display: none;
                }
            }
            .nav-d {
                ul {
                    display: none;
                }
            }
            .navdiv {
                border-bottom: 0;
            }
        }
    }
    @media only screen and (max-width:500px) {
        .internalpost {
            .internalpost_content {
                .col-one-of-four {
                    width: 50% !important;
                }
            }
        }
        .inner-right-camping {
            .col-three-of-twelve {
                width: -1.27119% !important;
                font-size: $date-text;
            }
            .col-two-of-twelve {
                width: -1.27119% !important;
            }
        }
    }
}

//camping media query
@media all and (max-width:1300px)
{
    #externalAnalytics #external-analytics-div .statusname_live .statusname_text{min-width: 100px;}
}
@media only screen and (max-width:1067px) {
    .recent_Camp_details {
        .col-three-of-twelve {
            font-size: 12px !important;
        }
        .col-two-of-twelve {
            font-size: 12px !important;
        }
    }
    .inner-right-camping {
        .col-three-of-twelve {
            width: -5.27119% !important;
        }
    }
}

@media only screen and (max-width:979px) {
    .recent_Camp_details {
        .col-three-of-twelve,
        .col-two-of-twelve {
            width: auto;
            margin-right: 10px;
        }
        .innerdiv_detail {
            margin-left: 4% !important;
            img {
                width: 40px !important;
                height: 40px !important;
                margin-left: 0;
                left: 0;
            }
        }
        .img-camping-most-recent {
            width: 20px;
        }
        .inner-right-camping {
            line-height: 108px !important;
        }
    }
    #externalAnalytics .contribute_content .reportContent .reportSocial{width: auto; float: none; margin-bottom:10px;}
}

@media only screen and (max-width:320px) {

    #analytics .filterby .col-one-of-three.last a{
        margin-left: 3px;
    }
}
@media only screen and (max-width:1024px) {
    #analytics .filterby .col-three-of-twelve .drop_department{
        margin-top:19px;
    }
    .postcontent {
       
         padding-top:1% !important;
    
}
}