           

            @media only screen and (max-width:500px) {
                .upload_device {
                    .inner_mobile_name_div {
                        .title {
                            border: none !important;
                            padding: 0;
                            margin: 0;
                            h5 {
                                margin: 0;
                                padding: 0;
                                font-size: 10px !important;
                                margin-left: 0;
                            }
                        }
                    }
                    .col-one-of-two {
                        width: 100% !important;
                        .title {
                            bordeR: none;
                        }
                    }
                }
            }

            @media only screen and (min-width:768px) {
                .shared_content {
                    width: 70%;
                    float: left;
                    min-height: 120px;
                    .col-one-of-two {
                        width: 100%;
                        .mobile_name_div {
                            .inner_mobile_name_div {
                                width: 100% !important;
                                .title {
                                    border: 0;
                                    font-size: $date-text;
                                }
                            }
                        }
                    }
                }
            }

         

            @media only screen and (max-width:979px) {
                .inner_tot_campdiv {
                    .post_count {
                        h4 {
                            font-size: 24px;
                        }
                    }
                    p {
                        font-size: $date-text;
                    }
                    #title-top-contribute {
                        margin-left: 0 !important;
                    }
                }
                .filter_dropdowns {
                    .col-one-of-three {
                        width: 100%;
                    }
                    .col-three-of-twelve {
                        width: 100%;
                    }
                    .col-one-of-three {
                        width: 100% !important;
                    }
                }
                .inner_tagdiv {
                    .col-two-of-three {
                        width: 100% !important;
                    }
                }
                .internal_contributer {
                   
                    .topcontributor {
                        width: 100%;
                        .contribute_content {
                            width: 100%;
                            .logodiv {
                                width: 100%;
                            }
                            .detaildiv {
                                width: 100%;
                            }
                        }
                    }
                    .tag_department {
                        width: 100%;
                        .tagdiv {
                            width: 100%;
                        }
                        .department_asset {
                            width: 100%;
                        }
                    }
                    .internal_contributer {
                        width: 100%;
                    }
                }
                .tag_department {
                    .col-one-of-two {
                        width: 100% !important;
                    }
                }
                
            }

            @media only screen and (max-width:1100px) {
                .filter_dropdowns {
                    .col-one-of-three {
                        width: 100%;
                    }
                    .col-three-of-twelve {
                        width: 100%;
                    }
                    .col-one-of-three {
                        width: 100% !important;
                    }
                }
            }

            @media only screen and (max-width:1200px) {
                .inner_most_shared {
                    .col-one-of-two {
                        width: 100%;
                    }
                    .col-one-of-two .last {
                        width: 100% !important;
                    }
                }
                .row .col-one-of-two.last,
                .row .col-six-of-twelve.last,
                .row .col-two-of-four.last,
                .row .col-one-of-two {
                    width: 100%;
                }
                .row .col-one-of-two.last,
                .row .col-six-of-twelve.last,
                .row .col-two-of-four {
                    width: 100%;
                }
                .upload_device .mobile_upload_div .col-one-of-two {
                    width: 100%;
                }
            }
            @media only screen and (max-width:600px) {
                .post_count{
                    h4{
                         font-size: 24px;
                    }
                }
            }

            @media only screen and (max-width:1024px) {
                
                .internalpost .title h5{
                     font-size:$font-title;
                }
             
            }
           
            @media only screen and (max-width:768px) and (min-width:720px) {
                .shared_content{
                    .content{
                        width:67% !important;
                    }
                }
            }
         