
// @media only screen and (max-width:768px) {
//     #internalAnalytics {
//         .navdiv {
//             width: 100%;
//         }
//         .filterby {
//             width: 100%;
//             .title {
//                 width: 100%;
//             }
//             .filter_dropdowns {
//                 width: 100%;
//                 .col-one-of-three {
//                     width: 100%;
//                 }
//             }
//         }
//         .department_asset {
//             width: 100%;
//         }
//         .inner_tagdiv {
//             width: 100%;
//         }
//         .tag_department {
//             .tagdiv {
//                 width: 100%;
//             }
//         }
//       //   .internalpost_content .inner_overall .inner_userimage {
//       //       left: 50% !important;
//       //       bottom: 46% !important;
//       //       margin-left: -33px !important;
//       //     position: absolute !important;
//       //   }
//         .inner_tagdiv {
//             width: 100%;
//         }
//         .internal_contributer {
//             width: 100%;
//             .col-one-of-three {
//                 width: 100%;
//             }
//             .col-two-of-three {
//                 width: 100%;
//             } // .user_position {
//             //     width: 100%;
//             // }
//             .contribute_content .contributor_detail .detaildiv .user_department p {
//                 position: relative;
//             } // .tag_department {
//             //       width:100%;
//             //     .col-one-of-two {
//             //         width: 100%;
//             //     }
//             // }
//             .contributor_detail {
//                 width: 100%;
//             }
//             .department_asset .col-one-of-two {
//                 width: 100%;
//             }
//         }
//     }
// }