.potential-detractors svg {
    fill: $orange;
}

.potential-promoters .material-icons {
    color: $theme;
}
.linear-gauge-title{
    font-size: 13px;
    font-weight: 400;
    color: $default-text;
    line-height: 50px;
    @media all and (max-width:767px){
        line-height: 24px;
        margin-bottom: 10px;
    }
  }
  .participation-linear-wrapper {
      .participation-piechart-wrapper{
      margin-bottom: 0px !important;
  }
  .legendUlWrapper { 
    height: 136px;
    @media all and (max-width:767px){
        height: 80px;
        margin: 0px auto 0;
    }
  }
}

.segmentation-wrapper h4 {
    font-size: 14px;
    color: $default-text;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0px;
}

.segmentation-wrapper {
    .svg-icon {
        display: inline-block;
        vertical-align: -4px;
        cursor: pointer;
    }

    svg {
        width: 18px;
        height: 18px;
    }
}


// nps comment css start
.NpsCommentWrapper {
    h4 {
        font-size: 13px;
        color: $default-text;
        font-weight: 500;
        line-height: 28px;
    }
    .child-tag-container .tag-container a{
        display: block;
    }
    .filter-tag-child{
        width: 192px !important;
    }
    .filter-analytics .filter-tag-child .search-box-container input{
        padding:0px;
    }
    .filter-analytics .filter-tag-child .search-box-container .search-icon {
        position: absolute;
        display: inline-block;
        top: -6px;
        right: -13px;
    }
    .piechart-wrapper{
        @media all and (max-width:1399px){
            width:480px !important;
            margin: 0px auto 0;
        }
    }
    .tagged-value-wrapper{
        width: auto;
        float: none;
    }
    .dashboard-analytics-level1-container{
        float: left;
        width: 50%;
        margin-top: 50px;
        @media all and (max-width:1200px){
           width: 100%;
           margin-top: 0px;
        }
    }
    .nps-funnel-stage-chart-wrapper{
        float: right;
        width:50%;
        @media all and (max-width:1200px){
            width: 100%;
            transform: scale(0.9);
         }
         @media all and (max-width:767px){
            width: 100%;
            transform: scale(0.6);
            margin-top: -16px;
         }
    }
    .inner-funnel-stage-block::before{
        position: absolute;
        content: '';
        transform: perspective(51px) rotateX(-6deg);
        padding: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .funnel-stage-block:nth-child(2) .funnel-stage-block-content{
       margin-bottom: 45px;
    }
    .funnel-stage-block:nth-child(3) .funnel-stage-block-content{
        margin-bottom: 50px;
     }
     .funnel-stage-block:nth-child(4) .funnel-stage-block-content{
        margin-bottom: 51px;
     }
    .funnel-stage-block:nth-child(1) .inner-funnel-stage-block::before{
        background: #4bcf99;
        width: 349px;
       padding:30px;
    }
    .funnel-stage-block:nth-child(2) .inner-funnel-stage-block::before{
        background: $primary; 
        width: 281px !important;
        padding:34px;
    }
    .funnel-stage-block:nth-child(3) .inner-funnel-stage-block::before{
        background: #4e77dd; 
        width: 224px !important;
        padding:34px;
    }
    .funnel-stage-block:nth-child(4) .inner-funnel-stage-block::before{
        background: #febe2d;
        width: 185px !important;
        padding:38px;
    }
    .funnel-stage-block:nth-child(5) .inner-funnel-stage-block::before{
        background:#b77d7b;
        width: 148px !important;
        height: 80px;
    }
    .funnel-stage-block:nth-child(5) .inner-funnel-stage-block{
        transform: inherit;
    }
    .funnel-stage-block:nth-child(5) .funnel-stage-block-content{
    top: -48px;
    }
   
  .inner-funnel-stage-block{
    position: relative;
    transform: perspective(35px) rotateX(-6deg);
    top: 34px;
  }
  .funnel-stage-block-content{
    position: relative;
    top: 10px;
    margin-bottom: 43px;
  }
  .onboardingWrapper{
    transform: perspective(35px) rotateX(-6deg);
    border-top: 62px solid #b77d7b;
    width: 145px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -4px;
  }

       
    .funnel-stage-block{
        span{
            font-size: 16px;
            font-weight: 600;
            color: $white; 
            text-align: center;
            margin: 0 auto;
            display: block;
            transform: rotatex(0deg);
        }
        p{
            font-size: 13px;
            font-weight: 600;
            color: $white;
            text-align: center;
            margin: 0 auto;
            transform: rotatex(0deg);
        }
       
    }
    .NpsFunnelCommentTitle{
        padding-top:30px;
    }
    .yearly-filtered-data a {
        font-size: 14px;
        font-weight: 300;
        color: #7b7b7b;
        line-height: 20px;
        text-decoration: none;
        display: inline-block;
        transition: all 0.6s ease-out 0s;
        margin-right: 10px;
    }

    .funnelStageTitle .material-icons,
    .NpsCommentTitle .material-icons {
        font-size: 18px;
        vertical-align: -4px;
        margin-left: 5px;
        cursor: pointer;
    }

    .FunnelChartDiv {
        padding: 30px;
        min-height: 537px;
        @media all and (max-width:1200px){
            min-height: 741px;
        }
        @media all and (max-width:767px){
            min-height: 913px;
        }
    }

    .yearly-filtered-data .active {
        color: $color-heading-text;
        font-weight: 600;
    }

    .funnelTitle i {
        top: 6px;
        position: relative;
        font-size: 22px;
        cursor: pointer;
    }

    .funnelTitle {
        float: left;
        display: flex;
        @media all and (max-width:767px){
            margin-left: -9px;
        }
        a{
            margin-right:10px;
            text-decoration: none;
        }
    }

    .weekYearWrapper {
        float: right;
        @media all and (max-width:767px){
            float: left;
        }
    }

    .InnerNpsCommentWrapper {
        padding: 0 30px;
    }

    .yearly-filtered-data {
        span {
            display: inline-block;

            i {
                top: 6px;
                position: relative;
                font-size: 22px;
            }
        }
    }

    .funnelChartWrapper {
        padding: 20px 0px;
    }

    .innerFunnelChartWrapper {
        box-shadow: 1px 2px 14px $analytics-box-shadow-color;
    }

    .yearly-filtered-data a:hover {
        color: $default-text;
    }

    .NpsBlock {
        float: left;
        text-align: center;
        padding: 25px 17px;
        width: 130px;
        min-height: 107px;
        height: 107px;
        @media all and (max-width:991px){
            width:100%;
            border-bottom: 1px solid $border-color;
        }
    }
    @media all and (max-width:767px){
     .piechart-wrapper{
         margin-top: 220px !important;
     }
    }

    .guestUser {
        padding-top: 41px;
    }

    .NpsBlockDescription {
        padding: 30px;
        min-height: 107px;
        height: 107px;
        background: #f2f2f2;
    }

    .NpsCommentBlockWrapper {
        border: 1px solid $border-color;
        background: $white;
        margin-bottom: 20px;
    }

    .SmilesIcon {
        text-align: center;

        svg {
            fill: $primary;
        }

    }

    .SmilesText {
        color: $primary;
        font-size: 12px;
        font-weight: 400;
        text-transform: capitalize;   
    }


    .SmilesIconText {
        background-color: #fef6f7;
    }

    .SocialInformationwrapper {
        h5 {
            font-size: 12px;
            font-weight: 500;
            color: $default-text;
        }

        span {
            display: block;
            font-size: 12px;
            font-weight: 400;
            color: $default-text;
        }
    }

    .donutchart-center-content p {
        font-size: 12px;
        font-weight: 400;
        color: $default-text;
        word-break: break-all;
        @media all and (max-width:991px){
          text-align: center;
          word-break: inherit;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
    }

    .guestUser {
        span {
            font-size: 12px;
            font-weight: 400;
            color: $default-text;
        }

        .material-icons {
            font-size: 22px;
            color: $default-text;
            vertical-align: middle;
        }
    }

    .large-value {
        font-size: 36px;
        font-weight: 600;
        color: $default-text;
    }

    .small-value {
        font-size: 14px;
        font-weight: 600;
        color: $default-text;
    }

    .divide-value {
        font-weight: 600;
        font-size: 22px;
    }

    .valuesWrapper,
    .SocialInformationwrapper {
        position: relative;

    }

    .valuesWrapper:before,
    .SocialInformationwrapper:before {
        border-right: 1px solid $border-color;
        position: absolute;
        top: 22px;
        content: "";
        bottom: 0;
        height: 60px;
        right: 0px;
        @media all and (max-width:991px){
           display: none;
        }
    }

    .mailWrapper {
        margin-bottom: 10px;
    }

    .NpsCommentLeftBlock {
        float: left;
        width: 523px;
        @media all and (max-width:991px){
            width:100%;
        }
    }

    .NpsCommentRightBlock {
        float: left;
        width: 100%;
        margin-left: -523px;
        padding-left: 523px;
        @media all and (max-width:991px){
          margin-left: 0px;
          padding-left: 0px;
          width:100%;
        }
    }

    .NpsGreenBlock {
        background-color: #f7fcf8;

        .material-icons {
            color: $green;
        }

        .SmilesText {
            color: $green;
            max-width: 59px;
            text-align: center;
            margin: 0 auto;
        }
    }

    .NpsGrayBlock {
        background-color: #f3f3f3;

        svg {
            fill: $default-text;
        }

        .SmilesText {
            color: $default-text;
            max-width: 60px;
            text-align: center;
            margin: 0 auto;
        }
    }

    .NpsBlueBlock {
        background-color: #f4f8fe;

        .material-icons {
            color: $theme;
        }

        .SmilesText {
            color: $theme;
            max-width: 60px;
            text-align: center;
            margin: 0 auto;
        }
    }

    .NpsOrangeBlock {
        background-color: #fdf8f5;

        svg {
            fill: $orange;
        }

        .SmilesText {
            color: $orange;
            max-width: 60px;
            text-align: center;
            margin: 0 auto;
        }
    }
    .innerCommentSection .NpsCommentTitle h4{
        margin-bottom: 25px;
        margin-top: 6px;
    }

}