//  GMRUI
//  TalentAdvocate
//

// Frameworks
//
@import 'normalize';
@import 'susy';
@import 'gmrui';

body {
  font-family: $theme-font !important;
  font-weight: 300;
 font-size: $heading; ;
  @include font-smoothing;
  background: $light !important;
  //background: #fff;
  color: $default-text;
}
h1,h2,h3,h4,h5 {
  font-family: $theme-font;
}

a {
  cursor: pointer;
}
//slick slider
@import 'talent/slickSlider';

// Sidenav
@import 'talent/sidenav';

// Content
@import 'talent/content';
@import 'talent/fileIcon';
@import 'talent/flextable';

// Components
@import 'talent/archives';
@import 'talent/tabs';
@import 'talent/utils';

//analytics
@import 'talent/analytics/analytics';
@import 'talent/analytics/externalAnalytics';
@import 'talent/analytics/internal-analytics-media';
@import 'talent/analytics/internal-analytics-res';
@import 'talent/analytics/cultureDashboard.scss';
@import 'talent/analytics/analytics-loader-adoption';
@import 'talent/analytics/analytics-filter';
@import 'talent/analytics/adoption-analytics';
@import 'talent/analytics/NpsAnalytics';

//vendors
@import 'talent/react-timepicker';
@import 'talent/react-datepicker';
@import 'talent/react-big-calendar';
@import 'talent/elements';

@import 'talent/spantags';
@import 'talent/activity';
@import 'talent/notie';
@import 'talent/prism';
@import 'talent/renderFields';
@import 'talent/rc-collapse';
@import 'talent/dropdown.scss';
@import 'talent/pop-up.scss';


@import 'talent/createAsset';


@import 'talent/createCampaign';
@import 'talent/register';
@import 'talent/points';
// @import 'talent/grapesjs.scss';

@import 'talent/magic.scss';
@import 'talent/hover-popup.scss';

@import 'talent/on-off-switch.scss';

@import 'talent/listmenu';
@import 'talent/croppie';
@import 'talent/customchart';
@import 'talent/pluginOverrides';



@import 'talent/hopscotch';
@import 'talent/emojipicker';
@import 'talent/general';
@import 'talent/multiple-image';
@import 'talent/scoial-widget';
@import 'talent/trending';
@import 'talent/photoEditor';



// Pages

@import 'talent/assets';
@import 'talent/billing';
@import 'talent/campaign';
@import 'talent/dashboard';
@import 'talent/event';
@import 'talent/feed';
@import 'talent/intergration';
@import 'talent/login';
@import 'talent/moderation';
@import 'talent/leaderboard';
@import 'talent/rss';
@import 'talent/settings';
@import 'talent/linkPreview';
@import 'talent/globalSearch';
@import 'talent/customFeed';
@import 'talent/createPostPopup';
@import 'talent/navigation.scss';
@import 'talent/loader.scss';
@import 'talent/webTour.scss';
@import 'talent/tagCloud.scss';
@import 'talent/workspaceTemplate.scss'; 
@import 'talent/chat.scss'; 
// @import '~grapesjs/dist/css/grapes.min.css';
