//  GMR UI
//  Alerts
//


.alert,
[class^="alert"],
[class*="alert"] {

  float: left;
  clear: both;
  width: 100%;
  padding: 20px;
  margin-bottom: 1.5rem;
  // border-radius: .2rem;
  
  @mixin alert-theme($color) {
    background-color: lighten($color,6%);
    border: 1px solid $color;
    color: lighten($color,42%);
   font-size: $heading; ;
    // Paragraphs
    //
    p {
      color: lighten($color,40%);
    }
    // Links
    //
  
   
    a, 
    a:link, 
    a:active {
      color: lighten($color,30%);
      text-decoration: underline;
      transition: all 0.1s ease-in-out;
      // Hover
      //
      &:hover {
        color: #fff;
      }
    }
  }
  // Themes
  //
  &.alert-success {
    @include alert-theme($green)
  }
  &.alert-info {
    @include alert-theme($theme)
  }
  &.alert-warning {
    @include alert-theme($yellow)
  }
  &.alert-danger {
    @include alert-theme($red)
  }

  // Paragraph Text
  //
  p {
    // Last Child
    //
    &:last-child {
      margin-bottom: 0;
    }
  }
}