
$color-tick-bg: $theme;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);


.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  opacity: 0;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 0 auto;
  

 // box-shadow: inset 0px 0px 0px $color-tick-bg;
  &.active {
  	opacity: 1;
  	animation: tick-fill .4s ease-in-out .4s forwards, tick-scale .3s ease-in-out .9s both;
  	.checkmark__check {
  		animation: tick-stroke .3s $curve .8s forwards;
  	}
  	.checkmark__circle {
  		animation: tick-stroke .6s $curve forwards;
  	}
  }
  
}

.finishedUploadingAsset .checkmark {
  @extend .checkmark;
  width: 6%;
  height: auto;
  margin-top:4%;
  float: left;
}



.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $color-tick-bg;
  fill: none;
  
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

@keyframes tick-stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes tick-scale {
  0% {
  	transform: scale3d(0, 0, 0);
  }
  0%, 100% {
    transform: scale3d(2, 2, 2);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

@keyframes tick-fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $color-tick-bg;
  }
}