//  GMR UI
//  Breadcrumbs
//


// we will not be using this, but the breadcrumbs class
/* .breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  font-size: 0.8em;

  > li {
    display: inline-block;

    + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0";
    }
  }

  // Active
  //
  > .active {
    color: #777;
  }
} */

// we are using this
.breadcrumbs {
  .parent {
    
  }
  span {
    display: inline-block;
    margin: 0 5px;
  }
}