//  GMRUI
//  Button Groups
//

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  // List
  ul {
    margin: 0;
    padding: 0;
  }

  // List Items
  //
  li {
    float: left;
    display: inline;

    // Button
    //
    .btn {
      float: left;
      border-radius: 0;
      border-left: none;
      border-right: none;
    }

    // Last Item
    //
    &:last-child {
      .btn {
        border-right: none;
        &.btn-default {
          // border-right: 1px solid $border-color;
        }
      }
    }

    // First Item
    //
    &:first-child {
      .btn-default {
        // border-left: 1px solid $border-color;
      }
    }
  }

  // Centered
  //
  &.centered {
    width: 100%;
    text-align: center;
    float: initial;

    ul {
      display: inline-block;
      margin: 0 auto;
    }
  }

  // Pull Right
  //
  &.pull-right {
    float: right;
  }

  // Rounded
  //
  li:first-child a {
    border-radius: .2rem 0 0 .2rem;
  }
  li:last-child a {
    border-radius: 0 .2rem .2rem 0;
  }
}

// Colors
//
@mixin btn-group($btncolor){
  border-color: $btncolor;
  border-right: 1px solid darken($btncolor,5%);
}

.btn-group {
  a.btn-default {
    @include btn-group(#fff);
    border-color: $border-color;
  }
  a.btn-primary { @include btn-group($theme)}
  a.btn-secondary { @include btn-group($secondary)}
  a.btn-success { @include btn-group($green)}
  a.btn-info    { @include btn-group($blue)}
  a.btn-danger  { @include btn-group($red)}
  a.btn-warning { @include btn-group($yellow)}
}