//  GMR UI
//  Buttons
//
.profile-image-wrapper{
  .dropzoneUpload{
    .btn{
      div{
        font-size:12px;
      }
    }
  }
  .spinner-wrap{
    background: $white;
  }
}
a.btn,
.btn,
input[type="submit"],
button,.support_dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  font-family: $theme-font;
  font-weight:$font-bold;
  font-size: $heading;
  text-decoration: none;
  text-transform: initial;
  @include font-smoothing;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
  // Font Awesome Icons
  //
  i.fa {
    line-height: inherit;
  }

  // Square
  //
  &.btn-sq {
    padding: 0;
    width: 36px;
  }

  &.btn-active {
    background-color: $theme !important;
  }

  // Hover
  //
  &:hover {
    text-decoration: none; // Removes <a> text decorations
  }

  &.disabled, &:disabled, &[disabled] {
    background-color: #888 !important;
    pointer-events: none;
  }

  // Large
  //
  &.btn-lg {
    font-size: 16px;
    padding: 0 1.65em;
    height: 46px;
    line-height: 46px;
    // Square
    //
    &.btn-sq {
      width: 46px;
      height: 46px;
      padding: 0 1.4em;
    }
  }

  // Small
  //
  &.btn-sm {
    height: 28px;
    line-height: 28px;
    font-size: $date-text;
    padding: 0 1em;
    // Square
    //
    &.btn-sq {
      height: 28px;
      width: 28px;
      padding: 0;
    }
  }

  // Extra Small
  //
  &.btn-xs {
    font-size: .65em;
    padding: .55em .75em;
    // Square
    //
    &.btn-sq {
      padding: .55em;
    }
  }

  // Button Toggle
  //
  &.dropdown-toggle {
    margin-bottom: 0;
  }

  &.btn-website {
    border: medium none;
    border-radius: 0;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25) inset;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 0;
    margin-bottom: 5px;
    outline: medium none;
    padding: 27px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
  }

  &.btn-fa {
    .fa {
      display: inline-block;
      margin-right: 12px; 
    }
    i {
      position: relative;
        top: 6px;
        right: 2px;
    }
  }

  .btn-small {
    padding: 5px;
    border-radius: 50%;
  }

  // Theme Mixin
  //
  @mixin btn($btncolor){
    background: $btncolor;
    border-color: $btncolor;
    text-transform: capitalize;
    &:hover {
      background: darken($btncolor,5%);
    }
    &:active {
      transition: all 0.1s ease-in-out;
      background: darken($btncolor,8%);
      box-shadow: inset 0 2px 3px darken($btncolor,25%);
    }
    // Form Control Buttons
    //
    form.form-controls & {
      border-left: 1px solid darken($btncolor,3%);
      // Last
      &:first-child {
        border-left: none;
      }
    }
  }

  // ThemeColors
  //
  &.btn         { @include btn($theme)}
  &.btn-default {
    @include btn(#fff);
    // border: 1px solid $theme;
    color: $theme;
    margin-left: auto;
    &:active {
      box-shadow: inset 0 1px 2px darken($border-color,2%);
    }
    form.form-controls & {
      border-left: 1px solid $border-color;
      border-right: none;
      &:first-child {
        border-left: 1px solid $border-color;
      }
      &:last-child {
        border-right: 1px solid $border-color;
      }
    }
  }
  &.btn-primary { @include btn($primary)}
  &.btn-theme { @include btn($theme)}
  &.btn-secondary { @include btn($secondary)}
  &.btn-success { @include btn($green)}
  &.btn-info    { @include btn($lightblue)}
  &.btn-danger  { @include btn($red)}
  &.btn-warning { @include btn($yellow)}



  &.btn-facebook   { @include btn($facebook)}
  &.btn-twitter    { @include btn($twitter)}
  &.btn-vimeo      { @include btn($vimeo)}
  &.btn-skype      { @include btn($skype)}
  &.btn-youtube    { @include btn($youtube)}
  &.btn-steam      { @include btn($steam)}
  &.btn-linkedin   { @include btn($linkedin)}
  &.btn-twitch     { @include btn($twitch)}

  &.btn-social {
    min-width: 180px;
    display: inline-block;
    text-align: left;
    .fa--social {
      font-size: 20px;
      margin-right: 14px;
      width: 30px;
      position: relative;
      &:after {
        border-left: 1px solid #fff;
        content: "";
        height: 60%;
        position: absolute;
        right: 2px;
        top: 20%;
      }
    }
    span {
      position: relative;
      top: -2px;
    }
  }

  // Glass Mixin
  //
  @mixin btn-glass($btncolor){
    box-shadow: inset 0 0 0 2px $btncolor;
    background: rgba($btncolor,.2);
    &:hover {
      background: rgba($btncolor,.5);
    }
  }

  // Glass Button
  //
  &.btn-glass {
    @include btn-glass(#fff);
    // Themes
    //
    &.btn-primary { @include btn-glass($theme)}
    &.btn-success { @include btn-glass($green)}
    &.btn-info    { @include btn-glass($blue)}
    &.btn-danger  { @include btn-glass($red)}
    &.btn-warning { @include btn-glass($yellow)}
  }
}
