//  GMRUI
//
//
// Theme
//
$theme : #256eff; // #256eff;
$secondary: #ffbf00; // #20af81;
$light : #eeeded; //#dae1e8;  #eae9e9;
$dark-bg:#eae9e9;
$footer-bg:#d8d7d7;
$date-time-text:#d8d8d8;
$dark : #292929;
$dark-gray:#454545;
$primary: #ff595e;
$primaryLight : #ffe7ea;
$hover-camp:#f2f2f2;
$tab_border:#e7e5e5;
$pop_up_bg:#f6f6f6;
$popup_bg :#f6f6f6;
$hide_post_bg:#A0A0A0;
$border-color : darken($light, 3.5%);
$table-border-color : lighten($primary, 77%);
$default-text : #333333;            // #7b7b7b;
$color-heading-text:#1c1c1c;
$light-text : $default-text; //  #95adcc;
$folder_color : #c9c6c6;
$row_hover_color:#f9f9f9;
$dots-hover:#f8f8f8;
$user-dots-hover:#d3d3d3;
$cross-hover:#efefef;
$popup-background:#fafafa;
$tab-background : #fcfcfb;
$tab-active-background : #f3f1f1;
$normal-font:#333333;
$defult-light-text:#7b7b7b;
$analytics-bg-light:#f5f5f6;
$placeHolder-color:#cbcbcb;
// Standard
//
$orange : #e27c3f;
$green : #2fbf71; // #1d9d74;     //#2ebe70
$blue : $theme; // #0078bd;
$red : $primary; // #cb3837;
$yellow : $secondary; // #f0a630;
$night : #212335;
$lightblue: #0078bd;
$purple : #8f16cd;
$twitter:#1da1f2;
$white:#ffffff;
$linkln:#0077b5;
$linkedin:#0077b5;
$fb:#4267B2;
$facebook:#4267B2;
$fb-hover:#0b7dc4;
$ln-hover:#0d6d9f;
$fb-hover1:#1b3a7c;
$pop-up-bg:#fff8e5;
$border-in-page:#e2e1e1;
$background-scoial-icon:#e7e7e7;
$useravatar :#ebebeb;
$grey-button : #888;
$input-border:#e5e4e4;
$footer-login:#e3e2e2;
$signup-tabing:#8ea6d5;
$google-drive-background:#eeeeee;
$content-text:#333333;
$lightPink:#ffc0c2;
$analytics-border:#f0f0f0;
$shadow-color:#f1efef;
$analytics-culture-background:#fffcfc;
$analytics-box-shadow-color:#dedede;
$exapnd-link:#266eff;
$culture-score-primary:#ff5e62;
$culture-score-graph-background:#fcfafa;
$culture-score-graph-border:#f5f2f2;
$culture-score-detractors-passives-border:#e5e2e2;
$participation-content-border:#ffc3c4;
$adoption-analytics-shadow:#f6f8f9;
$tooltip-background:#eae5e5;

