//  GMR UI
//  Config
//

// Social s
//
$facebook:    #3c689f; // facebook
$twitter:     #1da1f2; // twitter
$vimeo:       #3580c5; // vimeo
$skype:       #369cc6; // skype
$youtube:     #d14747; // youtube
$steam:       #444444; // steam
$linkedin:    #007bb6; // linkedin
$twitch:      #6441a5; // twitch
$instagram:      #6441a5; // twitch

//  Susy Setup
$susy:(
  columns: 12,
  global-box-sizing: border-box
);
