.row {
	margin:0 -15px;
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}
	&:after {
	    clear: both;
	}
	[class^="col-"] {
		position: relative;
	}
	.col-two-of-three {
		@include span(8 of 12);
		&.last {
			@include span(8 of 12 last);
		}
	}
	
	.col-one-of-two, .col-six-of-twelve, .col-two-of-four {
		float: left; width: 50%; padding:0 15px;
	}
	.col-one-of-three, .col-four-of-twelve {
		float: left; width: 33.3%; padding:0 15px;
		@media all and (max-width:979px) and (min-width:768px)
		{
			width: 100%;
		}
		@media all and (max-width:479px)
		{
			width: 100%;
		}
	}
	.col-one-of-four, .col-three-of-twelve {
		width:25%;
		padding:0 15px;
		float: left;
	}

	.col-two-of-twelve {
		@include span(2 of 12);
		&.last {
			@include span(2 of 12 last);
		}
	}

	.col-seven-of-twelve {
		@include span(7 of 12);
		&.last {
			@include span(7 of 12 last);
		}
	}
	.col-five-of-twelve {
		@include span(5 of 12);
		&.last {
			@include span(5 of 12 last);
		}
	}

	// .col-three-of-four, .col-nine-of-twelve {
	// 	width:75%;
	// 	padding:0 15px;
	// 	float: left;
	// }

}
