.button-dropdown{
    .dropdown-toggle:hover{
        text-decoration: none !important;
    }
}
.dd-menu {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

.dd-menu > li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    &:last-child{margin-right:0;}
}

.dd-menu .button-dropdown {
    position: relative;

}

.dd-menu > li > a {
    display: block;
}
.table .dropdown-toggle{line-height: 12px;}


.dd-menu li .dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    text-align: left;
    padding: 10px;
    z-index: 14;
    &:after {
      color: $theme;
    }
    .asset-move-here-link{
        background: none !important;
        color:$theme;
    }
}
.dd-menu li .dropdown-menu.active {
    display: block;
}

.department-dropdown{
a.btn.btn:hover, .btn.btn:hover,  button.btn:hover{
     background: none !important;
}
}


.page{
    position: relative;
    padding-top: 47px;
    min-height: calc(100vh);
  }

.page.with-filters{
    padding-top: 50px;
}
@media all and (max-width:767px)
{
    .page{padding-top:50px;}
    // effect on modration page
    .page.with-filters{
        padding-top:50px;
    }
    .moderation  .page.with-filters{
        padding-top :71px
      }
}

.header .dd-menu li a.support_dropdown{width:30px;padding:0;text-align: center;line-height: 30px;}
.header .dd-menu li a.support_dropdown i{line-height:37px}
.header .dd-menu li.filter-li a{font-size: $date-text;width: 30px;text-align: center;line-height: 30px;text-decoration: none;}
.header .dd-menu li.filter-li a i{font-size: 26px;text-decoration: none;
    &:before{display: block !important;}
}


/* menu icons */

.dd-menu > li > a > i{
    position: relative;
    font-size: 21px;
    line-height: 30px;
    display: block;

}

/* Trending tags icon */

.dd-menu > li.trending-btn-li{display: none;}
.trending-button-collpase{
    display: none;
    top: 0;
    right: 0;
    color: #fff;
    border-radius: 19px;
   font-size: $heading; ;
    width: 30px;
    z-index: 79;
    text-align: center;
}
.dd-menu > li > a.trending-button-collpase i{
    font-size: 20px;
    top: 0px;
    line-height: 30px;
  }
@media all and (max-width:1260px)
{
    .dd-menu > li.trending-btn-li{display: inline-block;}
}

/* header title */

.header h1{
    font-family: inherit;
    font-weight: 700;
    font-size: $date-text;
    text-transform: uppercase;
    color: #1c1c1c;
    margin: 0;
    float: left;

    padding: 0 10px 0px 15px;
    min-height: 60px;
    line-height: 18px;
    width: calc(280px - 56px);
    display: flex;
    align-items: center;

}

@media all and (max-width:479px)
{
    .header h1{display: none;}
    /* this is header comment1. */
}
#Rss #dropdown-asset-container,
#Rss #dropdown-asset-container .dropdown-container { height: 0; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; overflow: hidden;}
#Rss #dropdown-asset-container.active, #Rss #dropdown-asset-container.active .dropdown-container{ height: 230px;}
#Rss .dropdown-container{position: fixed;left:280px;right:0;top:50px;z-index: 1;padding-top: 0;padding-bottom: 0;}
#Rss #dropdown-asset-container.active .dropdown-container{padding-top: 12px;padding-bottom: 12px;}
#Rss .dropdown-container .filterby {border-bottom: 0;}
#Rss .trending-xl-container {
    position: fixed;
    margin-top: 86px;
    left: auto;
    right: 30px;
    margin-left: 0; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;
    width:initial;
}
#Rss #dropdown-asset-container.active + .main-container-body .trending-xl-container{margin-top: 329px;}
#Rss #dropdown-asset-container.active + .main-container-body .trending-tag-container .inner-trending-tag{max-height: calc(100vh - 365px);}
#Rss .trending-tag-container .inner-trending-tag{-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;}

@media all and (max-width:979px)
{
    #Rss #dropdown-asset-container.active, #Rss #dropdown-asset-container.active .dropdown-container{
    height: 390px;
    }
}
@media all and (max-width:767px)
{
    .nav-side.bottom-narrow-nav .dropdown-menu{top:auto !important; bottom:-28px;}
    #navdraw .nav-side{height:auto;}
     #Rss #dropdown-asset-container .dropdown-container, #Rss #dropdown-asset-container.active .dropdown-container
     {
         height:auto;
         top: 0;
     }
     #Rss #dropdown-asset-container.active{
        height: 395px;
        top: 0;
    }
   #Rss #dropdown-asset-container .dropdown-container{
        position:relative;
        left:0;
    }
    #analytics .header .header-inner .dd-menu{width:120px;}
    .header .dd-menu li.filter-li a i{top:0;}
}
@media all and (max-width:479px)
{
 #Rss #dropdown-asset-container.active{
        height: 637px;
    }
#dropdown-asset-container .hide-label
{
    display:none;
}
}