.dropzoneBtn{display: none;}
.dropzoneUpload {
    cursor: pointer;
    margin-bottom: 30px;
    background: $white;
    > div{
        border: 3px dashed #b7bec3 !important;
        padding: 28px 5px 0px 5px !important;
        height: 100px !important;
        min-height: 0 !important;
    }
}
.dropzoneTitle{
    font-size: $normal-text;
    line-height: 26px;
    color: #677782;
    position: relative;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    top: 5px;
    span{
        color:$theme;
        &:hover{
            text-decoration: underline;
        }
    }
}
.dropzoneIconWrapper{
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    i{
        font-size: 24px;
        line-height: 36px;
        color:$theme;
        display: block;
    }
}

.dropzoneUpload .error {
    color: $red;
    display: inline-block;
    margin-left: 8px;
}
.dropzone-preview{
    margin-bottom:15px;
    .preview-wrapper, .dropPreviewIcon{
        position: relative;
        cursor: pointer;
        float: left;
        width:140px;
        margin-right:15px; 
    }
    .dropPreviewIcon{
        background: $theme;
        border-radius: 5px;
        height:124px;
        text-align: center;
        i{
            font-size: 41px;
            color:$white;
            line-height: 120px;
      }
      .file-icon-lg{
           margin-top:30px;
      }
    }
}
.createPostUploadAssetSection .dropzone-preview .preview-wrapper{height:124px;}
.createPostUploadAssetSection .uploadAssetBtn a{margin-top: 0; margin-bottom: 0;}
.dropzone-preview .video-preview .dropPreviewIcon{background: rgba(0,0,0,0.5);
    border-radius: 5px;
    height: 124px;
    text-align: center;
    position: absolute;
}
.createPostUploadAssetSection .dropzone-preview  .rc-progress-line  {
    margin-top:0;
    margin-bottom:20px;
}