.filter-button-wrapper{
    text-align: right;
    padding:0 15px 15px 0;
    a{
        margin-right:10px;
        &:last-child{
            margin-right:0;
        }
        i{vertical-align: -7px;}
    }

}
 .collapsibleDropdown .top-shadow-wrapper{display: block;}

@media all and (max-width:479px){
    .filter-button-wrapper {
        text-align: center;
        padding-left:15px;
        a.btn{
        display: block;
        margin-right:0;
        text-align: center;
    }
}
}