//  GMR UI
//  Font Icons
//
//  https://fortawesome.github.io/Font-Awesome/
//  Twitter: @fontawesome
//

//@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);



//  Font Weight 

$font-light:300;
$font-reguler:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;



//font-size:

$heading : 14px;
$normal-text: 13px;
$date-text:12px;
$font-title:15px;
$big-header : 16px;
$button-text : 18px;
$small-text:11px;
$font_size_20:20px;
$font_size_70:70px;
$font_size_22:22px;
$font-text-50:50px;
$font-size-30:30px;
$font-size-24:24px;
$font-size-26:26px;
$font-size-28:28px;
$font-size-8:8px;
$font-size-21:21px;
$font-size-17:17px;
$font-size-19:19px;
$font-size-10:10px;
$font-size-44:44px;
$font-size-40:40px;
$font-size-38:38px;
$font-size-92:92px;
$font-size-100 :100px;

$dd-menu-font-size:13px;
$dd-menu-font-weight:400;
$dd-menu-font-color:#1c1c1c;
$dd-menu-padding:10px;
