//  GMR UI
//  Forms
//
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="color"],
input[type="number"],
input[type="week"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
textarea,
select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
   font-size: $heading; ;
    line-height: 20px;
    font-weight: 300;
    color: #454545;
    background-color: #fff;
    background-image: none;
    border: 1px solid $border-color;
    border-radius: .2rem;
    transition: border ease-in-out .15s, box-shadow ease-in-out .15s;
    // Focus
    //
    &:focus {
        outline: none;
        border-color: $blue;
    }
}

input[type="range"] {
    width: 100%;
    display: block;
}

select[multiple] {
    height: auto;
    option:selected {
        background: $blue;
        color: #fff;
    }
}

textarea {
    height: auto;
    resize: vertical;
    min-height: 32px;
}

// Disabled
//
input[type="text"]:disabled,
input[type="search"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
input[type="color"]:disabled,
input[type="number"]:disabled,
input[type="week"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="time"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
textarea:disabled,
select:disabled,
{
    background-color: #f8f8f8;
    cursor: not-allowed !important
}

// Readonly
//
input[type="text"]:readonly,
input[type="search"]:readonly,
input[type="email"]:readonly,
input[type="password"]:readonly,
input[type="tel"]:readonly,
input[type="url"]:readonly,
input[type="color"]:readonly,
input[type="number"]:readonly,
input[type="week"]:readonly,
input[type="date"]:readonly,
input[type="month"]:readonly,
input[type="time"]:readonly,
input[type="datetime"]:readonly,
input[type="datetime-local"]:readonly,
textarea:readonly,
select:readonly {
    background-color: #f8f8f8;
    cursor: not-allowed !important
}

// Form Rows
//

form{
    @include clearfix();
}
.form-lable
{
 margin-bottom: 10px;
 color: #000;
}

.form-row, .form_row {
    @include clearfix();
    margin-bottom: 20px;
    position: relative;
    .form-valid-message
    {
        position: absolute;
       
    }
    .form-valid-message span.error {
        color: #ff6503;
        font-size: $date-text;
        display: block;
        line-height: 18px;
    }
    .form-row{margin-bottom:0;}

    // Checkbox
    //
    &.checkbox label {
        margin-bottom: 0;
        $check-size: 16px;
        line-height: $check-size;
        &:before {
            float: left;
            font-family: "FontAwesome";
            font-size: $date-text;
            text-align: center;
            content: "\f00c";
            display: inline-block;
            margin-right: .8em;
            width: $check-size;
            height: $check-size;
            border-radius: 4px;
            color: #fff;
            background: #fff;
            box-shadow: inset 0 0 0 2px #ddd;
            transition: all 0.15s ease-in-out;
        }
    }
    
    // Radio
    //
    &.radio label {
        $check-size: 16px;
        line-height: $check-size;
        margin-right: 20px;
        &:before {
            float: left;
            content: " ";
            display: inline-block;
            margin-right: .8em;
            width: $check-size;
            height: $check-size;
            border-radius: calc(#{$check-size} / 2);
            background: #fff;
            box-shadow: inset 0 0 0 2px #ddd;
            transition: all 0.15s ease-in-out;
        }
    }
    // Column
    //
    .col {
        clear: none;
        @include span(12 of 12);
        @include bp(md) {
            @include span(6 of 12);
            &:nth-child(2n+2) {
                @include span(6 of 12 last);
            }
        }
    }
}

span.error {
    color: #ff6503;
    font-size: $normal-text;
    display: block;
    line-height: 13px;
}

span.warning {
    color: #cc0037;
    font-size: $normal-text;
}

// Checkbox Magic
//
input[type="checkbox"] {
    position: absolute;
    left: -9993em;
    opacity: 0;
    &:checked+label {
        &:before {
            background: #fff;
            box-shadow: inset 0 0 0 8px $blue;
        }
    }
}

// Radio Magic
//
input[type="radio"] {
    // position: absolute;
    left: -999em;
    &:checked+label {
        &:before {
            background: #fff;
            box-shadow: inset 0 0 0 5px $blue;
        }
    }
}
.radio_label
{
    position: relative;
    padding-left:30px;
    .radio-circle
    {
        border:2px solid #d4cdcd;
        width: 16px;
        height:16px;
        position: absolute;
        left:0;
        top:0;
        @include border-radius(16px);
        &:before{
            content:'';
            display: block;
            position: absolute;
            left:50%;
            top:50%;
            width: 4px;
            height:4px;
            margin:-2px 0 0 -2px;
            opacity: 0;
            background: $white;
            @include border-radius(4px);
        }
    }
    input:checked + .radio-circle
    {
        background: $theme;
        border-color:$theme;
        &:before
        {
            opacity: 1;
        }
    }
}
// Form Helpers
//
.form-helper {
    font-family: inherit;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    padding: .5em;
    margin: 0;
}

// Labels
//
label, .label {
    font-size: $normal-text ;
    line-height: 20px;
    font-weight:$font-reguler;
    margin-bottom: 10px;
    color:$color-heading-text;
    display: inline-block;
    cursor: pointer;
    transition: color .2s ease-in-out;
    a.link {
        float: right;
    }
}

// Files
//
input[type="file"] {
    float: left;
    clear: both;
    width: 100%;
    font-size: .8em;
    color: #666;
}

// Controls Form
//
form.form-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    // Target All Items
    //
    * {
        height: 34px;
        line-height: 34px;
        box-sizing: border-box;
        margin: 0;
        top: 0;
        border-radius: 0;
        // First
        //
        &:first-child {
            border-radius: .2rem 0 0 .2rem;
        }
        // Last
        //
        &:last-child {
            border-radius: 0 .2rem .2rem 0;
        }
    }
    // Form Elements
    //
    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="url"],
    input[type="color"],
    input[type="number"],
    input[type="week"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    textarea,
    select {
        // border-left: none;
        border-right: none;
        // First
        &:first-child {
            border-left: 1px solid $border-color;
            border-top-left-radius: .2rem;
            border-bottom-left-radius: .2rem;
        }
        // Last
        &:last-child {
            border-right: 1px solid $border-color;
            border-top-right-radius: .2rem;
            border-bottom-right-radius: .2rem;
        }
        // Focus
        &:focus {
            border-color: $blue;
        }
    }
    // Custom Select
    //
    .select {
        border: 1px solid $border-color;
        border-right: none;
        transition: border ease-in-out .15s, box-shadow ease-in-out .15s;
        @include bp(sm) {
            max-width: 180px;
        }
        // Select
        //
        select {
            border: none;
            border-radius: 0;
            padding: 0 1rem;
            font-size: $heading; ;
            font-weight: $font-reguler;
            color: $theme;
        }
        // Arrow
        //
        &:before {
            width: 16px;
            height: 16px;
            line-height: 16px;
            top: 50%;
            right: 8px;
            margin-top: -8px;
        }
        &:last-child {
            border-right: 1px solid $border-color;
        }
    }
    // Focussed Textual Input
    //
    input[type="text"]:focus,
    input[type="search"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="tel"]:focus,
    input[type="url"]:focus,
    input[type="number"]:focus {
        +* {
            border-left: 1px solid $theme;
        }
    }
}

// Inline Forms
//
form.inline {
    label {
        text-align: right;
        line-height: 1em;
        padding: .66em 0 0;
        @include span(3 of 12);
    }
    input,
    textarea {
        @include span(9 of 12 last);
    }
    // Checkbox
    //
    .checkbox {
        position: relative;
        label:before {
            float: right;
            margin-right: -30px;
        }
    }
    // Button
    //
    input[type="submit"],
    button {
        @include push(3);
    }
    // Form Helpers
    //
    .form-helper {
        clear: both;
        @include push(3);
        padding: 1em 1em 0;
    }
}

// Search Forms
//
form.search,
div.search {
    float: left;
    position: relative;
    width: 100%;
    display: flex;
    white-space: nowrap;
    // Items
    //
    input[type="text"],
    input[type="email"],
    input[type="search"],
    input[type="submit"],
    button {
        display: inline-block;
        margin: 0;
    }
    input[type="text"],
    input[type="email"],
    input[type="search"] {
        width: 100%;
        vertical-align: top;
        flex: 1 1 auto;
        border-radius: 3px 0 0 3px;
        border-right: none;
        box-shadow: none;
        // Clear Icon
        //
        ~.close-icon {
            flex: 0 0 auto;
            background: #fff;
            border-radius: 0px;
            border: none;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            // box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            transition: all 0.15s ease-in-out;
            &:before {
                font-family: "Helvetica Neue", Helvetica, sans-serif;
                @include font-smoothing;
                font-weight: bold;
                font-size: 1.6em;
                content: "×";
                color: #ddd;
            }
        }
        &:not(:valid) {
            ~.close-icon:before {
                color: #fff; // Hides icon before input has content
            }
        }
    }
    input[type="submit"],
    button {
        flex: 0 0 auto;
        display: inline-block;
        vertical-align: top;
        border-radius: 0 3px 3px 0;
    }
    // Focussed
    //
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="search"]:focus {
        border-right-color: transparent;
        box-shadow: none;
        ~.close-icon {
            border-color: $blue;
        }
    }
}

// Styled Selects
//
.select {
    position: relative;
    background: transparent;
    select {
        background: lighten($light, 5%);
    }
    // Arrow
    //
    &:before {
        display: block;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-size: 16px;
        @include font-smoothing;
        content: "\0025BE";
        color: $theme;
        position: absolute;
        right: 1px;
        top: 0px;
    }
    // Select
    //
    select {
        position: relative;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // Moz Hack
        &::-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }
    }
}

input[type=checkbox].image-checkbox {
    display: none;
}

input[type=checkbox].image-checkbox+label {
    height: 32px;
    width: 32px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-size: 32px;
    background-repeat: none;
    margin-right: 9px;
}

#social-widget-container{
   overflow-x: auto !important;
}

.campaign-form input[type=checkbox].image-checkbox+label {
    margin-right:0;
}
input[type=checkbox].image-checkbox:checked+label {
    height: 32px;
    width: 32px;
    display: inline-block;
    padding: 0 0 0 0px;
}
#social-widget-container{
    overflow-x: auto;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #888;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #888;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #888;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #888;
}

// .image-checkbox.facebook+label {
//     background-image: url(/img/facebook-grey.png);
// }

// .image-checkbox.facebook:checked+label {
//     background-image: url(/img/facebook.png);
// }

// .image-checkbox.twitter+label {
//     background-image: url(/img/twitter-grey.png);
// }

// .image-checkbox.twitter:checked+label {
//     background-image: url(/img/twitter.png);
// }

// .image-checkbox.linkedin+label {
//     background-image: url(/img/linkedin-grey.png);
// }

// .image-checkbox.linkedin:checked+label {
//     background-image: url(/img/linkedin.png);
// }

// .image-checkbox.instagram+label {
//     background-image: url(/img/instagram-grey.png);
// }

// .image-checkbox.instagram:checked+label {
//     background-image: url(/img/instagram.png);
// }

.image-checkbox.internal+label, .social-checkboxes .image-checkbox.internal+label {
    width:40px;
    height:40px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -o-border-radius: 35px;
    -ms-border-radius: 35px;
    -moz-border-radius: 35px;
    line-height: 42px;
    text-align: center;

    i
    {
        font-size: 32px;
        color: #ccc;
    }
    &:hover
    {
        filter: none;
        i
        {
            color:#919191;
        }
    }
}

.image-checkbox.internal:checked+label {
    i
    {
        font-size: 32px;
        color: $theme;
    }
}
.buttons-wrapper .btn
{
    margin-right:20px;
    &:last-child
    {
        margin-right:20px;
    }
}
.register-page .login-form .form-row .form-valid-message, .form_row .form-valid-message{
    top: 182px;
}

.forgot-password-link{
    font-size: 13px;
    font-weight: 400;
}