$base-space-unit: 30px;

.m-t-none    { margin-top:  0 !important; }
.m-t-quarter { margin-top: $base-space-unit / 4; }
.m-t-half    { margin-top: $base-space-unit / 2; }
.m-t-one     { margin-left: $base-space-unit; }
.m-t-two     { margin-top: $base-space-unit * 2; }

.m-b-none    { margin-bottom:  0 !important; }
.m-b-quarter { margin-bottom: $base-space-unit / 4; }
.m-b-half    { margin-bottom: $base-space-unit / 2; }
.m-b-one     { margin-bottom: $base-space-unit; }
.m-b-two     { margin-bottom: $base-space-unit * 2; }

.m-l-none    { margin-left: 0 !important; }
.m-l-quarter { margin-left: $base-space-unit / 4; }
.m-l-half    { margin-left: $base-space-unit / 2; }
.m-l-one     { margin-left: $base-space-unit; }
.m-l-two     { margin-left: $base-space-unit * 2; }

.m-r-none    { margin-right: 0 !important; }
.m-r-quarter { margin-right: $base-space-unit / 4; }
.m-r-half    { margin-right: $base-space-unit / 2; }
.m-r-one     { margin-right: $base-space-unit; }
.m-r-two     { margin-right: $base-space-unit * 2; }

.p-t-none    { padding-top: 0 !important; }
.p-t-quarter { padding-top: $base-space-unit / 4; }
.p-t-half    { padding-top: $base-space-unit / 2; }
.p-t-one     { padding-top: $base-space-unit; }
.p-t-two     { padding-top: $base-space-unit * 2; }

.p-b-none    { padding-bottom: 0 !important; }
.p-b-quarter { padding-bottom: $base-space-unit / 4; }
.p-b-half    { padding-bottom: $base-space-unit / 2; }
.p-b-one     { padding-bottom: $base-space-unit; }
.p-b-two     { padding-bottom: $base-space-unit * 2; }

.p-l-none    { padding-left: 0 !important; }
.p-l-quarter { padding-left: $base-space-unit / 4; }
.p-l-half    { padding-left: $base-space-unit / 2; }
.p-l-one     { padding-left: $base-space-unit; }
.p-l-two     { padding-left: $base-space-unit * 2; }

.p-r-none    { padding-right: 0 !important; }
.p-r-quarter { padding-right: $base-space-unit / 4; }
.p-r-half    { padding-right: $base-space-unit / 2; }
.p-r-one     { padding-right: $base-space-unit; }
.p-r-two     { padding-right: $base-space-unit * 2; }


.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.hidden {
    display: none;
}

.strong {
    font-weight: $font-reguler;
}