//  GMR UI
//  Images
//

img {
  
  display: block;
  margin: 0 auto;
  
  // Basic
  //
  &.basic {
    background: #fff;
    padding: 4px;
    border: 1px solid #ddd;
  }

  // Pull Left
  //
  &.pull-left {
    float: left;
    margin: 10px 10px 10px 0;
  }

  // Pull Right
  //
  &.pull-right {
    float: right;
    margin: 10px 0 10px 10px;
  }

  // Responsive Image
  //
  &.img-responsive {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}