//  GMRUI
//  Menus
//

.dropdown-toggle {
  // After
  //
  &:after {
    font-family: "sans-serif";
    content: "\25BE";
    margin-left: 6px;
    position: relative;
    top: -1px;
    margin-left: 8px;
  }
  img {
    display: inline;
    margin-right: 8px;
    vertical-align: bottom;
  }
}
.context-menu .dropdown-toggle {
  &:after {
     content: "";
   
  }
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  font-size: 16px;
  background: #fafafa;
  background-clip: padding-box;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);

  > li {
    float: left;
    clear: both;
    width: 100%;
    white-space: nowrap;
    margin: 0;
    position: relative;
    input[type="radio"]{
      display: none;
    }

    > label,
    > a {
      display: block;
      padding: .5em .75em;
      margin: 0;
      clear: both;
      font-size:$normal-text;
      font-weight: $font-reguler;
      line-height: 1.42857143;
      color: #fff;
      text-transform: none;
      white-space: nowrap;

      &:hover {
        // background: darken($theme, 10%);
        text-decoration: none;
        span:hover{
          background: darken($theme, 10%);
        }
      }

      > img {
        float: left;
        vertical-align: middle;
        padding: 0;
        margin: 0 5px 0 0;
        border: none;
        background: transparent;
      }
    }

    &.divider {
      height: 1px;
      margin: 5px 0;
      overflow: hidden;
      background-color: $theme;
    }
  }
}
.dropdown-parent-li
{
 > ul > li
 {
  float: left;
    clear: both;
    width: 100%;
    white-space: nowrap;
    margin: 0;
    position: relative;
  > a
  {
    display: block;
    padding: 0 $dd-menu-padding;
    margin: 0;
    clear: both;
    font-size: $dd-menu-font-size;
    font-weight: $dd-menu-font-weight;
    color: $dd-menu-font-color;
    text-transform: none;
    white-space: nowrap;
    text-decoration:none;
  }
}
}
.open > .dropdown-menu {
  //display: block;
}
