//  GMR UI
//  Modals
//



body.modal-open {
  overflow: hidden;
}

.modal-wrap {
  height: 100%;
  min-height: 100vh;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  overflow-y: scroll;
  z-index: 9950;
  background: rgba(0,0,0,0.8);

  // Body Login
  //
  .login & {
    box-shadow: none;
    &:before {
      background: transparent;
    }
  }
  // Closed
  //
  &.closed {
    z-index: -9999;
    display: none;
    opacity: 0;
    animation: modal-wrap-out 10s ease forwards;
    // Modal
    .modal {
      display: none;
      opacity: 0;
    }
  }
  // Open
  //
  &.open {
    animation: modal-wrap-in .25s ease forwards;
    // Modal
    //
    .modal {
      opacity: 0; // Reset Opacity
      animation: modal-in .25s ease forwards .1s;
    }
  }
}

@keyframes modal-wrap-in {
  0%   { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes modal-wrap-out {
  0%   { opacity: 1;}
  100% { opacity: 0;}
}

@keyframes modal-in {
  0%   { opacity: 0; transform: translate3d(0,-50px,0)}
  100% { opacity: 1; transform: translate3d(0,0,0)}
}

// Modal
//
.modal {
  z-index: 9999;
  visibility: visible;
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  background: #F7F9FA;
  padding: 40px;
  width: 100%;
  max-width: 100%;
 
  // Video Modal
  //
  &.modal-video {
    width: 900px;
  }

  @include bp(sm) {
    top: 65px;
    width: 600px;
    bottom: auto;
    transform:rotateY(0deg);
    transform-origin: 50%;
  }

  // Modal Close
  //
  a.modal-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    padding: 0;
    color: #ccc;
    font-size: 26px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    background: transparent;
    @include font-smoothing();
    transition: all 0.15s ease-in-out;
    &:before {
      content: "×";
    }
    &:hover {
      color: #aaa;
    }
  }

  // Modal Heading
  //
  .modal-heading {
    float: left;
    clear: both;
    width: 100%;
    margin: 0px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
    // Heading
    //
    h2 {
      font-family: $theme-font;
      float: left;
      display: inline;
      line-height: 1;
      margin-bottom: 0;
      span,
      small {
        float: left;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1;
      }
      small {
        font-size: $date-text;
        font-weight: 400;
        color: #888;
        float: left;
        margin-bottom: 2px;
      }
      span {
        font-size: 20px;
      }
    }
  }
  
  // Modal Content
  //
  .modal-content {
    float: left;
    width: 100%;
    clear: both;
    padding: 15px;
    background: inherit;
  }
}