//  GMR UI
//  NavBars
//

.nav-wrapper {
  float: left;
  position: relative;
  width: 100%;
  height: auto;
  background: $theme;
}

.nav-bar {
  float: left;
  position: relative;
  width: 100%;
  height: auto;
  background: #3a3a3a;
  display: flex;
  align-items: center;

  .esc {
    @include container();
  }

  nav, ul, li {
    margin: 0;
    padding: 0;
    position: relative;
  }

  > div {
    position: relative;
  }

  // Navbar Header
  //
  .nav-header {
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
    // Name
    //
    a.name {
      flex: 1;
      padding: 0em .65em;
      font-size: .85em;
      font-weight: 700;
      color: #fff;
      span {
        line-height: 1em;
      }
    }
  }

  // Inline Navbar
  //
  &.nav-inline {
    li {
      position: relative;
      display: inline-block;
      margin: 0;
      height: auto;
      a {
        display: inline-block;
        padding: 15px .65em;
        margin: 0;
        font-size: .9em;
        color: #fff;
        transition: all 0.25s ease-in-out;
        &:hover {
          background: darken($theme,5%);
          text-decoration: none;
        }
      }

      // Dropdown parent
      //
      &.dropdown a {
        &:after {
          content: "▾";
          color: #fff;
          margin-left: 6px;
          position: relative;
          top: -1px;
        }
      }

      // Dropdown
      //
      .dropdown-menu {
        display: none;
        position: absolute;
        right: 0;
        left: auto;
        padding: 5px 0;

        li {
          margin: 0;
          width: 100%;
          // Link
          //
          a {
            width: 100%;
            padding: .5em .75em;
            transition: none;
            // Remove Angle
            //
            &:after {
              visibility: hidden;
              display: none;
              content: "";
            }
            // Hover
            //
            &:hover {
              background: darken($theme,10%);
            }
          }
          &.divider {
            margin: 5px 0;
            border-top: 1px solid $theme;
          }
        }
      }

      // Dropdown Open
      //
      &.open {
        // Open Link
        //
        a {
          background: darken($theme,5%);
        }
        // Open Menu
        //
        > .dropdown-menu {
          display: inline-block;
          opacity: 1;
        }
      }
    }
  }
  
  // Pull Navigations
  //
  @mixin pull($lr) {
    &.pull-#{$lr} {
      ul {
        float: $lr;
        @if $lr == "left" {
          margin-right: auto;
          li .dropdown-menu {
            left: 0;
            right: auto;
          }
        } @else {
          margin-left: auto;
          li .dropdown-menu {
            right: 0;
            left: auto;
          }
        }
      }
    }
  }
  
  // Pull Navs
  //
  @include pull(left);
  @include pull(right);

}