//  GMR UI
//  NavBars
//

.nav-side {
  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
      position: relative;
    // Headings
    //
    &.heading {
      // color: $blue;
      font-size: 0.77778em;
      font-weight: bold;
      text-transform: uppercase;
      padding: 4px 0;
      border-bottom:0;
    }

    // Divider
    //
    &.divider {
      margin: 16px 0;
      padding: 0; 
      height: 0;
      border-top: 1px solid #e6e6e6;
    }

    // Links
    //
    a {
      text-decoration: none;
      i{
        font-size: large;
        position: relative;
        right: 7px;
      }
    }
  }

}
.listMenu{
   border-bottom: 1px solid $tab_border; 
   margin-bottom:50px;
    .nav-side {
        padding:0 20px; float: none;
        b{font-size: 18px; line-height: 24px; color:$color-heading-text; top:0; padding-left:0;}
        li {
            padding-right:71px; top:0; display: inline-block;
            &:last-child{padding-right:0;}
            a:hover{color:$primary;}
            a{font-size:$normal-text; line-height: 22px; font-weight:$font-light; display: inline-block; color:$color-heading-text; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; padding-bottom: 16px; position: relative; }
            a.active{color:$primary;font-weight:$font-reguler;font-size:$normal-text}
            a:before{content:''; display: block; position: absolute; left:0; bottom:-2px; right:100%; height:3px; background: $primary;}
            a.active:before{right:0;}
            
        }
        li:last-child{padding-right:0;}
    
    }

    @media all and (max-width:1260px)
    {
        .nav-side{ 
                b{
                    display: block; margin-bottom: 10px;
                }
        }
    }
    @media all and (max-width:1100px)
    {
        .nav-side{ 
            
            .parent {
            
                li{
                    a{
                        font-size: $date-text; line-height: 18px;
                    }
                }
            }
        }
    }
    @media all and (max-width:979px)
    {
        .nav-side{ 
            padding-left:15px;
            .parent {
            
                li{
                    padding-right:9px;
                }
            }
        }
        
    }
    @media all and (max-width:767px)
    {
        .nav-side{
            padding:10px;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            .parent{
                li{
                    a{
                        font-size: $date-text;
                        line-height: 18px;
                        &:before{visibility: hidden;}
                        &.active{color:$primary;}
                    }
                }
            }
        }
        
            
            
    }
}
.side-popup {
    .listMenu
    {
        margin-bottom: 0;
        padding:15px 15px 0;
    }
}
@media all and (max-width:767px)
{
.billing-page .listMenu{display: block;}
}