    //  GMRUI
//  Popups
//
.curated-headline-time-button-box{
    position: relative;
}
.curation-share-popup-container .sharepopup-container .curated-share-button .share-popup-post .popup-container .popup{
    margin-top:44px;
}
.job-details-container .popup-container .popup .nav-side .channels, .rss-new-design-in-feed .popup-container .popup .nav-side .channels, .curation-share-popup-container .popup-container .popup .nav-side .channels,
.job-wrapper  .job-wrapper-box .job-mainbox .sharePopupWrapper .share-popup-post .nav-side .nav-side-share-popup .channels{
    white-space: unset !important;
}
.job-details-container ,.rss-new-design-in-feed,.curation-share-popup-container{
    .sharepopup-container{
        position: absolute;
        right:0;
        top:0;
    }
    .popup-container{
        width: 300px;
        min-height: 11px;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 6px;
    }
    .nav-side{
        box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.3);
    }
    .popup {
        left:auto !important; 
        right:0;
        bottom: 0 !important;
        margin-bottom: -84px;
        top:0;
        margin-top:22px;
        @media all and (min-width:480px){
            transform: none !important;
    
        }
     }
     .popup-container .popup.sharePopup{
      z-index:1;
      box-shadow: none;
     }

    .popup-container .popup .pointer{
        top: 0 !important;
        right: 0 !important;
        overflow: visible !important;
        margin-left: 0;
        margin-top: 0px;
        margin-right: 10px;
        left:auto !important;
    }
   
    .popup-container .popup .pointer:after{
        background: #eeeded;
        left:auto !important;
        right:0;
        margin-left:0 !important;

    }
}
.popup-container {
    display: block;
    position: relative; // Popup
    //
    .popup {
        background: rgba(0, 0, 0, 0.9);
        border-radius: 5px;
        position: absolute;
        z-index: 900;
        left: 50%;
        bottom: 35px;
        box-shadow: 0px 10px 13px 0 rgba(0, 0, 0, 0.3);
        @media all and (min-width:480px)
        {
            transform: translateX(-50%) translateY(0);
            -o-transform: translateX(-50%) translateY(0);
            -webkit-transform: translateX(-50%) translateY(0);
            -o-transform: translateX(-50%) translateY(0);
            -ms-transform: translateX(-50%) translateY(0);
            -moz-transform: translateX(-50%) translateY(0); //
        }
        .pointer {
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            width: 20px;
            height: 10px;
            overflow: hidden;
            &:after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: -5px;
                left: 50%;
                margin-left: -5px;
                transform: rotate(45deg);
                background: rgba(0, 0, 0, 0.8);
                box-shadow: 0 0 3px 1px rgba(darken($light, 10%), .75);
            }
        } // Nav
        //
        .nav-side {
            padding: 0;
            margin-bottom: 5px;
            background: transparent; // List
            //
            ul {
                border-radius: 5px 5px 0 0;
                overflow: hidden;
            } // Headings
            //
            li.heading {
                background: darken($theme, 2%);
                color: #fff;
                margin: 0;
                padding: 1rem;
                border-bottom: none;
            }
            li {
                width: auto;
                float: none;
            }
            li.channel {
                display: inline-block;
                position: relative;
                vertical-align: top;
                margin-right: 10px;
                border: 1px solid #e5e4e4;
                -webkit-border-radius: 44px;
                -o-border-radius: 44px;
                -ms-border-radius: 44px;
                -moz-border-radius: 44px;
                background-size: cover;
                &:last-child {
                    margin-right: 0;
                }
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 44px !important;
                    -webkit-border-radius: 44px !important;
                    -o-border-radius: 44px;
                    -ms-border-radius: 44px;
                    -moz-border-radius: 44px;
                    border:2px solid $border-color;
                }
                .__react_component_tooltip {
                    text-transform: capitalize;
                }
            }
            @media all and (max-width:767px) {
                li.channel {
                    margin-right: 5px;
                }
            }
            .channels {
                padding: 10px;
                text-align: center;
                white-space: nowrap;
                min-width: 122px;
            } // Links
            //
            a {
                font-size: inherit;
                font-weight: 400;
                padding: .75rem 1rem;
                line-height: 1;
                color: #fff;
                transition: background .15s ease-in-out; // Hover & Active
                //
                &:hover,
                &.active {
                    //margin: 0;
                    color: #fff;
                    margin: 0;
                }
                &.active {
                    background: $theme;
                }
                &.btn {
                    &:hover,
                    &:active {
                        margin-bottom: 5px;
                    }
                } // Icon
                //
                i {
                    display: inline;
                    margin-right: 10px;
                    font-size: 16px;
                }
            }
        }
        &.sharePopup {
            z-index: 0;
        }
    }
    @media all and (max-width:479px)
    {
        .popup{
            left:-47px;
        }
    }
}
#jobs .createPostMainContainer .Create-post-wrap{position: fixed; overflow:auto;}
.job-details  .popupDescSection{
    max-height:none;
    padding-top:0;
}
.job-rss-overlay{overflow: hidden;}
 .No-slider-Active .slick-slide{display: block; float: none; width: auto;}
 .job-rss-overlay .job-popupoverlay{display: block;}
 .job-popupoverlay{position: fixed; left: 0; right: 0; top:0; bottom:0; background: rgba(0,0,0,0.5); display: none; z-index: 80;}
 .sharePopupWrapper{text-align: center;}
.main-container-rss .sharePopup.active{
    display:block;
}
.feed-multiple-image{
    .slick-track{
        background:#eeeeeed1;
    }
}
.side-popup, .popup-center-wrapper{
    .heading{
        margin-bottom:0;
        padding:15px;
        position: relative;
    }
    .nav-side {
        padding-top: 0;
        padding-left: 0;
    }
}
#campaign-details .side-popup .asset-container {
    padding: 0;
    height: calc(100vh - 170px);
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 25px;
}

.side-popup .post-list-wrapper {
    height: calc(100vh - 170px);
    overflow-x: hidden;
    overflow-y: auto;
}

.side-popup .post-list-wrapper {
    height: calc(100vh - 197px);
}

.social-checkbox-wrapper .social-checkbox label{

    margin-right:9px;
    width: 40px !important;
    height: 40px !important;
    display: block !important;
    border-radius: 44px;
    box-shadow: 0 0 0 2px #e5e4e4 !important;
    position: relative;
}

 .social-checkboxes
 {
    margin-bottom: 15px;
    .social-checkbox label:hover{
        filter: none !important;
    }
    label {
            position: relative;
            margin-bottom: 0;
            img{
                width: 100%;
                height: 100%;
                padding: 0;
                object-fit: cover;
                @include border-radius(44px);
            }
            i{
                position: absolute;
                right:0 !important;
                margin-right:-4px !important;
                bottom: 0 !important;
                margin-bottom: -1px;
                line-height:20px !important;
        }
        .fa{
            width:18px;
            height:18px;
            font-size:11px !important;
            color:#fff;
        }
    }
    .notconnect{
        margin:0;
        i{

        margin-right: -3px !important;
        margin-bottom: 0 !important;
        }
    }
}




body.overlay {
    overflow: hidden;
    &:after {
      background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
      bottom: 0;
      content: "";
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 100;
    }

    #content, #navdraw, header.header, .dropdown-container {
      filter: blur(2px);
    }
    }

 .assets .side-popup-wrapper{
    #close-popup i{
        margin-top: 3px;
        margin-right: -2px;
    }
}
.editorPopup #close-popup,#close-editor-popup-id{
    color:#fff !important;
}
.editorPopup #close-popup:hover, #close-editor-popup-id:hover{
  background: #3b3b3b !important;
}
  .side-popup-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;

  }
  #close-editor-popup-id  i {
    margin-top: 5px;
    margin-right: -1px;
  }
  .side-popup, .popup-center-wrapper {
    background: lighten($light, 5%);
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    z-index: 120;
    &.create_folder_popup{
        width:300px
    }
    &.wide {
      width: calc(100% - 275px);
      @media all and (max-width:479px)
      {
        left:0;
      }

    }
    &.campaignPopup,&.create_asset_popup, &.formPopup, &.analyticPopup{
        max-width:730px;
        width:calc(100% - 275px);
        .campaign_3dots {
            top:13px;
          }
    }
    &.analyticPopup{
        max-width: 1040px;
    }
   &.rss-popup-wrapper
   {
     width:100%;
     max-width: 640px;
     padding:15px 0;
     #close-popup{
       top:13px;
     }
   }
   .close-btn{
    width:30px;
    height:30px;
    i{
        margin-top:3px;
        margin-left:4px;

    }
    &:hover{
        background:$cross-hover;
        @include border-radius(30px);
    }
   }
   #close-popup ,.closebtn{
    i{
        margin-top:3px;
    }
    &:hover {
        background: #efefef;
      }
   }
   .editorPopup  #close-popup,#close-popup-uploaded-editor{
       z-index:5 !important;
   }
   #close-editor-popup-id,.closebtn{
    z-index:3;
   }
 #close-popup ,#close-editor-popup-id, .closebtn,#close-popup-uploaded-editor {
      position: absolute;
      right: 7px;
      top: 5px;
    //   z-index:2;
      background: transparent;
      padding:0;
      height: 30px;
      width: 30px;
      @include border-radius(30px);
     }
     .feedDetailCover #close-popup{
         position: relative;
         top:0;
         right:0;
     }
     #close-popup
     {
         top:6px;
         z-index: 1;
     }
    &.wider-popup{
      max-width: 50%;
      width: 50%
    }
    &.campaign-posts{
      #feed {
        padding: 0;
      }
    }
    .heading
    {
      h3{padding-right: 50px;}
    }
  }
  
  .calendar_post_popup
  {
    min-width: 430px;
    width:auto;
  }
  .dashboard-asset-popup
  {
    top:0;
  }
  .asset-side-popup{
    width:285px;
  }
  .side-popup.editorPopup
  {
    padding:0;
  }
  #close-editor-popup-id,
  {
      position: absolute;
      right: -4px;
      top: 11px;
      z-index: 10;
      background: none;
      padding:0 1rem;
      i
      {
        font-size: 20px;
      }
      &:hover{
          color:$white;
      }
  }

  .editorPopup .pesdk-desktop-editor {
    min-height: calc(100vh) !important;
  }
  .side-popup.asset-detail-popup,#dashboard .dashboard-asset-popup
  {
   max-width:calc(100% - 280px);
   min-width: 400px;
   top:0;
    .heading
    {
        padding-left:15px;
        margin-bottom: 0;
    }
    .asset-content-wrapper:hover .heading
    {
      opacity: 1;
    }
    .google-doc-viewer iframe{
      height:calc(100vh - 73px);
    }
  }
  #assets .side-popup.asset-doc-popup.asset-detail-popup, .side-popup.asset-doc-popup
  {
    width:930px;
  }
  .popupDescSection{
      padding:15px;
      max-height: calc(100vh - 57px);
      &.withBottomBtns{
        max-height: calc(100vh - 120px)
      }
  }
  .createPostWrapper{
  .action-buttons{
    .right
      {
          margin-right:0;
      }
}
}

  .popup-post-wrapper
    {
        max-width:700px;
        margin:0 auto;
    }

    .close-slider-popup{
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
    }
    #jobs .close-slider-popup{position: static}
  @media all and (max-width:767px)
  {
    .side-popup{max-width:300px; min-width: 0;}
    .side-popup .heading h3{font-size: 14px; line-height: 20px; font-weight: $font-reguler;}
    .side-popup.asset-detail-popup{
      max-width:100%
    }
    .side-popup.analyticPopup{
        width:auto;
        left:0;
    }
    .side-popup{
        top:0;
        &.wide, &.formPopup{width:100%;}
    }
  }
  @media all and (max-width:479px)
  {
    .side-popup {left:0;  max-width: none;
      .imageloader{display: block;}
    }
  }

