.preloaderWrapPage, .preloaderWrap
{
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
	background: rgba(0, 0, 0, 0.6);
	.visibly-loader {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -46px 0 0 -46px;
	}
}

.preloaderWrap{
	position: absolute;
	background: none;
}
.preloaderWrapBottom{

}
.preloaderWrapLikeCount{

}
.visibly-loader {
	height: 93px;
	width: 93px;
	z-index: 9;
	margin: 0 auto;
	img {
		max-width: 100%;
		height: auto;
		display: block;
		border: 0 !important /* because in sidebar img border comes */
	}
}

.ta-loader {
	height: 93px;
    position: absolute;
    left: 50%;
    margin-left: -46px;
    margin-top: -46px;
    top: 50%;
    width: 93px;
	animation: logoRotate 2.4s forwards infinite;

    .top {
    	width: 40px;
    	height: 42px;
    	left: 50%;
	    position: absolute;
	    top: 0;
	    transform: translate(-50%, 0px);
	    animation: logoTopAnim 0.8s forwards infinite;
    }

    .bottom {
    	width: 40px;
    	height: 41px;
    	bottom: 0;
	    left: 50%;
	    position: absolute;
	    transform: translate(-50%, 0px);
	    animation: logoBottomAnim 0.8s forwards infinite;
    }

    .left {
    	width: 	40px;
    	height: 39px;
    	position: absolute;
	    top: 50%;
	    transform: translate(0px, -50%);
	    animation: logoLeftAnim 0.8s forwards infinite;
    }

    .right {
    	width: 40px;
    	height: 40px;
    	position: absolute;
	    right: 0;
	    top: 50%;
	    transform: translate(0px, -50%);
	    animation: logoRightAnim 0.8s forwards infinite;
    }
}
// Spinner - Material Style

$spinner-offset: 187;
$spinner-duration: 1.4s;

.spinner-wrap {
   display: flex;
   align-items: center;
   justify-content: center;
	 height: 100%;
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
}
.post-pic .spinner-wrap{position: static;}
#feed .post-pic .spinner-wrap{position: absolute;}
.imageloader.loaded {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		border: 1px solid #eeeeee;
		width: 100%;
		object-fit: cover;
	
	}
}

.spinner-svg {
  animation: rotator $spinner-duration linear infinite;
	.path {
	  stroke-dasharray: $spinner-offset;
	  stroke-dashoffset: 0;
	  transform-origin: center;
	  animation:
	    dash $spinner-duration ease-in-out infinite,
	    colors ($spinner-duration*4) ease-in-out infinite;
	}
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $spinner-offset; }
 50% {
   stroke-dashoffset: $spinner-offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $spinner-offset;
   transform:rotate(450deg);
 }
}

@keyframes logoTopAnim {
	50% {
		transform: translate3d(-50%, -10%, 0) scale(0.8);
	}
	0%, 100% {
		transform: translate3d(-50%, 0%, 0);
	}
}

@keyframes logoRightAnim {
	50% {
		transform: translate3d(10%, -50%, 0) scale(0.8);
	}
	0%, 100% {
		transform: translate3d(0%, -50%, 0);
	}
}

@keyframes logoLeftAnim {
	50% {
		transform: translate3d(-10%, -50%, 0) scale(0.8);
	}
	0%, 100% {
		transform: translate3d(0%, -50%, 0);
	}
}

@keyframes logoBottomAnim {
	50% {
		transform: translate3d(-50%, 10%, 0) scale(0.8);
	}
	0%, 100% {
		transform: translate3d(-50%, 0%, 0);
	}
}

@keyframes logoRotate {
	0%, 70% {
		transform: rotate(0) scale(0.6);
	}
	100% {
		transform: rotate(360deg)  scale(0.6);
	}
}
