
// this is subtle slide movement
.slide-appear {
  opacity: 0.01;
  position: relative;
  transform: translateX(20%);
}

.slide-appear.slide-appear-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 500ms ease-in;
}


// subtle leaving (not working thou now)
.slide-leave {
  opacity: 1;
  position: relative;
}

.slide-leave.slide-leave-active {
  opacity: 0.01;
  transform: translateX(-20%);
  transition: all 500ms ease-in;
}

.fade-appear {
  opacity: 0.01;
  position: relative;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: all 300ms ease-in;
}


// subtle leaving (not working thou now)
.fade-leave {
  opacity: 1;
  position: relative;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: all 300ms ease-in;
}