//  GMR UI
//  Switches
//

.switch {
  display: inline-block;
  border: none;
  margin-bottom: .5em;
  outline: 0;
  padding: 0;
  position: relative;
  -webkit-user-select: none;
  margin-left: 33px;
  margin-top: 4px;

  // Label
  //
  > label, .checkbox > label {

    display: inline-block;
    width: 40px;
    height: 13px;
    background: #ddd;
    border-radius: 20px;
    transition: all 0.2s ease-out;
    overflow: hidden;
    box-shadow: inset 0 0 0 0px #ddd;
    // Disc
    //
    &::after {
      display: block;
      content: " ";
      height: 20px;
      width: 20px;
      position: absolute;
      top: -4px;
      left: 0px;
    border-radius: 16px;
    background-color: #7b7676;
      transform: translate3d(0,0,0);
      transition: all 0.3s ease;
    }


    // Large
    //
    &.lg {
      width: 80px;
      height: 46px;
      border-radius: 23px;
      &::after {
        height: 38px;
        width: 38px;
        border-radius: 50%;
      }
    }

    // Small
    //
    &.sm {
      width: 50px;
      height: 32px;
      border-radius: 16px;
      &::after {
        height: 24px;
        width: 24px;
        border-radius: 50%;
      }

    }
  }
  > input[type="checkbox"]:checked + label:after, .checkbox > input[type="checkbox"]:checked + label:after{
    background-color: #fa575c;
  }
  > input[type="radio"] {
    display: none;
  }
 .checkbox label:before{
  visibility:hidden;
}
  // Checked
  //
  > input[type="checkbox"]:checked,
  > input[type="radio"]:checked,
.checkbox > input[type="checkbox"]:checked,
  .checkbox > input[type="radio"]:checked 
   {
    + label {
      overflow: hidden;
      box-shadow: inset 0 0 0 60px #fbc9ca;
      // Disc
      &::after {
        transform: translate3d(20px,0,0);
      }
      // Large
      &.lg::after {
        transform: translate3d(34px,0,0);
      }
      // Small
      &.sm::after {
        transform: translate3d(18px,0,0);
      }
    }
  }
}
.widget-header{
  float: left;
  padding-right:10px;

}
.widget-cover .switch{
  margin-left: 0px;
  width: 100px;
  margin-bottom: 0;
}
.widget-cover .select:before {
  top: 1px;
}