//  GMR UI
//  Tables
//
:focus{
  outline: none;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  
  .dd-menu li
  {
    display: block;
    margin-left:0;
    span{
      font-size: $dd-menu-font-size;

      line-height: 36px;
      color: $dd-menu-font-color;
      font-weight: $dd-menu-font-weight;
      padding: 0 $dd-menu-padding;
      display: block;
      margin-right: 0;
      cursor: pointer;
    }
  }
  
  // Cells
  //
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        &:last-child {
          // border-right: 1px solid $table-border-color;
        }
        .tag {
          display: inline-block;
        }
        
      }
      th{
        font-size:$normal-text;
        line-height: 21px;
        color: $color-heading-text;
        font-weight: 400;
        padding: 10px;
        border-bottom: 1px solid #e4e1e1;
        text-align: left;
        text-transform: uppercase;
        white-space: nowrap;
        height:63px;
        position: relative;
        &.reactable-header-sortable{
          padding-right:30px;
          i{
            position: absolute;
            right: 10px;
            top: 23px;
            color: $theme;
            cursor: pointer;
          }
        }
        b{
          font-weight: 400;
        }
        &.reactable-th-manager{text-align: center;}
      }
      td{
        height:63px;
        font-size:$normal-text;
        line-height: 20px;
        color:$default-text;
        font-weight:$font-light;
        padding: 10px;
        @media all and (min-width:980px){
          white-space: nowrap;
        }
        width:auto;

        a{color:$theme !important; cursor: pointer;}
        &[data-rwd-label="Title"] a{font-weight: 400;}

        b,strong{
          font-weight: 300;
        }
      }
      .reactable-th-avatar{text-align: center;}
      // Header Cells
      //
      
      @media all and (max-width:1100px)
      {
        th,td{padding:10px;font-size: $heading; ;}
        
      }
      
    }
  }
  .reactable-data
  {
    td{
      border-bottom: 1px solid #e4e1e1;
      &.actiondiv
      {
        width:150px;
      }
    }
    @media all and (min-width:980px){
      tr:hover
      {
        td {
          background: $row_hover_color;
        }
      }
    }
  }
  // Header Styles
  //
  > thead {
    tr {
      th {
       strong{font-weight: 400;}
      }
    }
  }
  // Striped Rows
  //
  > tbody tr:nth-of-type(odd) {
    background: lighten($primary,81.5%);
  }

  &.presentation {
      width: 100%;
      table-layout: fixed;
      tbody {
          tr {
              td {
                line-height: 20px;
                padding-bottom: 7px;
                padding-top: 7px;
                  &:nth-child(1) {
                      font-weight: bold;
                      width: 26%;
                  }
                  &:last-child {
                      padding-left: 15px;
                      widows: 74%;
                  }
              }

          }
      }
     }
}
.table-wrapper{
  overflow-y:hidden;
  overflow-x:auto;  
}
th.reactable-th-start_date{min-width: 100px}

.reactable-pagination
{
  a:last-child
  {
    display:none;
  }
  a:nth-last-child(2), a + a:last-child
  {
    display: inline;
  }
  
}
.tableOneLine{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
@media all and (max-width:979px)
{
  .responsive-table
  {
    thead{display: none;}
    &, tbody{display: block;}
    .list-avatar{float: left; position: relative; }
    tr{
      display: block;
      &:before, &:after{content:''; display: table;}
      &:after{clear: both;}
      border-bottom:1px solid #e4e1e1; 
      position: relative;

    }
    .reactable-pagination tr{
      border-bottom:0;
    }
    td{
      display: block; 
      height:auto; 
      
    }
    .reactable-data td{border-bottom:0;}
    .reactable-pagination
    {
      td{width: 100%;}
    }
    td[data-rwd-label="Post Date"]{min-height: 60px;}
    @media all and (max-width:479px)
    {
      td{width: 100%;}
      td[data-rwd-label="Post Date"]{min-height: 0;}
    }
    td.avtar-col{width: 80px;}
    td.name-col{width:100%; margin-left:-80px; padding-left:80px; min-height: 80px;padding-top: 19px;}
    td[data-rwd-label]:before
    {
      content:attr(data-rwd-label)": "; 
      font-size: 15px;
      color: $color-heading-text;
      font-weight: 400;
      vertical-align: middle;
    }
   
    .manager-wrapper{display: inline-block;vertical-align: middle;}              
    .actiondiv
    {    
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
      padding-right:0;
    }  

  }

  .table > tbody > tr td{height:auto;}  
}

span.tag {
  margin-right: 15px;
  position: relative;
  &:not(:last-child):after {
    background: #bbb none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 5px;
    position: absolute;
    right: -9px;
    top: 42%;
    width: 5px;
  }
}

.tableSearchbox{
  float: left;
  width:290px;
  position: relative;
  
  input{
    padding-left:45px;
  }
  input:focus + i{
    border-right-color:$theme;
  }
  i{
    position: absolute;
    left: 2px;
    top: 0;
    font-size: 20px;
    bottom: 0;
    border-right: 1px solid #e5e4e4;
    width: 33px;
    text-align: center;
    line-height: 38px;
  }
}
.tableControllers{
 
  padding:15px 0 15px 0;
}
.tableFilterDropdown{
  float: right;
  margin-right:20px;
  &:first-child{
    margin-right:0;
  }
  .dropdown-container{
    border-bottom:0;
  }
   
}
.department-id-col{width:100px;}
@media all and (max-width:979px)
{
  .table .reactable-data td.actiondiv{
    width:40px;
  }
}
@media all and (max-width:767px)
{
  .tableControllers{
    .tableFilterDropdown{
      float: none;
      margin-bottom:10px;
    }
    .tableSearchbox{
      float: none;
      width:auto;
    }
  }
  .tableSearchbox input{
    font-size: $date-text;
  }
}

//in setting culture page

@media all and (min-width:979px) {
.settings{
  .table-white-container{
      table tr td {
           white-space: normal;
      }
   }
 }
 .office-form-row-settings{
     max-width:200px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap !important;
 }
 #Users table td {
  min-width: 183px;
  white-space: normal ;
  word-break: break-word;
 }

.social-settings,.department ,#culture-page ,.social-settings{
  table{
    td{
      min-width: 100px;
      white-space: normal !important ;
      word-break: break-word;
    }}
}
}
