//  GMR UI
//  Typography
//

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);




$heading-font : "Montserrat", Helvetica, sans-serif;
$theme-font   : "Montserrat", Helvetica, sans-serif;
$layout-login-font:'Montserrat', sans-serif;
$layout-login: 'Montserrat', sans-serif;
$layout-login1: 'Open Sans', sans-serif;
$layout-login2:'Montserrat', sans-serif;
$layout-login3:'Montserrat', sans-serif;
// Body
//
body {
  font-family: $theme-font;
}

// Links
//
a {
  color: $theme;
}

a,
a:link,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}

// Headings
//
h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font;
  font-weight: $font-reguler;
  @include font-smoothing;
  line-height: 1.4em;
  margin: 0 0 .55em 0;
  color: $color-heading-text;

  // Secondary Text
  //
  small {
    color: #999;
  }

  // Heading Blocks
  //
  &.heading {
    display: block;
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  &.subtitle {
    font-size: 16px;
  }
}

@mixin heading-text($ht-size) {
  font-size: $ht-size;
  small {
    @if $ht-size <= 20px { // Increase legibility for smaller text
      font-size: $ht-size / 1.25;
    } @else {
      font-size: $ht-size / 1.45;
    }
  }
}

h1 { @include heading-text(36px);}
h2 { @include heading-text(28px);}
h3 { @include heading-text(22px);}
h4 { @include heading-text(18px);}
h5 { @include heading-text(16px);}

// Copy
//
p {
  display: block;
  font-family: inherit;
  font-weight: 300;
 font-size: $heading; ;
  line-height: 20px;
  @include font-smoothing;
  color: $default-text;
  margin:0 0 15px;

  strong{
    font-weight: 400;
    color:$color-heading-text;
  }
  // Lead Copy
  //
  &.lead {
    font-size: 1.333em;
    color: lighten($night,30%);

    // Immediate Following Paragraph
    //
    + p {
      margin-top: 1.3em;
    }
  }

  // Small Text
  //
  small {
    font-weight: bold;
  }

  // Code Inline
  //
  code {
    padding: 3px;
    background: #f8f8f8;
    border-radius: 3px;
  }
}

// All Lists
//
ul, ol, dl {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1em;
  @include font-smoothing;
  color: $color-heading-text;
  list-style-position: inside;
  font-size: 1em;
  line-height: 2em;
}

// Definition Lists
//
dl {
  font-size: 0.9em;
  dt {
    font-weight: 700;
  }
  dd {
    padding: 0;
    margin: 0 0 .5em 0;
  }
}

// Inline Lists
//
ul, ol {
  &.inline {
    li {
      float: left;
      display: inline-block;
      margin: 0 10px 0 0;
      // Last Child
      //
      &:last-child {
        margin-right: 0px;
      }
    }
    // Pull Right
    //
    &.pull-right {
      float: right;
    }
  }
}

// Abbreviations
//
abbr {
  cursor: help;
}

// Blockquotes
//
blockquote {
  border-left: 3px solid $blue;
  padding: 1em;
  margin: .2em 0;
  font-family: inherit;
  font-size: 1em;
  font-style: italic;
  font-weight: $font-reguler;
  color: #777;
  // Cite
  //
  cite {
    font-size: 0.9em;
    display: block;
    clear: both;
    // Before
    //
    &:before {
      content: "\2014 \0020";
    }
  }
}

// Labels
//
span.label {
  position: relative;
  display: inline-block;
 font-size: $heading; ;
  background: $theme;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 5px;

  line-height: 20px;
  padding: 0.2em 0.5em;
  text-align: center;
  min-width: 45px;
  // Close
  //
  a.close {
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: lighten($theme,25%);
    display: block;
    width: 16px;
    height: 32px;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: left;
    text-decoration: none;
    transition: color .2s ease-in-out;
    // Hover
    &:hover {
      color: #fff;
    }
  }
  // Colors
  //
  &.label-primary { background: $theme;}
  &.label-success { background: $green;}
  &.label-info    { background: $blue;}
  &.label-danger  { background: $red;}
  &.label-warning { background: $yellow;}
}

// Horizontal Rules
//
hr {
  float: left;
  width: 100%;
  border: solid $border-color;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 2.222em 0 2.444em;
}

// Code
//
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: .8em;
  color: $red;
}

// User Input
//
kbd {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: .8em;
  color: $blue;
  padding: 3px 6px;
  background: $night;
  border-radius: 3px;
}
